$display-text: 'Raleway', sans-serif;
$content-text: 'Ubuntu', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$text-light: #555;
$text-dark: #1c1c1c;

body{
	background-color: transparent;
	color: $text-light;
}
/* SLIDER */
.slider-wrapper {
	position: relative;
	width: 100%;
	height: 700px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	@media screen and (max-width: 991px)
	{
		background-image: none !important;
		height: 400px;
	}
	@media screen and (max-width: 414px)
	{
		background-image: none !important;
		height: 350px;
	}

	.container {
		position: relative;
		text-align: center;
		.caption-logo-container {
			width: 40%;
			margin: auto;
			padding: 210px 0;
			
			img 
			{
				width: 100%;
			}

			@media screen and (max-width: 991px)
			{
				width: 30% !important;
			}
		}
		.scroll-down-container
		{
			margin-top: -50px;
			span 
			{
				color: #fff;
				border: 1px solid #fff;
				border-radius: 100%;
				padding: 20px;
				i 
				{
					font-size: 18px;
				}
			}
		}
	}
}

