$display-text: 'Raleway', sans-serif;
$content-text: 'Ubuntu', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$text-light: #555;
$text-dark: #1c1c1c;

body{
	background-color: transparent;
	color: $text-light;
}
/* SLIDER */
.slider-wrapper 
{
	position: relative;
	width: 100%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	.container 
	{
		position: relative;
		text-align: center;
		
		.caption-logo-container 
		{
			width: 40%;
			margin: auto;
			padding: 210px 0 175px 0;
			
			img 
			{
				width: 100%;
			}

			@media screen and (max-width: 991px)
			{
				width: 50%;
			}
			@media screen and (max-width: 475px)
			{
				width: 75%;
				padding: 150px 0;
			}
		}
		.scroll-down-container
		{
			padding-bottom: 45px;
			span 
			{
				color: #fff;
				border: 1px solid #fff;
				border-radius: 100%;
				padding: 20px;
				i 
				{
					font-size: 18px;
				}
			}
		}
	}
}

.wrapper-1
{
	background-color: #02295e;
	padding-top: 40px;
	.title-container
	{
		text-align: center;
		color: #fff;
		font-size: 30px;
		font-weight: 700;
	}
	.left-wrapper-1
	{
		padding-top: 20px;
		.paragraph-container
		{
			color: #fff;
		}

		.button-container
		{
			padding: 50px 0 40px 0;;

			button
			{
				border: none;
				background-color: #eead0e;
				color: #fff;
				font-size: 15px;
				padding: 15px 35px;
				border-radius: 25px;
			}
		}
	}
	.image-container
	{
		width: 75%;
		padding: 10px 0px 60px 0px;
		margin: auto;
		img
		{
			width: 100%;
			border-radius: 5px;
		}
	}
	
}
.wrapper-2
{
	background-color: #fff;
	padding-top: 20px;

	.title-container
	{
		text-align: center;
		color: #02295e;
		font-size: 30px;
		font-weight: 700;
	}

	.image-container
	{
		width: 75%;
		padding-top: 40px;
		margin: auto;
		padding-bottom: 130px;

		img
		{
			width: 100%;
			border-radius: 5px;
		}

		.title-image-container
		{
			color: #02295e;
			font-size: 20px;
			padding-top: 30px;
			margin: auto;
		}

		.info_container
		{
			color: #1c1c1c;
		}
	}
}
.wrapper-3
{
	background-color: #02295e;
	padding-top: 40px;
	.title-container
	{
		text-align: center;
		color: #fff;
		font-size: 30px;
		font-weight: 700;
		padding-bottom: 60px;
	}
	.border-container
	{
		border: 1px solid #0f4da1;
		border-radius: 10px;
		text-align: center;
		margin-bottom: 50px;
		.border-background-container
		{
			padding-top: 30px;
			.package-container
			{
				background-color: #0f4da1;
				color: #fff;
				font-size: 20px;
				padding-top: 10px;
				padding-bottom: 20px;
			}
			.details-container
			{
				color: #fff;
				padding: 20px 30px 100px 30px;
			}
		}
		
	}
}
.wrapper-4
{
	background-color: #fff;
	padding-top: 40px;
	margin: auto;
	.wrapper-4-top
	{
		border-bottom: 1px solid #cdcdcd;
		.title-container
		{
			text-align: center;
			color: #02295e;
			font-size: 30px;
			font-weight: 700;
			padding-bottom: 60px;
		}
		.image-holder
		{
			text-align: center;
			padding-bottom: 40px;
			vertical-align: middle;
		}
	}
	.wrapper-4-bottom
	{
		.title-container
		{
			text-align: center;
			color: #02295e;
			font-size: 30px;
			font-weight: 700;
			padding-top: 50px;
		}
		.details-container
		{
			color: #1c1c1c;
			text-align: center;
			padding-top: 5px;
			font-size: 12px;
		}
		.button-container
		{

			text-align: center;
			padding-top: 50px;
			padding-bottom: 70px;

			a
			{
				background-color: #02295e;
				color: #fff;
				font-size: 20px;
				padding: 20px 45px;
				border-radius: 30px;
				text-decoration: none;
			}
		}
	}
}
.wrapper-5
{
	background-color: #02295e;
	.register-container	
	{
		.title-container
		{
			color: #fff;
			font-size: 20px;
			padding: 20px 0px;;
		}
		input
		{
			border-radius: 20px;
		}
		.text-message
		{
			max-width: 100%;
			min-width: 100%;
			max-height: 100%;
			min-height: 150px;
			border-radius: 10px;
			border: none;
		}
		.button-container
		{
			padding-top: 20px;
			padding-bottom: 40px;

			a
			{
				background-color: #eead0e;
				color: #fff;
				font-size: 15px;
				padding: 15px 35px;
				border-radius: 25px;
				text-decoration: none;
			}

			@media screen and (max-width: 425px)
			{
				width: 100%;
			}
		}
	}
	.location-container
	{
		padding-bottom: 20px;

		.title-container
		{
			color: #fff;
			font-size: 20px;
			padding: 20px 0px 0px 0px;
		}
		.desc-title
		{
			color: #fff;
			font-size: 15px;
		}
		.contact-container
		{
			color: #fff;
			font-size: 15px;
			padding: 20px 0px 0px 0px;
		}
		.business-hours
		{
			color: #fff;
			font-size: 15px;
			padding: 20px 0px 0px 0px;
		}
		.icon
		{
			color: #eead0e;
		}
	}
}
