.sss-padding-format
{
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    .form-mainborder
    {
    	line-height: 1.13;
    	border: 4px solid #333;
    	margin: 3px;
        font-family: 'Source Sans',sans-serif;
        height: 843px;
    	.sss-first-layer
        {
            border-bottom: 2px solid #333;
            .sss-header-section
            {
                display: inline-block;
                width: 55%;
                height: auto;
                border-right: 2px solid #333;
                .sss-logo-container
                {
                    width: 30%;
                    display: inline-block;
                    .sss-logo-holder
                    {
                        display: inline-block;
                        margin-top: 5px;
                        width: 67%;
                        .img-responsive
                        {
                            display: block;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    .sss-r5-container
                    {
                        display: inline-block;
                        vertical-align: top;
                        margin-top: 23px;
                        .sss-r5-title
                        {
                            margin: 0px;
                            font-weight: 700;
                        }
                    }
                    .sss-serialnumber-container
                    {
                        display: -webkit-inline-box;
                        margin-left: 19px;
                        .sss-serialnumber
                        {
                            font-size: 11px;
                            margin: 0px;
                        }
                    }
                }
                .sss-title-container
                {
                    width: 61%;
                    display: inline-block;
                    height: auto;
                    margin-top: 5px;
                    margin-right: 30px;
                    .sss-rph-title
                    {
                        text-align: center;
                        margin: 0px;
                        font-size: 12px;
                        letter-spacing: 0.03px;
                    }
                    .sss-title
                    {
                        text-align: center;
                        margin: 0px;
                        font-size: 16px;
                        font-weight: 700;
                    }
                    .sss-form-title
                    {
                        text-align: center;
                        margin: 0px;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .sss-note
                    {
                        text-align: center;
                        margin: 0px;
                        margin-top: 2px;
                        font-size: 7.5px;
                        letter-spacing: 0.03px;
                        font-weight: 700;
                    }
                }
                .sss-direction-container
                {
                    display: inline-block;
                    margin-bottom: 2px;
                    padding-top: 30px;
                    .sss-directions
                    {
                        margin: 0px;
                        font-size: 11.5px;
                        text-align: center;
                        .sss-bold-text
                        {
                            color: #333;
                            font-weight: 900;
                        }
                        .sss-bold-text:hover
                        {
                            text-decoration: none;
                        }
                    }
                }
            }
            .sss-payorscopy-section
            {
                display: inline-block;
                width: 45%;
                height: auto;
            }
        }
        .er-second-layer
        {
            display: flow-root;
            .employer-number-container
            {
                display: inline-block;
                width: 35%;
                border-right: 2px solid #333;
                border-bottom: 2px solid #333;
                .er-title-holder
                {
                    display: block;
                    .er-title
                    {
                        margin: 0px;
                        font-size: 11px;
                        font-weight: 700;
                    }
                }
                .er-input-holder
                {
                    display: block;
                    padding: 5px 0px 0px 0px;
                    .er-divider-shortfirst
                    {
                        display: inline-block;
                        width: 16.3px;
                        border-right: 2px solid #333;
                        height: 15px;
                        vertical-align: bottom;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            text-align: center;
                        }
                    }
                    .er-divider-short
                    {
                        display: inline-block;
                        width: 16.3px;
                        border-right: 2px solid #333;
                        height: 15px;
                        vertical-align: bottom;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            text-align: center;
                            margin-right: 4px;
                        }
                    }
                    .er-divider-long
                    {
                        display: inline-block;
                        width: 16.3px;
                        border-right: 3px solid #333;
                        height: 20px;
                        vertical-align: bottom;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            text-align: center;
                            margin-top: 5px;
                            margin-right: 3px;
                        }   
                    }
                    .er-divider-noline
                    {
                        display: inline-block;
                        width: 16.3px;
                        height: 15px;
                        vertical-align: bottom;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            text-align: center;
                            margin-right: 4px;
                        }   
                    }
                }
            }
            .employer-name-container
            {
                display: inline-block;
                width: 65%;
                border-bottom: 2px solid #333;
                .er-title-holder
                {
                    display: block;
                    .er-title
                    {
                        margin: 0px;
                        font-size: 11px;
                        font-weight: 700;
                    }
                }
                .er-input-holder
                {
                    display: block;
                    padding: 7px 0px 6px 0px;
                    height: 25px;
                    .er-input
                    {
                        margin: 0px;
                        font-size: 11px;
                        letter-spacing: 0.03px;
                        text-align: center;
                    }
                }
            }
            .er-address-container
            {
                display: flex;
                width: 100%;
                border-bottom: 2px solid #333;
                .er-address-title-holder
                {
                    display: inline-block;
                    width: 7%;
                    .er-title
                    {
                        margin: 0px;
                        font-size: 11px;
                        font-weight: 700;
                    }
                }
                .rm-address-holder
                {
                    display: inline-block;
                    width: 23%;
                    .er-title-holder
                    {
                        display: block;
                        margin-bottom: 2px;
                        .er-title
                        {
                            margin: 0px;
                            font-size: 8px;
                            letter-spacing: 0.03px;
                            font-weight: 700;
                            text-align: center;
                        }
                    }
                    .er-input-holder
                    {
                        display: block;
                        padding: 7px 0px 6px 0px;
                        height: 25px;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            letter-spacing: 0.03px;
                            text-align: center;
                        }
                    }
                }
                .house-address-holder
                {
                    display: inline-block;
                    width: 22%;
                    .er-title-holder
                    {
                        display: block;
                        margin-bottom: 2px;
                        .er-title
                        {
                            margin: 0px;
                            font-size: 8px;
                            letter-spacing: 0.03px;
                            font-weight: 700;
                            text-align: center;
                        }
                    }
                    .er-input-holder
                    {
                        display: block;
                        padding: 7px 0px 6px 0px;
                        height: 25px;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            letter-spacing: 0.03px;
                            text-align: center;
                        }
                    }
                }
                .street-address-holder
                {
                    display: inline-block;
                    width: 25%;
                    .er-title-holder
                    {
                        display: block;
                        margin-bottom: 2px;
                        .er-title
                        {
                            margin: 0px;
                            font-size: 8px;
                            letter-spacing: 0.03px;
                            font-weight: 700;
                            text-align: center;
                        }
                    }
                    .er-input-holder
                    {
                        display: block;
                        padding: 7px 0px 6px 0px;
                        height: 25px;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            letter-spacing: 0.03px;
                            text-align: center;
                        }
                    }
                }
                .barangay-address-holder
                {
                    display: inline-block;
                    width: 23%;
                    .er-title-holder
                    {
                        display: block;
                        margin-bottom: 2px;
                        .er-title
                        {
                            margin: 0px;
                            font-size: 8px;
                            letter-spacing: 0.03px;
                            font-weight: 700;
                            text-align: center;
                            margin-bottom: 2px;
                        }
                    }
                    .er-input-holder
                    {
                        display: block;
                        padding: 7px 0px 6px 0px;
                        height: 25px;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            letter-spacing: 0.03px;
                            text-align: center;
                        }
                    }
                }
            }
            .er-address-container-extension
            {
                display: inline-block;
                width: 58%;
                border-bottom: 2px solid #333;
                border-right: 2px solid #333;
                .subdivision-address-holder
                {
                    display: inline-block;
                    width: 34%;
                    vertical-align: top;
                    .er-title-holder
                    {
                        display: block;
                        margin-bottom: 2px;
                        .er-title
                        {
                            margin: 0px;
                            font-size: 8px;
                            letter-spacing: 0.03px;
                            font-weight: 700;
                            text-align: center;
                        }
                    }
                    .er-input-holder
                    {
                        display: block;
                        padding: 7px 0px 6px 0px;
                        height: 25px;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            letter-spacing: 0.03px;
                            text-align: center;
                        }
                    }
                }
                .city-address-holder
                {
                    display: inline-block;
                    width: 32%;
                    vertical-align: top;
                    .er-title-holder
                    {
                        display: block;
                        margin-bottom: 2px;
                        .er-title
                        {
                            margin: 0px;
                            font-size: 8px;
                            letter-spacing: 0.03px;
                            font-weight: 700;
                            text-align: center;
                        }
                    }
                    .er-input-holder
                    {
                        display: block;
                        padding: 7px 0px 6px 0px;
                        height: 25px;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            letter-spacing: 0.03px;
                            text-align: center;
                        }
                    }
                }
                .province-address-holder
                {
                    display: inline-block;
                    width: 32%;
                    vertical-align: top;
                    .er-title-holder
                    {
                        display: block;
                        margin-bottom: 2px;
                        .er-title
                        {
                            margin: 0px;
                            font-size: 8px;
                            letter-spacing: 0.03px;
                            font-weight: 700;
                            text-align: center;
                        }
                    }
                    .er-input-holder
                    {
                        display: block;
                        padding: 7px 0px 6px 0px;
                        height: 25px;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            letter-spacing: 0.03px;
                            text-align: center;
                        }
                    }
                }
            }
            .er-taxnumber-container
            {
                display: inline-block;
			    width: 31%;
			    border-bottom: 2px solid #333;
            	.er-title-holder
            	{
            		display: block;
            		.er-title
            		{
            		    margin: 0px;
					    font-size: 11px;
					    font-weight: 700;
            		}
            	}
            	.er-input-holder
            	{
            	    display: block;
    				padding: 5px 0px 0px 0px;
            		.er-divider-shortfirst
            		{
            			display: inline-block;
					    width: 21.1px;
					    border-right: 2px solid #333;
					    height: 15px;
					    vertical-align: bottom;
            			.er-input
            			{
            				margin: 0px;
						    font-size: 11px;
						    text-align: center;
            			}
            		}
            		.er-divider-short
            		{
            			display: inline-block;
					    width: 14.8px;
					    border-right: 2px solid #333;
					    height: 15px;
					    vertical-align: bottom;
            			.er-input
            			{
            			    margin: 0px;
						    font-size: 11px;
						    text-align: center;
						    margin-right: 4px;
            			}
            		}
            		.er-divider-long
            		{
            		    display: inline-block;
					    width: 15.8px;
					    border-right: 3px solid #333;
					    height: 19px;
					    vertical-align: bottom;
            			.er-input
            			{
            			    margin: 0px;
						    font-size: 11px;
						    text-align: center;
						    margin-right: 4px;
						    margin-top: 4px;
            			}
            		}
            		.er-divider-noline
            		{
            		    display: inline-block;
					    width: 13px;
					    height: 15px;
					    vertical-align: bottom;
            			.er-input
            			{
            				margin: 0px;
						    font-size: 11px;
						    text-align: center;
            			}
            		}
            	}
            }
            .er-zipcode-container
            {
                display: inline-block;
                border-right: 2px solid #333;
                border-bottom: 2px solid #333;
                width: 11%;
                .er-title-holder
                {
                    display: block;
                    .er-title
                    {
                        margin: 0px;
                        font-size: 11px;
                        font-weight: 700;
                    }
                }
                .er-input-holder
                {
                    display: block;
                    padding: 6px 0px 0px 0px;
                    .er-divider-shortfirst
                    {
                        display: inline-block;
                        width: 18px;
                        border-right: 2px solid #333;
                        height: 15px;
                        vertical-align: bottom;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            text-align: center;
                        }
                    }
                    .er-divider-short
                    {
                        display: inline-block;
                        width: 16.7px;
                        border-right: 2px solid #333;
                        height: 15px;
                        vertical-align: bottom;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            text-align: center;
                            margin-right: 4px;
                        }
                    }
                    .er-divider-noline
                    {
                        display: inline-block;
                        width: 16.7px;
                        height: 15px;
                        vertical-align: bottom;
                        .er-input
                        {
                            margin: 0px;
                            font-size: 11px;
                            text-align: center;
                            margin-right: 4px;
                        }
                    }
                }
            }
            .er-telephoneno-container
            {
            	display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 26%;            	
    			.er-title-holder
            	{
            		display: block;
            		.er-title
            		{
            		    margin: 0px;
					    font-size: 11px;
					    font-weight: 700;
            			.er-subtitle
            			{
            			    margin: 0px;
						    font-size: 8px;
						    letter-spacing: 0.03px;
						    font-weight: 700;
						    text-align: center;
						    margin-left: 7px;
            			}
            		}
            	}
            	.er-input-holder
            	{
            	    display: block;
    				padding: 5px 0px 0px 0px;
            		.er-divider-shortfirst
            		{
            		    display: inline-block;
					    width: 18px;
					    border-right: 2px solid #333;
					    height: 15px;
					   	vertical-align: bottom;
            			.er-input
            			{
            			    margin: 0px;
						    font-size: 11px;
						    text-align: center;
            			}
            		}
            		.er-divider-short
            		{
            		    display: inline-block;
					    width: 15.4px;
					    border-right: 2px solid #333;
					    height: 15px;
					    vertical-align: bottom;
            			.er-input
            			{
            				margin: 0px;
						    font-size: 11px;
						    text-align: center;
						    margin-right: 4px;	
            			}
            		}
            		.er-divider-long
            		{
            			display: inline-block;
					    width: 15.8px;
					    border-right: 3px solid #333;
					    height: 19px;
					    vertical-align: bottom;
            			.er-input
            			{
            				margin: 0px;
						    font-size: 11px;
						    text-align: center;
						    margin-right: 4px;
						    margin-top: 4px;
            			}
            		}
            		.er-divider-noline
            		{
            			display: inline-block;
					    width: 14px;
					    height: 15px;
					    vertical-align: bottom;
            			.er-input
            			{
            				margin: 0px;
						    font-size: 11px;
						    text-align: center;
						    margin-right: 4px;
            			}
            		}
            	}
            }
            .er-mobileno-container
            {
                display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 29%;
            	.er-title-holder
            	{
            		display: block;
            		.er-title
            		{
            			margin: 0px;
					    font-size: 11px;
					    font-weight: 700;
            		}
            	}
            	.er-input-holder
            	{
            	    display: block;
    				padding: 5px 0px 0px 0px;
            		.er-divider-shortfirst
            		{
            		    display: inline-block;
					    width: 20px;
					    border-right: 2px solid #333;
					    height: 15px;
					    vertical-align: bottom;
            			.er-input
            			{
            			    margin: 0px;
						    font-size: 11px;
						    text-align: center;
            			}
            		}
            		.er-divider-short
            		{
            		    display: inline-block;
					    width: 15.7px;
					    border-right: 2px solid #333;
					    height: 15px;
					    vertical-align: bottom;
            			.er-input
            			{
            			    margin: 0px;
						    font-size: 11px;
						    text-align: center;
						    margin-right: 4px;
            			}
            		}
            		.er-divider-long
            		{
            			display: inline-block;
					    width: 16.3px;
					    border-right: 3px solid #333;
					    height: 19px;
					    vertical-align: bottom;
            			.er-input
            			{
            				margin: 0px;
						    font-size: 11px;
						    text-align: center;
						    margin-right: 3px;
						    margin-top: 4px;
            			}
            		}
            		.er-divider-noline
            		{
            			display: inline-block;
					    width: 12.3px;
					    height: 15px;
					    vertical-align: bottom;
            			.er-input
            			{
            				margin: 0px;
						    font-size: 11px;
						    text-align: center;
						    margin-right: 4px;
            			}
            		}
            	}
            }
            .er-emailadd-container
            {
                display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 22%;
            	.er-title-holder
            	{
            		display: block;
            		.er-title
            		{
            		    margin: 0px;
					    font-size: 11px;
					    font-weight: 700;
            		}
            	}
            	.er-input-holder
            	{
            	    display: block;
    				padding: 6px 0px 6px 0px;
    				height: 24px;
            		.er-input
            		{
            		    margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
					    text-align: center;
            		}
            	}
            }
            .er-website-container
            {
                display: inline-block;
			    border-bottom: 2px solid #333;
			    width: 23%;
            	.er-title-holder
            	{
            		display: block;
            		.er-title
            		{
            		    margin: 0px;
					    font-size: 11px;
					    font-weight: 700;
            		}
            	}
            	.er-input-holder
            	{
            	    display: block;
    				padding: 6px 0px 6px 0px;
    				height: 24px;
            		.er-input
            		{
            			margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
					    text-align: center;
            		}
            	}
            }
        }
        .er-third-layer
        {
       		display: flow-root;
       		.er-period-container
       		{
       			display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 18%;
       			.er-title-holder
       			{
       			    display: block;
				    padding: 5px 0px 5px 0px;
				    border-bottom: 2px solid #333;
       				.er-title
       				{
       				    margin: 0px;
					    font-size: 11px;
					    font-weight: 900;
					    text-align: center;
       				}
       			}
       			.er-month-holder
       			{
       			    display: inline-block;
				    padding: 5px 0px 5px 0px;
				    border-right: 2px solid #333;
				    width: 73px;
       				.er-title
       				{
       					margin: 0px;
					    font-size: 11px;
					    font-weight: 900;
					    text-align: center;
       				}
       			}
       			.er-year-holder
       			{
       			    display: inline-block;
				    padding: 5px 0px 5px 0px;
				    width: 53px;
       				.er-title
       				{
       				    margin: 0px;
					    font-size: 11px;
					    font-weight: 900;
					    text-align: center;
					    margin-right: 4px;
       				}
       			}
       		}
       		.er-contribution-container
       		{
       			display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 16%;
				.er-title-holder
				{
				    display: block;
    				padding: 11px 0px 11px 0px;
					.er-title
					{
					    margin: 0px;
					    font-size: 11px;
					    font-weight: 900;
					    text-align: center;
					}
				}       			
       		}
       		.er-compensation-container
       		{
       			display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 13%;
       			.er-title-holder
       			{
       			    display: block;
    				padding: 5px 0px 5px 0px;
       				.er-title
       				{
       				    margin: 0px;
					    font-size: 11px;
					    font-weight: 900;
					    text-align: center;
       				}
       			}
       		}
       		.er-total-container
       		{
       		    display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 16%;
       			.er-title-holder
       			{
       				display: block;
    				padding: 17px 0px 17px 0px;
       				.er-title
       				{
       				    margin: 0px;
					    font-size: 11px;
					    font-weight: 900;
					    text-align: center;
       				}
       			}
       		}
       		.er-payortype-container
       		{
       		    display: inline-block;
			    width: 37%;
			    border-bottom: 2px solid #333;
       			.er-title-holder
       			{
       				display: block;
       				.er-title
       				{
       					margin: 0px;
					    font-size: 11px;
					    font-weight: 700;
       				}
       			}
       			.er-input-holder
       			{
       				display: block;
				    padding: 8px 0px 8px 0px;
				    text-align: center;
       				.firstbox
       				{
       				    display: inline-block;
					    border: 1px solid #333;
					    width: 14px;
					    height: 14px;
       					.x-mark
       					{
						    margin: 0px;
						    font-size: 11px;
						    text-align: center;
						    font-weight: 700;
						    margin-right: 1px;
       					}
       				}
       				.secondbox
       				{
       				    display: inline-block;
					    border: 1px solid #333;
					    width: 14px;
					    height: 14px;
					    margin-left: 13px;
       					.x-mark
       					{
       						margin: 0px;
						    font-size: 11px;
						    text-align: center;
						    font-weight: 700;
						    margin-right: 1px;
       					}
       				}
       				.er-label-holder
       				{
       					display: inline-block;
       					.er-label
       					{
       					    margin: 0px;
						    font-size: 10px;
						    text-align: center;
						    margin-left: -2px;
						    font-weight: 700;
       					}
       				}
       			}
       		}
       		.er-month-container
       		{
       			display: inline-block;
				width: 10%;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
       			.er-month
       			{
       			    margin: 0px;
				    font-size: 11px;
				    letter-spacing: 0.03px;
				    text-align: center;
				    padding: 3px 0px 3px 0px;
       			}
       		}
       		.er-year-container
       		{
       		    display: inline-block;
			    width: 8%;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
       			.er-year
       			{
       			    margin: 0px;
				    font-size: 11px;
				    letter-spacing: 0.03px;
				    text-align: center;
				    padding: 3px 0px 3px 0px;
				    height: 18px;
       			}
       		}
       		.er-sscontribution-container
       		{
       		    display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 16%;
       			.er-pesosign-holder
       			{
       			    display: inline-block;
    				margin-left: 3px;
       				.er-pesosign
       				{
       					font-size: 14px;
       				}
       			}
       			.er-input-holder
       			{
       			    display: inline-block;
				    text-align: right;
				    width: 82%;
       				.er-input
       				{
       				    margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
       				}
       			}
       		}
       		.er-eccontribution-container
       		{
       		    display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 13%;
       			.er-pesosign-holder
       			{
       				display: inline-block;
       				.er-pesosign
       				{
       					font-size: 14px;
       				}
       			}
       			.er-input-holder
       			{
       				display: inline-block;
				    text-align: right;
				    width: 82%;
       				.er-input
       				{
       					margin: 0px;
   						font-size: 11px;
       				}
       			}
       		}
       		.er-totalcontribution-container
       		{
       		    display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 16%;
       			.er-pesosign-holder
       			{
       			    display: inline-block;
    				margin-left: 3px;
       				.er-pesosign
       				{
       					font-size: 14px;
       				}
       			}
       			.er-input-holder
       			{
       			    display: inline-block;
				    text-align: right;
				    width: 82%;
       				.er-input
       				{
       				    margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
       				}
       			}
       		}
       		.er-formcolumn-container
       		{
       		    display: inline-block;
			    width: 37%;
			    padding: 0px 0px 2px 0px;
       			.er-formtitle-holder
       			{
       			    display: inline-block;
    				width: 44%;
       				.er-title
       				{
       					margin: 0px;
					    font-size: 11px;
					    font-weight: 700;
					    margin-left: 2px;
       				}
       			}
       			.er-amounttitle-holder
       			{
       			    display: inline-block;
    				width: 54%;
       				.er-title
       				{
       				    margin: 0px;
					    font-size: 11px;
					    font-weight: 700;
					    letter-spacing: 0.03px;
       				}
       			}
       		}
       		.er-sscontribution-nopesosign-container
       		{
       			display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 16%;
			    text-align: right;
       			.er-input-holder
       			{
       				display: inline-block;
       				.er-input
       				{
       				    margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
					    margin-right: 6px;
       				}
       			}
       		}
       		.er-eccontribution-nopesosign-container
       		{
       			display: inline-block;
				border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 13%;
			    text-align: right;
       			.er-input-holder
       			{
       				display: inline-block;
       				.er-input
       				{
       				    margin: 0px;
					    font-size: 11px;
					    margin-right: 6px;
       				}
       			}
       		}
       		.er-totalcontribution-nopesosign-container
       		{
       		    display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 16%;
			    text-align: right;
       			.er-input-holder
       			{
       				display: inline-block;
       				.er-input
       				{
       				    margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
					    margin-right: 6px;
       				}
       			}
       		}
       		.er-form-checkbox-container
       		{
       		    display: inline-block;
    			width: 19%;
    			padding: 0px 0px 2px 0px;
       			.er-input-holder
       			{
       			    display: inline-block;
    				margin-left: 12px;
       				.box
       				{
       				    display: inline-block;
					    border: 1px solid #333;
					    width: 14px;
					    height: 14px;
       					.x-mark
       					{
       						margin: 0px;
						    font-size: 11px;
						    text-align: center;
						    font-weight: 700;
						    margin-right: 1px;
       					}
       				}
       				.er-label-holder
       				{
       					display: inline-block;
       					.er-label
       					{
       					    margin: 0px;
						    font-size: 10px;
						    text-align: center;
						    margin-left: -2px;
						    font-weight: 700;
       					}	
       				}
       			}
       		}
       		.er-form-amountinfigures-container
       		{
       		    display: inline-block;
    			width: 18%;
    			padding: 0px 0px 2px 0px;
       			.er-pesosign-holder
       			{
       				display: inline-block;
       				.er-pesosign
       				{
       					font-size: 14px;
       				}
       			}
       			.underline
       			{
       				display: inline-block;
   					border-bottom: 1px solid #333;
       				.underline-holder
       				{
       				    width: 114px;
    					text-align: right;
       					.er-input-holder
       					{
       						display: inline-block;
       						.er-input
       						{
       						    margin: 0px;
							    font-size: 11px;
							    letter-spacing: 0.03px;
							    margin-right: 8px;
       						}
       					}
       				}
       			}
       		}
       		.er-form-amountinfigures-nopesosign-container
       		{
       		    display: inline-block;
    			width: 18%;
    			padding: 0px 0px 1px 12px;
       			.underline
       			{
       			    display: inline-block;
    				border-bottom: 1px solid #333;
       				.underline-holder
       				{
       					width: 114px;
    					text-align: right;
       					.er-input-holder
       					{
       						display: inline-block;
       						.er-input
       						{
       						    margin: 0px;
							    font-size: 11px;
							    letter-spacing: 0.03px;
							    margin-right: 8px;
       						}
       					}
       				}
       			}
       		}
       		.er-checkinformation-container
       		{
       		    display: inline-block;
    			width: 37%;
       			.er-title-holder
       			{
       				display: inline-block;
       				width: 33%;
       				.er-title
       				{
       					margin: 0px;
					    font-size: 8px;
						margin-left: 15px;
					    font-weight: 700;
					    text-align: left;
       				}
       			}
       			.underline
       			{
       			    display: inline-block;
    				border-bottom: 1px solid #333;
    				padding-bottom: 0.5px;
       				.underline-holder
       				{
       				    width: 58px;
    					text-align: center;
       					.er-input-holder
       					{
       						display: inline-block;
       						.er-input
       						{
       						    margin: 0px;
							    font-size: 9px;
							    letter-spacing: 0.03px;
       						}
       					}
       				}
       			}
       		}
       		.white-space
       		{
       			display: inline-block;
			    width: 37%;
			    height: 20px;
       		}
       		.er-totalamount-paid-container
       		{
       		    display: inline-block;
   				width: 37%;
       			.er-title-holder
       			{
       				display: inline-block;
    				margin-left: 12px;
       				.er-title
       				{
       				    margin: 0px;
					    font-size: 10px;
					    text-align: center;
					    font-weight: 900;
					    letter-spacing: 0.03px;
       				}
       			}
       			.er-pesosign-holder
       			{
       				display: inline-block;
    				margin-left: 5px;
       				.er-pesosign
       				{
       					font-size: 14px;
       				}
       			}
       			.second-underline
       			{
       			    display: inline-block;
    				border-bottom: 1px solid #333;
       				.underline
       				{
       				    border-bottom: 1px solid #333;
    					margin-bottom: 1px;
       					.underline-holder
       					{
       					    width: 114px;
    						text-align: right;
       						.er-input-holder
       						{
       							display: inline-block;
       							.er-input
       							{
       							    margin: 0px;
								    font-size: 11px;
								    letter-spacing: 0.03px;
								    margin-right: 8px;
       							}
       						}
       					}
       				}
       			}
       		}
       		.white-space-withborder
       		{
       			display: inline-block;
			    width: 37%;
			    height: 19px;
			    border-bottom: 2px solid #333;
       		}
       		.er-totalamount-inwords-title-container
       		{
       		    display: inline-block;
    			width: 37%;
       			.er-title-holder
       			{
       			    display: inline-block;
    				padding: 4px 0px 4px 0px;
       				.er-title
       				{
       				    margin: 0px;
					    font-size: 11px;
					    font-weight: 700;
					    margin-left: 2px;
       				}
       			}
       		}
       		.er-subtotal-container
       		{
       		    display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 18%;
       			.er-title-holder
       			{
       				display: inline-block;
       				.er-title
       				{
       				    margin: 0px;
					    font-size: 11px;
					    text-align: center;
					    padding: 2px 0px 2px 0px;
					    font-weight: 900;
					    margin-left: 2px;
       				}
       			}
       		}
       		.er-totalamount-paidinwords-container
       		{
       			width: 37%;
       			.er-input-holder
       			{
       				display: inline-block;
       				height: 83px;
       				.er-input
       				{
       					display: inline-block;
       				    margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
					    text-align: justify;
					    padding: 0px 10px 0px 10px;
       				}
       			}
       		}
       		.er-add-container
       		{
       			display: inline-block;
			    width: 3%;
			    height: 186px;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
       			.vertical-text-holder
       			{
       			    display: inline-block;
				    padding: 89px 0px 0px 0px;
				    width: 102%;
       				.vertical-text
       				{
       					-webkit-transform: rotate(90deg);
					    -moz-transform: rotate(90deg);
					    -ms-transform: rotate(90deg);
					    -o-transform: rotate(90deg);
					    transform: rotate(270deg);
					    margin: 0px;
					    font-size: 13px;
					    letter-spacing: 1px;
       				}
       			}
       		}
       		.er-underpayment-container
       		{
       			display: inline-block;
			    width: 6%;
			    height: 63px;
			    border-right: 2px solid #333;
			    border-bottom: 5px solid #333;
       			.vertical-text-holder
       			{
       			    display: inline-block;
				    padding: 24px 0px 0px 0px;
				    width: 101%;
       				.vertical-text
       				{
       				    -webkit-transform: rotate(90deg);
					    -moz-transform: rotate(90deg);
					    -ms-transform: rotate(90deg);
					    -o-transform: rotate(90deg);
					    transform: rotate(270deg);
					    margin: 0px;
					    font-size: 10px;
					    letter-spacing: 1px;
					    text-align: center;
					    text-indent: 7px;
       				}
       			}
       		}
       		.er-subtotal-input-container
       		{
       		    display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
			    width: 9%;
			    text-align: center;
       			.er-input-holder
       			{
       				display: inline-block;
       				.er-input
       				{
       				    margin: 0px;
					    font-size: 11px;
       				}
       			}
       		}
       		.er-subtotal-lastinput-container
       		{
       		    display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 5px solid #333;
			    width: 9%;
			    text-align: center;
       			.er-input-holder
       			{
       				display: inline-block;
       				.er-input
       				{
       				    margin: 0px;
					    font-size: 11px;
       				}
       			}
       		}
       		.er-sscontribution-nopesosign-lastinput-container
       		{
       		    display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 5px solid #333;
			    width: 16%;
			    text-align: right;
       			.er-input-holder
       			{
       				display: inline-block;
       				.er-input
       				{
       					margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
					    margin-right: 6px;
       				}
       			}
       		}
       		.er-eccontribution-nopesosign-lastinput-container
       		{
       		    display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 5px solid #333;
			    width: 13%;
			    text-align: right;
       			.er-input-holder
       			{
       				display: inline-block;
       				.er-input
       				{
       					margin: 0px;
					    font-size: 11px;
					    margin-right: 6px;
       				}
       			}
       		}
       		.er-totalcontribution-nopesosign-lastinput-container
       		{
       			display: inline-block;
			    border-right: 2px solid #333;
			    border-bottom: 5px solid #333;
			    width: 16%;
			    text-align: right;
       			.er-input-holder
       			{
       				display: inline-block;
       				.er-input
       				{
       				    margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
					    margin-right: 6px;
       				}
       			}
       		}
       		.er-penalty-container
       		{
       			display: inline-block;
			    width: 6%;
			    height: 63px;
			    border-right: 2px solid #333;
			    border-bottom: 5px solid #333;
       			.vertical-text-holder
       			{
       				display: inline-block;
				    padding: 35px 0px 0px 0px;
				    width: 101%;
       				.vertical-text
       				{
       				    -webkit-transform: rotate(90deg);
					    -moz-transform: rotate(90deg);
					    -ms-transform: rotate(90deg);
					    -o-transform: rotate(90deg);
					    transform: rotate(270deg);
					    margin: 0px;
					    font-size: 10px;
					    letter-spacing: 1px;
					    text-align: center;
					    text-indent: 7px;
       				}
       			}
       		}
       		.white-space-small
       		{
       			display: inline-block;
				width: 37%;
			    height: 19px;
       		}
       		.er-interest-container
       		{
       		    display: inline-block;
			    width: 6%;
			    height: 60px;
			    border-right: 2px solid #333;
			    border-bottom: 2px solid #333;
       			.vertical-text-holder
       			{
       				display: inline-block;
				    padding: 38px 0px 0px 0px;
				    width: 101%;
       				.vertical-text
       				{
       					-webkit-transform: rotate(90deg);
					    -moz-transform: rotate(90deg);
					    -ms-transform: rotate(90deg);
					    -o-transform: rotate(90deg);
					    transform: rotate(270deg);
					    margin: 0px;
					    font-size: 10px;
					    letter-spacing: 1px;
					    text-align: center;
					    text-indent: 7px;
       				}
       			}
       		}
       		.er-printedname-container
       		{
       		    display: inline-block;
			    width: 19%;
			    text-align: center;
       			.underline
       			{
       			    display: inline-block;
    				border-bottom: 2px solid #333;
       				.underline-holder
       				{
       					width: 125px;
    					text-align: center;
       					.er-input-holder
       					{
       						display: inline-block;
       						.er-input
       						{
       						    margin: 0px;
    							font-size: 11px;
       						}
       					}
       				}
       			}
       		}
       		.er-signature-container
       		{
       		    display: inline-block;
			    width: 18%;
			    text-align: center;
       			.underline
       			{
       			    display: inline-block;
    				border-bottom: 2px solid #333;
       				.underline-holder
       				{
       				    width: 115px;
    					text-align: center;
       					.er-input-holder
       					{
       						display: inline-block;
       						.er-input
       						{
       						    margin: 0px;
    							font-size: 11px;
       						}
       					}
       				}
       			}
       		}
       		.er-printedname-label-container
       		{
       		    display: inline-block;
			    width: 19%;
			    text-align: center;
			    padding-bottom: 2px;
       			.er-label-holder
       			{
       				display: inline-block;
       				.er-label
       				{
       				    margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
       				}
       			}
       		}
       		.er-signature-label-container
       		{
       			display: inline-block;
			    width: 18%;
			    text-align: center;
			    padding-bottom: 2px;
       			.er-label-holder
       			{
       				display: inline-block;
       				.er-label
       				{
       				    margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
       				}
       			}
       		}
       		.white-space-incertifiedcorrect
       		{
       		    display: inline-block;
			    width: 37%;
			    height: 16px;
       		}
       		.er-totalamount-payment-container
       		{
       		    display: inline-block;
			    background-color: #FEFE9C;
			    width: 47%;
       			.er-title-holder
       			{
       				display: inline-block;
       				.er-title
       				{
       				    margin: 0px;
					    font-size: 13px;
					    text-align: center;
					    padding: 5px 0px 5px 0px;
					    font-weight: 900;
					    margin-left: 2px;
       				}
       			}
       		}
       		.er-totalpayment-container
       		{
       			display: inline-block;
			    border-right: 2px solid #333;
			    width: 16%;
			    padding: 3px 0px 3px 0px;
			    background-color: #FEFE9C;
       			.er-pesosign-holder
       			{
       			    display: inline-block;
    				margin-left: 3px;
       				.er-pesosign
       				{
       					font-size: 14px;
       				}
       			}
       			.er-input-holder
       			{
       				display: inline-block;
				    text-align: right;
				    width: 82%;
       				.er-input
       				{
       					margin: 0px;
					    font-size: 11px;
					    letter-spacing: 0.03px;
       				}
       			}
       		}
        }
    }
}

