
.table_archive_email
{
    width:50%;
    height:50%;
}

#input_title_create {
    margin-top: 0px;
    margin-right: 20px;
    width: 480px;
}

#input_field
{
    margin-top: -88px;
    margin-right: 20px;
    width: 480px;
}

#input_title {
    margin-top: -83px;
    margin-right: 20px;
    width: 480px;
}

.title_email
{
    margin-left: 22px;
    width: 479px!important;
}


.texteditor
{
    margin-top: 0px;
}

.panel-background
{
    height:700px !important;   
}

.select_container
{
    margin-left: 30px !important;
}
.chosen-container
{
    margin-top: 10px !important;
    margin-right: 300px !important;
}

.recipient_text
{
    position:relative;
    top:-25px;
}
.check-all
{
    width: 175px;
}
.box
{
    position: relative;
    top:-15px;
}

.check_list
{
    height: 380px;
    overflow-y: scroll !important;
    margin-top: 35px
    

}

.selectpicker_type_of_industry
{
    height: 39px;
    margin-left: 29px;
    width: 640px;
}

.selectpicker_title
{
    height: 39px;
    margin-left: 29px;
    width: 640px;
}

.selectpicker_position
{
    height: 39px;
    margin-left: 29px;
    width: 640px;
}

.selectpicker_company_name
{
    height: 39px;
    margin-left: 29px;
    width: 640px;
}


.selectpicker
{
    height: 39px;
    margin-left: 29px;
    width: 640px;
}

.email-content-container
{
    width: 98%;
    margin-left: 10px;
    margin-right: 20px !important;
    margin-top: -53px;
}

.pagination_container
{
    /* margin-left: 780px; */
    margin-top: -11px;
}

.view-message
{
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis!important;
}

.btn_preview_create_press_release
{
    margin-top: -36px;
    margin-left: 150px;
    width: 120px;
}

.create_press_releas_btn_continue
{
    /* position: relative; */
    margin-top: -36px;
    margin-left: 15px;
    width: 120px;
}

.input_chose_email
{
    margin-left: 10px;
    margin-top: 20px;
    width: 120px;  
}

.inputsubmit
{
  margin-left: 28px;
  margin-top: 40px;
  width: 642px !important;
}

.label-name
{
    margin-left: 30px;
}

.recipient_container
{
    width: 617px!important;
    padding-top: 25px;
    margin-left: -10px!important;
    height: 575px;
}

.label-choose-recipient
{
    position: relative;
    top: 128px;
    left: -784px;
}

.input_chose_recipient
{
    position: relative;
    top: 131px;
    left: -786px;
    width: 640px !important;
    
}
.textarea_container
{
    width:98%;
    margin-left: 10px;
    margin-right: 20px !important;
}

.mce-tinymce.mce-container.mce-panel 
{
   border: 1px solid black !important;
   border-right: 1px solid black !important;
}

.big
{
    font-size: 20px !important;
}

.small
{
    font-size:16px !important;
}

.tab_header
{
    margin-left: 10px;
}

.gallery
{
    margin-left: 10px;
    margin-top: 17px;
}

.save
{
    position: relative;
    left: 1px;
    top: 7px;
    width: 120px;
}

.table_email_list
{
    width:855px !important;
}

.email_table
{
    overflow: hidden;
    width:865px !important;
}

.modal_body
{
    width: 900px;
    left: -145px;
}

.chosen_recipient
{
    position: relative;
    left: 799px;
    top: -134px;
}

.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

.input
{
    margin-left: 30px;
    width:40% !important;
}
.select_email
{
    width:50%;
}

.background
{
    /* height: 600px;
    border: 1px solid white!important; */
}

.con
{
    position: relative;
    left: 13px;
    height: 39px;
    width: 642px !important;
    top: 30px;
    color: white !important;
}

.continue
{
    margin-left: 9px;
    margin-top: 35px;
    margin-bottom: 10px;
    width: 120px;
}

.preview
{
   margin-left: 10px;
   margin-top: 35px;
   width: 120px;
   margin-bottom: 10px;
}

.subject_email
{
    width: 100%;
}

.subject
{
    margin-top:55px; 
}
.tiny
{
    margin-top: 30px;
    
}

.container li
{
    font-size: 20px;    
}

.inline
{
        margin-left: -206px !important;
}
.modal-container
{
    width: 646px !important;
}

#input_subject
{
    margin-right: 20px;
    width:480px;
}

.create_news
{
	margin-left: 60px;
    font-size: 18px;
    margin-top: 5px;
}

.header_email
{
	border-bottom: 1px solid #dddddd;
}

.mail-box {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}
.mail-box .sm-side {
    background: none repeat scroll 0 0 #e5e8ef;
    border-radius: 4px 0 0 4px;
    width: 25%;
}
.mail-box .lg-side {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 4px 4px 0;
    width: 75%;
}
.mail-box .sm-side .user-head {
    background: none repeat scroll 0 0 #00a8b3;
    border-radius: 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 10px;
}
.user-head .inbox-avatar {
    float: left;
    width: 65px;
}
.user-head .inbox-avatar img {
    border-radius: 4px;
}
.user-head .user-name {
    display: inline-block;
    margin: 0 0 0 10px;
}
.user-head .user-name h5 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
}
.user-head .user-name h5 a {
    color: #fff;
}
.user-head .user-name span a {
    color: #87e2e7;
    font-size: 12px;
}
a.mail-dropdown {
    background: none repeat scroll 0 0 #80d3d9;
    border-radius: 2px;
    color: #01a7b3;
    font-size: 10px;
    margin-top: 20px;
    padding: 3px 5px;
}
.inbox-body {
    padding: 20px;
}
.btn-compose {
    background: none repeat scroll 0 0 #ff6c60;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}
.btn-compose:hover {
    background: none repeat scroll 0 0 #f5675c;
    color: #fff;
}
ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.inbox-divider {
    border-bottom: 1px solid #d5d8df;
}
ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
ul.inbox-nav li a {
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
}
ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.inbox-nav li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}
ul.inbox-nav li a span.label {
    margin-top: 13px;
}
ul.labels-info li h4 {
    color: #5c5c5e;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-transform: uppercase;
}
ul.labels-info li {
    margin: 0;
}
ul.labels-info li a {
    border-radius: 0;
    color: #6a6a6a;
}
ul.labels-info li a:hover, ul.labels-info li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.labels-info li a i {
    padding-right: 10px;
}
.nav.nav-pills.nav-stacked.labels-info p {
    color: #9d9f9e;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px;
}
.inbox-head {
    background: none repeat scroll 0 0 #41cac0;
    border-radius: 0 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 20px;
}
.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
}
.inbox-head .sr-input {
    border: medium none;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px;
}
.inbox-head .sr-btn {
    background: none repeat scroll 0 0 #00a6b2;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}
.table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}
.table-inbox tr td {
    padding: 12px !important;
}
.table-inbox tr td:hover {
    cursor: pointer;
}
.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
    color: #f78a09;
}
.table-inbox tr td .fa-star {
    color: #d5d5d5;
}
.table-inbox tr.unread td {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: 600;
}
ul.inbox-pagination {
    float: right;
}
ul.inbox-pagination li {
    float: left;
}
.mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.mail-option .chk-all, .mail-option .btn-group {
    margin-right: 5px;
}
.mail-option .chk-all, .mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 10px;
}
.inbox-pagination a.np-btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 15px;
}
.mail-option .chk-all input[type="checkbox"] {
    margin-top: 0;
}
.mail-option .btn-group a.all {
    border: medium none;
    padding: 0;
}
.inbox-pagination a.np-btn {
    margin-left: 5px;
}
.inbox-pagination li span {
    display: inline-block;
    margin-right: 5px;
    margin-top: 7px;
}
.fileinput-button {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #e6e6e6;
}
.inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.btn-send, .btn-send:hover {
    background: none repeat scroll 0 0 #00a8b3;
    color: #fff;
}
.btn-send:hover {
    background: none repeat scroll 0 0 #009da7;
}
.modal-header h4.modal-title {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
}
.modal-body label {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
.heading-inbox h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.sender-info {
    margin-bottom: 20px;
}
.sender-info img {
    height: 30px;
    width: 30px;
}
.sender-dropdown {
    background: none repeat scroll 0 0 #eaeaea;
    color: #777;
    font-size: 10px;
    padding: 0 3px;
}
.view-mail a {
    color: #ff6c60;
}
.attachment-mail {
    margin-top: 30px;
}
.attachment-mail ul {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.attachment-mail ul li {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}
.attachment-mail ul li img {
    width: 100%;
}
.attachment-mail ul li span {
    float: right;
}
.attachment-mail .file-name {
    float: left;
}
.attachment-mail .links {
    display: inline-block;
    width: 100%;
}

.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.files .progress {
    width: 200px;
}
.fileupload-processing .fileupload-loading {
    display: block;
}
* html .fileinput-button {
    line-height: 24px;
    margin: 1px -3px 0 0;
}
* + html .fileinput-button {
    margin: 1px 0 0;
    padding: 2px 15px;
}
@media (max-width: 767px) {
.files .btn span {
    display: none;
}
.files .preview * {
    width: 40px;
}
.files .name * {
    display: inline-block;
    width: 80px;
    word-wrap: break-word;
}
.files .progress {
    width: 20px;
}
.files .delete {
    width: 60px;
}
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
