.main-wrapper
{
	padding-bottom: 20px;
	.title-container
	{
		font-size: 25px;
		font-weight: 700;
		color: #585858;
		text-align: left;
		padding: 20px 0px;
	}
	input
	{
		padding: 0px 10px;
		color: #545454;
		height: 50px;
		font-size: 18px;
		width: 100%;
		border: 1px solid #919191;
	}
	textarea
	{
		padding: 10px 10px;
		color: #545454;
		height: 50px;
		font-size: 18px;
		width: 100%;
		max-height: 150px;
		max-width: 100%;
		min-height: 150px;
		min-width: 100%;
		border: 1px solid #919191;
	}
	.button-container
	{
		padding: 20px 0px;
		@media screen and (max-width: 425px)
		{
			padding-top: 35px;
			text-align: center;
		}
		a
		{
			background-color: #316df9;
			color: #fff;
			font-size: 18px;
			padding: 15px 50px;
			text-decoration: none;
		}
	}
	.background-border
	{
		.background-container
		{
			text-align: left;
			min-height: 0px;
			@media screen and (max-width: 425px)
			{
				text-align: center;
			}
			.title-info-container
			{
				font-size: 25px;
				font-weight: 700;
				color: #585858;
				padding: 30px 0px 5px 0px;
			}
			i
			{
				padding-right: 5px;
				color: #585858;
				font-size: 25px;
			}
			span
			{
				font-size: 20px;
			}
		}
	}
}

