.border-container
{
	.border-background-container
	{
		border-radius: 5px;
		background-color: #fff;
		padding: 10px;
		min-height: 700px;
		@media screen and (max-width: 425px)
		{
		   padding: 10px;
		}
		@media screen and (max-width: 375px)
		{
		   padding: 0px;
		}
		.heading-container
		{
			color: #cd3d35;
			font-size: 60px;
			text-align: center;
			font-weight: 700;
			font-family: 'PT Serif';
			padding: 0px 20px 0px 20px;
			@media screen and (max-width: 425px)
			{
			   padding: none;
			   font-size: 45px;
			}
			@media screen and (max-width: 375px)
			{
			   font-size: 40px;
			}
			@media screen and (max-width: 320px)
			{
			   font-size: 35px;
			}
		}
		.sender-container
		{
			color: #404040;
			font-size: 18px;
			text-align: center;
			font-family: 'Lato';
			padding-top: 5px;
			@media screen and (max-width: 425px)
			{
			   font-size: 15px;
			}
			@media screen and (max-width: 375px)
			{
			   font-size: 13px;
			}
			.sender-name
			{
				font-weight: 700;
			}
		}
		.date-container
		{
			color: #404040;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 10px;
			font-size: 15px;
			@media screen and (max-width: 425px)
			{
			   font-size: 12px;
			}
			@media screen and (max-width: 375px)
			{
			   font-size: 10px;
			}
		}
		.content-container
		{
			padding-top: 15px;
			padding-bottom: 10px;
			text-align: justify;
			font-weight: 400;
			color: #404040;
			font-size: 20px;
			font-family: 'PT Sans';
			@media screen and (max-width: 425px)
			{
			   font-size: 15px;
			}
			@media screen and (max-width: 375px)
			{
			   font-size: 13px;
			}
		}
		.border
		{
			border-bottom: 1px solid #ededed;
			padding: 15px 0px;
		}
		.title-about-container
		{
			padding: 40px 0px 15px 0px;
			font-size: 25px;
			color: #404040;
			font-family: 'PT Sans';
			font-weight: 700;
			@media screen and (max-width: 375px)
			{
			   font-size: 20px;
			}
		}
		.logo-container
		{
			padding: 20px;
			.logo-holder
			{
				width: 100%;
				img
				{
					max-width: 260px;
				}
			}
		}
	}
}
