.background-container
{
	padding: 30px 0px;
	min-height: 860px;
	@media screen and (max-width: 425px)
	{
	   min-height: 765px;
	}

	.pressview
	{
		.dashboard-container
		{
			background-color: #eeeeee;
			height: 800px;
			padding: 30px;
			.table-view
			{
				overflow-y: scroll;
				height: 740px;
				background-color: #fff;
				table
				{
					font-family: arial, sans-serif;
					border-collapse: collapse;
					width: 100%;
					@media screen and (max-width: 320px)
					{
					   font-size: 13px;
					}
				}

				th
				{
					border: 1px solid #dddddd;
					text-align: center;
					padding: 8px;
				}
				td
				{
					border: 1px solid #dddddd;
					text-align: center;
					padding: 10px;
					max-width: 0px;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				}
			}
			
		}
	}
}