.background-container
{
	padding: 30px 0px;
	min-height: 860px;
	@media screen and (max-width: 425px)
	{
	   min-height: 765px;
	}

	.pressview
	{
		.manage-user-container
		{
			background-color: #eeeeee;
			height: 720px;
			padding: 30px;

			.title-container
			{
				font-size: 25px;
				color: #316df9;	
				font-weight: 700;
				padding-bottom: 10px;
			}

			.title
			{
				color: #404040;
				font-size: 16px;
				padding-top: 15px;
				padding-bottom: 5px;
				font-weight: 700;
			}

			input
			{
				color: #404040;
				height: 40px;
				font-size: 15px;
				width: 80%;
				background-color: #fff;
				display: inline-block;
				vertical-align: middle;
			}

			.button-container
			{	
				button
				{
					padding: 9px 30px;
					background-color: #316df9;
					color: #fff;
					font-size: 15px;
					text-decoration: none;
					border: none;
				}
			}
		}
	}
}