.background-container
{
	padding: 30px 0px;
	min-height: 820px;

	.pressview
	{
		
		.press-container
		{
			background-color: #eeeeee;
			min-height: 700px;
			padding: 30px;

			.title-container
			{
				font-size: 25px;
				color: #316df9;	
				font-weight: 700;
				padding-top: 20px;
				padding-bottom: 10px;
			}

			table
			{
				font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                display:block;
                height: 600px;
                overflow-y: scroll;
                text-align: center;
                background-color: #fff;
			}

			th
			{
				border: 1px solid #dddddd;
				text-align: center;
				padding: 8px;
			}
			td
			{
				border: 1px solid #dddddd;
				text-align: center;
				padding: 10px;
				max-width: 240px;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			}
			button
			{
			    display: inline-block;
			    vertical-align: middle;
			    width: 75px;
			}
		}
	}
}