.background-container
{
	padding: 30px 0px;
	min-height: 820px;
	@media screen and (max-width: 425px)
	{
	   min-height: 765px;
	}
	.pressview
	{
		.my-press-release-container
		{
			background-color: #eeeeee;
			min-height: 700px;
			padding: 30px;
			min-height: 700px;
			@media screen and (max-width: 425px)
			{
			   padding: 30px 15px;
			}
			.title-container
			{
				a
				{
					font-size: 20px;
					font-weight: 700;
					border-bottom: 1px solid #000;
					text-decoration: none;
					color: #404040;
				}
			}
			.date-container
			{
				font-size: 13px;
				padding-top: 5px;
			}
			.details-container
			{
				p
				{
					margin-top: 10px;
					font-size: 16px;
					text-align: justify;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				@media screen and (max-width: 375px)
				{
				   text-align: left;
				}

			}
			.border
			{
				border: 1px solid #ccc;
				margin: 40px 0px;
			}
		}
	}
}	