.content
{
	background-color: transparent;
}

.background-container
{
	min-height: 600px;
	position: relative;
	width: 100%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	@media screen and (max-width: 425px)
	{
		min-height: 500px;
	}
}

.background-border
{
	border: 1px solid #919191;
	width: 30%;
	margin: 60px 0px;
	float: left;
	background-color: #fff;
	@media screen and (max-width: 768px)
	{
		width: 50%;
		margin-bottom: 0px;
	}
	@media screen and (max-width: 425px)
	{
		width: 100%;
	}
	.signin-container
	{
		padding-top: 20px;
		padding-bottom: 50px;
		.title-container
		{
			font-size: 30px;
			padding-left: 30px;
			padding-right: 20px;
			@media screen and (max-width: 425px)
			{
				text-align: center;
			}
		}
		.border
		{
			border-bottom: 1px solid #919191;
			padding-top: 20px;
			margin: 0px 30px;
		}
		.details
		{
			text-align: center;
			color: #545454;
		}
		.forgot-password
		{
			text-align: center;
			padding-top: 30px;
			a
			{
				color: #545454;
				text-decoration: none;
			}
		}
	}

	.register-form
	{
		padding: 20px 30px 0px 30px;
		input
		{
			padding: 6px;
			color: #545454;
			font-size: 15px;
			width: 100%;
		}
	}

	.button-container
	{
		padding-top: 20px;
		text-align: center;
		button
		{
			background-color: #316df9;
			color: #fff;
			font-size: 15px;
			padding: 15px 50px;
			text-decoration: none;
			border: none;
		}
	}
}
