.main-wrapper
{
    padding-bottom: 50px;
    padding-top: 50px;
    min-height: 500px;
    text-align: center;
    
    .border-container
    {
      border: 1px solid #ededed;
      padding: 40px 50px;
      margin: auto;
      width: 700px;
      border-radius: 10px;
      .fa
      {
        color: #316df9;
        font-size: 100px;
      }
      .title-container
      {
        padding-top: 20px;
        font-size: 50px;
        font-weight: 700;
        color: #585858;
      }
      .description-container
      {
        padding: 20px 0px 40px 0px;
        font-size: 20px;
        color: #6b6a6a;
      }
      .button-container
          {
            border: 2px solid #316df9;
            max-width: 180px;
            padding: 10px 0px;
            margin: auto;
            a
            {
              color: #316df9;
              font-size: 15px;
              font-weight: 700px;
              text-decoration: none;
            }
          }
    }
   
}