// // ATOMIC CSS

// .b-color
// {
// 	color: #337ab7;
// }

// .cw
// {
// 	background-color: #019771 !important;
// }

// .cw-text
// {
// 	color:  #019771 !important;
// }

// .tpo
// {
// 	background-color: #B2802E !important;
// }

// .tpo-text
// {
// 	color: #B2802E !important;
// }

// .cslots
// {
// 	background-color: #ff8b4b !important;
// }

// .cslots-text
// {
// 	color: #ff8b4b !important;
// }

// .treward
// {
// 	background-color: #f15c48 !important;
// }

// .treward-text
// {
// 	color: #f15c48 !important;
// }

// .binpa
// {
// 	background-color: #6d4bff !important;
// }

// .binpa-text
// {
// 	color: #6d4bff !important;
// }

// .dirre
// {
// 	background-color: #db6bd2 !important;
// }

// .dirre-text
// {
// 	color: #db6bd2 !important;
// }

// .fpgc
// {
// 	background-color: #9a522b !important;
// }

// .fpgc-text
// {
// 	color: #9a522b !important;
// }

// .dgc
// {
// 	background-color: #4b9bff !important;
// }

// .dgc-text
// {
// 	color: #4b9bff !important;
// }

// .mgc
// {
// 	background-color: #898989 !important;
// }

// .mgc-text
// {
// 	color: #898989 !important;
// }