$content-text: 'Open Sans', sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$text-light: #777;
$text-dark: #272c2f;

body
{
	background-color: #ededed;
}

@mixin transition($transition)
{
	  -webkit-transition: all $transition ease-in-out;
	  -moz-transition: all $transition ease-in-out;
	  -o-transition: all $transition ease-in-out;
	  transition: all $transition ease-in-out;
}

.register
{
	font-family: $content-text;
	letter-spacing: 0.2px;
	margin: 25px 0;
	background-color: #fff;
	table
	{
		table-layout: fixed;
		width: 100%;
		tr
		{
			@media screen and (max-width: 768px)
			{
				width: 100%;
				display: block;
			}
		}
		td
		{
			vertical-align: top;
			@media screen and (max-width: 768px)
			{
				width: 100%;
				display: block;
			}
		}
		.c1
		{
			width: 50%;
			@media screen and (max-width: 768px)
			{
				width: 100%;
				display: block;
			}
		}
		.c2
		{
			width: 50%;
			@media screen and (max-width: 768px)
			{
				width: 100%;
				display: block;
			}
		}
	}
	.register-side
	{
		img
		{
			width: 100%;
		}
	}
	.register-header
	{
		padding: 10px 40px;
		border-bottom: 1px solid #e3e5e8;
		@media screen and (max-width: 500px)
		{
			padding: 15px;
		}
		.title
		{
			color: $text-dark;
			font-size: 20px;
			font-weight: 700;
			padding: 15px 0;
			@media screen and (max-width: 581px)
			{
				text-align: center;
			}
		}
		.or
		{
			display: inline-block;
			vertical-align: middle;
			margin-right: 30px;
			@media screen and (max-width: 581px)
			{
				display: block;
				text-align: center;
				margin-bottom: 25px;
				margin-right: 0;
			}
		}
		.social-button
		{
			display: inline-block;
			vertical-align: middle;
			@media screen and (max-width: 581px)
			{
				display: block;
				text-align: center;
			}
			.holder
			{
				display: inline-block;
				vertical-align: middle;
				margin-right: 25px;
				@media screen and (max-width: 523px)
				{
					margin-right: 0;
				}
				@media screen and (max-width: 448px)
				{
					margin-bottom: 15px;
					&:last-child
					{
						margin-bottom: 0;
					}
				}
				&.fb
				{
					background-color: #3c66c4;
				}
				&.gp
				{
					background-color: #cf4332;
				}
				&:last-child
				{
					margin-right: 0;
				}
				.img
				{
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
					img
					{
						
					}
				}
				.name
				{
					display: inline-block;
					vertical-align: middle;
					color: #fff;
					font-size: 12.24px;
					font-weight: 600;
					text-align: left;
					padding: 5px 10px;
					letter-spacing: 0.5px;
					margin-top: 3px;
					.fa
					{
						font-size: 22.25px;
						vertical-align: middle;
						margin-right: 7.5px;
					}
				}
			}		
		}
		.left
		{
			@media screen and (min-width: 991px)
			{
				float: left;
			}
		}
		.right
		{
			@media screen and (min-width: 991px)
			{
				float: right;
			}
		}
	}
	.register-form
	{
		padding: 50px;
		padding-top: 25px;
		padding-left: 75px;
		@media screen and (max-width: 500px)
		{
			padding: 15px;
			max-width: 420px;
			margin: auto;
		}
		.form-group
		{
			margin-bottom: 25px;
			&:last-child
			{
				margin-bottom: 0;
			}
			.register-label
			{
				color: $text-dark;
				font-size: 13px;
				font-weight: 600;
			}
			.radio-inline
			{
				color: $text-dark;
				font-size: 13px;
				font-weight: 600;
				margin-right: 25px;
				input
				{
					margin-top: 3px;
				}
			}
			.gender-input
			{
				margin-top: 10px; 
				margin-left: 25px;
				@media screen and (max-width: 768px)
				{
					margin-left: 0;
				}
			}
			.form-input
			{
				margin-top: 5px;
				.form-control
				{
					border: 0;
					border-bottom: 1px solid #e0e0e0;
					box-shadow: none;
					color: $text-light;
					font-weight: $regular;
					font-size: 13px;
					padding-left: 0;
					padding-right: 0;
				}
			}
			.date-holder
			{
				display: inline-block;
				vertical-align: top;
				margin-right: 25px;
				&:last-child
				{
					margin-right: 0;
				}
			}
			.checkbox
			{
				text-align: left;
				label
				{
					font-size: 13px;
					color: $text-light;
					font-weight: $regular;
				}
				input
				{
					vertical-align: middle;
					margin-top: 2px;
				}
				span
				{
					@include transition(0.2s);
					color: #019771;

					&:hover
					{
						color: #B17D2A;
					}
				}
			}
			.choice
			{
				text-align: left;
				@media screen and (max-width: 991px)
				{
					text-align: center;
				}

				.holder
				{
					display: inline-block;
					vertical-align: middle;
					@media screen and (max-width: 991px)
					{
						display: block;
					}
					a
					{
						@include transition(0.2s);
						/* color: $text-dark !important; */
						font-weight: $regular;
						color: #019771 !important;
						font-size: 15px !important;

						&:hover
						{
							color: #B17D2A !important;
						}
					}
					.btn-custom
					{
						@include transition(0.2s);
						background-color: #019771;
						color: #fff;

						&:hover
						{
							background-color: #B17D2A;
						}
					}
				}
				.or
				{
					color: $text-light;
					font-size: 11px;
					font-weight: $regular;
					margin: 15px 15px;
					@media screen and (max-width: 991px)
					{
						display: block;
					}
				}
				.login-href
				{
					@include transition(0.2s);
					color: #019771 !important;
					font-size: 13px;
					font-weight: 600;

					@media screen and (max-width: 991px)
					{
						display: block;
					}
				}
			}
		}
	}	
}

.modal-agreement
{
	.modal-header
	{
		background-color: #B17D2A;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
	}
	.modal-body
	{
		.contract
		{
			color: $text-dark;
			font-size: 13px;
			//white-space: pre-wrap;
			height: 420px;
			overflow-y: auto;

			.header
			{
				font-size: 15px;
				font-weight: $semi-bold;
				padding-bottom: 10px;
			}
			
			.introduction
			{
				.title
				{
					font-weight: $semi-bold;
					font-size: 13px;
					padding-bottom: 10px;
				}

				.para-container
				{
					font-weight: $regular;
				}
			}

			.personal-info, .share-protect, .contact-us, .disclaimer, .dealers-policy
			{
				@extend .introduction;
			}
		}
	}
	.modal-footer
	{
		.btn
		{
			color: #ffffff;
			font-weight:$bold;
			font-size: 13px;
			border-radius: 1.5px;
			padding: 10px 25px;
			margin-left: 12.5px;
			&:last-child
			{
				margin-left: 0;
			}
		}
		.btn-semi
		{
			@include transition(0.2s);
			background-color: rgba(1,151,113,0.8);

			&:hover
			{
				background-color: #f34e4e;
			}
		}
		.btn-pure
		{
			@include transition(0.2s);
			background-color: #019771;

			&:hover
			{
				background-color: #B17D2A;
			}
		}
	}
}