/* Responsiveness */

/* TABLETS */
@media screen and (max-width: 768px)
{
	.wrapper-5 .img-container
	{
	    img
	    {
	    	width: 50%;
	    }
	}

	.wrapper-6 .img-container
	{
	    padding: 0px 0px 50px 0px;
	}
}

@media screen and (max-width: 425px)
{
	.slider-wrapper .container .caption-container h1
	{
	    margin-top: -60px;
        margin-left: 110px;
        font-size: 25px;
	}

	.bottom .ftr-title-2
	{
	    float: left;
	}
}

@media screen and (max-width: 375px)
{
	.slider-wrapper .container .caption-container h1
	{
	    margin-top: 0px;
        margin-left: 0px;
        font-size: 27px;
	}
	
	.wrapper-5 .img-container
	{
	    img
	    {
	    	width: 80%;
	    }
	}

	.wrapper-6 .img-container
	{
	    img
	    {
	    	width: 100%;
	    }
	}

	.bottom .ftr-title-2
	{
	    float: left;
	}
}

@media screen and (max-width: 320px)
{
	.subheader-container .left-container span 
	{
	    padding: 0px;
	}
}