/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/upload/*
/public/uploads/*
/config/snappy.php
/config/session.php
/config/debugbar.php
composer.lock
composer.lock