@import "variables";
@import "mixin";


.about
{
	.header
	{
		background-size: cover;
		background-position: center;
		padding: 150px 0 50px;
		.first
		{
			font-size: 60px;
			font-weight: 300;
			color: #fff;
			line-height: 50px;
		}
		.second
		{
			color: #d4b044;
			font-size: 32.5px;
			font-weight: 300;
			line-height: 35px;
		}
	}
	section
	{
		&.first-row
		{
			padding: 50px 0;
			text-align: center;
			.title
			{
				color: #1c1c1c;
				font-size: 35px;
				font-weight: 300;
				margin-bottom: 25px;
			}
			.desc
			{
				color: #585858;
				font-size: 18px;
				font-weight: 300;
			}
		}
		&.second-row
		{
			.title
			{
				color: #1c1c1c;
				font-size: 35px;
				font-weight: 400;
				text-align: center;
				margin-bottom: 25px;
				span
				{
					color: #d4b044;
				}
			}
			.main
			{
				.img
				{
					img
					{
						margin: auto;
					}
				}
				.sub
				{
					font-size: 21px;
				}
				.name
				{
					font-size: 18px;
					font-weight: 500;
				}
				.desc
				{
					font-family: $content-text;
					font-size: 18px;
					font-weight: 100;
				}
			}
		}
	}
}