.member
{
	background-color: #ededed;
	font-family: 'Rubik', sans-serif !important;

	.members
	{
		background-color: #fff;
		border-radius: 2.5px;
		margin: 25px 0;
		position: relative;
		min-height: 620px;
		border: 1px solid #ccc;

		.header
		{
			border-bottom: 1px solid #e9e9e9;
			text-align: right;
			margin-left: 80px;

			.notification
			{
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;

				.badge
				{
					padding: 5px 10px;
					background-color: #ed5639;
				}
			}
			.profile-dropdown
			{
				padding: 7.5px 20px;
				display: inline-block;
				vertical-align: middle;
				.img
				{
					width: 36px;
					height: 36px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 7.5px;
					img
					{
						width: 36px;
						height: 36px;
						object-fit: cover;
						border-radius: 100%;
					}
				}
				.name
				{
					display: inline-block;
					vertical-align: middle;
					color: #7e8285;
					font-size: 13px;
					.slot
					{
						font-size: 13px;
						color: #344049;
						font-weight: 600;
					}
					.fa
					{
						color: #344049;
					}
				}
			}
		}

		.sidebar
		{
			background-color: #191919;
			width: 300px;
			position: absolute;
			left: 0;
			top: 0;
			/* border-right: 5px solid #301e10; */
			height: 100%;
			z-index: 10;
			transition: 0.3s all ease;
			// overflow: hidden;
			@media screen and (max-width: 768px)
			{
				display: none;
			}

			.shadow
			{
				position: absolute;
				left: 288px;
				height: 100%;
				width: 12px;
				z-index: 11;
			}
			.profile-holder
			{
				width: 300px;
				overflow: hidden;
				transition: 0.3s all ease;
			}
			.profile
			{
				text-align: center;
				padding: 25px 0;
				height: 100px;
				width: 283px;
				text-align: left;
				margin-left: 12.5px;
				.img
				{
					width: 50px;
					height: 50px;
					display: inline-block;
					vertical-align: middle;

					img
					{
						object-fit: cover;
						border-radius: 100%;
						width: 50px;
						height: 50px;
					}
				}
				.text
				{
					display: inline-block;
					vertical-align: middle;
					text-align: left;
					margin-left: 15px;
					max-width: 158.8px;
					.name
					{
						color: #fff;
						font-size: 14px;
						font-weight: 700;
					}
					.sub
					{
						font-size: 13px;
						color: #dac5a6;
						color: #fff;
						opacity: 0.5;
					}
				}
			}
			.side-nav
			{
				transition: 0.3s all ease;

				ul
				{
					margin: 0;
					padding: 0;
					li
					{
						display: block;
						position: relative;
						background-color: #191919;
						a
						{
							display: block;
							width: 300px;
							transition: 0.3s all ease;
							overflow: hidden;
							text-decoration: none;

							.nav-holder
							{
								padding: 15px 15px;
								color: #fff;
								font-size: 13px;
								font-weight: 400;
								letter-spacing: 0.5px;
								// border-bottom: 1px solid #301e10;
								padding-left: 25px;
								width: 300px;
								transition: 0.3s all ease;
								height: 50px;

								.icon 
								{
									display: inline-block;
									vertical-align: top;
									width: 20px;
									margin-right: 15px;

									text-align: center;
									font-size: 18px;
									color: #fff;
									opacity: 0.5;

									/* img
									{
										max-width: 20px;
									} */
								}

								span
								{
									opacity: 0.5;
								}
							}
							&:hover
							{
								.nav-holder
								{
									/* background-color: rgba(0,0,0,0.2); */
									background-color: #D4B044;
									color: #fff;
									text-decoration: none;
									border-color: #1F262C;

									.icon 
									{
										color: #fff;
										opacity: 1;
									}

									img
									{
										-webkit-filter: brightness(2);
										filter: brightness(2);
										opacity: 1;
									}

									span
									{
										opacity: 1;
									}
								}
							}
						}
						&.active
						{
							> a
							{
								> .nav-holder
								{
									/* background-color: rgba(0,0,0,0.2); */
									background-color: #D4B044;
									color: #fff;
									text-decoration: none;
									border-color: #1F262C;
									.icon 
									{
										color: #fff;
										opacity: 1;
									}
									img
									{
										-webkit-filter: brightness(2);
										filter: brightness(2);
										opacity: 1;
									}
									span
									{
										opacity: 1;
									}
								}
							}
						}
						> ul
						{
							display: none;
							position: absolute;
							left: 100%;
							top: 0;
							z-index: 12;
							margin-left: -12px;
							&:hover
							{
								display: block;
							}
							> li
							{
								> a
								{
									.nav-holder
									{
										background-color: #191919;
										span, &:before
										{
											opacity: 0.5;
										}
										&:hover
										{
											span, &:before
											{
												opacity: 1;
											}
										}
									}
								}
							}
						}
						> a
						{
							&:hover + ul
							{
								display: block;
							}
						}
					}
				}
			}
			&.small
			{
				width: 80px;
				background-color: #191919;
				.shadow
				{
					display: none;
				}
				.profile-holder
				{
					width: 80px;
				}
				.profile
				{
					.text
					{
						opacity: 0;
						transition: 0.3s all ease;

					}
					.img
					{
						width: 50px;
						height: 50px;
						img
						{
							width: 50px;
							height: 50px;
						}
					}
				}
				.side-nav
				{
					ul
					{
						li
						{
							a
							{
								text-align: left !important;
								width: 80px;
								.nav-holder
								{
									span
									{
										// display: none;
										opacity: 0;
										transition: 0.3s all ease;
									}
									border-color: transparent;
									text-align: left;
									.icon 
									{
										img
										{
											-webkit-filter: brightness(2);
											filter: brightness(2);
											opacity: 0.5;
										}
									}
								}
							}
							&.active
							{
								a
								{
									.nav-holder
									{
										/* background-color: rgba(0,0,0,0.2); */
										background-color: #D4B044;
										.icon
										{
											img
											{
												-webkit-filter: brightness(2);
												filter: brightness(2);
												opacity: 1;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.members-content
		{
			margin-left: 80px;
			padding: 15px;

			overflow: hidden;
			
			@media screen and (max-width: 768px)
			{
				margin-left: 0;
			}
			.main-member-header
			{
				.left
				{
					@media screen and (min-width: 991px)
					{
						float: left;
					}
					.icon
					{
						display: inline-block;
						vertical-align: middle;
						margin-right: 25px;
						img
						{

						}
					}
					.text
					{
						display: inline-block;
						vertical-align: middle;
						text-align: left;
						.name
						{
							color: #344049;
							font-size: 20px;
						}
						.sub
						{
							color: #85939e;
							font-size: 13px;
						}
					}
				}
				.right
				{
					@media screen and (min-width: 991px)
					{
						float: right;
					}
					.search
					{
						position: relative;
						margin: 6px 0;
						.form-control
						{
							color: #85939e;
							font-size: 13px;
							border-radius: 0;
							box-shadow: none;
							width: 300px;
						}
						img
						{
							position: absolute;
							top: 7px;
							right: 7px;
						}
					}
				}
			}
		}
	}
}

/* .btn-default
{
	font-size: 14px !important;
	font-weight: 300 !important;
	background-color: #09939C;

	&:hover
	{
		background-color: #245580;
		color: #fff;
	}
} */


/* PER THEME CUSTOM */

.btn-primary
{
	transition: 0.3s all ease;
	font-family: 'Rubik', sans-serif;
	padding: 7px 15px;
	border-radius: 25px !important;
	font-size: 14px !important;
	font-weight: 300 !important;
	margin-left: 5px;
}

.btn-shift-view-info
{
	border-radius: 25px !important;
	background-color: #D4B044 !important;
	color: #fff !important;
}

.btn-gear
{
	background-color: #D4B044;
	color: #fff;
	border-radius: 25px;

	.fa
	{
		color: #fff;
	}

	&:hover
	{
		color: #fff;
		opacity: 0.8;
	}
}

.btn-custom-white
{
	transition: 0.3s all ease;
	background-color: #fd6060;
	border-radius: 25px;
	font-weight: 300;
	color: #fff;

	&:hover
	{
		background-color: #353739;
		color: #fff;
	}
}

.modal-header
{
	background-color: #191919;
	color: #fff;
	
	.fa, h4
	{
		color: #fff !important;
	}

	.close
	{
		color: #fff;
	}
}
