@import "../../../assets/front/sass/mixin";

$display-text: 'Lato', sans-serif;
$content-text: 'PT Sans', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$text-light: #555;
$text-dark: #1c1c1c;

body{
	background-color: transparent;
	color: $text-light;
	font-family: $display-text;

}

.slider-wrapper
{
	overflow-y: hidden;
	.top-banner
	{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 100vh;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: -112px;

		@media screen and (max-width: 768px)
		{
			margin-top: 0px;
		}

		.c-container
		{
			color: #fff;
			max-width: 750px;
			@media screen and (max-width: 425px)
			{
				text-align: center;
			}
			:nth-child(1)
			{
				font-size: 45px;
				font-weight: 700;
				@media screen and (max-width: 768px)
				{
					font-size: 40px;
				}

				@media screen and (max-width: 425px)
				{
					font-size: 27px;
				}
				:nth-child(2)
				{
					color: #fcc205;
					font-size: 45px;
					border-bottom: none;
					@media screen and (max-width: 768px)
					{
						font-size: 40px;
					}

					@media screen and (max-width: 425px)
					{
						font-size: 27px;
					}
				}
			}
			:nth-child(2)
			{
				border-bottom: 1px solid #fff;
				font-size: 23px;
				padding-bottom: 10px;

				@media screen and (max-width: 425px)
				{
					font-size: 18px;
					border-bottom: none;
				}

				@media screen and (max-width: 375px)
				{
					padding-top: 10px;
				}
			}
			:nth-child(3)
			{
				color: #fff;
				padding-top: 10px;
				padding-bottom: 20px;
				font-size: 18px;

				@media screen and (max-width: 425px)
				{
					font-size: 13px;
				}
			}
			.t-button
			{
				background-color: transparent;
				border: 2px solid #fff;
				text-align: center;
				padding: 10px 40px;

			}
		}
	}
}

.wrapper-1
{
	.service-1-3-container
	{
		background-color: #003b66;
		text-align: center;
		padding-bottom: 70px;
		padding-top: 70px;

		.service-title
		{
			color: #fff;
			font-weight: 700px;
			font-size: 25px;
			padding-top: 15px;
		}
		.service-details
		{
			color: #fff;
			padding-top: 10px;
			font-size: 18px;

			@media screen and (max-width: 425px)
			{
				font-size: 13px;
			}
		}
		.image-holder
		{
			img
			{
				@media screen and (max-width: 768px)
				{
					width: 15%;
				}

				@media screen and (max-width: 425px)
				{
					width: 25%;
				}
			}
		}
	}
	.service-2-4-container
	{
		background-color: #0e70b7;
		text-align: center;
		padding-bottom: 70px;
		padding-top: 70px;
		.service-title
		{
			color: #fff;
			font-weight: 700px;
			font-size: 25px;
			padding-top: 15px;
		}
		.service-details
		{
			color: #fff;
			padding-top: 10px;
			font-size: 18px;
		}
		.image-holder
		{
			img
			{
				@media screen and (max-width: 768px)
				{
					width: 15%;
				}

				@media screen and (max-width: 425px)
				{
					width: 25%;
				}
			}
		}
	}

}

.wrapper-2
{
	.left-container
	{
		.title-container
		{
			padding-top: 50px;
			.border
			{
				color: #f38607;
				font-size: 45px;

				@media screen and (max-width: 425px)
				{
					display: none
				}
			}
			.title
			{
				font-weight: 700;
				font-size: 25px;
				color: #003b66;
				margin-top: 10px;
				padding-left: 10px;
			}

			@media screen and (max-width: 425px)
			{
				text-align: center;
			}
		}
		.description-container
		{
			color: #585858;
			padding-top: 30px;
			font-size: 18px;
			font-weight: 400;

			@media screen and (max-width: 425px)
			{
				text-align: center;
				padding-bottom: 20px
			}
		}
		.button-container
		{
			border: 3px solid #0e70b7;
			width: 180px;
			text-align: center;
			padding: 10px 0px;
			margin-top: 50px;

			@media screen and (max-width: 425px)
			{
				margin: auto;
				width: 80%;
			}

			a
			{
				color: #0e70b7;
				font-size: 15px;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	.right-container
	{
		.image-holder
		{
			text-align: center;
			padding: 50px 0px 50px 0px;
			width: 100%;
			img
			{
				width: 100%;
			}

			@media screen and (max-width: 425px)
			{
				padding: 30px 0px 10px 0px;
			}

			@media screen and (max-width: 375px)
			{
				padding: 30px 0px 10px 0px;
			}

			@media screen and (max-width: 320px)
			{
				padding: 30px 0px 10px 0px;
			}
		}
	}

	@media screen and (max-width: 1024px)
	{
		padding: 10px 0px 30px 0px;
	}
}

.wrapper-3
{
	background-color: #0e70b7;
	.top-container
	{
		.left-container
		{
			.title-container
			{
				padding-top: 50px;
				.border
				{
					color: #f38607;
					font-size: 45px;

					@media screen and (max-width: 425px)
					{
						display: none;
					}
				}
				.title
				{
					font-weight: 700;
					font-size: 25px;
					color: #fff;
					margin-top: 10px;
					padding-left: 10px;
				}

				@media screen and (max-width: 425px)
				{
					text-align: center;
				}
			}
		}
		.right-container
		{
			.description-container
			{
				padding-top: 50px;
				color: #fff;
				font-size: 18px;
				font-weight: 400;
				text-align: right;

				@media screen and (max-width: 425px)
				{
					text-align: center;
				}
			}
		}
	}
	.bottom-container
	{
		padding-bottom: 50px;
		.holder-container
		{
			background-color: #fff;
			margin-top: 30px;
			.image-holder
			{
				img
				{
					width: 100%;
				}
			}
			.title-container
			{
				padding-top: 10px;
				font-size: 20px;
				color: #003b66;
				font-weight: 700;
				padding-left: 20px;
			}
			.description-container
			{
				color: #585858;
				padding-top: 20px;
				padding-left: 20px;
				font-size: 18px;
				padding-right: 20px;
			}
			.read-container
			{
				color: #0e70b7;
				font-size: 15px;
				font-weight: 700;
				padding: 25px 0 20px 20px;
				a
				{
					text-decoration: none;
				}
			}

		}
	}
}

.wrapper-4
{
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-bottom: 90px;
	.left-container
	{
		.title-container
		{
			padding-top: 120px;
			.border
			{
				color: #f38607;
				font-size: 45px;

				@media screen and (max-width: 425px)
				{
					display: none;
				}
			}
			.title
			{
				font-weight: 700;
				font-size: 25px;
				color: #fff;
				margin-top: 10px;
				padding-left: 10px;
			}

			@media screen and (max-width: 425px)
			{
				text-align: center;
				padding-top: 80px;
			}
		}
	}

	.right-container
	{
		.description-container
		{
			padding-top: 90px;
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			text-align: right;

			@media screen and (max-width: 425px)
			{
				text-align: center;
				padding: 40px 0px 30px 0px;
			}
		}
		.button-container
		{
			button
			{
				@include transition(0.3s);
				background-color: #0466af;
				color: #fff;
				width: 160px;
				font-size: 15px;
				padding: 15px 0;
				border: none;

				&:hover
				{
					opacity: 0.8;
				}
			}

			@media screen and (max-width: 425px)
			{
				float: none;
				text-align: center;
				margin: auto;
				width: 80%;
			}

		}
	}
}

.wrapper-5
{
	background-color: #f3f3f3;
	padding-bottom: 20px;
	.title-container
	{
		font-size: 25px;
		font-weight: 700;
		color: #585858;
		text-align: left;
		padding: 20px 0px;

		@media screen and (max-width: 425px)
		{
			text-align: center;
		}
	}
	input
	{
		padding: 0px 10px;
		color: #545454;
		height: 50px;
		font-size: 18px;
		width: 100%;
		border: 1px solid #919191;
	}
	textarea
	{
		padding: 10px 10px;
		color: #545454;
		height: 50px;
		font-size: 18px;
		width: 100%;
		max-height: 150px;
		max-width: 100%;
		min-height: 150px;
		min-width: 100%;
		border: 1px solid #919191;
	}
	.button-container
	{
		padding: 20px 0px;
		text-align: left;
		width: 180px;
		button
		{
			background-color: #316df9;
			color: #fff;
			font-size: 18px;
			padding: 15px 50px;
			text-decoration: none;
			border: none;
		}

		@media screen and (max-width: 425px)
		{
			margin: auto;
			text-align: center;
		}
	}
	.contact-info
	{
		color: #585858;
		font-size: 18px;
		i
		{
			padding-right: 5px;
		}

		@media screen and (max-width: 425px)
		{
			text-align: center;
		}
	}
}