#progressBar{
	display: inline-block;
	width: 100%;
}

.img-popup-select-btn
{
	margin-bottom: 10px;
}

.upload-div *{
	margin-bottom: 5px;
}

.prod-img-loading-container{
	overflow: auto;
	max-height: 400px;
	min-height: 250px;

}


img.pre-loader-img{
	    position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 99;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
             transform: translateY(-50%);
}


.remodal[data-remodal-id="modal-product-select-image"]{
	position: relative;
}

.loading-opacity
{
	opacity: 0.5;
}