.blue-bar
{
    margin-top: 77px;
    background-color: #0072C7;
    min-height: 5px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 7.5px 0;
}
.plan
{
    .title
    {
        padding-bottom: 20px;
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        padding-top: 25px;
    }
    .pricing-card
    {
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        .card-header
        {
            color: #0096cf;
            text-align: left;
            h4
            {
                font-size: 18px;
                font-weight: 300;
                letter-spacing: -1px;
                margin: 0;
            }
            h3
            {
                font-size: 24px;
                margin: 0;
                letter-spacing: -1px;
            }
        }
        .usual-price
        {
            color: #8d9097;
            font-size: 14px;
            margin-top: 30px;
        }
        .price-holder
        {
            color: #0096cf;
            margin-bottom: 30px;
            .price
            {
                .ct
                {
                    font-size: 33px;
                    position: relative;
                    top: -18px;
                }
                .aw
                {
                    font-size: 64px;
                    line-height: 64px;
                }
                .as
                {
                    font-size: 64px;
                    line-height: 64px;
                }
                .ac
                {
                    font-size: 33px;
                    position: relative;
                    top: -18px;
                }
            }
            .per
            {
                margin-left: -15px;
            }
        }
        .btn
        {
            width: 100%;
            &.blue
            {
                color: #fff;
                line-height: 1.5em;
                border: none;
                background: #0072c7;
                border-radius: 0;
            }
        }
        .link
        {
            margin-top: 10px;
            margin-bottom: 10px;
            a
            {
                color: #8d9097;
                display: block;
                &:hover, &:active, &:focus
                {
                    text-decoration: none;
                }
            }
        }
        .feature
        {
            background-color: #ECEEF2;
            padding: 20px 20px;
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: -20px;
            .feature-title
            {
                text-align: left;
                margin-bottom: 10px;
                font-weight: 700;
            }
            ul
            {
                padding: 0;
                margin: 0;
                margin-left: 20px;
                text-align: left;
                li
                {
                    text-align: left;
                }
            }
        }
        &.active
        {
            .price-holder
            {
                color: #ff6500;
                margin-bottom: 30px;
            }
            .btn
            {
                &.blue
                {
                    background: #2CA01C;
                }
            }
        }
    }
}
.available
{
    margin-top: 30px;
    margin-bottom: 60px;
    .title
    {
        font-size: 20px;
        padding-bottom: 20px;
    }
    ul
    {
        padding-left: 20px;
    }
}