.payment-container {
  background-color: #fff;
  padding: 25px; }
.payment-container h2 {
  margin-top: 0;
  margin-bottom: 25px; }
.payment-container .holder-holder {
  border: 1px solid #dde2e4; }
.payment-container .holder {
  width: 100px;
  padding: 15px 15px;
  text-align: center;
  margin-bottom: 25px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #dde2e4;
  margin: -1px;
  border-right: 0; }
.payment-container .holder:last-child {
  border-right: 1px solid #dde2e4 !important; }
.payment-container .holder .image {
  height: 0;
  position: relative;
  padding-bottom: 75%; }
.payment-container .holder .image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; }
.payment-container .details {
  border: 1px solid #dde2e4;
  border-top: 0;
  padding: 25px; }
.payment-container .details .details-text {
  margin: 25px 0;
  margin-top: 0; }
.payment-container .details .details-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700; }
.payment-container .button {
  margin-top: 25px; }

.checkout-summary .title {
  font-size: 20px;
  padding: 10px; }
.checkout-summary .order-summary {
  border: 1px solid #ddd;
  padding: 10px; }
.checkout-summary .order-summary table {
  width: 100%;
  color: #777; }
.checkout-summary .order-summary table thead {
  font-weight: bold; }
.checkout-summary .order-summary table thead tr td {
  padding: 5px 0;
  border-bottom: 1px dashed #ddd; }
.checkout-summary .order-summary table tbody tr td {
  padding: 5px 0;
  border-bottom: 1px dashed #ddd; }
.checkout-summary .order-summary .total {
  overflow: auto;
  padding-top: 5px; }
.checkout-summary .order-summary .total .total-label {
  float: right; }
.checkout-summary .order-summary .total .total-price {
  width: 100px;
  margin-left: 15px;
  float: right; }
.checkout-summary .order-summary .total .total-price.supertotal {
  color: #2B628B;
  font-weight: bold; }

.hold-container {
  border: 1px solid #999999;
  border-radius: 2.5px;
  margin-bottom: 25px; }
.hold-container .hold-header {
  background-color: #e9e9e9;
  color: #262626;
  font-size: 15px;
  font-weight: 600;
  border-radius: 2.5px;
  padding: 15px 25px; }
.hold-container .hold-content {
  padding: 25px;
  background-color: #fff; }
.hold-container .hold-content .pay .pay-holder .name {
  color: #262626;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px; }
.hold-container .hold-content .pay .pay-holder table {
  width: 100%; }
.hold-container .hold-content .pay .pay-holder table td {
  vertical-align: middle;
  padding: 15px 0; }
.hold-container .hold-content .pay .pay-holder table tr {
  border-bottom: 1px solid #e9e9e9; }
.hold-container .hold-content .pay .pay-holder table tr:first-child td {
  padding-top: 0px; }
.hold-container .hold-content .pay .pay-holder .ray {
  padding-right: 15px; }
.hold-container .hold-content .pay .pay-holder .form-control {
  box-shadow: none;
  border-radius: 0;
  display: inline-block; }
.hold-container .hold-content .pay .pay-holder .form-control.ccn {
  width: 200px; }
.hold-container .hold-content .pay .pay-holder .form-control.date {
  width: 70px; }
.hold-container .hold-content .pay .pay-holder .card-holder {
  margin-top: 12.5px; }
.hold-container .hold-content .upload-container {
  padding: 20px 0px 0px 37px; }
.hold-container .hold-content .upload-container #upload-button {
  border: solid 1px #bababa;
  border-radius: 2px;
  font-size: 12.5px;
  font-weight: 600;
  padding: 10px 30px;
  margin: auto;
  min-width: 100%; }
.hold-container .hold-content .upload-container #upload-proof {
  font-size: 12.5px;
  font-weight: 600;
  margin-top: 10px; }
.hold-container .hold-content .cart-summary {
  margin: -25px; }
.hold-container .hold-content .cart-summary table thead tr th {
  background-color: #626262;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  padding: 15px 25px; }
.hold-container .hold-content .cart-summary table tbody tr td {
  border: 0;
  padding: 12.5px 25px;
  color: #333333;
  font-size: 12px;
  font-weight: 600; }
.hold-container .hold-content .cart-summary table tbody tr .total {
  color: #ff6767;
  font-size: 14px;
  font-weight: 700; }
.hold-container .hold-content .cart-summary table tbody {
  border: 0; }
.hold-container .hold-content .info label {
  font-size: 12.5px;
  font-weight: 600; }
.hold-container .hold-content .info .form-control {
  border: 1px solid #cdcdcd;
  box-shadow: none; }

/*# sourceMappingURL=checkout_payment.css.map */
