body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ededed;
  color: #747474; }

.top-1-container {
  padding: 40px 0px 40px 0px;
  background-color: #ededed; }
.top-1-container .title-container {
  font-size: 18px;
  font-weight: 600;
  color: #1c1c1c; }

.top-2-container {
  padding: 40px 0px 40px 0px;
  background-color: white; }
@media screen and (max-width: 900px) {
  .top-2-container {
    padding: 20px 0px 20px 0px; } }
.top-2-container .content-container .title-container {
  font-size: 18px;
  font-weight: 600;
  color: #1c1c1c; }
@media screen and (max-width: 900px) {
  .top-2-container .content-container .title-container {
    padding-top: 20px; } }
.top-2-container .content-container .location-content-container {
  padding: 20px 0px 20px 0px; }
.top-2-container .content-container .location-content-container .title-2-container {
  color: #1c1c1c;
  font-weight: 700; }
.top-2-container .content-container .location-content-container .detail-container {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 13px; }
.top-2-container .content-container .fill-up-container {
  width: 100%; }
.top-2-container .content-container .fill-up-container .textfield-container {
  width: 100%;
  padding: 10px 0px 10px 0px;
  color: #979797; }
.top-2-container .content-container .fill-up-container .textfield-container .message-textarea {
  max-width: 525px;
  min-width: 525px;
  min-height: 175px;
  max-height: 200px; }
@media screen and (max-width: 414px) {
  .top-2-container .content-container .fill-up-container .textfield-container .message-textarea {
    max-width: 353px;
    min-width: 353px; } }
@media screen and (max-width: 375px) {
  .top-2-container .content-container .fill-up-container .textfield-container .message-textarea {
    max-width: 320px;
    min-width: 320px; } }
@media screen and (max-width: 360px) {
  .top-2-container .content-container .fill-up-container .textfield-container .message-textarea {
    max-width: 300px;
    min-width: 300px; } }
@media screen and (max-width: 320px) {
  .top-2-container .content-container .fill-up-container .textfield-container .message-textarea {
    max-width: 260px;
    min-width: 260px; } }
.top-2-container .content-container .fill-up-container .textfield-container .form-holder {
  padding-bottom: 10px; }
.top-2-container .content-container .fill-up-container .textfield-container .form-control {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  color: #979797;
  font-size: 12px; }
.top-2-container .content-container .fill-up-container .textfield-container button {
  background-color: #48b920;
  width: 30%;
  text-align: center;
  border-radius: 20px;
  color: white;
  border: none;
  padding: 10px 0px 10px 0px; }
@media screen and (max-width: 320px) {
  .top-2-container .content-container .fill-up-container .textfield-container button {
    width: 40%; } }

.bot-container {
  padding: 40px 0px 40px 0px;
  background-color: white; }
.bot-container .title-container {
  font-size: 18px;
  font-weight: 600;
  color: #1c1c1c; }
.bot-container .content-container {
  padding: 20px 0px 40px 0px; }
.bot-container .content-container .map-container {
  width: 100%;
  padding-right: 25px; }
@media screen and (max-width: 414px) {
  .bot-container .content-container .map-container {
    padding-right: unset; } }
.bot-container .content-container .map-container .map {
  width: 100%;
  border-radius: 20px; }
.bot-container .content-container .title-container {
  font-size: 13px;
  font-weight: 700; }
@media screen and (max-width: 414px) {
  .bot-container .content-container .first-title {
    padding-bottom: 30px; } }

/*# sourceMappingURL=contact.css.map */
