.intro {
  background-image: url("/assets/front/img/checkout-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 25px 0;
  text-align: center; }
  .intro .text {
    color: #de7c99;
    font-weight: 700;
    font-size: 18.75px; }
    .intro .text img {
      vertical-align: middle;
      margin-right: 10px; }
    .intro .text span {
      vertical-align: middle; }

.content .info {
  padding: 50px 0; }
  .content .info label {
    font-size: 12.5px;
    color: #8c8c8c;
    font-weight: 300; }
  .content .info .form-control {
    border: 1px solid #b5b5b5;
    box-shadow: none;
    border-radius: 2px; }
  .content .info .label-emp {
    color: #343434;
    font-size: 17px; }
.content .title {
  color: #282828;
  font-size: 16.68px;
  font-weight: 700;
  margin-bottom: 10px; }
.content .summary {
  background-color: #343434;
  color: #fff;
  border: 1px solid #bdbdbd; }
  .content .summary .c-qty {
    font-weight: 400;
    font-size: 12.5px;
    padding: 25px; }
  .content .summary .table {
    background-color: #fff;
    margin: 0; }
    .content .summary .table thead tr th {
      background-color: #de7c99;
      color: #fff;
      text-align: center; }
    .content .summary .table tbody tr td {
      color: #343434;
      font-size: 14.58px;
      text-align: center;
      color: #343434;
      padding: 15px 10px; }
    .content .summary .table tbody tr:nth-child(even) {
      background-color: #dedede; }
    .content .summary .table tbody tr .name {
      font-size: 14.58px;
      font-weight: 300; }
    .content .summary .table tbody tr .qty {
      font-size: 12.5px;
      font-weight: 700; }
    .content .summary .table tbody tr .price {
      font-size: 12.5px;
      font-weight: 700; }
  .content .summary .total {
    margin: 40px 0;
    padding: 0 40px; }
    .content .summary .total table {
      margin-left: auto; }
      .content .summary .total table tbody tr td:first-child {
        font-size: 12.5px;
        font-weight: 300;
        padding-right: 30px;
        text-align: right; }
      .content .summary .total table tbody tr td:last-child {
        font-size: 12.5px;
        font-weight: 700; }
      .content .summary .total table tbody tr:last-child td {
        font-weight: 700;
        padding-top: 15px; }
        .content .summary .total table tbody tr:last-child td:last-child {
          font-size: 16.67px; }
.content .payment {
  text-align: center; }
  .content .payment .title {
    color: #2e2e2e;
    font-size: 18.75px;
    margin-bottom: 40px; }
  .content .payment .image img {
    max-height: 85px; }
  .content .payment .name {
    font-size: 12.5px;
    color: #343434;
    font-weight: 700;
    margin: 15px 0; }
    .content .payment .name span {
      vertical-align: middle; }
    .content .payment .name input {
      vertical-align: middle;
      margin: 0;
      margin-right: 10px; }
  .content .payment .desc {
    font-size: 12.5px;
    color: #343434;
    font-weight: 300; }
  .content .payment .upload {
    display: none;
    margin: 50px 0;
    text-align: center;
    float: left; }
    .content .payment .upload .text {
      color: #343434;
      font-size: 12.5px;
      font-weight: 700;
      margin-bottom: 10px; }
    .content .payment .upload input {
      margin: auto;
      margin-bottom: 30px; }
    .content .payment .upload .btn {
      background: none;
      background-color: #de7c99;
      color: #fff;
      border-color: #de7c99;
      border-radius: 5px; }

.btn-pink {
  background-color: #de7c99 !important;
  color: #ffffff !important; }

.margin-10 {
  margin-bottom: 10px;
  margin-top: 10px; }

.align-center {
  align-self: center; }

/*# sourceMappingURL=checkout.css.map */
