body {
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  color: #fff; }

.ads-button1 {
  padding: 10px 0px 10px 0px;
  width: 50%;
  text-align: center;
  border: 1px solid #693d28;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  color: #693d28; }
  .ads-button1:hover {
    cursor: pointer; }

.ads-button2 {
  padding: 7px 0px 7px 0px;
  width: 100%;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 400;
  color: #fff; }
  .ads-button2 i {
    color: #fff; }
  .ads-button2:hover {
    cursor: pointer; }

.button-brown {
  border: 1px solid #693d28;
  color: #693d28; }
  .button-brown i {
    color: #693d28 !important; }

.wrapper-1 .top-container {
  padding: 15px 0px 15px 0px; }
  .wrapper-1 .top-container .slider-container {
    position: relative; }
    .wrapper-1 .top-container .slider-container .caption-container {
      position: absolute;
      left: 10%;
      bottom: 35%; }
      .wrapper-1 .top-container .slider-container .caption-container h1 {
        font-size: 45px;
        font-weight: 700;
        color: #1c1c1c; }
      .wrapper-1 .top-container .slider-container .caption-container h2 {
        margin-top: -15px;
        font-size: 35px;
        font-weight: 400;
        color: #1c1c1c; }
      .wrapper-1 .top-container .slider-container .caption-container h3 {
        font-size: 25px;
        font-weight: 400;
        color: #693d28; }
      .wrapper-1 .top-container .slider-container .caption-container h4 {
        font-size: 15px;
        font-weight: 400;
        color: #7d7d7d; }
  .wrapper-1 .top-container .right-ads .ad-container {
    position: relative;
    margin-top: 10px;
    border: 1px solid #e0e0e0; }
    .wrapper-1 .top-container .right-ads .ad-container .button-container {
      width: 35%;
      position: absolute;
      left: 5%;
      top: 40%; }
    .wrapper-1 .top-container .right-ads .ad-container .button-container2 {
      width: 35%;
      position: absolute;
      right: 8%;
      top: 50%; }
    .wrapper-1 .top-container .right-ads .ad-container:first-child {
      margin-top: 0; }
.wrapper-1 .mid-container .browseby-title-holder {
  display: block;
  padding: 20px 0px 15px 0px; }
  .wrapper-1 .mid-container .browseby-title-holder .title {
    font-size: 15px;
    color: #1c1c1c;
    margin: 0px; }
.wrapper-1 .mid-container .browseby-tiles-holder {
  display: block;
  background-color: #eaeaea; }
  .wrapper-1 .mid-container .browseby-tiles-holder .browseby-paddingformat {
    padding: 10px 60px 10px 60px;
    display: block; }
    .wrapper-1 .mid-container .browseby-tiles-holder .browseby-paddingformat .browseby-active {
      display: inline-block;
      width: 113px;
      text-decoration: none;
      padding: 15px 0px 0px 0px; }
      .wrapper-1 .mid-container .browseby-tiles-holder .browseby-paddingformat .browseby-active .browseby-image-holder {
        display: block;
        text-align: center; }
      .wrapper-1 .mid-container .browseby-tiles-holder .browseby-paddingformat .browseby-active .browseby-icon-title-holder {
        display: block;
        padding: 5px 0px 5px 0px; }
        .wrapper-1 .mid-container .browseby-tiles-holder .browseby-paddingformat .browseby-active .browseby-icon-title-holder .browseby-icon-title {
          font-size: 13px;
          color: #1c1c1c;
          margin: 0px;
          text-align: center; }
    .wrapper-1 .mid-container .browseby-tiles-holder .browseby-paddingformat .browseby-active:hover {
      text-decoration: none; }
    .wrapper-1 .mid-container .browseby-tiles-holder .browseby-paddingformat .browseby {
      display: inline-block;
      width: 113px;
      margin-left: 32px;
      text-decoration: none;
      padding: 15px 0px 0px 0px; }
      .wrapper-1 .mid-container .browseby-tiles-holder .browseby-paddingformat .browseby .browseby-image-holder {
        display: block;
        text-align: center; }
      .wrapper-1 .mid-container .browseby-tiles-holder .browseby-paddingformat .browseby .browseby-icon-title-holder {
        display: block;
        padding: 5px 0px 5px 0px; }
        .wrapper-1 .mid-container .browseby-tiles-holder .browseby-paddingformat .browseby .browseby-icon-title-holder .browseby-icon-title {
          font-size: 13px;
          color: #808080;
          margin: 0px;
          text-align: center; }
    .wrapper-1 .mid-container .browseby-tiles-holder .browseby-paddingformat .browseby:hover {
      text-decoration: none; }

/*# sourceMappingURL=home.css.map */
