/*Now the CSS*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #1D1B10;
  font-family: "Roboto", sans-serif; }

.header span {
  vertical-align: middle;
  display: inline-block; }

.tray-container {
  background-color: #1D1B10;
  width: 100%; }
  .tray-container .rotate {
    -webkit-transform: rotateX(40deg);
    -moz-transform: rotateX(40deg);
    transform: rotateX(40deg); }
  .tray-container .tray {
    width: 553px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    left: 0;
    right: 0;
    position: absolute; }
    .tray-container .tray .tray-gold .hexagon {
      background-color: #FFF431 !important; }
    .tray-container .tray .tray-bronze .hexagon {
      background-color: #CD7F32 !important; }
    .tray-container .tray .tray-silver .hexagon {
      background-color: #CCCCCC !important; }
    .tray-container .tray .tray-diamond .hexagon {
      background-color: #69B0E0 !important; }
    .tray-container .tray .tray-rela {
      width: 100%;
      margin-top: -270px;
      /*cover up extra shadows*/ }
      @media screen and (max-height: 460px) {
        .tray-container .tray .tray-rela {
          margin-top: 200px; } }
      .tray-container .tray .tray-rela .empty {
        background-color: #262521 !important; }
        .tray-container .tray .tray-rela .empty .text {
          font-size: 0 !important; }
        .tray-container .tray .tray-rela .empty #info {
          display: none !important; }
      .tray-container .tray .tray-rela .hexagon {
        position: relative;
        width: 150px;
        height: 86.60px;
        margin: 43.30px 0;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        cursor: pointer; }
        .tray-container .tray .tray-rela .hexagon:hover #info {
          display: block !important; }
      .tray-container .tray .tray-rela .hexagon:before,
      .tray-container .tray .tray-rela .hexagon:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 106.07px;
        height: 106.07px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        -moz-transform: scaleY(0.5774) rotate(-45deg);
        -o-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 21.9670px;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }
      .tray-container .tray .tray-rela .hexagon:before {
        top: -53.0330px; }
      .tray-container .tray .tray-rela .hexagon:after {
        bottom: -53.0330px; }
      .tray-container .tray .tray-rela .hexagon span {
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 150px;
        height: 86.6025px;
        z-index: 2;
        background: inherit; }
        .tray-container .tray .tray-rela .hexagon span .text {
          font-weight: bold;
          text-align: center;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          margin: auto;
          left: 0;
          right: 0;
          font-size: 18px; }
      .tray-container .tray .tray-rela .hexa-1 {
        top: 519px; }
      .tray-container .tray .tray-rela .hexa-2 {
        top: 388px;
        left: 160px; }
      .tray-container .tray .tray-rela .hexa-3 {
        top: 397px;
        left: 80px; }
      .tray-container .tray .tray-rela .hexa-4 {
        top: 266px;
        left: 240px; }
      .tray-container .tray .tray-rela .hexa-5 {
        top: 0px;
        left: 320px; }
      .tray-container .tray .tray-rela .hexa-6 {
        top: -268px;
        left: 241px; }
      .tray-container .tray .tray-rela .hexa-7 {
        top: -397px;
        left: 401px; }

.tree-container {
  background-image: url("../img/bg.jpg");
  display: none; }

#info {
  position: absolute;
  top: 0px;
  left: 160px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #777;
  z-index: 999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  display: none; }
  #info #photo {
    float: left;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 10px; }
    #info #photo img {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
  #info #cont {
    margin-top: 7px; }
  #info:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }

.arrow_box:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

#info:after {
  border-color: transparent;
  border-right-color: rgba(0, 0, 0, 0.3);
  border-width: 5px;
  top: 50%;
  margin-top: -5px; }
#info:before {
  border-color: transparent;
  border-right-color: rgba(0, 0, 0, 0.3);
  border-width: 6px;
  top: 50%;
  margin-top: -6px; }

.tree ul {
  padding-top: 20px;
  position: relative; }

#info-summary {
  font-family: "arial";
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 5px;
  font-size: 12px;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 300px; }
  #info-summary #batch-field {
    overtflow: auto; }
    #info-summary #batch-field #label {
      font-weight: bold;
      font-size: 12px;
      width: 200px;
      float: left; }
    #info-summary #batch-field #value {
      font-weight: bold;
      width: 100px;
      float: left; }

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px; }
  .tree li img {
    height: 50px;
    width: 50px;
    padding: 5px; }
  .tree li .id {
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px; }
  .tree li span {
    background-color: #519FCD;
    color: #fff;
    position: relative;
    -webkit-transition: background-color ease-out 0.5s;
    -moz-transition: background-color ease-out 0.5s;
    -o-transition: background-color ease-out 0.5s;
    transition: background-color ease-out 0.5s; }
    .tree li span img {
      height: 50px;
      width: 50px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
    .tree li span:hover {
      background-color: #519FCD;
      color: #fff; }
    .tree li span.PS {
      background-color: #519FCD; }
    .tree li span.FS {
      background-color: #CC5351; }
    .tree li span.VC {
      background-color: #86CC51; }
    .tree li span.SS {
      background-color: #851CB2; }
    .tree li span #paid-slot-seal {
      position: absolute;
      top: -10px;
      right: -10px;
      padding: 7px 8px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      color: #fff;
      font-weight: bold; }
    .tree li span:hover #info {
      display: block; }
      .tree li span:hover #info:hover {
        display: none; }
  .tree li::before {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #519FCD;
    width: 50%;
    height: 20px; }
  .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #519FCD;
    width: 50%;
    height: 20px;
    right: auto;
    left: 50%;
    border-left: 1px solid #519FCD; }
  .tree li:only-child {
    padding-top: 0; }
    .tree li:only-child::after, .tree li:only-child::before {
      display: none; }
  .tree li:first-child::before {
    border: 0 none; }
  .tree li:last-child::after {
    border: 0 none; }
  .tree li:last-child::before {
    border-right: 1px solid #519FCD;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0; }
  .tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0; }
.tree ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #519FCD;
  width: 0;
  height: 20px; }
.tree li span {
  cursor: pointer;
  height: 49px;
  width: 50px;
  text-decoration: none;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  opacity: 0.9;
  border-radius: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  .tree li span:hover {
    opacity: 1.0; }

/*We will use ::before and ::after to draw the connectors*/
/*We need to remove left-right connectors from elements without 
any siblings*/
/*Remove space from the top of single children*/
/*Remove left connector from first child and 
right connector from last child*/
/*Adding back the vertical connector to the last nodes*/
/*Time to add downward connectors from parents*/
.loading {
  bottom: -80px;
  position: absolute;
  text-align: center; }
  .loading img {
    border: none !important;
    height: 50px !important;
    padding: 0px !important;
    width: 50px !important;
    background-color: transparent !important; }

/*Thats all. I */
form .field {
  text-align: left;
  padding: 10px 0; }
  form .field label {
    padding-bottom: 5px; }
  form .field input[type="text"], form .field select {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/*# sourceMappingURL=genealogy.css.map */
