.top-content 
{
    background-color: white;
    margin-top: 40px;

    .top-title
    {
        font-size: 24px;
        margin-top: 100px;
        position: relative;

        .welcome 
        {
            font-weight: 700;
        }

        .shopshoshop 
        {
            position: absolute;
            left: 165px;
            top: 0;
            color: #2e3192;
            font-weight: 700;
        }
    }

    .paragraph 
    {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .paragraph1 
    {
        margin-top: 200px;
    }

    .paragraph2 
    {
        margin-top: 40px;
    }

    .top-content-image 
    {
    	margin-top: 70px;
    	margin-bottom: 40px;

        img
        { 
            width: 100%;
        }
    }
}

.bottom-content 
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;

    .title 
    {
        position: relative;
        font-size: 24px;
        font-weight: 700;

        .our 
        {
            margin-right: 85px;
        }

        .mission 
        {
            color: #2e3192;
            position: absolute;
            left: 60px;
            right: 0;
            top: 0;
        }

        .vision 
        {
            color: #2e3192;
            position: absolute;
            left: 40px;
            right: 0;
            top: 0;
        }
    }

    .bottom-image 
    {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .bottom-par 
    {
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 40px;
        color: #313131;
        font-size: 14px;
        line-height: 25px;
        max-width: 800px;
    }

    .bottom-par-two 
    {
        margin-bottom: 120px;
    }
}

.values 
{
    background-color: #fff;
    margin-top: 40px;
    padding: 50px;

    @media screen and (max-width: 425px)
    {
        padding: 65px 15px 15px 15px;
    }

    .holder 
    {
        margin-bottom: 50px;
        &:last-child 
        {
            margin-bottom: 0;
        }
    }

    .title
    {
        font-weight: 700;
        margin: 0;
        text-align: center;
    }

    .list
    {
        margin-top: 25px;

        ul 
        {
            margin: 0;
            margin-top: 25px;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            text-align: center;

            li 
            {
                font-size: 16px;
                font-weight: 400;
                display: block;
                text-align: center;
            }
        }
    }

    .message 
    {
        margin-top: 50px;

        .greet 
        {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .welcome 
        {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .text 
        {
            font-size: 14px;
            font-size: 400;
            white-space: pre-wrap;
        }
    }
}