.greetings 
{
    background-color: #fff;
    padding: 100px 0px;
    .title-holder
    {
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #006cc5;
        font-size: 2rem;
        span
        {
            color: #ff8500;
        }
    }
    .paragraph
    {
        padding-top: 50px;
        font-weight: 300;
        margin: 0;
        text-align: justify;
        font-size: 1.5rem;
        line-height: 200%;
    }

    .owner
    {
        width: 30%;
        margin-top: 50px;
        margin-left: auto;
        .image-holder
        {
            width: 100%;
            img
            {
                width: 100%;
            }
        }
        .name-holder
        {
            height: 156px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .name
            {
                color: #ff8500;
                font-weight: 700;
                line-height: 200%;
                font-size: 1.4rem;
            }
        }
        .position
        {
            color: #006cc5;
        }
    }
}

.about
{
    background-color: #f4f4f4;
    padding: 100px 0px;
    .title-holder
    {
        font-weight: 700;
        margin: 0;
        text-align: left;
        color: #006cc5;
        font-size: 2rem;
        span
        {
            color: #ff8500;
        }
    }
    .paragraph
    {
        padding-top: 50px;
        font-weight: 300;
        margin: 0;
        text-align: justify;
        font-size: 1.5rem;
        line-height: 200%;
    }
    .image-holder
    {
        width: 30%;
        margin-left: auto;
        img
        {
            width: 100%;
        }
    }
}

.mission-and-vision
{
    background-color: #fff;
    padding: 100px 0px;
    .title-holder
    {
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #006cc5;
        font-size: 2rem;
        span
        {
            color: #ff8500;
        }
    }
    .paragraph
    {
        width: 50%;
        padding-top: 50px;
        font-weight: 300;
        margin: auto;
        text-align: justify;
        font-size: 1.5rem;
        line-height: 200%;
    }
    .vision
    {
        margin-top: 50px;
    }
}

.core-values
{
    background-color: #f4f4f4;
    padding: 100px 0px;
     .title-holder
    {
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #006cc5;
        font-size: 2rem;
        span
        {
            color: #ff8500;
        }
    }
    .image-holder
    {
        width: 65%;
        margin: 100px auto 0px;
        img
        {
            width: 100%;
        }
    }
}

.organizational-chart
{
    background-color: #1c6cb6;
    padding: 100px 0px;
      .title-holder
        {
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #fff;
        font-size: 2rem;
        span
        {
            color: #ff8500;
        }
    }
}