.row.no-gutters 
{
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] 
{
  padding-right: 0;
  padding-left: 0;
}

.greetings 
{
    background-color: #fff;
    padding: 100px 0px;
    @media screen and (max-width: 768px)
    {
        padding: 180px 0px 100px;
    }
    .title-holder
    {
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #006cc5;
        font-size: 2rem;
        span
        {
            color: #ff8500;
        }
    }
    .paragraph
    {
        padding-top: 50px;
        font-weight: 300;
        margin: auto;
        text-align: justify;
        font-size: 1.5rem;
        line-height: 200%;
        @media screen and (max-width: 768px)
        {
            font-size: 1.3rem;
            width: 90%;
        }
        @media screen and (max-width: 425px)
        {
            width: 80%;
        }
    }

    .owner
    {
        width: 30%;
        margin-top: 50px;
        margin-left: auto;
        @media screen and (max-width: 768px)
        {
            width: 50%;
        }
        @media screen and (max-width: 425px)
        {
            margin: 50px auto 0px;
        }
        @media screen and (max-width: 320px)
        {
            width: 60%;
        }
        .image-holder
        {
            width: 100%;
            img
            {
                width: 100%;
            }
        }
        .name-holder
        {
            height: 156px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .name
            {
                color: #ff8500;
                font-weight: 700;
                line-height: 200%;
                font-size: 1.4rem;
            }
        }
        .position
        {
            color: #006cc5;
        }
    }
}

.about
{
    background-color: #f4f4f4;
    padding: 100px 0px;
    .title-holder
    {
        font-weight: 700;
        margin: 0;
        text-align: left;
        color: #006cc5;
        font-size: 2rem;
        @media screen and (max-width: 425px)
        {
            text-align: center;
        }
        span
        {
            color: #ff8500;
        }
    }
    .paragraph
    {
        padding-top: 50px;
        font-weight: 300;
        margin: auto;
        text-align: justify;
        font-size: 1.5rem;
        line-height: 200%;
        @media screen and (max-width: 768px)
        {
            font-size: 1.3rem;
            width: 90%;
        }
         @media screen and (max-width: 425px)
        {
            padding-top: 0px;
            width: 80%;
        }
    }
    .image-holder
    {
        width: 30%;
        margin-left: auto;
        @media screen and (max-width: 768px)
        {
            width: 60%;
        }
        @media screen and (max-width: 425px)
        {
            width: 80%;
            margin: 50px auto;
        }
        img
        {
            width: 100%;
        }
    }
}

.mission-and-vision
{
    background-color: #fff;
    padding: 100px 0px;
    .title-holder
    {
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #006cc5;
        font-size: 2rem;
        span
        {
            color: #ff8500;
        }
    }
    .paragraph
    {
        width: 50%;
        padding-top: 50px;
        font-weight: 300;
        margin: auto;
        text-align: justify;
        font-size: 1.5rem;
        line-height: 200%;
        @media screen and (max-width: 768px)
        {
            font-size: 1.3rem;
            width: 90%;
        }
        @media screen and (max-width: 425px)
        {
            width: 80%;
        }
    }
    .vision
    {
        margin-top: 50px;
    }
}

.core-values
{
    background-color: #f4f4f4;
    padding: 100px 0px;
     .title-holder
    {
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #006cc5;
        font-size: 2rem;
        span
        {
            color: #ff8500;
        }
    }
    .image-holder
    {
        width: 65%;
        margin: 50px auto 0px;
        @media screen and (max-width: 768px)
        {
            width: 75%;
        }
        img
        {
            width: 100%;
        }
    }
}

.organizational-chart
{
    background-color: #1c6cb6;
    padding: 100px 0px;
        .title-holder-1
        {
        font-weight: 700;
        margin: 0px 0px 50px;
        text-align: center;
        color: #fff;
        font-size: 2rem;
        span
        {
            color: #ff8500;
        }
    }
        .title-holder-2
        {
        font-weight: 700;
        margin: 50px 0px;
        text-align: center;
        color: #fff;
        font-size: 2rem;
        span
        {
            color: #ff8500;
        }
    }
    .org-chart-holder
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px;
        text-align: center;
        grid-gap: 1rem;
        margin: 10px 0px;
        @media screen and (max-width: 1024px)
        {
            grid-template-rows: 245px;
        }
        @media screen and (max-width: 768px)
        {
            grid-template-rows: 180px;
        }
        @media screen and (max-width: 425px)
        {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 195px;
        }
        @media screen and (max-width: 425px)
        {
            grid-template-rows: 210px;
        }
        @media screen and (max-width: 375px)
        {
            grid-template-rows: 220px;
        }
        .people
        {
            display: grid;
            grid-template-columns: 150px 1fr;
            background-color: #fff;
            @media screen and (max-width: 768px)
            {
                grid-template-columns: 95px 1fr;
            }
            @media screen and (max-width: 425px)
            {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 150px;
            }
            .image-holder
            {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .info-box
            {
                text-align: center;
                padding: 0px 20px 10px;
                @media screen and (max-width: 768px)
                {
                    padding: 0px 10px 10px;
                }
                @media screen and (max-width: 425px)
                {
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    padding: 5px 0px;
                    margin: auto 0px;
                }
                a
                {
                    i
                    {
                        color: #fff;
                        height: 40px;
                        width: 40px;
                        background-color: #0084b1;
                        border: solid 1px #0084b1;
                        padding-top: 13px;
                        margin: 30px 0px;
                        @media screen and (max-width: 425px)
                        {
                            margin: 5px 0px;
                            height: 30px;
                            width: 30px;
                            padding-top: 8px;
                        }
                    }
                }
                .info-container
                {
                    text-align: left;
                    margin: auto 0px;
                    .name-holder
                    {
                        color: #ff8500;
                        font-size: 1.7rem;
                        font-weight: 600;
                        @media screen and (max-width: 768px)
                        {
                            font-size: 1.1rem;
                        }
                    }
                    .border-holder
                    {
                        border: solid 1px #1C6CB6;
                        width: 15%;
                        margin: 10px 0px;
                        @media screen and (max-width: 425px)
                        {
                            margin: 5px 0px;
                            display: none;
                        }
                    }
                    .position-holder
                    {
                        color: #3d3d3d;
                        font-size: 1.5rem;
                        font-weight: 300;
                        @media screen and (max-width: 768px)
                        {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    } 
}