body{
	font-family: 'Open Sans', sans-serif;
	background-color: #ededed;
	color: #747474;
}

.top-1-container {
	padding: 40px 0px 40px 0px;
	background-color: #ededed;

	.title-container {
		font-size: 18px;
		font-weight: 600;
		color: #1c1c1c;
	}
}

.content-container {
	padding: 20px 0px 40px 0px;
	background-color: white;

	.title-container {
		position: relative;
		padding: 10px 10px 10px 0px;
		border-bottom: 1px solid #d1d1d1;

		.album-title-container {
			font-size: 18px;
			font-weight: 600;
			color: #1c1c1c;
		}

		.album-date {
			padding: 10px 0px 10px 0px;
			font-size: 13px;
		}

		.line-bot {
			position: absolute;
			width: 5%;
			height: 1px;
			bottom: -1px;
			left: 0px;
			background-color: #2161c8;
		}
	}
	.albums-content {
		.per-album-container {
			margin-top: 20px;
			width: 100%;
			background-color: white;
			padding: 5px;
			border: 1px solid #dedede;
			background-color: #fff;

			&:hover {
				cursor: pointer;
				img {
					opacity: 0.7;
					transition: 0.3s all ease;
				}
			}

			.img-container {
				width: 100%;
				height: 167px;
				overflow: hidden;
				text-align: center;
				vertical-align: middle;

				img {
					width: 100%;
				}
			}
		}
	}
}