/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height: 100%;
  
}

.fullscreen.overflow,
.fullscreen.overflow .container {
    height:auto;
    min-height:100%;
}

/* content centering styles */


.not-fullscreen {
    height: 50%;
}