.hot-deals-container 
{
    margin-top: 0;
}
.thumb
{
	img
	{
		border: 1px solid #dbdbdb;
	}
}
.content 
{
    #yellow-bag-image 
    {
        max-width: 100%;
    }

    /* LEFT CONTAINER */
    .item-container 
    {
        padding-top: 20px;
    }

    .left-bar-categories 
    {
        margin-top: 30px;
        background-color: #fff;
        -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);

        .left-bar-title 
        {
            padding: 12px 12px 12px 20px;
            background-color: #ffd800;
            color: #333333;
            font-size: 16.5px;
            font-weight: 700;
        }
    }

    /* NEWS LETTER */
    .newsletter-container 
    {
        background-color: #fff;
        width: 100%;
        padding: 20px;
        margin-top: 35px;
        padding-bottom: 30px;
        -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);

        .left-container-title 
        {
            color: #1e1e1e;
            font-size: 16.75px;
            font-weight: 700;
            border-bottom: #cccccc solid 1px;
            padding-bottom: 10px;
        }

        .item-container 
        {
            font-weight: 600;
        }

        .text-area 
        {
            width: 200px;
            border-radius: 0 0 0 0;
            border: #ccc solid 1px;
            padding: 5px 5px 5px 5px;
        }

        .button-a 
        {
            font-size: 12.5px;
            background-color: #2e3192;
            width: 50%;
            border: 0;
            border-radius: 2px;
        }
    }

    /* ITEM CONTENT CONTAINER */

    .item-content 
    {
        .featured-container 
        {
            background-color: #fff;
            padding: 25px;
        }

        .item-and-description 
        {
            padding: 5px 0 0px 0;
        }

        .item-description 
        {
            font-size: 12.5px;
            margin-top: 10px;
        }

        .availability 
        {
            #stock 
            {
                font-size: 15px;
                color: #2a8900;
            }
        }

        .container-quantity-price 
        {
            border-top: solid 1px #cccccc;
            padding-top: 10px;
            padding-bottom: 10px;

            .item-quantity 
            {
                display: inline-flex;
            }

            .item-old-price 
            {
                color: #aeaeae;
                font-size: 15px;
                font-weight: 400;
                text-decoration: line-through;
            }

            .present-item-price 
            {
                font-size: 30px;
                color: #0069c8;
                font-weight: 400;
            }

            .quantity-label 
            {
                color: #6e6e6e;
                font-size: 15px;
                font-weight: 400;
            }

            .variation-qty 
            {}

            form 
            {
                font-size: 16.67px;
                margin-right: 20px;
                margin-top: 10px;
                margin-top: 0;
                margin-top: 7.5px;

                button 
                {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 13px;
                    font-weight: 500;
                    color: #fff;
                    border-radius: 0;
                    background-color: #ff8300;
                    padding: 12.5px 10px;
                    margin-left: 25px;
                }

                .disabled
                {
                    background-color: #A0A0A0;
                    color: #fff;
                    cursor: not-allowed;
                }
            }

            input 
            {
                padding: 5px 0px 5px 0px;
                text-align: center;
                display: inline-block;
                vertical-align: middle;
                margin-top: 0;
                border-radius: 2.5px;
            }

            button 
            {
                border: none;
                margin-top: 10px;
                background-color: #2e3192;
                color: #fff;
                font-size: 12.5px;
                font-weight: 600;
                padding: 10px;
                width: 130px;
                border-radius: 5px;
                right: 0;
                top: 0;
                margin-top: 0;

                i 
                {
                    padding-right: 5px;
                }
            }
        }

        .small-yellow-bag 
        {
            border: solid 1px;
            border-color: #d6d6d6;
            margin-top: 10px;
        }
    }

    .featured-container 
    {
        background-color: white;
        margin-bottom: 30px;

        .item-header
        {
        	border-top: 2px solid #0069c8;
        	color: #0069c8;
        	font-size: 21px;
        	font-weight: 400;
        	margin-top: -25px;
        	margin-left: -25px;
        	margin-right: -25px;
        	padding: 12.5px 22.5px;
        	margin-bottom: 25px;
        }

        .item-title 
        {
            color: #404040;
            font-size: 24px;
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px solid #dbdbdb;
            padding-bottom: 10px;

            a 
            {
                text-decoration: none;
                color: #484848;
            }
        }

        .item-price 
        {
            padding-top: 5px;
            color: 484848;
            font-size: 16px;
            font-weight: 700;
        }

        .item-details 
        {
            padding-top: 20px;
        }

        .variant-holder 
        {
            margin-bottom: 20px;

            .holder 
            {
                margin: 10px 0;

                .s-label 
                {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    text-transform: capitalize;
                    box-sizing: border-box;
                    padding-right: 30px;
                    font-weight: 700;
                    text-align: left;
                    font-size: 15px;
                    color: #404040;
                    font-weight: 700;
                }

                .select 
                {
                    display: inline-block;
                    vertical-align: middle;

                    select 
                    {
                        border-radius: 0;
                        box-shadow: none;
                    }

                    width: 40%;
                }
            }
        }

        table 
        {
            th 
            {
                background-color: #ff8300;
                color: #fff;
                font-size: 15px;
                font-weight: 400;
                border: 1px solid #ff8300 !important;
                border-right: 1px solid #ffc180 !important;
                padding: 7.5px 12.5px;

                &:last-child 
                {
                    border-right: 1px solid #ff8300 !important;
                }
            }

            td 
            {
                border: 1px solid #dbdbdb;
                padding: 7.5px 12.5px;
                color: #404040;
                font-size: 15px;
            }
        }

        .per-item-container 
        {
            .image-content-1 
            {
                .other-related-images 
                {
                    width: 100%;
                }

                .cart-icon1 
                {
                    background-color: #ffd800;
                    padding: 12px 12px 7px 12px;
                    border-radius: 2px 0px 0px 2px;
                    height: 41.26px;
                    width: 30%;
                    text-align: center;

                    i 
                    {
                        color: #000;
                        font-size: 20px;
                    }
                }

                .button-icon 
                {
                    background-color: #2e3192;
                    padding: 12px;
                    text-align: center;
                    font-size: 12.5px;
                    font-weight: 700;
                    border: 0px;
                    border-radius: 0px 2px 2px 0px;
                    width: 70%;
                }

                .cart-icon2 
                {
                    background-color: #ffd800;
                    padding: 12px 12px 7px 12px;
                    border-radius: 5px 0px 0px 5px;
                    height: 41.26px;
                    width: 30%;
                    text-align: center;

                    i 
                    {
                        font-size: 20px;
                        color: #000;
                    }
                }

                .button-icon2 
                {
                    background-color: #2e3192;
                    padding: 12px;
                    text-align: center;
                    font-size: 12.5px;
                    font-weight: 700;
                    border: 0px;
                    border-radius: 0px 5px 5px 0px;
                    width: 70%;
                }
            }
        }

        .description-content 
        {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 75px;
            padding-top: 30px;

            .description-par 
            {
                margin-top: 20px;
                font-size: 12.5px;
            }
        }

        .nav-tabs 
        {
            li 
            {
                a 
                {
                    font-size: 12.5px;
                    font-weight: 700;
                    border: 0;
                    padding: 15px;
                    background-color: #f1f1f1;
                    color: #3d3d3d;
                    border-radius: 0;
                    border: 0;
                    margin-right: 0;

                    &:active, &:hover 
                    {
                        border: none;
                        color: #fff;
                        background-color: #2e3192;
                    }
                }

                &.active 
                {
                    a 
                    {
                        border: none;
                        color: #fff;
                        background-color: #2e3192;
                    }
                }
            }
        }

        .other-related 
        {
            padding: 12.5px 17.5px;
            font-size: 20.6px;
        	font-weight: 300;
            border-bottom: solid 1px #f4f4f4;
            .yellow
            {
            	color: #ff8500;
            }
            .blue
            {
            	color: #006cc5;
            }
        }

        .other-related-items 
        {
            padding: 20px;
            border-top: 1px solid #ededed;
        }

        .item-name 
        {
        	min-height: 42px;
        	text-align: center;
            a
            {
            	font-size: 15px;
	            margin-top: 20px;
	            color: #585858;
	            font-weight: 400;
            }
        }

        .item-price 
        {
            color: #006cc5;
            font-weight: 400;
            font-size: 18px;
        	text-align: center;
        }

        .product 
        {
            position: relative;

            i 
            {
                position: absolute;
                color: #7f7f7f;
                font-size: 10px;
            }

            .fa-chevron-left 
            {
                left: 13px;
                bottom: 20px;
            }

            .fa-chevron-right 
            {
                right: 0;
                bottom: 20px;
            }

            table 
            {
                tr 
                {
                    td 
                    {
                        padding: 5px;
                    }
                }
            }
        }

        .facebook-share 
        {
            text-align: end;
            margin-top: 40px;
            margin-bottom: 20px;
            margin-right: 30px;

            a.tooltips 
            {
                position: relative;
                display: inline;
                font-size: 12.5px;
                padding: 5px;
            }

            a.tooltips span 
            {
                position: absolute;
                width: 30px;
                color: #181818;
                background: #E6E6E6;
                border: 2px solid #BBBBBB;
                height: 30px;
                line-height: 30px;
                text-align: center;
                visibility: hidden;
                border-radius: 6px;
            }

            a.tooltips span:before 
            {
                content: '';
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -12px;
                width: 0;
                height: 0;
                border-right: 12px solid #BBBBBB;
                border-top: 12px solid transparent;
                border-bottom: 12px solid transparent;
            }

            a.tooltips span:after 
            {
                content: '';
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -8px;
                width: 0;
                height: 0;
                border-right: 8px solid #E6E6E6;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
            }

            a:hover.tooltips span 
            {
                visibility: visible;
                opacity: 0.8;
                left: 100%;
                top: 50%;
                margin-top: -15px;
                margin-left: 15px;
                z-index: 999;
            }
        }

        .container-review 
        {
            padding-bottom: 20px;

            .review-content 
            {
                padding: 0px 0px 0px 50px;

                .summary-details 
                {
                    text-align: center;
                    margin-bottom: 65px;

                    .item-name 
                    {
                        font-size: 14.58px;
                        font-weight: 700;
                    }

                    .item-date 
                    {
                        font-size: 12.5px;
                        color: #8c8c8c;
                    }
                }

                .summary-tab 
                {
                    padding: 20px;
                    border: 0;
                    background-color: #efefef;
                    margin-right: 40px;
                    margin-top: 10px;
                    margin-bottom: 30px;

                    .summary-title 
                    {
                        font-size: 12.5px;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }

                    .summary-content 
                    {
                        font-size: 12.5px;
                    }
                }
            }

            .review-title 
            {
                font-size: 14.58px;
                font-weight: 700;
                padding: 30px;
            }
        }

        .input-name-summary-review 
        {
            padding: 20px 20px 100px 20px;
            position: relative;

            .write-your-own-title 
            {
                font-size: 14.58px;
                font-weight: 700;
                padding: 15px;
            }

            .input-summary-review 
            {
                padding: 25px;

                .form-name-summary 
                {
                    input 
                    {
                        border-radius: 0;
                        margin-bottom: 20px;
                    }

                    .input-name 
                    {
                        font-size: 12.5px;
                        margin-bottom: 5px;

                        .star 
                        {
                            color: #ff0000;
                        }
                    }
                }

                .form-review 
                {
                    input 
                    {
                        border-radius: 0;
                        margin-bottom: 20px;
                        padding: 20px 0px 88px 0px;
                    }

                    .input-name 
                    {
                        font-size: 12.5px;
                        margin-bottom: 5px;

                        .star 
                        {
                            color: #ff0000;
                        }
                    }
                }
            }
        }

        .bottom-container 
        {
            border-top: solid 1px #e5e5e5;
            padding-bottom: 20px;
            position: relative;

            .input-name-summary-review 
            {
                .input-summary-review 
                {
                    .stars-count 
                    {
                        margin-top: 20px;
                        border: 0;
                        background-color: #efefef;
                        padding: 10px;
                        width: 92%;
                        margin-left: 30px;
                        position: relative;
                        height: 40px;

                        .stars-number 
                        {
                            position: absolute;
                            right: 0;
                        }

                        li 
                        {
                            list-style: none;
                            float: left;
                            padding-right: 40px;
                            font-size: 12.17px;
                        }
                    }

                    .product-rate 
                    {
                        margin-top: 20px;
                        position: relative;

                        .rate-title 
                        {
                            font-size: 12.7px;
                            position: absolute;
                            left: 30px;
                        }

                        .rays 
                        {
                            position: absolute;
                            right: 30px;

                            li 
                            {
                                list-style: none;
                                float: left;
                                padding-right: 45px;
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }

            button 
            {
                position: absolute;
                right: 40px;
                min-width: 17%;
                padding: 10px;
                border-radius: 5px;
                color: #fff;
                border: none;
                background-color: #2e3192;
                font-size: 12.5px;
                font-weight: 700;
                bottom: 30px;
            }
        }
    }
}