.add-slider 
{
    background-color: transparent;
}

.home_ads1 
{
    width: 100%;
}

.pagination 
{
    margin: 14px 0 !important;
}

.ads-bottom 
{
    .top-text 
    {
        color: #fff;
        font-size: 16.5px;
        font-weight: 600;
        text-align: center;
    }

    .bottom-text 
    {
        color: #fff;
        font-size: 12.5px;
        font-weight: 400;
        text-align: center;
    }

    width: 100%;
    background-color: #2e3192;
    padding: 15px 15px 15px 15px;
}

.item-title-hot-deals 
{
    color: #2e3192;
    font-size: 14.58px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-to-cart-button-container 
{
    padding-top: 20px;
}

.add-to-cart-button 
{
    max-width: 80%;
    padding: 5px 20px 20px 15px;
    color: #fff;
}

/* ADD TO CART BUTTON */
.cart-icon1 
{
    background-color: #ffd800;
    padding: 12px 12px 7px 12px;
    border-radius: 2px 0px 0px 2px;
    height: 41.26px;
    width: 30%;
    text-align: center;

    i 
    {
        color: #000;
        font-size: 20px;
    }
}

.cart-icon2 
{
    background-color: #ffd800;
    padding: 12px 12px 7px 12px;
    border-radius: 5px 0px 0px 5px;
    height: 41.26px;
    width: 30%;
    text-align: center;

    i 
    {
        font-size: 20px;
        color: #000;
    }
}

.button-icon 
{
    background-color: #2e3192;
    padding: 12px;
    text-align: center;
    font-size: 12.5px;
    font-weight: 700;
    border: 0px;
    border-radius: 0px 2px 2px 0px;
    width: 70%;
}

.button-icon2 
{
    background-color: #2e3192;
    padding: 12px;
    text-align: center;
    font-size: 12.5px;
    font-weight: 700;
    border: 0px;
    border-radius: 0px 5px 5px 0px;
    width: 70%;
}

/* SPECIAL OFFER */
.special-offers-container 
{
    background-color: #fff;
    width: 100%;
    padding: 20px;
    margin-top: 35px;
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);

    .left-container-title 
    {
        color: #1e1e1e;
        font-size: 16.75px;
        font-weight: 700;
        border-bottom: #cccccc solid 1px;
        padding-bottom: 15px;
        position: relative;
    }

    .scroll-button 
    {
        position: absolute;
        right: 0;

        a 
        {
            padding: 2px;
        }
    }

    .item-price 
    {
        padding-top: 5px;
        color: #484848;
        font-size: 14px;
        font-weight: 700;
    }

    .rating 
    {
        padding-top: 1px;
    }

    .per-item 
    {
        padding-bottom: 10px;
    }
}

.item-details-container 
{
    padding-left: 10px;
}

.item-img 
{
    width: 100%;
    border: #e5e5e5 solid 1px;
}

.item-old-price 
{
    padding-top: 1px;
    color: #7d7d7d;
    font-size: 11px;
    font-weight: 400;
    text-decoration: line-through;
}

/* NEWSLETTER */
.newsletter-container 
{
    background-color: #fff;
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin-top: 35px;
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);

    .left-container-title 
    {
        color: #1e1e1e;
        font-size: 16.75px;
        font-weight: 700;
        border-bottom: #cccccc solid 1px;
        padding-bottom: 10px;
    }

    .item-container 
    {
        font-weight: 600;
    }

    .text-area 
    {
        width: 200px;
        border-radius: 0 0 0 0;
        border: #ccc solid 1px;
        padding: 5px 5px 5px 5px;
    }

    .button-a 
    {
        font-size: 12.5px;
    }
}

/* FEATURED TODAY */
.featured-container 
{
    background-color: #fff;
    width: 100%;
    padding: 0px 15px 15px 15px;
    margin-top: 35px;
    position: relative;

    .sortby-container-title 
    {
        color: #1e1e1e;
        font-size: 16.75px;
        font-weight: 700;
        border-bottom: #cccccc solid 1px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .left-container-title 
    {
        border-bottom: #dedede solid 1px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-bottom: 15px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .featured-item-container 
    {
        padding: 20px;
    }

    .per-item-container 
    {
        margin-bottom: 25px;
    }

    .item-title 
    {
        min-height: 42px;
    }

    .item-price 
    {
        // padding-top: 7.5px;
   
    }
}

.item-image-large 
{
    width: 100%;
    padding-bottom: 100%;
    background-size: contain;
}

/* PERFECT DESTINATIONS */
.perfect-destinations-container 
{
    background-color: #fff;
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin-top: 35px;
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);

    .left-container-title 
    {
        color: #1e1e1e;
        font-size: 16.75px;
        font-weight: 700;
        border-bottom: #cccccc solid 1px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .item-container 
    {
        padding: 20px 50px 20px 50px;
    }
}

.item-destinations 
{
    border-radius: 3px;
    width: 100%;
}

/* BEST SELLERS */
.best-sellers-container 
{
    background-color: #fff;
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin-top: 35px;
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);

    .left-container-title 
    {
        color: #1e1e1e;
        font-size: 16.75px;
        font-weight: 700;
        border-bottom: #cccccc solid 1px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .per-item 
    {
        padding-bottom: 20px;
    }
}

.best-seller-item-container 
{
    padding: 20px;
}

.sortby 
{
    text-decoration: none;
    font-weight: normal;
    padding: 10px 15px;
    color: #404040;
    font-size: 15px;
    font-weight: 400;

    select 
    {
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        padding: 5px;
        margin-left: 5px;
        color: #585858;
        font-size: 15px;
        font-weight: 400;
        padding: 10px 10px;
    }
}

#prod-big-image 
{
    width: 100%;
}

.pagination-top 
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 25px;

    .pagination-link 
    {
        border: 0;
        text-decoration: none;
        font-weight: normal;
        color: #000;
        font-size: 12.5px;
    }

    .pagination-link:hover 
    {
        border: 0;
        background-color: none;
    }

    .pagination-link-number 
    {
        margin-top: 5px;
    }
}

.pagination-bottom 
{
    margin: auto;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 15px;

    .pagination-link 
    {
        border: 0;
        color: #000;
        font-size: 12.5px;
    }

    .pagination-link-number 
    {
        margin-top: 5px;
    }
}

.hot-deals-container
{
    @media screen and (max-width: 768px)
    {
        display: none;
    }
}