$display-text: 'Raleway', sans-serif;
$content-text: 'Ubuntu', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

.pushmenu 
{ 
    /*this is the nav*/
     background: #0058a1;
     text-align: left;
     width: 300px;
     height: 100%;
     top: 0;
     z-index: 999;
     position: fixed;
     overflow-y: auto;
    @media screen and (max-width: 320px)
    {
        width: 250px;
    }


    .space1
    {
        padding: 10px 0px 10px 0px;
    }

    .space2
    {
        padding: 20px 0px 10px 0px;
    }

    span
    {
        font-family: $content-text;
        font-size: 16px;
        font-weight: $medium;
        color: #fff;
        padding-left: 30px;
    }
}

 /* .pushmenu h3 
 {
   color: #f1f1f1;
   font-size: 1.3em;
   font-weight: 400;
   padding: 15px 25px;
   margin: 0;
   background: #333;
   height: 16px;
   } */

   .links
   {
     list-style-type: none;
     /* margin: 0 0 0 10%; */
     width: 93%;
     font-family: $content-text;
     text-transform: uppercase;
     padding-left: 20px;

     .shop-container
     {
        padding: 6px 0px;
        padding-left: 10px;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
     }

     .subshop-container
     {
        display: none;
        
        ul
        {
            li
            {
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }
     }


     li
     {
        /* border-bottom: 1px solid rgba(255,255,255, 0.2); */
        padding: 6px 0px;
        padding-left: 10px;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.7);

        a
        {
            text-decoration: none;
        }
    }

    .user-logout
    {
        border-bottom: none;
        color: #fff;
    }

}

/* .links li a:after
{
   content: '';
   display: block;
   position: absolute;
   //left: 20px;
   bottom: -10px;
   width: 0;
   height: 3px;
   background-color: #77b93f;
   -webkit-transition: width 0.3s ease;
   -moz-transition: width 0.3s ease;
   transition: width 0.3s ease;
} */

/* .links li a:hover:after { width: 100%; } */

.links li:active { background-color: #1A84B1; }

.pushmenu-left
{ 
    left: -300px; 
}

.pushmenu-left.pushmenu-open { left: 0; }

.pushmenu-push
{
 overflow-x: hidden;
 position: relative;
 left: 0;
}

#overlay
{
    transition: 0.2s;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    cursor: pointer;
}

// .pushmenu-push-toright 
// { 
//     left: 300px;
//      @media screen and (max-width: 320px)
//      {
//         left: 246px;
//      }
// }

/*Transition*/

.pushmenu, .pushmenu-push
{
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 transition: all 0.5s ease;

 @media screen and (max-width: 320px)
 {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
 }
}

#nav_list
{
    display: none;
    float: left;

    @media screen and (max-width: 991px)
    {
            //background: url(icon_nav.png) no-repeat left top;
            cursor: pointer;
            //height: 27px;
            //width: 33px;
            //text-indent: -99999em;

            display: block;
            width: 50px;
            padding: 7.5px 12px 7.5px 12px;
            margin-right: auto;
            margin-top: 16px;
            //background-color: #77b93f;

            .fa
            {
                display: block;
                color: #006cc5;
                font-size: 24px;
            }

        }
    }


    nav-list.active { background-position: -331px top; }

    /* .buttonset 
    {
     background: #00A287;
     height: 16px;
     padding: 10px 20px 20px;
    } */

    /*  section.content 
     {
         padding: 10px 20px;
     } */


 /* MEDIA SCREEN */

 @media screen and (max-width: 768px)
 {
    .image-logo-holder
    {
        margin: auto;
        margin-top: -40px;
    }

    .hamburger
    {
        color: #006cc5;
        text-align: center;
    }

    #nav_list .fa 
    {
        margin-top: -10px;
    }
}

@media screen and (max-width: 475px)
{
    .image-logo-holder
    {
        margin: auto;
    }
}

@media screen and (max-width: 425px)
{
    .image-logo-holder
    {
        margin: auto;
        width: 50%;
        margin-top: -49px;
    }

    #nav_list .fa 
    {
        margin-top: -10px;
    }
}

@media screen and (max-width: 375px)
{
    #nav_list .fa 
    {
        margin-top: -15px;
    }
}

@media screen and (max-width: 320px)
{
    #nav_list .fa 
    {
        margin-top: -20px;
    }

    .image-logo-holder
    {
        margin-top: -35px;
    }
}