body{
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	font-size: 14px;
	color: #747474;
}
.top-bg-container{

	img{
		width: 100%;
	}
	.top-bg-detail-container{
		position: relative;
		font-family: 'Fjalla One', sans-serif;
		color: #fff;
		font-size: 26px;
		bottom: 50px;
		padding-left: 20px;
		
		@media screen and (max-width: 620px)
		{
				font-size: 16px;
				bottom: 25px;
		}

		.title-highlight{
			color: #ffc10e;
		}
	}	
}

.nav-left-container{
	padding-right: 15px;
	.nav-left{
		background: none repeat scroll 0 0 #bd8606;
		font-family: 'Fjalla One', sans-serif;
		color: #fff;
		font-size: 14px;
		.active{
			border-left: 8px solid #151515;
			color: #151515;
		}

		.nav-per-button{
			padding: 14px 0px 14px 25px;
			border-bottom: 1px solid #cea33f;

			&:last-child{
				border-bottom: none;
			}

			&:hover{
				border-left: 8px solid #151515;
				color: #151515;
				cursor: pointer;
				transition: 0.3s all ease;

			}
		}
	}
}

.content-title{
	font-family: 'Fjalla One', sans-serif;
	color: #151515;
	font-size: 26px;
	padding-top: 15px;
	padding-bottom: 15px;

}
.content-logo{
	margin: auto;
	padding: 50px 0px 50px 0px;
	text-align: center;
}

.content-img-container{
	padding-top: 40px;

	img{
		width: 100%;
	}

	.per-img-container{
		padding: 5px;

		&:hover{
			cursor: pointer;
			opacity: 0.8;
			transition: 0.3s all ease;
		}
	}
}

.body-content{

	.content{
		padding-bottom: 50px;
	}
}
