body{
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	color: #747474;
}
/* SLIDER */
.slider
{
	position: relative; 
	.image
	{
		width: 100%;
	}
}

.slider-title-container{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	background-size: cover;
	background-position: center;
	padding-bottom: 30px;

	.btn-container{
		padding: 65px 20px 0px 0px;
		float: right;

		.read-more-btn{
			font-family: 'Fjalla One', sans-serif;
			color: #252728;
			font-size: 14px;
			background-color: #ffc10e;
			padding: 12px 30px 12px 30px;
			border: none;
			border-radius: 4px;
		}

	}

	.slider-details{

		padding-left: 25px;

		@media screen and (max-width: 500px)
		{
			position: absolute;
			bottom: -125px;
			width: 50%;
		}
		@media screen and (max-width: 960px)
		{
			position: absolute;
			bottom: -125px;
			width: 50%;
		}
		
		.slider-title{
			font-family: 'Fjalla One', sans-serif;
			font-size: 64px;
			@media screen and (max-width: 600px)
			{
				font-size: 36px;
				line-height: 38px;
			}
			@media screen and (max-width: 375px)
			{
				font-size: 30px;
				line-height: 35px;
			}
			@media screen and (max-width: 360px)
			{
				font-size: 26px;
			}
			@media screen and (max-width: 320px)
			{
				font-size: 22px;
			}
		}
		.slider-title-details{
			font-weight: 500;
			margin-bottom: 10px;
			@media screen and (max-width: 500px)
			{
				font-size: 12px;
			}
		}
	}
}

.content
{
	background-color: #f7f7f7;
}
.top-container{
	background-color: #f0f0f0;
	padding-top: 16px;
	padding-bottom: 10px;
}

.top-left-container-title{
	font-family: 'Fjalla One', sans-serif;
	font-size: 26px;
	color: #151515;
	
	@media screen and (max-width: 960px)
	{
		padding: 15px 0px 10px 5px;
	}
	@media screen and (max-width: 500px)
	{
		padding: 15px 0px 10px 5px;
	}

}
/* OUR LATEST NEWS */

.latest-news-container{
	background-color: #fff;
	padding-bottom: 10px;

}

.latest-news-per-container{
	background-color: transparent;
	padding: 10px 10px 0px 10px;

	img{
		width: 100%;

		@media screen and (max-width: 960px)
		{
			width: 20%;
		}
		@media screen and (max-width: 500px)
		{
			width: 40%;
		}
		@media screen and (max-width: 360px)
		{
			width: 40%;
		}
	}

	.news-details{
		padding-left: 10px;
		@media screen and (max-width: 900px)
		{

			width: 80%;
			float: right;
			margin-top: -127px;
		}
		@media screen and (max-width: 768px)
		{

			width: 80%;
			float: right;
			margin-top: -108px;
		}
		@media screen and (max-width: 600px)
		{

			width: 80%;
			float: right;
			margin-top: -84px;
		}
		@media screen and (max-width: 414px)
		{

			width: 60%;
			float: right;
			margin-top: -111px;
		}
		@media screen and (max-width: 375px)
		{

			width: 60%;
			float: right;
			margin-top: -99px;
		}
		@media screen and (max-width: 360px)
		{
			margin-top: -91px;
		}
		@media screen and (max-width: 320px)
		{
			margin-top: -83px;
		}
	}
	.news-title{
		color: #151515;
		font-family: 'Fjalla One', sans-serif;
		font-size: 15px;

		@media screen and (max-width: 960px)
		{

			font-size: 25px;
		}
		@media screen and (max-width: 600px)
		{

			font-size: 16px;
		}
	}
	.news-content{
		color: #606060;
		font-family: 'Roboto', sans-serif;
		font-size: 11px;
		margin-top: 6px;

		@media screen and (max-width: 960px)
		{

			font-size: 11px;
		}

		@media screen and (max-width: 420px)
		{
			white-space: nowrap;
		  	overflow: hidden;
		  	text-overflow: ellipsis;
	  	}
	}
}
.latest-news-per-container:hover{
	
	cursor: pointer;

	img{
		opacity: 0.7;
		transition: 0.3s all ease;
	}
	.news-title{
		text-decoration: underline;
		color: #ffc10e;
	}
}

.read-more{
	color: #0f8cec;
	font-size: 10px;

}

/* WE ARE RESPONSIBLE MINING COMPANY */	
.bottom-container{
	background-color: #ffc10e;
	padding: 25px 10px 25px 10px;

	.btn-container{
			padding: 14px;
			float: right;
			@media screen and (max-width: 900px)
			{
				padding: 15px 0px 15px 20px;
				float: left;
			}
			@media screen and (max-width: 600px)
			{
				padding: 15px 0px 15px 0px;
				float: left;
			}

			.learn-more-btn{
				font-family: 'Fjalla One', sans-serif;
				color: #fff;
				font-size: 14px;
				background-color: #252728;
				padding: 13px 40px 13px 40px;
				border: solid 3px #252728;
				border-radius: 4px;
				@media screen and (max-width: 375px)
				{
					float: left;
					padding: 13px 126px 13px 126px;
				}
				@media screen and (max-width: 360px)
				{
					float: left;
					padding: 13px 118px 13px 118px;
				}
				@media screen and (max-width: 320px)
				{
					float: left;
					padding: 13px 98px 13px 98px;
				}
			}
			.learn-more-btn:hover{
				background-color: transparent;
				border: solid 3px #252728;
				color: #252728;

			}
		}

	.bottom-container-txt{
		padding-top: 7px;

		.bottom-container-title{
			font-family: 'Fjalla One', sans-serif;
			font-size: 26px;
			color: #252728;
			padding-left: 20px;
			@media screen and (max-width: 600px)
			{
				padding-left: 0px;
			}

			.highlight{
				color: #fff;
				text-decoration: underline;
			}

		}
		.bottom-container-details{
			color: #252728;
			font-size: 14px;
			font-weight: 500;
			padding-left: 20px;
			@media screen and (max-width: 600px)
			{
				padding-left: 0px;
			}

		}		
	}
}
/* GALLERY */
.gallery-container{
	background-color: #333333;
	color: white;
	padding: 20px 0px 20px 0px;

	.gallery-img-container{
		padding: 0px 8px 8px 0px;

		img{
			width: 100%;
		}
	}

	.container-title{
		font-family: 'Fjalla One', sans-serif;
		font-size: 26px;
		color: #fff;
		padding: 0px 0px 10px 20px;
	}


	.gallery-slide-holder{
		min-height: 20px;
		padding: 19px;
		margin-bottom: 20px;
		background-color: #333333;

		.carousel{
			position: relative;
			box-sizing: border-box;

			.carousel-inner{
				position: relative;
				width: 100%;
				overflow: hidden;
				@media screen and (max-width: 600px)
				{
					col{
						width: 100%;
					}
				}
				@media screen and (max-width: 500px)
				{
					col{
						width: 100%;
					}
				}

				.gallery-img-holder{

					img{
						width: 100%;
						border: 3px solid #fff;

						&:hover{
							cursor: pointer;
							transition: 0.3s all ease;
							-moz-box-shadow:1px 1px 16px rgba(0,0,0,1);
							-webkit-box-shadow:1px 1px 16px rgba(0,0,0,1);
							box-shadow:1px 1px 16px rgba(0,0,0,1);
						}
					}

				}
			}
			.carousel-control{
				padding-top: 14.7%;
				width: 3%;

				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 0px;
				font-size: 20px;
				color: #fff;
				text-align: center;
				text-shadow: 0 1px 2px rgba(0,0,0,.6);
				opacity: 4.5;
				z-index: 90;

				&:hover{
					cursor: pointer;
				}
			}
			.carousel-control.left{
				background-image: linear-gradient(to right,rgba(0,0,0,.5) 20%,rgba(0,0,0,.0001) 100%);
				background-repeat: repeat-x;
				@media screen and (max-width: 600px)
				{
					background-image: none;
				}
				img{
					position: relative;
					left: -5px;
					top: 8px;
					@media screen and (max-width: 600px)
					{
						left: 482px;
						top: -140px;
					}
					@media screen and (max-width: 414px)
					{
						left: 302px;
						top: -114px;
					}
					@media screen and (max-width: 375px)
					{
						left: 267px;
						top: -114px;
					}
					@media screen and (max-width: 360px)
					{
						left: 255px;
					}
					@media screen and (max-width: 320px)
					{
						left: 210px;
						top: -105px;
					}
				}
				&:hover{
					background-image: linear-gradient(to right,rgba(0,0,0,.5) 40%,rgba(0,0,0,.0001) 100%);
				}
			}
			.carousel-control.right{
				right: 0px;
				left: auto;
				background-image: linear-gradient(to right,rgba(0,0,0,.0001) 20%,rgba(0,0,0,.5) 100%);
				background-repeat: repeat-x;
				@media screen and (max-width: 600px)
				{
					background-image: none;					
				}
				img{
					position: relative;
					right: -5px;
					top: 8px;
					@media screen and (max-width: 600px)
					{
						right: 0px;
						top: -140px;
					}
					@media screen and (max-width: 414px)
					{
						right: 0px;
						top: -114px;
					}
					@media screen and (max-width: 375px)
					{
						right: 0px;
						top: -114px;
					}
					@media screen and (max-width: 320px)
					{
						top: -105px;
					}

				}
				&:hover{
					background-image: linear-gradient(to left,rgba(0,0,0,.5) 40%,rgba(0,0,0,.0001) 100%);
				}
			}
			a{
				background-color: transparent;
			}
		}

	}


}
/* WHO WE ARE */
.mid-container{
	background-color: white;
	padding: 50px 10px 75px 10px;
	.btn-container{
			padding: 55px 15px 0px 0px;
			float: right;
			@media screen and (max-width: 900px)
			{
				padding: 15px 0px 15px 20px;
				margin-top: -5px;
				float: left;
			}

			@media screen and (max-width: 600px)
			{
				padding: 15px 0px 15px 0px;
				margin-top: -5px;
				float: left;
			}

			.learn-more-btn{
				font-family: 'Fjalla One', sans-serif;
				color: #252728;
				font-size: 14px;
				background-color: #ffc10e;
				padding: 10px 30px 10px 30px;
				border: none;
				border-radius: 4px;

				@media screen and (max-width: 375px)
				{
					float: left;
					padding: 13px 126px 13px 126px;
				}
				@media screen and (max-width: 360px)
				{
					float: left;
					padding: 13px 118px 13px 118px;
				}
				@media screen and (max-width: 320px)
				{
					float: left;
					padding: 13px 98px 13px 98px;
				}
			}
		}

	.bottom-container-txt{
		padding-top: 7px;

		.bottom-container-title{
			font-family: 'Fjalla One', sans-serif;
			font-size: 26px;
			color: #252728;
			padding-left: 20px;
			@media screen and (max-width: 600px)
			{
				padding-left: 0px;
			}

		}
		.bottom-container-details{
			font-size: 14px;
			font-weight: 400;
			padding-left: 20px;
			padding-top: 10px;
			line-height: 20px;
			@media screen and (max-width: 600px)
			{
				padding-left: 0px;
			}

		}		
	}


}
/* KEY COMPONENTS */
.key-components-container{
	background-color: #fff;
	padding: 25px 10px 25px 10px;

	.container-title{
		font-family: 'Fjalla One', sans-serif;
		font-size: 26px;
		color: #252728;
		padding-left: 20px;
	}

	.element-container{
		padding-top: 10px;
		padding-bottom: 50px;

		.image-holder{
			text-align: center;
		}
		.element-title{
			text-align: center;
			font-family: 'Fjalla One', sans-serif;
			font-size: 20px;
			color: #333333;
			padding-top: 10px;
		}
		.element-description{
			text-align: center;
			padding-top: 10px;
		}
	}
}


