body{
	font-family: 'Roboto', sans-serif;
	background-color: #f3f3f3;
	font-size: 14px;
	color: #747474;
}

.top-left-container-title{
	font-family: 'Fjalla One', sans-serif;
	font-size: 26px;
	color: #151515;
	padding: 0px 0px 15px 10px;
}

.news-img-container{
	padding-top: 10px;
}

/* OTHER NEWS */

.latest-news-container{
	background-color: #fff;
	padding-bottom: 10px;
}

.latest-news-per-container{
	background-color: transparent;
	padding: 10px 10px 0px 10px;

	img{
		width: 100%;
	}

	.news-details{
		padding-left: 10px;
	}
	.news-title{
		color: #151515;
		font-family: 'Fjalla One', sans-serif;
		font-size: 15px;
	}
	.news-content{
		color: #606060;
		font-family: 'Roboto', sans-serif;
		font-size: 11px;
		margin-top: 6px;
	}
}
.latest-news-per-container:hover{
	
	cursor: pointer;

	img{
		opacity: 0.7;
		transition: 0.3s all ease;
	}
	.news-title{
		text-decoration: underline;
		color: #ffc10e;
	}
}

.read-more{
	color: #0f8cec;
	font-size: 10px;

}


/* NEWS */
.news-container{

	img{
		width: 100%;
	}

	.news-title{
		font-family: 'Fjalla One', sans-serif;
		font-size: 26px;
		color: #333333;
		padding-top: 15px;	
	}
}

