
.shopping-line {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin-bottom: 40px;
    .shopping-title {
	    padding: 0 10px;
	    z-index: 2;
	    text-align: center;
	    font-size: 29.17px;
	    background-color: #ffffff;
	    .shopping-clothes{
	    	color: #de7c99;
	    }
	}
}
.btn-pink{
	background-color:#de7c99;
	border-color:#de7c99;
	color: #ffffff;
}
.loader-modal{
	margin:auto;
	position:relative;
	width:50px;
	height:50px;
	object-fit:contain;
	display:block;
}
.border-0{
	border-radius: 0px !important;
}
.btn-reload{
	position:relative;
	margin:auto;
	display:block;
}
.background-black{
	th{
		background-color:#000000;
		color: #ffffff;
	}
	
}
.img-brk{
	max-width:75px;
	min-width:35px;
	width:55px;
	height:55px;
	max-height:75px;
	min-height:35px;
	object-fit:contain;
}
.line-height-2{
	line-height:2;
}
.modal-history-details{
	max-height:800px;
	min-height:500px;
	over-flow:auto;
	over-flow-x:hidden;
}