.products
{
	.img-container
	{
		//position: relative;
		text-align: center;
		vertical-align: middle;

		.cert-member-name
		{
			position: relative;
			left: 0px;
			top: 275px;
			font-size: 45px;
			text-transform: uppercase;
			color: #242A2A;
		}

		img
		{
			width: 100%;
		}
	}
}

@media screen and (max-width: 1024px)
{
	.products .img-container .cert-member-name
	{
	    top: 220px;
	    font-size: 37px;
	}
}

@media screen and (max-width: 768px)
{
	.products .img-container .cert-member-name 
	{
	    top: 180px;
	    font-size: 30px;
	}
}

@media screen and (max-width: 425px)
{
	.products .img-container .cert-member-name 
	{
	    top: 95px;
	    font-size: 17px;
	}
}

@media screen and (max-width: 414px)
{
	.products .img-container .cert-member-name 
	{
	    top: 95px;
	    font-size: 17px;
	}
}

@media screen and (max-width: 375px)
{
	.products .img-container .cert-member-name 
	{
	    top: 82px;
	    font-size: 14px;
	}
}

@media screen and (max-width: 320px)
{
	.products .img-container .cert-member-name 
	{
	    top: 68px;
	    font-size: 12px;
	}
}