body{
	font-family: 'Open Sans', sans-serif;
	background-color: #ededed;
	color: #747474;
}
.top-1-container {
	padding: 25px 0px 40px 0px;
	min-height: 500px;

	.promo-view-container {

		.promo-img-container {
			img {
				width: 100%;
			}
		}
		.promo-details-container {
			.promo-title {
				font-size: 30px;
				color: #1c1c1c;
			}
			.promo-date {
				font-size: 13px;
			}
			.promo-description {
				margin-top: 20px;

				p {
					font-size: 13px;
					line-height: 23px;
				}
			}
		}
	}
}