.wrapper
{
    display: none;
}

@media screen and (max-width: 425px)
{
    .wrapper
    {
        display: block;
        overflow: hidden;

        section
        {
            padding:30px 30px 30px 80px;
            -moz-transition:all 200ms ease-in;
            -webkit-transition:all 200ms ease-in;
            -o-transition:all 200ms ease-in;
            transition:all 200ms ease-in;

        }
        nav{
            position:fixed;
            z-index: 1000;
            top:0;
            left:0;
            width:250px;
            height:100%;
            margin:0 0 0 -250px;
            -moz-transition:all 200ms ease-in;
            -webkit-transition:all 200ms ease-in;
            -o-transition:all 200ms ease-in;
            transition:all 200ms ease-in;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        nav ul{
            width:250px;
            height:100%;
            padding:0;
            margin:0;
            list-style:none;
            background: #00A4E6;
            overflow:hidden;
        }
        nav li{
            margin:0;
        }
        nav a{
            color:#fff;
            font-size:1em;
            font-family:'Raleway', sans-serif;
            text-decoration:none;
            display:block;
            padding:12px 15px;
            font-weight:300;
            letter-spacing:2px;
            border-bottom:1px solid #FFF;
        }
        nav a:hover{
            background:#111;
        }
        label{
            display:block;
            font-family:'Raleway', sans-serif;
            font-weight:700;
            background: #76B83F;
            width:42px;
            height:42px;
            line-height:42px;
            color:#fff;
            text-align:center;
            font-size:2em;
            position:fixed;
            top:10px;
            left:10px;
            -moz-transition:all 200ms ease-in;
            -webkit-transition:all 200ms ease-in;
            -o-transition:all 200ms ease-in;
            transition:all 200ms ease-in;
            z-index:500;
            opacity: 0.7;
            top: 55px;
        }
        input[type="checkbox"]{
            display:none;
        }
        input[type="checkbox"]:checked ~ nav{
            margin:0;
        }
        input[type="checkbox"]:checked ~ label{
            left:260px;
        }
        input[type="checkbox"]:checked ~ section{
            -webkit-transform:translate3d(260px, 0, 0);
            -moz-transform:translate3d(260px, 0, 0);
            -o-transform:translate3d(260px, 0, 0);
            transform:translate3d(260px, 0, 0);
        }
    }
}



@media screen and (max-width: 768px)
{
    /* HEADER-FIXED */
    .header-fixed
    {
        @media screen and (min-width: 991px)
        {
            &.header-container
            {
                position: fixed;
                width: 100%;
                z-index: 999;
                top: 0;
                border-bottom: 1px solid #dedede;
            }
            &.subheader-container
            {
                margin-bottom: 87px;
            }
        }
    }
}


@media screen and (max-width: 425px)
{

    /* HEADER-FIXED */
    .header-fixed
    {
        @media screen and (min-width: 991px)
        {
            &.header-container
            {
                position: fixed;
                width: 100%;
                z-index: 999;
                top: 0;
                border-bottom: 1px solid #dedede;
            }
            &.subheader-container
            {
                margin-bottom: 87px;
            }
        }
    }

    .image-logo-holder
    {
       margin: auto;
       margin-top: 20px;
       width: 50%;
    }
}

@media screen and (max-width: 320px)
{

    /* HEADER-FIXED */
    .header-fixed
    {
        @media screen and (min-width: 991px)
        {
            &.header-container
            {
                position: fixed;
                width: 100%;
                z-index: 999;
                top: 0;
                border-bottom: 1px solid #dedede;
            }
            &.subheader-container
            {
                margin-bottom: 87px;
            }
        }
    }

    .subheader-container .right-container span {
        padding: 0px 5px;
    }

    .subheader-container
    {
        font-size: 11px;
    }

    .image-logo-holder
    {
       width: 55%;
    }
}
