/* HOME PAGE */
.header-nav {
  background-color: #f7f7f7; }
  .header-nav .header-nav-top {
    background-color: #e9e9e9; }
    .header-nav .header-nav-top .holder a {
      color: #505050; }
      .header-nav .header-nav-top .holder a i {
        color: #505050; }
  .header-nav .header-nav-middle .search-bar .input-group {
    border: 1px solid #d6d6d6;
    border-radius: 5px; }
  .header-nav .header-nav-middle .search-bar .search-button {
    color: #fff;
    background-color: #ff4900;
    border: 0; }
  .header-nav .header-nav-middle .shopping-cart-container {
    background-color: #ff4900;
    color: #fff;
    margin-top: 20px;
    padding: 13px;
    font-size: 12.5px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer; }
    .header-nav .header-nav-middle .shopping-cart-container .badge {
      background-color: #fff;
      color: #202020;
      vertical-align: middle;
      margin-right: 10px; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
  background-color: #ff4900 !important;
  color: #fff !important; }

.header-nav .header-nav-top .holder .linya {
  background-color: #c0c0c0 !important; }

.navbar-default {
  background: none;
  background-color: #034769;
  border: none;
  border-radius: 0px;
  color: #fff;
  box-shadow: none !important;
  margin-bottom: 0px !important; }

.left-bar-categories .left-bar-title {
  background-color: #ff4900;
  color: #fff; }

footer {
  color: #9d9eb9;
  background-color: #034769; }
  footer .ftr table tr td .fa {
    background-color: #105f87; }
  footer .site-icon {
    background-color: #105f87; }

#bottom-footer {
  background-color: #02344d; }
  #bottom-footer .bottom {
    background-color: #02344d; }

.add-to-cart-button .cart-icon1 {
  background-color: #ff4900; }
  .add-to-cart-button .cart-icon1 i {
    color: #fff; }
.add-to-cart-button .button-icon {
  background-color: #034769; }

.add-to-cart-button2 .cart-icon2 {
  background-color: #ff4900; }
  .add-to-cart-button2 .cart-icon2 i {
    color: #fff; }
.add-to-cart-button2 .button-icon2 {
  background-color: #034769; }

.newsletter-container .item-container .button-a {
  background-color: #3693c2; }

.header-nav .header-nav-middle .shopping-cart-container .container-cart .btn-checkout {
  background-color: #3693c2 !important; }

.header-nav .header-nav-middle .shopping-cart-container .container-cart .sub-price {
  color: #ff6767; }

.header-nav .header-nav-middle .shopping-cart-container .container-cart .info .price {
  color: #034769; }

/* ABOUT US */
.top-content .top-title .shopshoshop {
  color: #3693c2 !important; }

.bottom-content .title .mission {
  color: #3693c2 !important; }

.bottom-content .title .vision {
  color: #3693c2 !important; }

/* PRODUCT VIEW */
.content .hot-deals-container .cart-icon1 {
  background-color: #ff4900 !important; }
  .content .hot-deals-container .cart-icon1 i {
    color: #fff !important; }

.content .hot-deals-container .button-icon {
  background-color: #034769 !important; }

.content .newsletter-container .button-a {
  background-color: #3693c2 !important; }

.content .item-content .container-quantity-price button {
  background-color: #3693c2 !important; }

.content .featured-container .buttons button {
  background-color: #f1f1f1 !important; }

.content .featured-container .buttons button:hover {
  background-color: #034769 !important; }

.content .featured-container .bottom-container button {
  background-color: #3693c2 !important; }

.content .featured-container .per-item-container .image-content-1 .cart-icon2 {
  background-color: #ff4900 !important; }
  .content .featured-container .per-item-container .image-content-1 .cart-icon2 i {
    color: #fff !important; }

.content .featured-container .per-item-container .image-content-1 .button-icon2 {
  background-color: #034769 !important; }

/* CONTACT */
.content button {
  background-color: #3693c2 !important; }

/* LOGIN */
.login .login-form-content #login-button {
  background-color: #3693c2 !important; }

.login {
  border-top: solid #ff4900 !important; }

/* REGISTER */
.signup .signup-form-content #create-account-button {
  background-color: #3693c2 !important; }

.signup {
  border-top: solid #ff4900 !important; }

/* CHECKOUT */
.wizard .holder.active .circle {
  background-color: #ff4900 !important; }

.wizard .holder.active .name {
  color: #ff4900 !important; }

#placeorder-button {
  background-color: #3693c2 !important; }

/* ORDER PLACED */
.btn-primary {
  background-color: #3693c2 !important; }

.truck #truck1 {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0; }

.truck #truck2 {
  visibility: visible !important;
  position: relative !important;
  width: 12%; }

/*# sourceMappingURL=blueorange.css.map */
