.banner-image {
  position: relative;
  margin-bottom: 30px; }
  .banner-image img {
    max-width: 100%; }
  .banner-image #shop-now-button {
    position: absolute;
    bottom: 115px;
    left: 225px;
    border: 0;
    padding: 10px;
    background-color: #ff2e34;
    color: #fff;
    width: 130px;
    border-radius: 5px; }
  .banner-image #shop-now-button:hover {
    opacity: 0.9; }

.browse-by-category .browse-by-category-container {
  background-color: #c60f0f;
  color: #fff; }
  .browse-by-category .browse-by-category-container .container-title {
    color: #1e1e1e;
    font-size: 16.75px;
    font-weight: 700;
    border-bottom: #f7f7f7 solid 8px;
    position: relative; }
    .browse-by-category .browse-by-category-container .container-title .title {
      padding: 20px;
      color: #fff;
      font-size: 15px; }
    .browse-by-category .browse-by-category-container .container-title .scroll-button {
      position: absolute;
      padding: 20px;
      right: 20px;
      bottom: 0px;
      top: -5px; }
      .browse-by-category .browse-by-category-container .container-title .scroll-button a {
        padding: 2px; }
    .browse-by-category .browse-by-category-container .container-title i {
      border: 0;
      background-color: #9c0909;
      padding: 15px;
      padding-right: 20px;
      padding-left: 20px;
      color: #fff;
      font-size: 25px; }
.browse-by-category .image-slider {
  background-color: #fff;
  margin-bottom: 50px; }
  .browse-by-category .image-slider .category-image img {
    max-width: 100%; }
  .browse-by-category .image-slider .category-content {
    border-right: solid 1px #eaeaea;
    padding: 20px; }
    .browse-by-category .image-slider .category-content .category-title {
      text-align: center;
      font-size: 12px;
      font-weight: 600; }
  .browse-by-category .image-slider .category-content-last {
    border: 0; }

.featured .featured-content-container {
  background-color: #c60f0f;
  color: #fff; }
  .featured .featured-content-container .container-title {
    color: #1e1e1e;
    font-size: 16.75px;
    font-weight: 700;
    border-bottom: #f7f7f7 solid 8px;
    position: relative; }
    .featured .featured-content-container .container-title .title {
      padding: 20px;
      color: #fff;
      font-size: 15px; }
    .featured .featured-content-container .container-title .scroll-button {
      position: absolute;
      padding: 20px;
      right: 20px;
      bottom: 0px;
      top: -5px; }
      .featured .featured-content-container .container-title .scroll-button a {
        padding: 2px; }
    .featured .featured-content-container .container-title i {
      border: 0;
      background-color: #9c0909;
      padding: 15px;
      padding-right: 20px;
      color: #fff;
      font-size: 25px; }
.featured .content-container {
  background-color: #fff;
  margin-bottom: 50px; }
  .featured .content-container .left-container .asus-cellphone {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden; }
    .featured .content-container .left-container .asus-cellphone img {
      max-width: 100%; }
    .featured .content-container .left-container .asus-cellphone .first-image {
      position: absolute;
      right: 0;
      opacity: 1;
      transition: 0.3s all ease; }
    .featured .content-container .left-container .asus-cellphone .second-image {
      position: absolute;
      left: 100%;
      top: 0;
      opacity: 0;
      transition: .3s all ease; }
  .featured .content-container .left-container .item-content {
    padding: 0px 0px 30px 20px; }
    .featured .content-container .left-container .item-content .item-title {
      color: #505050;
      font-size: 17px;
      font-weight: 600;
      text-decoration: none; }
    .featured .content-container .left-container .item-content .item-rating {
      padding-bottom: 10px; }
    .featured .content-container .left-container .item-content .item-price {
      font-size: 18px !important;
      font-weight: 700;
      padding-top: 10px;
      color: #1e1e1e; }
  .featured .content-container .left-container:hover {
    cursor: pointer; }
    .featured .content-container .left-container:hover a {
      text-decoration: none; }
    .featured .content-container .left-container:hover .asus-cellphone img {
      max-width: 100%; }
    .featured .content-container .left-container:hover .asus-cellphone .first-image {
      right: 100%;
      opacity: 0; }
    .featured .content-container .left-container:hover .asus-cellphone .second-image {
      left: 0;
      top: 0;
      opacity: 1; }
    .featured .content-container .left-container:hover .item-content .item-title {
      text-decoration: underline; }
    .featured .content-container .left-container:hover .item-content .item-rating {
      text-decoration: none; }
    .featured .content-container .left-container:hover .item-content .item-price {
      text-decoration: none; }
  .featured .content-container .right-container .product-holder {
    border: solid 1px #eaeaea;
    padding: 0; }
    .featured .content-container .right-container .product-holder .per-item-container {
      padding-top: 20px;
      padding-bottom: 20px; }
      .featured .content-container .right-container .product-holder .per-item-container .product-image .image-holder {
        position: relative;
        padding-bottom: 100%;
        height: 0;
        overflow: hidden; }
        .featured .content-container .right-container .product-holder .per-item-container .product-image .image-holder img {
          min-width: 100%; }
        .featured .content-container .right-container .product-holder .per-item-container .product-image .image-holder .first-image {
          position: absolute;
          right: 0;
          opacity: 1;
          transition: 0.3s all ease; }
        .featured .content-container .right-container .product-holder .per-item-container .product-image .image-holder .second-image {
          position: absolute;
          left: 100%;
          opacity: 0;
          transition: 0.3s all ease; }
      .featured .content-container .right-container .product-holder .per-item-container .product-content {
        padding: 0;
        padding-top: 30px; }
        .featured .content-container .right-container .product-holder .per-item-container .product-content .product-details .item-name {
          color: #616161;
          font-size: 15px;
          font-weight: 600; }
        .featured .content-container .right-container .product-holder .per-item-container .product-content .product-details .item-rating {
          padding-top: 5px; }
        .featured .content-container .right-container .product-holder .per-item-container .product-content .product-details .item-price {
          font-size: 15px !important;
          font-weight: 700;
          padding-top: 10px;
          color: #1e1e1e; }
    .featured .content-container .right-container .product-holder .per-item-container:hover {
      -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      opacity: 0.7; }
      .featured .content-container .right-container .product-holder .per-item-container:hover .image-holder .first-image {
        opacity: 0;
        right: 100%;
        transition: 0.3s all ease; }
      .featured .content-container .right-container .product-holder .per-item-container:hover .image-holder .second-image {
        opacity: 1;
        left: 0;
        transition: 0.3s all ease; }
      .featured .content-container .right-container .product-holder .per-item-container:hover .product-details .item-name a {
        text-decoration: underline; }

.most-viewed {
  margin-bottom: 30px; }
  .most-viewed .featured-content-container {
    background-color: #c60f0f;
    color: #fff; }
    .most-viewed .featured-content-container .container-title {
      color: #1e1e1e;
      font-size: 16.75px;
      font-weight: 700;
      border-bottom: #f7f7f7 solid 8px;
      position: relative; }
      .most-viewed .featured-content-container .container-title .title {
        padding: 20px;
        color: #fff;
        font-size: 15px; }
      .most-viewed .featured-content-container .container-title i {
        border: 0;
        background-color: #9c0909;
        padding: 15px;
        padding-right: 20px;
        padding-left: 20px;
        color: #fff;
        font-size: 25px; }
  .most-viewed .most-viewed-content {
    background-color: #fff;
    padding: 15px; }
    .most-viewed .most-viewed-content .product-holder .product-image {
      padding: 0;
      text-align: center;
      position: relative;
      padding-bottom: 25%;
      overflow: hidden; }
      .most-viewed .most-viewed-content .product-holder .product-image img {
        max-width: 100%; }
      .most-viewed .most-viewed-content .product-holder .product-image .first-image {
        position: absolute;
        right: 0;
        opacity: 1;
        transition: 0.3s all ease; }
      .most-viewed .most-viewed-content .product-holder .product-image .second-image {
        position: absolute;
        left: 100%;
        opacity: 0;
        transition: 0.3s all ease; }
    .most-viewed .most-viewed-content .product-holder .product-content {
      padding-top: 15px; }
      .most-viewed .most-viewed-content .product-holder .product-content .item-name {
        color: #505050;
        font-weight: 600; }
      .most-viewed .most-viewed-content .product-holder .product-content .item-price {
        color: #1e1e1e;
        font-weight: 700;
        font-size: 15px !important;
        padding-top: 5px; }
    .most-viewed .most-viewed-content .product-holder:hover {
      cursor: pointer; }
      .most-viewed .most-viewed-content .product-holder:hover .product-image .first-image {
        position: absolute;
        right: 100%;
        opacity: 0; }
      .most-viewed .most-viewed-content .product-holder:hover .product-image .second-image {
        position: absolute;
        left: 0;
        opacity: 1; }
      .most-viewed .most-viewed-content .product-holder:hover .product-content .item-name {
        text-decoration: underline; }

.news-letter {
  padding-bottom: 50px; }
  .news-letter .featured-content-container {
    background-color: #c60f0f;
    color: #fff; }
    .news-letter .featured-content-container .container-title {
      color: #1e1e1e;
      font-size: 16.75px;
      font-weight: 700;
      border-bottom: #f7f7f7 solid 8px;
      position: relative; }
      .news-letter .featured-content-container .container-title .title {
        padding: 20px;
        color: #fff;
        font-size: 15px; }
      .news-letter .featured-content-container .container-title i {
        border: 0;
        background-color: #9c0909;
        padding: 15px;
        padding-right: 20px;
        padding-left: 20px;
        color: #fff;
        font-size: 25px; }
  .news-letter .news-letter-content {
    background-color: #fff;
    padding: 20px 40px 40px 40px; }
    .news-letter .news-letter-content .title {
      font-size: 14.58px;
      font-weight: 600;
      color: #313131;
      padding-bottom: 15px; }
    .news-letter .news-letter-content .input input {
      width: 100%;
      min-height: 35px;
      border: 1px solid #cccccc;
      margin-bottom: 20px; }
    .news-letter .news-letter-content button {
      border: 0;
      border-radius: 2px;
      padding: 10px;
      width: 45%;
      font-size: 12.5px;
      color: #fff;
      font-weight: 700;
      background-color: #ff2e34; }
    .news-letter .news-letter-content button:hover {
      opacity: 0.9; }

.new-releases .featured-content-container {
  background-color: #c60f0f;
  color: #fff; }
  .new-releases .featured-content-container .container-title {
    color: #1e1e1e;
    font-size: 16.75px;
    font-weight: 700;
    border-bottom: #f7f7f7 solid 8px;
    position: relative; }
    .new-releases .featured-content-container .container-title .title {
      padding: 20px;
      color: #fff;
      font-size: 15px; }
    .new-releases .featured-content-container .container-title .scroll-button {
      position: absolute;
      padding: 20px;
      right: 5px;
      bottom: 0px;
      top: -3px; }
      .new-releases .featured-content-container .container-title .scroll-button a {
        padding: 2px; }
    .new-releases .featured-content-container .container-title i {
      border: 0;
      background-color: #9c0909;
      padding: 15px;
      padding-right: 20px;
      padding-left: 20px;
      color: #fff;
      font-size: 25px; }
    .new-releases .featured-content-container .container-title span select {
      width: 20%;
      font-size: 12px;
      padding: 5px;
      position: absolute;
      right: 100px;
      top: 15px; }
.new-releases .new-releases-content {
  background-color: #fff; }
  .new-releases .new-releases-content .product-holder {
    border: 1px solid #e0e0e0;
    padding: 10px;
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
    padding-top: 30px; }
    .new-releases .new-releases-content .product-holder .per-item-container {
      opacity: 1; }
      .new-releases .new-releases-content .product-holder .per-item-container a {
        text-decoration: none; }
      .new-releases .new-releases-content .product-holder .per-item-container .image-holder {
        text-align: center; }
        .new-releases .new-releases-content .product-holder .per-item-container .image-holder img {
          max-width: 100%; }
      .new-releases .new-releases-content .product-holder .per-item-container .item-details .item-title {
        color: #505050;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none; }
      .new-releases .new-releases-content .product-holder .per-item-container .item-details .rating {
        text-decoration: none; }
      .new-releases .new-releases-content .product-holder .per-item-container .item-details .item-price {
        font-size: 15px;
        font-weight: 700;
        padding-top: 5px;
        text-decoration: none;
        color: #1e1e1e; }
      .new-releases .new-releases-content .product-holder .per-item-container .icons {
        position: absolute;
        top: 7px;
        right: 0px; }
        .new-releases .new-releases-content .product-holder .per-item-container .icons a.tooltips {
          position: relative;
          display: inline; }
        .new-releases .new-releases-content .product-holder .per-item-container .icons a.tooltips span {
          position: absolute;
          width: 140px;
          color: #474747;
          background: #FAFAFA;
          border: 2px solid #8F8F8F;
          height: 30px;
          line-height: 30px;
          text-align: center;
          visibility: hidden;
          border-radius: 0px; }
        .new-releases .new-releases-content .product-holder .per-item-container .icons a.tooltips span:before {
          content: '';
          position: absolute;
          top: 50%;
          right: 100%;
          margin-top: -12px;
          width: 0;
          height: 0;
          border-right: 12px solid #8F8F8F;
          border-top: 12px solid transparent;
          border-bottom: 12px solid transparent; }
        .new-releases .new-releases-content .product-holder .per-item-container .icons a.tooltips span:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 100%;
          margin-top: -8px;
          width: 0;
          height: 0;
          border-right: 8px solid #FAFAFA;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent; }
        .new-releases .new-releases-content .product-holder .per-item-container .icons a:hover.tooltips span {
          visibility: visible;
          opacity: 0.8;
          left: 100%;
          top: 50%;
          margin-top: -15px;
          margin-left: 15px;
          z-index: 999; }
        .new-releases .new-releases-content .product-holder .per-item-container .icons a:hover .fa {
          background-color: #3b3b3b; }
        .new-releases .new-releases-content .product-holder .per-item-container .icons .fa {
          border: 0;
          border-radius: 3px;
          background-color: #1e1e1e;
          color: #fff;
          margin-bottom: 5px; }
        .new-releases .new-releases-content .product-holder .per-item-container .icons .fa-shopping-cart {
          position: absolute;
          margin: auto;
          color: #fff;
          padding: 10px;
          border: 0;
          border-radius: 5px;
          top: 5px;
          right: -35px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s; }
        .new-releases .new-releases-content .product-holder .per-item-container .icons .fa-heart {
          position: absolute;
          margin: auto;
          color: #fff;
          padding: 9.5px;
          border: 0;
          border-radius: 5px;
          top: 45px;
          right: -35px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.4s; }
        .new-releases .new-releases-content .product-holder .per-item-container .icons .fa-search {
          position: absolute;
          margin: auto;
          color: #fff;
          padding: 10px;
          border: 0;
          border-radius: 5px;
          top: 85px;
          right: -35px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.6s; }
        .new-releases .new-releases-content .product-holder .per-item-container .icons .fa-camera {
          position: absolute;
          margin: auto;
          color: #fff;
          padding: 9px;
          border: 0;
          border-radius: 5px;
          top: 125px;
          right: -35px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.8s; }
  .new-releases .new-releases-content .product-holder:hover {
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
    cursor: pointer; }
    .new-releases .new-releases-content .product-holder:hover .per-item-container .item-details {
      opacity: 0.5; }
      .new-releases .new-releases-content .product-holder:hover .per-item-container .item-details .rating {
        text-decoration: none; }
      .new-releases .new-releases-content .product-holder:hover .per-item-container .item-details .item-price {
        text-decoration: none; }
    .new-releases .new-releases-content .product-holder:hover .per-item-container .image-holder {
      opacity: 0.5; }
    .new-releases .new-releases-content .product-holder:hover .per-item-container .icons .fa-shopping-cart {
      position: absolute;
      margin: auto;
      color: #fff;
      top: 5px;
      right: 5px;
      visibility: visible;
      opacity: 1; }
    .new-releases .new-releases-content .product-holder:hover .per-item-container .icons .fa-heart {
      position: absolute;
      margin: auto;
      color: #fff;
      top: 45px;
      right: 5px;
      visibility: visible;
      opacity: 1; }
    .new-releases .new-releases-content .product-holder:hover .per-item-container .icons .fa-search {
      position: absolute;
      margin: auto;
      color: #fff;
      top: 85px;
      right: 5px;
      visibility: visible;
      opacity: 1; }
    .new-releases .new-releases-content .product-holder:hover .per-item-container .icons .fa-camera {
      position: absolute;
      margin: auto;
      color: #fff;
      top: 125px;
      right: 5px;
      visibility: visible;
      opacity: 1; }

.banner-holder {
  margin-top: 30px; }
  .banner-holder img {
    max-width: 100%; }

/*# sourceMappingURL=home.css.map */
