/*.intro
{
	background-image: url("/assets/front/img/product-bg.jpg");
	background-size: cover;
	background-position: center;
	padding: 25px 0 35px;
	text-align: center;
	.container
	{
		@media screen and (max-width: 768px)
		{
			padding: 0 30px;
		}
	}
	.title
	{
		color: #ffffff;
		font-size: 16.67px;
		font-weight: 700;
	}
	.sub
	{
		font-size: 12.5px;
		color: #fff;
		margin-bottom: 30px;
	}
}*/

.head-data
{
	.product-filter
	{
		float:left;
		z-index: 100;
		margin-left: 10%;
		position: absolute;
		.filter-title
		{
			font-size: 25px;
			font-family: "Oswald", sans-serif;
			border-bottom: 3px solid #ddd;
		}
	}

	.product-header
	{
		position: relative;

		img
		{
			max-width: 100%;
		}
		
		.header-container
		{
			width: 100%;
			
			.header-title
			{
				position: absolute;
				top: 40%;
    			left: 60%;
			    font-size: 30.46px;
			    letter-spacing: 20px;
			    // font-family: "";
			    border-bottom: 3px solid #6c6c6c;
			    text-align: center;
			}
			.header-link
			{
				position: absolute;
			    top: 70%;
    			left: 60%;
			    font-size: 12.5px;
			    font-family: "Oswald", sans-serif;
			    width: 30%;
	
			    .greater-than
			    {
			    	margin: 3%;
			    }
			    .selected-category
			    {
			    	color: #e22a51;
			    }
			}
		}
	}
}
.list
	{
		.prod-name
		{
			margin-top: 2%;
			margin-bottom: 2%;
			font-size: 18.75px;
			font-family: "Oswald", sans-serif;
		}
		.prod-price
		{
			font-size: 14.58px;
			font-family: "Oswald", sans-serif;
			font-weight: 600;
			color: #e22a51;
		}
	}



.filter-search
{
	margin-top: 1%;
	padding-bottom: 1%;
	border-bottom: 3px solid #ddd;
}
.content
{
	margin-top: 10px;
 	/*.single-product
 	{
 		.title
 		{
 			font-size: 16.67px;
 			font-weight: 700;
 			 margin: 40px 0;
 			text-align: center;
 			padding-bottom: 1%;
 		}
 		.list
 		{
 			margin-bottom: 40px;
 			position:relative;
 			display: inline-block;
 			.popover
 			{
 				background-color: #1c1c1c;
 				color: white;
 				font-size: 12.5px;
 				font-family: "Oswald", sans-serif;
 			}
 		}
 	}*/
}

.show-cart-view
{
	position: absolute;
	background-color:rgba(255,255,255,0.8);
	bottom: 0px;
	width: 100%;
	text-align: center;
	img
	{
		display: inline-block;
		margin: 20px 7.5px;
		width: 60px;
		height: 60px;
	}
}

.list-product
{
	position: relative;
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
	.img
	{
		border: 1px solid #dddddd;
		position: relative;

		> img
		{
			width: 100%;
		}
	}

	.name
	{
		font-size: 18.75px;
		margin-top: 15px;
		font-weight: 500;
		// max-height: 26px;
	}

	.price
	{
		font-size: 14.58px;
		color: #e22a51;
		font-weight: 700;
		margin-bottom: 7.5px;
	}
}

.no-product-container
{
	color: #232323!important;
	text-align: center;
	font-size: 20px;
}

.triangle-topright {
	/*width: 0;
	height: 0;
	border-top: 100px solid #232323;
	border-left: 100px solid transparent;
	position: absolute;
    right: 0;*/
    /*background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #999 50%, #999 100%);*/
    background: linear-gradient(to top right, transparent, 50%, #232323 50%, #232323 100%);
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    padding: 12px 0px 20px 48px;
    z-index: 100;

    .label-name
    {
    	font-size: 30px;
    	text-align: center;
    	color: #fff;
    	line-height: 25px;
    }
    .label-desc
    {
    	font-size: 14px;
    	text-align: center;
    	color: #fff;
    }
}

.show-loader
{
	position: static;
    z-index: 100;
    text-align: center;
    
    img
    {
   		width: 50px;
    }
}