$content-text: "Arimo", sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$text-light: #777;
$text-dark: #272c2f;

body 
{
    background-color: #ededed;
}

.register 
{
    font-family: $content-text;
    letter-spacing: 0.2px;
    text-align: left;
    margin: 25px 0;
    background-color: #fff;

    table
    {
    	width: 100%;
    	table-layout: fixed;
    }

    .c1
    {
    	width: 490px;
    	@media screen and (max-width: 991px)
    	{
    		width: 100%;
    		display: none;
    	}
    }

    .c2
    {
    	@media screen and (max-width: 991px)
    	{
    		width: 100%;
    		display: block;
    	}
    }

    .register-side 
    {
        img 
        {
            width: 100%;
        }
    }

    .register-form 
    {
        padding: 50px;
        padding-top: 25px;
        padding-left: 75px;
        @media screen and (max-width: 500px)
        {
        	padding: 15px;
        }
    }

    margin-bottom: 25px;

    &:last-child
    .register-label 
    {
        padding-top: 25px;
        color: #344049;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-align: left;
    }

    .choice 
    {
        text-align: center;

        .holder 
        {
            display: inline-block;
            vertical-align: middle;
        }

        .btn-brown 
        {
            @media screen and (min-width: 175px) 
            {
                margin-top: 30px;
                margin-right: 350px;
                width: 175px;
            }

            &:hover 
            {
                background-color: #613922;
            }
        }

        .h2-Forgot 
        {
            font-weight: $bold;
            color: $text-dark;
            font-size: 20px;
            text-align: left;
        }

        .h2-Lost 
        {
            font-weight: $bold !important;
            font-size: 15px;
            font-weight: 600;
            padding-top: 30px;
            text-align: left;
        }

        .p-Follow 
        {
            padding-top: 17px !important;
            color: $text-light;
            text-align: left;
        }

        .p-Enter 
        {
            padding-top: 10px;
            font-size: 15px;
            text-align: left;
        }

        .p-Wait 
        {
            font-size: 15px;
            text-align: left;
        }

        .p-Follow-instruction 
        {
            font-size: 15px;
            text-align: left;
        }
    }
}

.form-input 
{
    margin-top: 5px;

    .form-control 
    {
        border: 0;
        border-bottom: 1px solid #e0e0e0;
        box-shadow: none;
        color: $text-light;
        font-weight: $regular;
        font-size: 15px;
        letter-spacing: 0.5px;
    }
}