@import "../../../assets/front/sass/mixin";

$content-text: 'Rubik', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$text-light: #585858;
$text-dark: #404040;

body
{
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-weight: 400;
	color: $text-dark;

}


.btn-def-white
{
	border: 2px solid #ddd;
	background-color: #fff;
	color: $text-dark;
	&:hover
	{
		border: 2px solid $text-dark;
	}
}

.btn-custom-primary
{
	@include transition(0.2s);
	background-color: #402A21 !important;
	color: #fff;
	opacity: 0.9;

	&:hover
	{
		color: #fff;
		opacity: 1.0;
	}
}

.embed-responsive
{
	position: relative;
	.overlay
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparent;
		z-index: 2;
	}
	.embed-responsive-item
	{
		z-index: 1;
	}
}

button
{
	outline: none;
}

.btn-brown
{
	color: #fff;
	font-size: 13px;
	background-color: #402A21;
	padding: 7.5px 25px;
	border-radius: 25px;
	font-weight: $medium;

	&:hover
	{
		color: #fff;
	}
}

.btn-brown-r2
{
	@extend .btn-brown;
	border-radius: 2px;

	.fa
	{
		color: #fff;
	}

	&:focus
	{
		color: #fff;
	}
}

.btn-custom-danger
{
	color: #ffffff;
	font-size: 13px;
	background-color: #C43430;
	padding: 7.5px 25px;
	border-radius: 25px;
	font-weight: $medium;
	
	&:hover
	{
		color: #fff;
	}
}

.row-no-padding
{
	margin-left: 0 !important;
	margin-right: 0 !important;
	> div
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.modal-content
{
	border: 0;
	box-shadow: none;
	border-radius: 0;
}

.cart
{
	.left-btn-container
	{

		width: 100%;

		div
		{
			float: left;
			padding-top: 10px;
		}

		.btn-checkout
		{
			@extend div;
			margin-left: 15px;

			padding: 12px 30px;
			color: #fff;
			background-color: #4dac2b;
			border-radius: 2px;
			border: none;
		}

	}

	.total
	{
		padding-top: 10px;
	}
}

.side-nav-dim
{
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}

/* Buy a kit */
.popup-buy-a-kit
{
	font-family: $content-text;
	
	.modal-size 
	{
		width: 65%;
	}

	.modal-content
	{
		overflow: hidden;

		.modal-header
		{
			background-color: #693d28;
			border-bottom: none;

			.close
			{
				color: #FFF;
			}

			.modal-title
			{
				font-weight: $regular;
				color: #FFF;
			}
		}

		.table
		{
			thead
			{
				tr
				{
					th
					{
						background-color: #ece8e8;
						color: $text-dark;
						font-weight: $regular;
						font-size: 15px;
						border-bottom: 0;
						text-align: center;

						&:first-child
						{
							padding-left: 50px;
						}

						&:last-child
						{
							padding-right: 10px;
						}
					}
				}
			}

			tbody
			{
				tr
				{
					td
					{
						border-top: 0;
						text-align: center;
						vertical-align: middle;
						color: #272c2f;
						font-size: 15px;
						font-weight: 400;
						padding: 25px 17.5px;
						border-bottom: 1px solid #ece8e8;
						
						&:first-child
						{
							padding-left: 50px;
						}

						&:last-child
						{
							padding-right: 10px;
						}

					}

					.img-holder
					{
						img
						{
							width: 100px;
							height: 100px;
							object-fit: contain;
							object-position: center;
						}
					}
					
					.name-holder
					{

					}

					.price-holder
					{
						width: 20%;
					}

					.total-holder
					{
						width: 20%;
					}
					
					.quantity-holder
					{
						.another
						{
							display: table;
							.equal
							{
								display: table-cell;
								vertical-align: middle;
							}
							.control
							{
								border: 1px solid #cecece;
								background-color: #fff;
								color: #71808c;
								font-weight: 700;
								font-size: 20px;
								padding: 2px 12.5px;
								margin: 0 -2.5px;
							}
							.form-control
							{
								border: 1px solid #cecece;
								box-shadow: none;
								border-radius: 0;
							}
						}
					}
					&:last-child
					{
						td
						{
							border-bottom: 0;
						}
					}
				}
			}
		}

		.modal-footer
		{

			.left-btn-container
			{

				width: 100%;

				div
				{
					float: left;
					padding-top: 10px;
				}

				.btn-checkout
				{
					@extend div;
					margin-left: 15px;

					padding: 12px 30px;
					color: #fff;
					background-color: #4dac2b;
					border-radius: 2px;
					border: none;
				}

			}

			.total
			{
				padding-top: 10px;
			}
		}
	}
}


/* Header */
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus
{
	background-color: #5e3724;
}
.nav>li>a:hover, .nav>li>a:focus
{
	background-color: #5E3724;
}
.dropdown-menu
{

	width: 285px;
	padding-bottom: 0;
	&.slot-picker
	{
		padding: 0;
		.slot-title
		{
			color: #344049;
			font-size: 13px;
			font-weight: 600;
			padding: 7.5px 15px;
		}
		a
		{
			padding: 7.5px 15px;
			color: #344049;
			font-weight: 600;
			font-size: 13px;
			background: none;
			&:hover
			{
				background: none;
				background-color: #e9e9e9;
			}
		}
	}
	&.profile-menu
	{

		width: 315px;
		padding: 25px;
		.profile-pic
		{

			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
			border-radius: 100%;
			width: 60px;
			height: 60px;
			overflow: hidden;


			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.profile-text
		{
			font-family: $content-text;
			display: inline-block;
			vertical-align: top;
			width: 180px;
			.name
			{
				color: $text-dark;
				font-size: 13px;
				font-weight: $medium;
			}
			.email
			{
				color: $text-light;
				font-size: 13px;
				font-weight: $regular;
				letter-spacing: 0.5px;
				word-wrap: break-word;
			}
			.button-holder
			{
				margin-top: 15px;
				text-align: left;
				.btn
				{
					color: #ffffff;
					font-size: 13px;
					font-weight: $regular;
					border-radius: 3px;
					text-align: center;
					padding: 5px 15px;
				}
				.btn-brown
				{
					background-color: #693d28;
				}
				.btn-green
				{
					background-color: #63b944;
				}
			}
		}
		.profile-footer
		{
			text-align: right;
			padding: 10px 25px;
			margin-bottom: -25px;
			margin-right: -25px;
			margin-left: -25px;
			background-color: #f1f1f1;
			margin-top: 25px;
			.btn-grey
			{
				padding: 3px 10px;
				background-color: #e0e7ea;
				border: 1px solid #b8cdd3;
				color: $text-dark;
				font-weight: $regular;
				font-size: 13px;
				border-radius: 2.5px
			}
		}
	}
	&.notif
	{
		font-family: $content-text;

		.notif-header
		{
			color: $text-dark;
			font-size: 13px;
			font-weight: $bold;
			padding: 7.5px 15px;
			letter-spacing: 0.5px;
			background-color: #fff;
		}
		.notif-container
		{
			padding: 10px;
			.notif-holder
			{
				&:nth-child(even) {background: #f2f2f2}
				&:nth-child(odd) {background: #ffffff}
				.first
				{
					.notif-id
					{
						float: left;
						img
						{
							display: inline-block;
							vertical-align: middle;
							margin-right: 10px;
						}
						.number
						{
							display: inline-block;
							vertical-align: middle;
							color: $text-dark;
							font-size: 13px;
							font-weight: $bold;
						}
					}
					.notif-date
					{
						color: $text-light;
						font-weight: $bold;
						font-size: 11px;
						float: right;
						letter-spacing: 0.5px;
					}
				}
				.second
				{
					margin-top: 10px;
					.text
					{
						color: $text-light;
						font-size: 13px;
						letter-spacing: 0.5px;
					}
				}
				&.see-all
				{
					background-color: #fff;
					text-align: center;
					a
					{
						color: #344049 !important;
						font-size: 11px !important;
						font-weight: 600 !important;
						background-color: #fff !important;
					}
				}
			}
		}
	}
}
.notif-holder
{
	padding: 13.5px 15px !important;

	.brown-icon-bell-o
	{
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
	}

	.badge
	{
		display: inline-block;
		vertical-align: middle;
		background-color: #ed5639;
		padding: 5px 10px;
		border-radius: 25px;
	}
}

.cart-holder
{
	padding: 13.5px 15px !important;

	.brown-icon-bell-o
	{
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
	}

	.brown-icon-shopping-cart
	{
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
	}

	span
	{
		display: inline-block;
		vertical-align: top;
	}

	&.active, &:focus, &:hover
	{
		background-color: #5e3724;
	}

	.badge
	{
		display: inline-block;
		vertical-align: middle;
		background-color: #ed5639;
		padding: 5px 10px;
		border-radius: 25px;
	}
}
header
{
	background-color: #402a21;
	color: #e5d8b5;
	transition: margin-left .5s;
	.header-top
	{
		background-color: #301f19;
		text-align: right;
		font-weight: 300;
		.holder
		{
			display: inline-block;
			vertical-align: top;
			font-size: 12px;
			padding: 7.5px 15px;
			color: #e5d8b5;
			cursor: pointer;
			&.active, &:hover, &:focus
			{
				color: rgba(255,255,255,1);
				text-decoration: none;
			}
		}
		@media screen and (max-width: 991px)
		{
			display: none;
		}
	}
	.header-middle
	{
		border-bottom: 1px solid #534038;
		.logo
		{
			cursor: pointer;
			float: left;
			padding: 15px 0;
		}
		.search
		{
			margin: 15px 0;
			position: relative;
			float: right;
			.form-control
			{
				border-radius: 15px;
				background-color: #4a352c;
				border: 0;
				outline: none;
				color: #fff;
				box-shadow: none;
			}
			.search-icon
			{
				position: absolute;
				top: 0;
				right: 0;
				padding: 7.5px;
				cursor: pointer;
				color: #fff;
			}
		}
	}
	.header-bottom
	{
		@media (max-width: 990px) 
		{
		    .navbar-header 
		    {
		        float: none;
		    }
		    .navbar-left,.navbar-right 
		    {
		        float: none !important;
		    }
		    .navbar-toggle 
		    {
		        display: block;
		    }
		    .navbar-collapse 
		    {
		        border-top: 1px solid transparent;
		        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		    }
		    .navbar-fixed-top 
		    {
		        top: 0;
		        border-width: 0 0 1px;
		    }
		    .navbar-collapse.collapse 
		    {
		        display: none!important;
		    }
		    .navbar-nav 
		    {
		        float: none!important;
		        margin-top: 7.5px;
		    }
		    .navbar-nav>li 
		    {
		        float: none;
		    }
		    .navbar-nav>li>a 
		    {
		        padding-top: 10px;
		        padding-bottom: 10px;
		    }
		    .collapse.in
		    {
		        display:block !important;
		    }
		}
		.navbar-inner 
		{
		    background: transparent;
		}
		.navbar
		{
			margin-bottom: 0;
			.container
			{
				.navbar-header
				{
					.navbar-toggle
					{
						cursor: pointer;
						.icon-bar
						{
							background-color: #fff;
						}
					}
					.open-side-bar
					{

					}
				}
				.nav.navbar-nav
				{
					li
					{
						&.active, &:focus, &:hover
						{
							a
							{
								background-color: #402a21;
								color: #fff !important;
							}
						}
						a
						{
							text-shadow: none;	
							font-size: 13px;
							font-weight: 300;
							color: #e5d8b5;
						}
					}
				}
				.navbar-right
				{
					li
					{

					}
				}
			}
		}
	}
}
.sticky-nav
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #301f19;
	height: 50px;
	width: 100%;
	z-index: 1000;
	transition: 0.3s all ease;
	&.hide-sticky
	{
		top: -100%;
	}
	.relative
	{
		position: relative;
		background-color: #301f19;
	}
	.left
	{
		float: left;
		padding: 15px 0;
		@media screen and (max-width: 991px)
		{
			display: none;
		}
		img
		{
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}
		.text
		{
			display: inline-block;
			vertical-align: middle;
			color: #ffffff;
			font-size: 13px;
			@media screen and (max-width: 515px)
			{
				display: none;
			}
		}
		.list-category
		{
			margin-top: -2px;
			background-color: #402a21;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			width: 100%;
			a
			{
				color: #e5d8b5;
				font-size: 13px;
				font-weight: 300;
				padding: 10px 15px;
				display: inline-block;
				text-decoration: none;
			}
			a:hover
			{
				color: #fff;
				cursor: pointer;
			}
		}
	}
	.right
	{
		float: right;
		.dropdown
		{
			display: inline-block;
			vertical-align: top;
		}
		> a
		{
			display: inline-block;
			vertical-align: top;
		}
		.holder
		{
			display: inline-block;
			vertical-align: top;
			font-size: 12px;
			padding: 15px 15px;
			color: rgba(255,255,255,0.5);
			cursor: pointer;
			@media screen and (max-width: 515px)
			{
				padding: 15px 2.5px;
			}
			&.active, &:hover, &:focus
			{
				color: rgba(255,255,255,1);
				text-decoration: none;
			}
		}
		.badge
		{
			display: inline-block;
			vertical-align: middle;
			background-color: #ed5639;
			padding: 5px 10px;
			border-radius: 25px;	
		}
		.cart-holder
		{
			padding: 12.5px 15px !important;
			text-decoration: none;
			@media screen and (max-width: 515px)
			{
				padding: 12.5px 5px !important;
			}
			.brown-icon-shopping-cart
			{
				margin-right: 5px;
				display: inline-block;
				vertical-align: middle;
				font-size: 20px;
				color: #e5d8b5;
				height: 25px;
			}
		}
		.notif-holders
		{
			padding: 14px 15px;
			display: block;
			text-decoration: none;
			@media screen and (max-width: 515px)
			{
				padding: 14px 5px;
			}
			.brown-icon-bell-o
			{
				margin-right: 5px;
				display: inline-block;
				vertical-align: middle;
				font-size: 20px;
				color: #e5d8b5;
				height: 21px;
			}
		}
		.open-side-bar
		{
			display: none;
			.icon-bar
			{
				background-color: #fff;
			}
		}
		@media screen and (max-width: 991px)
		{
			.notif-holders
			{
				display: none;
			}
			.cart-holder
			{
				display: none;
			}
			.holder
			{
				display: none;
			}
			.open-side-bar
			{
				display: block;
			}
		}
	}
}
/* Header End */

/* Footer */
footer
{
	background-color: #301f19;
	padding: 35px 0;
	.holder
	{
		color: #fff;
		@media screen and (max-width: 991px)
		{
			margin-bottom: 25px;
		}
		.title
		{
			font-size: 13px;
			margin-bottom: 20px;
			letter-spacing: 0.5px;
		}
		.desc
		{
			font-size: 11px;
			margin-bottom: 20px;
		}
		.form-control
		{
			border-radius: 15px;
			background-color: rgba(255,255,255,0.1);
			border: 0;
			color: #fff;
		}
		.app
		{
			margin-top: 25px;
		}
		ul
		{
			margin: 0;
			padding: 0;
			li
			{
				display: block;
				a
				{
					font-size: 11px;
					color: #e5d8b5;
					font-weight: 300;
					&:active, &:focus, &:hover
					{
						text-decoration: none;
						color: #fff;
					}
				}
			}
		}
		.social-logo
		{
			.holder
			{
				@include transition(0.2s);
				background-color: #5d4239;
				color: #fff;
				padding: 10px;
				font-size: 20px;
				width: 25px;
				height: 25px;
				box-sizing: content-box;
				border-radius: 100%;
				display: inline-block;
				text-align: center;
				margin: 0 2.5px;
				cursor: pointer;

				&:first-child
				{
					margin-left: 0;
					&:hover
					{
						background-color: #3B5998;
						
						i
						{
							@include transition(0.2s);
							font-size: 24px;
						}
					}

				}
				
				&:nth-child(2)
				{
					&:hover
					{
						background-color: #1DA1F3;

						i
						{
							@include transition(0.2s);
							font-size: 24px;
						}
					}
				}

				&:last-child
				{
					margin-right: 0;

					&:hover
					{
						background-color: #CD486B;

						i
						{
							@include transition(0.2s);
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}
.footer-bottom
{
	padding: 30px 0 15px;
	.title
	{
		color: #1c1c1c;
		font-size: 13px;
		margin-bottom: 15px;
		font-weight: $regular !important;
	}
	.payment-container
	{
		@media screen and (max-width: 500px)
		{
			margin-bottom: 25px;
		}
		.holder
		{
			display: inline-block;
			vertical-align: top;
			margin: 0 7.5px;
			&:first-child
			{
				margin-left: 0;
			}
			&:last-child
			{
				margin-right: 0;
			}
		}
	}
	.payment-method
	{
		@media screen and (min-width: 500px)
		{
			float: left;
		}
	}
	.delivery-services
	{
		@media screen and (min-width: 500px)
		{
			float: right;
		}
	}
}
.copyright
{
	color: #1c1c1c;
	font-size: 11px;
	padding: 25px 0;
	border-top: 3px solid #dfdfdf;
	.copy
	{
		@media screen and (min-width: 500px)
		{
			float: left;
		}
	}
	.power
	{
		@media screen and (min-width: 500px)
		{
			float: right;
		}
	}
}
.form-input
{
	margin-top: 5px;
	.form-control
	{
		border: 0;
		border-bottom: 1px solid #e0e0e0;
		box-shadow: none;
		color: #344049;
		font-weight: 600;
		font-size: 13px;
		padding-left: 0;
		padding-right: 0;
	}
}
.ps 
{
	padding: 3px;
	background-color: #0579cd;
	color: #fff;
	border-radius: 50px;
}
.ez 
{
	padding: 3px;
	background-color: #fe6d00;
	color: #fff;
	border-radius: 50px;
	margin-right: 3px;
}

/* FONTAWESOME ICON */
.fa-caret-right {
	color: #693d28;
	font-size: 13px;
}
/* Footer End */