body{
	font-family: 'Open Sans', sans-serif;
	background-color: transparent;
	color: #fff;
}
.ads-button1 {
	padding: 10px 0px 10px 0px;
	width: 50%;
	text-align: center;
	border: 1px solid #693d28;
	border-radius: 25px;
	font-size: 13px;
	font-weight: 600;
	color: #693d28;
	&:hover {
		cursor: pointer;
	}

}
.ads-button2 {
	padding: 7px 0px 7px 0px;
	width: 100%;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 25px;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	i{
		color: #fff;
	}
	&:hover {
		cursor: pointer;
	}

}
.button-brown {
	border: 1px solid #693d28;
	color: #693d28;
	i {
		color: #693d28 !important;
	}	
}

.wrapper-1 {

	.top-container {
		padding: 15px 0px 15px 0px;

		.slider-container {
			position: relative;

			.caption-container {
				position: absolute;
				left: 10%;
				bottom: 35%;

				h1{
					font-size: 45px;
					font-weight: 700;
					color: #1c1c1c;
				}
				h2{
					margin-top: -15px;
					font-size: 35px;
					font-weight: 400;
					color: #1c1c1c;
				}
				h3{
					font-size: 25px;
					font-weight: 400;
					color: #693d28;
				}
				h4{
					font-size: 15px;
					font-weight: 400;
					color: #7d7d7d;	
				}
			}
		}
		.right-ads {

			.ad-container {
				position: relative;
				margin-top: 10px;
				border: 1px solid #e0e0e0;

				.button-container {
					width: 35%;
					position: absolute;
					left: 5%;
					top: 40%;

				}
				.button-container2 {
					width: 35%;
					position: absolute;
					right: 8%;
					top: 50%;

				}

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
	.mid-container {
		.browseby-title-holder
		{
		    display: block;
    		padding: 20px 0px 15px 0px;
			.title
			{
			    font-size: 15px;
			    color: #1c1c1c;
			    margin: 0px;
			}
		}
		.browseby-tiles-holder
		{
		    display: block;
    		background-color: #eaeaea;
			.browseby-paddingformat
			{
			    padding: 10px 60px 10px 60px;
    			display: block;
				.browseby-active
				{
					display: inline-block;
    				width: 113px;
    				text-decoration: none;
    				padding: 15px 0px 0px 0px;
					.browseby-image-holder
					{
					    display: block;
    					text-align: center;
					}
					.browseby-icon-title-holder
					{
						display: block;
						padding: 5px 0px 5px 0px;
						.browseby-icon-title
						{
						    font-size: 13px;
						    color: #1c1c1c;
						    margin: 0px;
						    text-align: center;
						}
					}
				}
				.browseby-active:hover
				{
					text-decoration: none;
				}
				.browseby
				{
					display: inline-block;
    				width: 113px;
    				margin-left: 32px;
    				text-decoration: none;
    				padding: 15px 0px 0px 0px;
					.browseby-image-holder
					{
					    display: block;
    					text-align: center;
					}
					.browseby-icon-title-holder
					{
						display: block;
						padding: 5px 0px 5px 0px;
						.browseby-icon-title
						{
						    font-size: 13px;
						    color: #808080;
						    margin: 0px;
						    text-align: center;
						}
					}
				}
				.browseby:hover
				{
					text-decoration: none;
				}
			}
		}
	}
	.bottom-container {
		.multi-item-carousel
		{
  			.carousel-inner
  			{
    			> .item
    			{
      				transition: 500ms ease-in-out left;
    			}
    			.active
    			{
    				text-decoration: none;
      				&.left
      				{
        				left:-25%;
      				}
      				&.right
      				{
        				left:25%;
      				}
    			}
    			.next
    			{
      				left: 25%;
    			}
    			.prev
    			{
    				left: -25%;
    			}
    			@media all and (transform-3d), (-webkit-transform-3d) 
    			{
     				> .item
     				{
        				// use your favourite prefixer here
        				transition: 500ms ease-in-out left;
        				transition: 500ms ease-in-out all;
        				backface-visibility: visible;
        				transform: none!important;
      				}
    			}

    			.item
    			{
    				.featuredphone-details-holder
    				{
    				    display: block;
					    text-align: center;
					    padding: 15px 0px 5px 0px;
    					.featuredphone-name
    					{
    					    font-size: 15px;
						    color: #1c1c1c;
						    font-weight: bold;
						    margin-bottom: 2px;
    					}
    					.featuredphone-spec
    					{
    						font-size: 13px;
						    color: #656565;
						    margin-bottom: 2px;
    					}
    					.featuredphone-price
    					{
    						font-size: 15px;
						    color: #ff4200;
						    font-weight: 600;
						    margin: 0px;
    					}
    				}
    			}
  			}
  			.carouse-control
  			{
    			&.left, &.right
    			{
      				background-image: none;
    			}
  			}
  			.carousel-control.left 
  			{
  				background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
  				.glyphicon-chevron-left
  				{
  					font-size: 18px;
				    color: #333;
				    margin-top: -50px;
				    margin-left: -90px;
  				}
  			}
  			.carousel-control.right
  			{
  				background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
  				.glyphicon-chevron-right
  				{
  				    font-size: 18px;
				    color: #333;
				    margin-top: -50px;
				    margin-right: -90px;
  				}
  			}
		}
	}
}

.wrapper-2 {

}

.wrapper-3 {

}

.wrapper-4 {

}
