.member-wishlist
{
	margin: -15px;
	.wishlist-title
	{
		color: #272c2f;
		font-size: 20px;
		font-weight: 600;
		padding: 25px 50px;
	}
	.table-holder
	{
		table
		{
			thead
			{
				tr
				{
					th
					{
						background-color: #ece8e8;
						color: #272c2f;
						font-weight: 600;
						font-size: 15px;
						border-bottom: 0;
						text-align: center;
						&:first-child
						{
							padding-left: 50px;
						}
						&:last-child
						{
							padding-right: 50px;
						}
					}
				}
			}
			tbody
			{
				tr
				{
					td
					{
						border-top: 0;
						text-align: center;
						vertical-align: middle;
						color: #272c2f;
						font-size: 15px;
						font-weight: 400;
						padding: 25px 17.5px;
						border-bottom: 1px solid #ece8e8;
						&:first-child
						{
							padding-left: 50px;
						}
						&:last-child
						{
							padding-right: 50px;
						}
					}
					.remove-holder
					{

					}
					.img-holder
					{
						img
						{
							width: 100px;
							height: 100px;
							object-fit: contain;
							object-position: center;
						}
					}
					.name-holder
					{

					}
					.price-holder
					{

					}
					.quantity-holder
					{
						.another
						{
							display: table;
							.equal
							{
								display: table-cell;
								vertical-align: middle;
							}
							.control
							{
								border: 1px solid #cecece;
								background-color: #fff;
								color: #71808c;
								font-weight: 700;
								font-size: 20px;
								padding: 2px 12.5px;
								margin: 0 -2.5px;
							}
							.form-control
							{
								border: 1px solid #cecece;
								box-shadow: none;
								border-radius: 0;
							}
						}
					}
					.total-holder
					{

					}
					.add-holder
					{
						.btn-orange
						{
							background-color: #ff5400;
							border-radius: 2.5px;
							color: #fff;
							font-size: 13px;
							font-weight: 600;
						}
					}
					&:last-child
					{
						td
						{
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
}