$content-text: 'Arimo', sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$text-light: #777;
$text-dark: #272c2f;

body
{
	font-family: $content-text;
	letter-spacing: 0.2px;
	background-color: #ededed;
}

.register
{
	margin: 25px 0;
	background-color: #fff;
	table
	{
		table-layout: fixed;
		width: 100%;
		td
		{
			vertical-align: top;
		}
		.c1
		{
			width: 50%;
		}
		.c2
		{
			width: 50%;
		}
	}
	.register-side
	{
		img
		{
			width: 100%;
		}
	}
	.register-header
	{
		padding: 10px 40px;
		border-bottom: 1px solid #e3e5e8;
		.title
		{
			color: #344049;
			font-size: 20px;
			font-weight: 700;
			padding: 15px 0;
		}
		.or
		{
			display: inline-block;
			vertical-align: middle;
			margin-right: 30px;
		}
		.social-button
		{
			display: inline-block;
			vertical-align: middle;
			.holder
			{
				display: inline-block;
				vertical-align: middle;
				margin-right: 25px;
				&.fb
				{
					background-color: #3c66c4;
				}
				&.gp
				{
					background-color: #cf4332;
				}
				&:last-child
				{
					margin-right: 0;
				}
				.img
				{
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
					img
					{
						
					}
				}
				.name
				{
					display: inline-block;
					vertical-align: middle;
					color: #fff;
					font-size: 12.24px;
					font-weight: 600;
					text-align: left;
					padding: 5px 10px;
					letter-spacing: 0.5px;
					margin-top: 3px;
					.fa
					{
						font-size: 22.25px;
						vertical-align: middle;
						margin-right: 7.5px;
					}
				}
			}		
		}
		.left
		{
			@media screen and (min-width: 991px)
			{
				float: left;
			}
		}
		.right
		{
			@media screen and (min-width: 991px)
			{
				float: right;
			}
		}
	}
	.register-form
	{
		padding: 50px;
		padding-top: 25px;
		padding-left: 75px;
		.form-group
		{
			margin-bottom: 25px;
			&:last-child
			{
				margin-bottom: 0;
			}
			.register-label
			{
				color: #344049;
				font-size: 13px;
				font-weight: 600;
			}
			.radio-inline
			{
				color: #344049;
				font-size: 13px;
				font-weight: 600;
				margin-right: 25px;
				input
				{
					margin-top: 3px;
				}
			}
			.form-input
			{
				margin-top: 5px;
				.form-control
				{
					border: 0;
					border-bottom: 1px solid #e0e0e0;
					box-shadow: none;
					color: $text-light;
					font-weight: $regular;
					font-size: 13px;
					padding-left: 0;
					padding-right: 0;
				}
			}
			.date-holder
			{
				display: inline-block;
				vertical-align: top;
				margin-right: 25px;
				&:last-child
				{
					margin-right: 0;
				}
			}
			.checkbox
			{
				text-align: left;
				label
				{
					font-size: 13px;
					color: $text-light;
					font-weight: $regular;
				}
				input
				{
					vertical-align: middle;
					margin-top: 2px;
				}
				span
				{
					color: #693d28;
				}
			}
			.choice
			{
				text-align: left;
				.holder
				{
					display: inline-block;
					vertical-align: middle;
					a {
						color: $text-dark !important;
						font-weight: $regular;
						color: #422311 !important;
						font-size: 15px !important;
					}
				}
				.or
				{
					color: $text-light;
					font-size: 11px;
					font-weight: $regular;
					margin: 0 15px;
				}
				.login-href
				{
					color: #693d28;
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
	}	
}

.modal-agreement
{
	.modal-header
	{
		background-color: #693d28;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
	}
	.modal-body
	{
		.contract
		{
			color: #344049;
			font-size: 13px;
			font-weight: 600;
			white-space: pre-wrap;
			height: 420px;
			overflow-y: auto;
		}
	}
	.modal-footer
	{
		.btn
		{
			color: #ffffff;
			font-weight:$bold;
			font-size: 13px;
			border-radius: 1.5px;
			padding: 10px 25px;
			margin-left: 12.5px;
			&:last-child
			{
				margin-left: 0;
			}
		}
		.btn-semi
		{
			background-color: #693d28;
		}
		.btn-pure
		{
			background-color: #462211;
		}
	}
}