.member
{
	background-image: url("/themes/brown/img/bg.jpg");
	background-size: cover;
	.members
	{
		background-color: #fff;
		border-radius: 2.5px;
		margin: 25px 0;
		position: relative;
		min-height: 620px;
		overflow: hidden;
		.header
		{
			border-bottom: 1px solid #e9e9e9;
			text-align: right;
			margin-left: 80px;
			.notification
			{
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;
				.badge
				{
					padding: 5px 10px;
					background-color: #ed5639;
				}
			}
			.profile-dropdown
			{
				padding: 7.5px 20px;
				display: inline-block;
				vertical-align: middle;
				.img
				{
					width: 36px;
					height: 36px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 7.5px;
					img
					{
						width: 36px;
						height: 36px;
						object-fit: cover;
						border-radius: 100%;
					}
				}
				.name
				{
					display: inline-block;
					vertical-align: middle;
					color: #7e8285;
					font-size: 13px;
					.slot
					{
						font-size: 13px;
						color: #344049;
						font-weight: 600;
					}
					.fa
					{
						color: #344049;
					}
				}
			}
		}
		.sidebar
		{
			background-color: #f6f6f4;
			width: 300px;
			position: absolute;
			left: 0;
			top: 0;
			border-right: 5px solid #f6f6f4;
			height: 100%;
			z-index: 10;
			transition: 0.3s all ease;
			overflow: hidden;
			.shadow
			{
				position: absolute;
				left: 288px;
				height: 100%;
				width: 12px;
				z-index: 11;
			}
			.profile
			{
				text-align: center;
				padding: 25px 0;
				height: 100px;
				width: 295px;
				text-align: left;
				margin-left: 12.5px;
				.img
				{
					width: 50px;
					height: 50px;
					display: inline-block;
					vertical-align: middle;
					img
					{
						object-fit: cover;
						border-radius: 100%;
						width: 50px;
						height: 50px;
					}
				}
				.text
				{
					display: inline-block;
					vertical-align: middle;
					text-align: left;
					margin-left: 15px;
					.name
					{
						color: #344049;
						font-size: 14px;
						font-weight: 700;
					}
					.sub
					{
						font-size: 13px;
						color: #7e8285;
					}
				}
			}
			.side-nav
			{
				transition: 0.3s all ease;
				ul
				{
					margin: 0;
					padding: 0;
					li
					{
						display: block;
						overflow: hidden;
						a
						{
							display: block;
							padding: 15px 15px;
							color: #808080;
							font-size: 13px;
							font-weight: 600;
							letter-spacing: 0.5px;
							border-bottom: 1px solid #e3e3e3;
							padding-left: 25px;
							width: 295px;
							transition: 0.3s all ease;
							.icon 
							{
								display: inline-block;
								vertical-align: top;
								width: 20px;
								margin-right: 15px;
								img
								{
									max-width: 20px;
								}
							}
							&:hover
							{
								background-color: #36b1b9;
								color: #fff;
								text-decoration: none;
								border-color: #36b1b9;
							}
						}
						&.active
						{
							a
							{
								background-color: #36b1b9;
								color: #fff;
								text-decoration: none;
								border-color: #36b1b9;
							}
						}
						> ul
						{
							display: none;
						}
						> a
						{
							&:hover + ul
							{
								display: block;
							}
						}
					}
				}
			}
			&.small
			{
				width: 80px;
				background-color: #78513e;
				overflow: hidden;
				.shadow
				{
					display: none;
				}
				.profile
				{
					.text
					{
						opacity: 0;
						transition: 0.3s all ease;
					}
					.img
					{
						width: 50px;
						height: 50px;
						img
						{
							width: 50px;
							height: 50px;
						}
					}
				}
				.side-nav
				{
					ul
					{
						li
						{
							a
							{
								text-align: left !important;
								span
								{
									// display: none;
									opacity: 0;
									transition: 0.3s all ease;
								}
								border-color: transparent;
								text-align: center;
								.icon 
								{
									img
									{

									}
								}
							}
							&.active
							{
								a
								{
									background-color: #5e3724;
								}
							}
						}
					}
				}
			}
		}
		.members-content
		{
			margin-left: 80px;
			padding: 15px;
		}
	}
}