.dashboard
{
	.title
	{
		color: #344049;
		font-size: 20px;
		letter-spacing: 0.5px;
		margin-bottom: 25px;
	}
	.table-holder
	{
		.table
		{
			thead	
			{
				tr
				{
					th
					{
						border-bottom: 0;
						text-align: left;
						color: #344049;
						font-size: 13px;
						font-weight: 600;
						padding-bottom: 15px;
					}
				}
			}
			tbody
			{
				background-color: #ededed;
				tr
				{
					position: relative;
					.progress
					{
						width: 10%;
						background-color: #b8cdd3;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						height: 100%;
					}
					td
					{
						border: 0;
						text-align: left;
						border-bottom: 1px solid #ededed;
						font-size: 13px;
						color: #344049;
						font-weight: 600;
					}
				}
			}
		}
	}
	.chart-legend
	{
		margin-bottom: 50px;
		.holder
		{
			.color
			{
				display: inline-block;
				vertical-align: middle;
				background-color: #3e95cd;
				width: 12px;
				height: 6px;
				margin-right: 7.5px;
			}
			.name
			{
				display: inline-block;
				vertical-align: middle;
				font-size: 13px;
				font-weight: 600;
				letter-spacing: 0.5px;
			}
		}
	}
	.chart-holder
	{
		text-align: center;
		#income_summary
		{
			margin: auto !important;
		}
	}
	.unilevel-holder
	{
		margin-top: 25px;
		.holder
		{
			margin-bottom: 7.5px;
			.label2
			{
				color: #344049;
				font-size: 13px;
				font-weight: 600;
				margin-top: 5px;
			}
			.progress2
			{
				color: #344049;
				font-size: 13px;
				font-weight: 600;
				text-align: center;
				background-color: #ededed;
				padding: 5px 0;
				letter-spacing: 0.5px;
			}
			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}
	.border-holder
	{
		border: 1px solid #d2d2d2;
		padding: 25px;
		.wow
		{
			margin-bottom: 15px;
			.left
			{
				@media screen and (min-width: 991px)
				{
					float: left;
				}
			}
			.right
			{
				@media screen and (min-width: 991px)
				{
					float: right;
				}
			}
		}
		.badge
		{
			padding: 7.5px 10px;
			background-color: #36b1b9;
			font-size: 13px;
			font-weight: 700;
			border-radius: 15px;
		}
		.holder
		{
			margin-bottom: 15px;
			&:last-child
			{
				margin-bottom: 0;
			}
			.color
			{
				background-color: #36b1b9;
				width: 6px;
				height: 6px;
				display: inline-block;
				vertical-align: top;
				margin-right: 10px;
				margin-top: 5px;
			}
			.text
			{
				display: inline-block;
				vertical-align: top;
				.name
				{
					color: #344049;
					font-size: 13px;
					font-weight: 600;
					margin-bottom: 7.5px;
				}
				.date
				{
					color: #85939e;
					font-size: 11px;
					font-weight: 600;
				}
			}
		}
	}
	.activities
	{
		.holder
		{
			padding-bottom: 25px;
			position: relative;
			padding-left: 30px;
			.message
			{
				color: #344049;
				font-size: 13px;
				margin-bottom: 10px;
			}
			.date
			{
				color: #85939e;
				font-size: 13px;
				font-weight: 600;
			}
			.wallet
			{
				color: #3e95cd;
				font-size: 11px;
				font-weight: 600;
			}
			.circle-line
			{
				position: absolute;
				left: 0;
				top: 0;
				text-align: center;
				height: 100%;
				bottom: 0;
				.circle
				{

				}
				.line
				{
					position: absolute;
					top: 15px;
					height: calc(100% - 10px);
					left: 5.5px;
					width: 4px;
					img
					{
						height: 100%;
						width: 4px;
					}
				}
			}
			&:last-child
			{
				.circle-line
				{
					.line
					{
						display: none;
					}
				}
			}
		}
	}
}