.member-order
{
	.order-content
	{
		margin-top: 50px;
		.holder
		{
			border: 1px solid #dbdbdb;
			margin-bottom: 25px;
			&:last-child
			{
				margin-bottom: 0;
			}
			> table
			{
				width: 100%;
				.img
				{
					border-right: 1px solid #dbdbdb;
					width: 243px;
					img
					{
						width: 243px;
						height: 243px;
						object-fit: cover;
					}
				}
				.info
				{
					background-color: #f5f5f5;
					padding: 15px 25px 25px;
					.first-row
					{
						margin-bottom: 15px;
						.name
						{
							color: #344049;
							font-size: 18px;
							font-weight: 600;
							@media screen and (min-width: 991px)
							{
								float: left;
							}
						}
						.button
						{
							@media screen and (min-width: 991px)
							{
								float: right;
							}
							.btn-orange
							{
								background-color: #ed5639;
								padding: 5px 15px;
								border-radius: 25px;
								color: #fff;
								font-size: 13px;
								font-weight: 600;
							}
						}
					}
					> table
					{
						.detail-label
						{
							color: #344049;
							font-weight: 600;
							font-size: 13px;
							width: 150px;
						}
						.detail-value
						{
							color: #6d7a87;
							font-size: 13px;
							font-weight: 400;
						}
						td 
						{
							padding: 5px 0px;
						}
					}
				}
				td
				{
					vertical-align: top;
				}
			}
		}
	}
}