@import "../../../assets/front/sass/mixin";

$content-text: 'Rubik', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$text-light: #777;
$text-dark: #272c2f;

/* Dashboard Top */
.dashboard-top
{

	.img-container
	{
		img
		{
			width: 100%;
			height: auto;
		}
	}

	.join-container
	{
		font-family: $content-text;
		border: 1px solid #dfdfdf;
		padding: 15px;
		min-height: 403px;
		max-height: 403px;

		.btn-text
		{
			width: 100%;
			white-space: normal;
			@media screen and (min-width: 991px)
			{
				text-align: left;
			}

			.text-header1
			{
				font-weight: $bold;
				font-size: 21px;
				color: $text-dark;
				word-break: break-all;
			}

			.text-header2
			{
				font-weight: $regular;
				font-size: 15px;
				color: $text-light;
				letter-spacing: 0.2px;
				word-break: break-all;
			}
		}

    	.btn-container
    	{
    		text-align: center;
			padding: 63px 0px 0px 0px;
			font-family: $content-text;
			font-weight: $medium;
			font-size: 13px;
		
			.btn-buy-a-kit
			{
				color: #fff;
				background-color: #402A21;
				padding: 12px 40px 12px 40px;
				border: 2px solid #402A21;
				border-radius: 2px;
			}
			
			img
			{
				padding: 20px 0px 20px 0px;
			}
			
			a
			{
				border: none !important;
			}

			.btn-enter-a-code
			{
				color: #402A21;
				background-color: inherit;
				padding: 12px 30px 12px 30px;
				border: 2px solid #402A21;
				border-radius: 2px;
				//margin-bottom: 65px;
			}
		}

		@media screen and (max-width: 991px)
		{
			text-align: center;
			max-height: auto;
			min-height: auto;
			.btn-text
			{
				display: inline-block;
				vertical-align: middle;
				margin-right: 40px;
				margin-bottom: 15px;
			}

	    	.btn-container
	    	{
	    		display: inline-block;
				vertical-align: middle;
				padding-top: 0;
			}
		}

		@media screen and (max-width: 565px)
		{
			.btn-text
			{
				margin-right: 0;
				margin-bottom: 0;
			}

			.btn-container
			{
				padding-top: 25px;
			}
		}
	}
}

/* Dashboard Bottom */
.dashboard-bottom
{
	margin: 10px 0px 10px 0px;
	font-family: $content-text;

	.text-header
	{
		font-weight: $bold;
		font-size: 17px;
		color: $text-dark;
		padding-top: 10px;
	}

	.profile-info-container
	{
		border: 1px solid #dfdfdf;
		padding: 10px;
		margin-top: 15px;
		border-radius: 4px;
		// min-height: 210px;
		// max-height: 210px;

		.icon-container
		{
			display: inline-block;

			.prof-info-text-header
			{
				text-align: center;
				padding-top: 10px;
				font-weight: $bold;
				font-size: 17px;
				color: $text-dark;
			}
		}

		.personal-info-container
		{
			padding: 10px;
			text-align: center;
			font-size: 15px;

			label
			{
				font-size: 15px;
				color: $text-dark;
				font-weight: $regular;
			}

			span
			{
				font-size: 15px;
				padding-left: 10px;
				color: $text-light;
				letter-spacing: 0.2px;
			}
		}

		@media screen and (max-width: 990px)
		{
			.icon-container
			{
				.prof-info-text-header
				{
					text-align: left;
				}
			}
			.personal-info-container
			{
				text-align: left;
			}
		}

		p
		{
			font-size: 15px;
			color: $text-light;
			padding: 10px;
			letter-spacing: 0.2px;
		}

	}

	.pic1
	{
		border-top: 2px solid #63b944 !important;
	}
	.pic2
	{
		border-top: 2px solid #3e95cd !important;
	}
	.pic3
	{ 
		border-top: 2px solid #ed5639 !important;
	}
}

.dash-bot 
{
	padding: 25px 0px;

	h1 
	{
		font-size: 28px;
		font-weight: $regular;
	}
	h2 
	{
		font-size: 21px;
		font-weight: $regular;
	}
	p 
	{
		margin-top: 10px;
		font-size: 15px;
		font-weight: $light;
		color: $text-light;

		i 
		{
			font-size: 5px;
			padding: 5px;
			vertical-align: middle;
		}
	}
}

/* Enter a code */
.popup-enter-a-code
{
	font-family: $content-text;

	.modal-sm
	{  
		width: 100%;
		max-width: 370px;
	}


	background-color: #fff;
	.modal-header
	{
		background-color: #402A21;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		.close
		{
			color: #FFF;
		}

		.modal-title
		{
			font-weight: $medium;
			font-size: 15px;
			color: #FFF;
		}
	}

	.modal-body
	{
		font-weight: $regular;
		font-size: 15px;
		margin: 0px 20px 0px 20px;
		padding: 20px 5px !important;

		.labels
		{
			margin-top: 10px;
			text-align: center;
			b 
			{
				font-weight: $medium;
			}
		}
		input
		{

			padding: 5px;
			width: 85%;
			border: 1px solid #c9c9c9;
			margin-top: 20px;
			margin-left: 7%;
			background-color: #fff;
			font-size: 15px;
			letter-spacing: 0.5px;

			&::-webkit-input-placeholder {
			    color: #ddd;
			    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
			}

			&:-moz-placeholder { /* Firefox 18- */
			    color: #ddd;
			    opacity: 1 !important;
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			    color: #ddd;
			    opacity: 1 !important;
			}

			&:-ms-input-placeholder {  
			   color: #ddd;
			}
		}

		.output-container
		{
			padding: 10px;
			.error-message
			{
				text-align: center;
				color: #f02432;
				font-size: 13px;
				letter-spacing: 0.5px;
			}
			.card
			{
				border: 1px solid #d4d4d4;
				background-color: #f4f4f4;
				padding: 10px;
				margin: 10px;
				border-radius: 2px;


				.upper {

					.profile-image
					{
						height: 75px;
						width: 75px;
						border-radius: 100%;
						overflow: hidden;
						margin-left: 34%;

						img
						{
							/* height: 100px; */
							width: 100%;

						}
					}
				}
				.info
				{
					margin-top: 20px;
					text-align: center;
					letter-spacing: 0.5px;

					.name
					{
						font-size: 17px;
						font-weight: $bold;
						color: $text-dark;
						text-transform: uppercase;
					}
					.email
					{
						color: $text-light;
					}
					.slotno
					{
						color: $text-light;
					}
				}
			}
		}
    	.btn-container
    	{
			text-align: center;
			font-family: $content-text;
			font-weight: $medium;
			font-size: 13px;
			padding-bottom: 20px;

			.btn-verify
			{
				@include transition(0.2s);
				color: #fff;
				background-color: #f02432;
				padding: 12px 25px;
				border: none;
				border-radius: 2px;
				opacity: 0.9;
			}
			.btn-verify:hover
			{
				color: #fff;
				opacity: 0.8;
			}
		}
	}
}

/* Popup Notification */
.popup-notification
{
	font-family: $content-text;

	.modal-sm
	{  
		width: 100%;
		max-width: 370px;
	}

	.modal-content
	{
		background-color: #fff;
		.modal-header
		{
			background-color: #402A21;
			// border-top-left-radius: 3px;
			// border-top-right-radius: 3px;

			.close
			{
				color: #FFF;
			}

			.modal-title
			{
				font-weight: $bold;
				font-size: 15px;
				color: #FFF;
			}
		}

		.modal-body
		{
			font-weight: $regular;
			font-size: 15px;
			margin: 0px 20px 0px 20px;
			padding: 20px 5px !important;

			.labels
			{
				margin-top: 10px;
				text-align: center;
			}
			input
			{

				padding: 5px;
				width: 85%;
				border: 1px solid #c9c9c9;
				margin-top: 20px;
				margin-left: 7%;
				background-color: #fff;
				font-size: 15px;
				letter-spacing: 0.5px;

				&::-webkit-input-placeholder {
				    color: #ddd;
				    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
				}

				&:-moz-placeholder { /* Firefox 18- */
				    color: #ddd;
				    opacity: 1 !important;
				}

				&::-moz-placeholder {  /* Firefox 19+ */
				    color: #ddd;
				    opacity: 1 !important;
				}

				&:-ms-input-placeholder {  
				   color: #ddd;
				}
			}

			.output-container
			{
				padding: 10px;
				.error-message
				{
					text-align: center;
					color: #f02432;
					font-size: 13px;
					letter-spacing: 0.5px;
				}
				.card
				{
					border: 1px solid #d4d4d4;
					background-color: #f4f4f4;
					padding: 10px;
					margin: 10px;
					border-radius: 2px;


					.upper {

						.profile-image
						{
							height: 75px;
							width: 75px;
							border-radius: 100%;
							overflow: hidden;
							margin-left: 34%;

							img
							{
								/* height: 100px; */
								width: 100%;

							}
						}
					}
					.info
					{
						margin-top: 20px;
						text-align: center;
						letter-spacing: 0.5px;

						.name
						{
							font-size: 17px;
							font-weight: $bold;
							color: $text-dark;
							text-transform: uppercase;
						}
						.email
						{
							color: $text-light;
						}
						.slotno
						{
							color: $text-light;
						}
					}
				}
			}
	    	.btn-container
	    	{
				text-align: center;
				font-family: $content-text;
				font-weight: $medium;
				font-size: 13px;
				padding-bottom: 20px;

				.btn-notification
				{
					@include transition(0.2s);
					color: #fff;
					background-color: #f02432;
					padding: 12px 25px;
					border: none;
					border-radius: 2px;
					opacity: 0.9;
				}
				.btn-notification:hover
				{
					color: #fff;
					opacity: 0.8;
				}
			}
		}
	}
}

/* Proceed 1 */
.popup-proceed1
{
	font-family: $content-text;
	
	.modal-sm
	{  
		width: 100%;
		max-width: 400px;
	}

	.modal-content
	{
		
		.modal-header
		{
			background-color: #402A21;
			// border-top-left-radius: 3px;
			// border-top-right-radius: 3px;

			.close
			{
				color: #FFF;
			}

			.modal-title
			{
				font-weight: $medium;
				color: #FFF;
				font-size: 15px;
			}
		}

		.modal-body
		{
			font-weight: $regular;
			margin: 0px 20px 0px 20px;

			.warning
			{
				margin-top: 15px;
				margin-bottom: 27px;
				font-size: 13px !important;
				letter-spacing: 0.3px;
				color: #613922 !important;
			}
			.value-set
			{
				margin-bottom: 20px;
				text-align: center;

				.labels
				{
					color: $text-light;
				}
				.values
				{
					font-weight: $regular;
					color: $text-dark;
				}
			}
			input
			{
				font-size: 13px;
				width: 100%;
				border: none;
				border-bottom: 2px solid #d3d8db;
				margin: 20px 0px 30px 0px;
			}

	    	.btn-container
	    	{
				text-align: center;
				font-family: $content-text;
				font-weight: $bold;
				font-size: 13px;
				padding-bottom: 20px;
				margin-top: 20px;

				.btn-proceed-1
				{
					color: #fff;
					background-color: #402A21;
					padding: 12px 40px;
					border: 2px solid #402A21;
					border-radius: 2px;
				}
			}
		}
	}
}

/* Proceed 2 */
.popup-proceed2
{
	font-family: $content-text;
	
	.modal-sm
	{  
		width: 100%;
		max-width: 350px;
	}

	.modal-content
	{
		background-color: #fff;
		.modal-header
		{
			background-color: #402A21;
			// border-top-left-radius: 3px;
			// border-top-right-radius: 3px;

			.close
			{
				color: #FFF;
			}

			.modal-title
			{
				font-weight: $medium;
				color: #FFF;
				font-size: 15px;
			}
		}

		.modal-body
		{
			

			font-weight: $medium;
			margin: 0px 20px 0px 20px;


			.message
			{
				text-align: center;
				margin-bottom: 10px;
				color: #f02432;
				letter-spacing: 0.5px;
				font-size: 14px;
				font-weight: $bold !important;
				text-transform: uppercase;
			}

			.input
			{
				width: 100%;
				font-size: 15px;
				font-weight: $regular !important;
				color: $text-light !important;
				letter-spacing: 0.5px;
				border: none;
				border: 1px solid #c9c9c9;
				margin: 5px 0px;
				margin-bottom: 15px;
				padding: 5px;
				border-radius: 2px;
			}
			
			label
			{
				font-size: 13px;
				text-align: center !important;
				margin: 10px 0px;
				padding: 10px;
			}
			.labeld
			{
				color: $text-dark;
				text-align: center;
				text-transform: uppercase;
			}

			select
			{
				width: 100%;
				font-size: 16px;
				border: none;
				border: 1px solid #402A21;
				margin: 5px 0px;
				margin-bottom: 15px;
				padding: 5px;
				border-radius: 2px;
			}

	    	.btn-container
	    	{
				text-align: center;
				font-family: $content-text;
				font-weight: $medium;
				font-size: 14px;
				text-transform: uppercase;
				padding-bottom: 20px;


				.btn-proceed-2
				{
					color: #fff;
					background-color: #402A21;
					padding: 10px 40px;
					border-radius: 2px;
					border: 0px !important;

				  	-webkit-transition: all 0.2s ease-in-out;
				  	-moz-transition: all 0.2s ease-in-out;
				  	-o-transition: all 0.2s ease-in-out;
				  	transition: all 0.2s ease-in-out;
				  	width: 100%;
				  	margin-top: 20px;
				  	text-transform: uppercase;
				}
				.btn-proceed-2:hover
				{
					opacity: 0.9;
				}
			}
		}
	}
}

/* Failed */
.popup-failed
{
	.modal-content
	{
		.modal-header
		{
			background-color: #ed5639;
			// border-top-left-radius: 3px;
			// border-top-right-radius: 3px;

			.close
			{
				color: #FFF;
			}

			.modal-title
			{
				color: #FFF;
				font-size: 15px;
			}

			img
			{
				width: 9%;
				height: auto;
			}
		}

		.modal-body
		{
			text-align: center;

			.text-caption
			{	
				font-weight: $medium;
				color: #344049;
				padding-top: 5px;
				font-size: 13px;
				padding-top: 30px;
				padding-bottom: 30px;
			}

	    	.btn-container
	    	{
				text-align: center;
				font-family: $content-text;
				font-weight: $medium;
				font-size: 14px;
				padding-bottom: 20px;

				.btn-back
				{
					color: #fff;
					background-color: #ed5639;
					padding: 12px 55px;
					border: 2px solid #ed5639;
					border-radius: 2px;
				}
			}
		}
	}
}

/* brown-popup-kit */
.brown-popup-kit
{
	.modal-content
	{
		.modal-header
		{
			background-color: #402A21;
			color: #fff;

			.close
			{
				color: #fff;
			}
		}

		.modal-body
		{
			padding: 0 0 0 5px;
			background-color: #EDEDED;

			.kit-parent-holder
			{
				&:hover{
					cursor: pointer;

					.product-hover
					{
						opacity: 1 !important;
						@include transition(0.3s);
					}
				}
				.kit-holder
				{
					padding: 10px;
					background-color: #FFF;

					.product-title
					{
						text-align: center;
						// height: 50px;
						font-size: 15px;
					}

					.product-img-container
					{
						position: relative;
						text-align: center;
						padding-bottom: 25px;

						img
						{
							width: 100%;
						}

						.product-hover
						{
							opacity: 0;
							position: absolute;
							top: 0;
							background-color: #fff;
							width: 100%;
							height: 100%;
							z-index: 99;
							padding: 0 20px 20px 20px;
							text-align: center;

							.kit-small
							{
								width: 60%;
								margin: auto;
								img 
								{
									width: 100%;
								}
							}

							.detail-container
							{
								
							}
						}
					}

					.kit-category
					{
						color: #585858;
						text-align: center;
						font-size: 13px;
						font-weight: 500;
					}

					.btn-custom
					{
						width: 100%;
						background-color: #ed573a;
						color: #fff;
						text-align: center;
						padding: 10px 0;
						font-weight: $medium;
					}

					.product-price
					{
						text-align: center;
						font-size: 18px;
						font-weight: $medium;
						color: #ed573a;
						padding-bottom: 10px;
					}
				}

				&:first-child
				{
					padding: 5px 2.5px 5px 0px;
				}

				&:nth-child(2)
				{
					padding: 5px 2.5px 5px 2.5px;
				}

				&:last-child
				{
					padding: 5px 5px 5px 2.5px;
				}
			}
		}
	}
}