$content-text: 'Arimo', sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$text-light: #777;
$text-dark: #272c2f;

@mixin transition($transition)
{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.product-container
{
	font-family: $content-text;
	background-color: #ededed;

	.bg-container-style
	{
		background-color: #FFF;
		padding: 30px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.category-container
	{
		@extend .bg-container-style;
		margin-top: 50px;
		color: #1c1c1c;
	
		.text-header
		{
			font-weight: $semi-bold;
			padding-bottom: 20px;
		}

		.links-category
		{
			.active
			{
				font-weight: $bold;
			}

			a
			{
				display: block;
				color: #000;
				padding-top: 5px;
			}
		}
	}

	.filter-by-price-container
	{
		@extend .bg-container-style;
		margin-bottom: 50px;
		
		.text-header
		{
			font-weight: $semi-bold;
			padding-bottom: 20px;
			color: #1c1c1c;
		}

		.filter-control
		{
			padding-bottom: 20px;
		}

		.txt-price
		{
			font-size: 13px;
			font-weight: $semi-bold;
			color: #656565;
		}

		.btn-go
		{
			@include transition(0.2s);
			font-size: 13px;
			font-weight: $semi-bold;
			color: #FFF;
			background-color: #581f0d;
			border: 2px solid #581f0d;
			padding: 14px 50px;
			margin-top: 20px;
			border-radius: 4px;
			cursor: pointer;

			&:hover
			{
				background-color: inherit;
				color: #581f0d;
			}
		}
	}

	.top-item-container
	{
		@extend .bg-container-style;
		margin-top: 50px;
		text-align: center;

		.img-and-lbl-container
		{
			img
			{
				width: 100%;
				height: auto;
				object-fit: contain;
				cursor: pointer;
			}

			.lbl-item-name
			{
				font-weight: $bold;
				font-size: 15px;
			}
			
			.lbl-description
			{
				color: #656565;
				font-size: 13px;
				font-weight: $regular;
				padding-top: 10px;
			}

			.lbl-price
			{
				font-weight: $semi-bold;
				color: #ff4200;
				font-size: 15px;
				padding-bottom: 50px;
			}
		}
	}

	.bottom-item-container
	{
		@extend .bg-container-style;

		.text-header
		{
			font-weight: $semi-bold;
			padding: 0px 0px 20px 20px;
			border-bottom: 2px solid #dbdbdb;
			color: #1c1c1c;
		}

		.img-and-lbl-container
		{
			text-align: center;
			padding-top: 20px;

			img
			{
				width: 100%;
				object-fit: contain;
				cursor: pointer;
			}

			.lbl-item-name
			{
				font-weight: $bold;
				font-size: 15px;
			}
			
			.lbl-description
			{
				color: #656565;
				font-size: 13px;
				font-weight: $regular;
				padding-top: 10px;
			}

			.lbl-price
			{
				font-weight: $semi-bold;
				color: #ff4200;
				font-size: 15px;
				padding-bottom: 50px;
			}
		}
	}
}

