$content-text: 'Arimo', sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$text-light: #777;
$text-dark: #272c2f;

.member-slot
{
	font-family: $content-text;
	padding: 15px;
	letter-spacing: 0.2px;

	.main-member-header
	{
		.left {

			.icon {
				.brown-icon-cubes {
					font-size: 35px;
					color: $text-light;
					margin-top: 10px;
				}
			}

			.text {

				.name {
					font-size: 21px;
					font-weight: $bold;
					color: $text-dark !important;
				}
				.sub {
					font-size: 15px !important;
					color: $text-light !important;
				}
			}
		}
	}


	.member-slot-content
	{
		margin-top: 25px;
		.table
		{
			th, td, tr, thead, tbody
			{
				border: 0;
			}
			th
			{
				text-align: center;
				padding-bottom: 25px;
				.header-label
				{
					color: $text-dark;
					font-size: 15px;
					font-weight: $bold;
					margin-bottom: 5px;
				}
				.btn-hover
				{
					padding: 5px 10px 5px 10px;
					color: #ffffff;
					background-color: #c5afa4;
					font-size: 13px;
					font-weight: $regular;
					border-radius: 15px;
					outline: none;
				}
			}
			td
			{
				border: 1px solid #e7e7e7;
				border-right: 0;
				border-left: 0;
				text-align: center;
				padding: 25px 10px;
				color: $text-light;
				font-size: 15px;
				font-weight: $regular;
				vertical-align: middle;
				&:first-child
				{
					border-left: 1px solid #e7e7e7;
				}
				&:last-child
				{
					border-right: 1px solid #e7e7e7;
				}
				button
				{
					border-radius: 100%;
					background-color: #dac5a6;
					border: 0;
					box-sizing: content-box;
					padding: 12.5px;
					text-align: center;
					outline: none;
					box-sizing: content-box;
					width: 20px;
					height: 20px;
					&.active
					{
						background-color: #502d19;
					}
					img
					{
						width: 18px;
						/* height: 18px;
						object-fit: contain; */
						margin-bottom: 3px;
					}
				}
				.progress2
				{
					padding: 10px 15px;
					background-color: #e9e9e9;
					color: $text-dark;
					font-size: 15x;
					font-weight: $regular;
				}
			}
		}
	}
}