body{
font-family: 'Poppins', sans-serif;
background-color: transparent;
color: #747474;
}

/* SLIDER */
.slider1
{
	position: relative; 

	.image
	{
		width: 100%;
	}
}

/* TEXT-HEADER */
.text-header
{
	font-weight: 600;
	font-size: 24px;
}

.slider-title-container
{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	background-size: cover;
	background-position: center;
	padding-bottom: 30px;

	.container-top
	{
		padding: 50px 50px 0px 0px;
		float: right;

		.read-more-btn
		{
			font-family: 'Poppins', sans-serif;
			color: #ffffff;
			font-size: 14px;
			background-color: #094e95;
			padding: 12px 30px 12px 30px;
			border: none;
			border-radius: 4px;
		}

	}

	.slider-details
	{

		/* padding-left: 25px; */

		padding-top: 30px;

		@media screen and (max-width: 500px)
		{
			position: absolute;
			bottom: -125px;
			width: 50%;
		}
		@media screen and (max-width: 960px)
		{
			position: absolute;
			bottom: -125px;
			width: 50%;
		}
		
		.slider-text
		{
			font-family: 'Poppins', sans-serif;
			font-size: 19px;

			/* padding: 50px 50px 0px 0px; */
	/* 			@media screen and (max-width: 600px)
			{
				font-size: 36px;
				line-height: 38px;
			}
			@media screen and (max-width: 375px)
			{
				font-size: 30px;
				line-height: 35px;
			}
			@media screen and (max-width: 360px)
			{
				font-size: 26px;
			}
			@media screen and (max-width: 320px)
			{
				font-size: 22px;
				} */
			}
			.slider-sub-text
			{
				font-family: 'Poppins', sans-serif;
				font-size: 14px;
				font-weight: 500;
				/* margin-bottom: 10px; */
				color: #79bbff;
	/* 			@media screen and (max-width: 500px)
			{
				font-size: 12px;
				} */
			}
		}
}

.content
{
	background-color: #f7f7f7;
	/* margin-top: -10px; */
}
/* .top-container{
background-color: #f0f0f0;
padding-top: 10px;
padding-bottom: -10px;
} */

.top-left-container-title{
	font-family: 'Fjalla One', sans-serif;
	font-size: 26px;
	color: #151515;
	
	@media screen and (max-width: 960px)
	{
		padding: 15px 0px 10px 5px;
	}
	@media screen and (max-width: 500px)
	{
		padding: 15px 0px 10px 5px;
	}

}
/* OUR LATEST NEWS */

.latest-news-container{
	background-color: #fff;
	padding-bottom: 10px;

}

.latest-news-per-container{
	background-color: transparent;
	padding: 10px 10px 0px 10px;

	img{
		width: 100%;

		@media screen and (max-width: 960px)
		{
			width: 20%;
		}
		@media screen and (max-width: 500px)
		{
			width: 40%;
		}
		@media screen and (max-width: 360px)
		{
			width: 40%;
		}
	}

	.news-details{
		padding-left: 10px;
		@media screen and (max-width: 900px)
		{

			width: 80%;
			float: right;
			margin-top: -127px;
		}
		@media screen and (max-width: 768px)
		{

			width: 80%;
			float: right;
			margin-top: -108px;
		}
		@media screen and (max-width: 600px)
		{

			width: 80%;
			float: right;
			margin-top: -84px;
		}
		@media screen and (max-width: 414px)
		{

			width: 60%;
			float: right;
			margin-top: -111px;
		}
		@media screen and (max-width: 375px)
		{

			width: 60%;
			float: right;
			margin-top: -99px;
		}
		@media screen and (max-width: 360px)
		{
			margin-top: -91px;
		}
		@media screen and (max-width: 320px)
		{
			margin-top: -83px;
		}
	}
	.news-title{
		color: #151515;
		font-family: 'Fjalla One', sans-serif;
		font-size: 15px;

		@media screen and (max-width: 960px)
		{

			font-size: 25px;
		}
		@media screen and (max-width: 600px)
		{

			font-size: 16px;
		}
	}
	.news-content{
		color: #606060;
		font-family: 'Roboto', sans-serif;
		font-size: 11px;
		margin-top: 6px;

		@media screen and (max-width: 960px)
		{

			font-size: 11px;
		}

		@media screen and (max-width: 420px)
		{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
.latest-news-per-container:hover{
	
	cursor: pointer;

	img{
		opacity: 0.7;
		transition: 0.3s all ease;
	}
	.news-title{
		text-decoration: underline;
		color: #ffc10e;
	}
}

.read-more{
	color: #0f8cec;
	font-size: 10px;

}

/* WE ARE RESPONSIBLE MINING COMPANY */	
.bottom-container{
	background-color: #ffc10e;
	padding: 25px 10px 25px 10px;

	.btn-container{
		padding: 14px;
		float: right;
		@media screen and (max-width: 900px)
		{
			padding: 15px 0px 15px 20px;
			float: left;
		}
		@media screen and (max-width: 600px)
		{
			padding: 15px 0px 15px 0px;
			float: left;
		}

		.learn-more-btn{
			font-family: 'Poppins', sans-serif;
			color: #fff;
			font-size: 14px;
			background-color: #252728;
			padding: 13px 40px 13px 40px;
			border: solid 3px #252728;
			border-radius: 4px;
			@media screen and (max-width: 375px)
			{
				float: left;
				padding: 13px 126px 13px 126px;
			}
			@media screen and (max-width: 360px)
			{
				float: left;
				padding: 13px 118px 13px 118px;
			}
			@media screen and (max-width: 320px)
			{
				float: left;
				padding: 13px 98px 13px 98px;
			}
		}
		.learn-more-btn:hover{
			background-color: transparent;
			border: solid 3px #252728;
			color: #252728;

		}
	}

	.bottom-container-txt{
		padding-top: 7px;

		.bottom-container-title{
			font-family: 'Fjalla One', sans-serif;
			font-size: 26px;
			color: #252728;
			padding-left: 20px;
			@media screen and (max-width: 600px)
			{
				padding-left: 0px;
			}

			.highlight{
				color: #fff;
				text-decoration: underline;
			}

		}
		.bottom-container-details{
			color: #252728;
			font-size: 14px;
			font-weight: 500;
			padding-left: 20px;
			@media screen and (max-width: 600px)
			{
				padding-left: 0px;
			}

		}		
	}
}
/* GALLERY */
/* .gallery-container{
	background-color: #333333;
	color: white;
	padding: 20px 0px 20px 0px;

	.gallery-img-container{
		padding: 0px 8px 8px 0px;

		img{
			width: 100%;
		}
	}

	.container-title{
		font-family: 'Fjalla One', sans-serif;
		font-size: 26px;
		color: #fff;
		padding: 0px 0px 10px 20px;
	}


	.gallery-slide-holder{
		min-height: 20px;
		padding: 19px;
		margin-bottom: 20px;
		background-color: #333333;

		.carousel{
			position: relative;
			box-sizing: border-box;

			.carousel-inner{
				position: relative;
				width: 100%;
				overflow: hidden;
				@media screen and (max-width: 600px)
				{
					col{
						width: 100%;
					}
				}
				@media screen and (max-width: 500px)
				{
					col{
						width: 100%;
					}
				}

				.gallery-img-holder{

					img{
						width: 100%;
						border: 3px solid #fff;

						&:hover{
							cursor: pointer;
							transition: 0.3s all ease;
							-moz-box-shadow:1px 1px 16px rgba(0,0,0,1);
							-webkit-box-shadow:1px 1px 16px rgba(0,0,0,1);
							box-shadow:1px 1px 16px rgba(0,0,0,1);
						}
					}

				}
			}
			.carousel-control{
				padding-top: 14.7%;
				width: 3%;

				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 0px;
				font-size: 20px;
				color: #fff;
				text-align: center;
				text-shadow: 0 1px 2px rgba(0,0,0,.6);
				opacity: 4.5;
				z-index: 90;

				&:hover{
					cursor: pointer;
				}
			}
			.carousel-control.left{
				background-image: linear-gradient(to right,rgba(0,0,0,.5) 20%,rgba(0,0,0,.0001) 100%);
				background-repeat: repeat-x;
				@media screen and (max-width: 600px)
				{
					background-image: none;
				}
				img{
					position: relative;
					left: -5px;
					top: 8px;
					@media screen and (max-width: 600px)
					{
						left: 482px;
						top: -140px;
					}
					@media screen and (max-width: 414px)
					{
						left: 302px;
						top: -114px;
					}
					@media screen and (max-width: 375px)
					{
						left: 267px;
						top: -114px;
					}
					@media screen and (max-width: 360px)
					{
						left: 255px;
					}
					@media screen and (max-width: 320px)
					{
						left: 210px;
						top: -105px;
					}
				}
				&:hover{
					background-image: linear-gradient(to right,rgba(0,0,0,.5) 40%,rgba(0,0,0,.0001) 100%);
				}
			}
			.carousel-control.right{
				right: 0px;
				left: auto;
				background-image: linear-gradient(to right,rgba(0,0,0,.0001) 20%,rgba(0,0,0,.5) 100%);
				background-repeat: repeat-x;
				@media screen and (max-width: 600px)
				{
					background-image: none;					
				}
				img{
					position: relative;
					right: -5px;
					top: 8px;
					@media screen and (max-width: 600px)
					{
						right: 0px;
						top: -140px;
					}
					@media screen and (max-width: 414px)
					{
						right: 0px;
						top: -114px;
					}
					@media screen and (max-width: 375px)
					{
						right: 0px;
						top: -114px;
					}
					@media screen and (max-width: 320px)
					{
						top: -105px;
					}

				}
				&:hover{
					background-image: linear-gradient(to left,rgba(0,0,0,.5) 40%,rgba(0,0,0,.0001) 100%);
				}
			}
			a{
				background-color: transparent;
			}
		}

	}
} */

.slider-caption
{
	position: absolute;
	left: 180px;
	top: 220px;
	index: 100px;
	color: #fff;

	.slider-caption-text
	{
		font-family: 'Poppins', sans-serif;
		font-size: 45px;
		font-weight: 600;
	}

	.slider-caption-sub-text
	{
		font-family: 'Poppins', sans-serif;
		font-size: 55px;
		font-weight: 700;
		margin-top: -20px;

	}	
}

.btn-container
{

	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 14px;
	padding-top: 50px;

	.read-more-btn1
	{
		color: #ffffff;
		background-color: #094e95;
		padding: 12px 30px 12px 30px;
		margin-top: -20px;
		border: none;
		border-radius: 4px;
		float: right;
	}

	.read-more-btn2
	{
		color: #094e95;
		background-color: inherit;
		padding: 12px 30px 12px 30px;
		border: 1px solid #094e95;
		border-radius: 4px;
		margin-top: -20px;
		margin-bottom: 50px;
		float: left;

		&:hover
		{
			color: #ffffff;
			background-color: #094e95;
		}
	}

	.read-more-btn3
	{
		color: #ffffff;
		background-color: inherit;
		padding: 12px 30px 12px 30px;
		border: 1px solid #ffffff;
		border-radius: 4px;
		float: right;

		&:hover
		{
			background-color: #094e95;
			border: 1px solid #094e95;
		}
	}

	.see-all-btn
	{
		color: #ffffff;
		background-color: #094e95;
		padding: 12px 30px 12px 30px;
		border: 1px solid #ffffff;
		border-radius: 4px;
		margin-top: -30px;
		margin-bottom: 50px;
		float: left;

		&:hover
		{
			color: #ffffff;
			border: 1px solid #094e95;
		}
	}

}


/* TOP CONTAINER */
.top-container
{
	font-family: 'Poppins', sans-serif;

	/* Style the tab */
	.tabs
	{
		overflow: hidden;
		border-bottom: 1px solid #cbcbcb;
		background-color: inherit;

		.tablinks
		{
			background-color: inherit;
			float: left;
			border: 1px solid #cbcbcb;
			outline: none;
			cursor: pointer;
			padding: 20px 50px 20px 50px;
			transition: 0.3s;
			font-size: 14px;
			border-bottom: none;
		}

		.tab-middle
		{
			border-left: none;
			border-right: none;
		}

		.tablinks:hover
		{
			background-color: #094e95;
		}
	}

	.text-header
	{
		color: #080808;
		padding-top: 45px;
		text-align: left;
	}

	p
	{

		font-size: 14px;
		font-weight: 400;
		color: #414141;
		padding-top: 20px;
		text-align: left;
	}

	img
	{
		float: right;

	}

}

/* MID CONTAINER 1 */
.mid-container1
{
	font-family: 'Poppins', sans-serif;

	.mid-container1-content
	{
		float: right;
		/* padding-top: 60px;
		padding-bottom: 60px; */
		padding: 60px 0px 60px 0px;
		text-align: right;

		.text-header-links
		{
			font-size: 24px;
			font-weight: 600;
			background-color: inherit;
			color: #bdbdbd;
			padding-bottom: 20px;
		}

		.text-header-links:hover
		{
			font-size: 24px;
			font-weight: 600;
			color: #ffffff;
			cursor: pointer;
		}

		p
		{
			font-size: 14px;
			font-weight: 400;
			color: #ffffff;
			padding-top: 20px;
		}

		.mvc
		{
			font-size: 14px;
			font-weight: 400;
			color: #ffffff;
			padding-top: 20px;
		}
	}
}

/* MID CONTAINER 2 */
.mid-container2
{
	font-family: 'Poppins', sans-serif;

	.text-header
	{
		color: #080808; /* #ffffff */
		padding-top: 50px;
	}

	p
	{
		color: #414141; /* #fafafa */
		font-weight: 400;
		font-size: 14;
		padding-top: 20px;
	}

	.img-gallery-container
	{
		padding: 50px;
		float: right;

		img
		{
			padding: 15px 0px 0px 10px;
		}

		.img-zoom
		{
			width: 104px;
		    -webkit-transition: all .1s ease-in-out;
		    -moz-transition: all .1s ease-in-out;
		    -o-transition: all .1s ease-in-out;
		    -ms-transition: all .1s ease-in-out;

		    &:hover
		    {
		    	opacity: 0.5;
		    }
		}
		 
		.transition
		{
		    -webkit-transform: scale(1.1); 
		    -moz-transform: scale(1.1);
		    -o-transform: scale(1.1);
		    transform: scale(1.1);
		}
	}

}

/* TESTIMONIALS */
.testimonials
{
	font-family: 'Poppins', sans-serif;

	.text-header
	{
		font-size: 24px;
		font-weight: 600;
		color: #080808;
		padding-top: 50px;
		text-align: left;
	}

	.img-container
	{
		padding: 50px 0px 50px 0px;

		.img-sub-container
		{
			padding-left: 30px;
			margin-top: -20px;
		}
	}

	.name-container
	{
		padding-left: 150px;
		margin-top: -60px;
		padding-bottom: 50px;

		.bold-name
		{
			font-weight: 600;
			color: #094e95;
		}

		.title-name
		{
			font-weight: 600;
			font-size: 10px;
		}
	}

    .my-style
    {

      text-align: center;
      border: 1px solid #fff;
      background-color: #ffffff;

    	i
    	{
    		font-size: 14px;
    	}

	  	.comments
	    {
	      font-size: 14px;
	      padding: 50px;
	      margin-bottom: 0px;
	      margin-top: -10px;
	    }
    }

	.slider
	{
        width: 90%;
        margin: auto auto;
    }

    .slick-slide
    {
      margin: 0px 10px;
    }

    .slick-prev:before
    {
        color: black;
    }

    .slick-next:before
    {
    	color: black;
    }
}

.pre-footer
{

	font-family: 'Poppins', sans-serif;
	text-align: right;

	.logo
	{
		padding-top: 80px;
	}

	a
	{
		color: #ffffff;
		font-size: 24px;
		font-weight: 600;
		float: left;
	}

	p
	{
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		padding-bottom: 100px;
	}

}

