.trial-warning
{
	font-weight: bold;
	background-color: #31373D;
	color: #fff;
	padding: 10px 20px;
	font-weight: normal;
	vertical-align: middle;
	border-radius: 3px;
	.word-warning
	{
		padding-top: 5px;
	}
}

.title-advice
{
	margin-top: 30px;
	font-size: 20px;
	i
	{
		color: #76B6EC;
	}
}

.simple-advice
{
	background-color: #fff;
	border: 1px solid #eee;
	padding: 15px 0;
	margin-top: 20px;
	.advice-word
	{
		font-size: 16px;
		padding-bottom: 5px;
	}
}

.reports-class
{
	padding: 20px;
	margin-top: 10px;
	font-size: 23px;
	.po-class
	{
		background-color: #21ABF6;
		color: #fff;
	}
	.ar-class
	{
		background-color: #0070BA;
		color: #fff;
	}
	.ap-class
	{
		background-color: #FF8000;
		color: #fff;
	}
	.sales-class
	{
		background-color: #78C500;
		color: #fff;
	}
}