.trial-warning
{
	font-weight: bold;
	background-color: #31373D;
	color: #fff;
	padding: 10px 20px;
	font-weight: normal;
	vertical-align: middle;
	border-radius: 3px;
	.word-warning
	{
		padding-top: 5px;
	}
}

.title-advice
{
	margin-top: 30px;
	font-size: 20px;
	i
	{
		color: #76B6EC;
	}
}

.simple-advice
{
	background-color: #fff;
	border: 1px solid #eee;
	padding: 15px 0;
	margin-top: 20px;
	.advice-word
	{
		font-size: 16px;
		padding-bottom: 5px;
	}
}

.reports-class
{
	padding: 20px;
	margin-top: 10px;
	font-size: 23px;
	a {
	  text-decoration: none;
	}
	.row
	{
		margin-left: -5px;
		margin-right: -5px;
		.col-md-3
		{
			padding: 0 5px;
		}
	}
	.btn-class
	{
		margin: 0;
		padding: 20px 30px;
	}
	.po-class
	{
		border: 5px solid #21ABF6;
		color: #21ABF6;
	}
	.ar-class
	{
		border: 5px solid #0070BA;
		color: #0070BA;
	}
	.ap-class
	{
		border: 5px solid #FF8000;
		color: #FF8000;
	}
	.sales-class
	{
		border: 5px solid #78C500;
		color: #78C500;
	}
	.pb-class
	{
		border: 5px solid #f45556;
		color: #f45556;
	}
}


#panel-height{
	
	min-height: 350px;
	width: 100%;

}
.panel-body{
	background-color: white;


}
.panel{
	background-color: white !important;

}
#font1{
 	font-size: 20px;
 	margin-top: -5px;
}

#right-pane-exp{
    padding-top: 100px;
}
#right-pane-inc{
    padding-top: 50px;
}
#bank-bot-pane{
    padding-top: 70px;
}
.pie-chart{
    padding-top: 45px;
}

.vertical-skills {
    margin-top: 15px;
    text-align: center;
     }
    
.vertical-skills li {
      display: inline-block;
      position: relative;
      width: 35px;
      height: 250px;
      background: #f0f0f0;
      margin: 0 10px; }

@media (max-width: 400px) {
.vertical-skills li {
          width: 25px; 
    } 
}
.vertical-skills li span.skill {
        position: absolute;
        animation-duration: 3s;
       animation-name: height;
        left: 0;
        right: 0;
        bottom: 0; 
}

      .vertical-skills li span.title {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        bottom: -20px; 
}

        /* animation */
@keyframes height {
  0%, 100% {
    transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
  }
  0% {
    height: 0;
  }
  100% {
    max-height: 100%;
  }
}

