.notice{
	padding: 13px;
	border-radius:3px;
	color: rgb(0,0,0);
	margin-top:10px;
	margin-bottom:10px;
	border-style: solid;
	border-width:1px;
}
.notice-attention{
	background-color:#fff7b2;
	border-color:#ffe477
}
.notice-danger{
	background-color: #ffcccc !important;
	color: #ff1a1a !important;
	border-color: #ff1a1a !important;
}
.notice-success{
	background-color: #d6f5d6 !important;
	color: #5cd65c !important;
	border-color: #5cd65c !important;
}
.close-notice{
	color: inherit !important;
	font-weight:bolder;
	float:right;
	line-height:1.2px;
	font-family: Tahoma, Geneva, sans-serif;
}
.display-none{
	display:none;
}