

body
{
	font-family: 'Open Sans', sans-serif;
	background-color: #f7f7f7;
}
.add-to-cart
{
	&.disabled
	{
		background-color: #bdc3c7 !important;
		cursor: not-allowed;
	}
}
.btn-primary
{
	background: none;
	border: 0;
	background-color: #585de8;
	border: 1px solid #585de8;
	font-size: 12.5px;
	font-weight: 600;
	padding: 8px 25px;
	transition: 0.3s all ease;
	&:hover
	{
		background-color: #474ed8;
	}
}

.btn-default
{
	background: none;
	border: 1px solid #000;
	background-color: #fff;
	font-size: 12.5px;
	font-weight: 600;
	padding: 8px 25px;
	color: #585de8;
	transition: 0.3s all ease;
	text-shadow: none;
	&:hover
	{
		background-color: #585de8;
		color: #fff;
	}
}

.navbar-default .navbar-toggle .icon-bar
{
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
	background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
	border: 0;
	box-shadow: none;
}
@media (max-width: 991px) 
{
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
.header-nav
{
	background-color: #2e3192;
	.header-nav-top
	{
		text-align: right;
		@media screen and (max-width: 991px)
		{
			.header-nav .header-nav-top
			{
				text-align: center;
				margin-bottom: 15px;
			}
		}
		.holder
		{
			
			color: rgba(255,255,255,0.75);
			display: inline-block;
			vertical-align: middle;
			padding: 5px 10px;
			margin-top: 10px;

			a
			{
				color: #c7c8dd;
				font-size: 11px;

				i
				{
					font-size: 14px;
					margin-right: 2px;
					color: #c7c8dd;
				}
			}

			a:hover
			{
				text-decoration: none;
			}

			.linya
			{
				width: 1px;
				height: 25px;
				background-color: #7779b8;
			}
		}
	}
	.header-nav-middle
	{
		.search-bar
		{
			margin-top: 20px;
			margin-bottom: 35px;
			@media screen and (max-width: 991px)
			{
				margin-bottom: 15px;
			}
			.search-category
			{
				border: 0;
				border-right: 1px solid #c8c8c8;
				color: #686868;
				font-size: 12.5px;
			}
			.search-input
			{
				border: 0;
			}
			.search-button
			{
				color: #473e06;
				background-color: #ffd800;
				border: 0;
			}
		}
		.woaw
		{
			position: relative;
			@media screen and (min-width: 991px)
			{
				text-align: right;
			}
		}
		.shopping-cart-container
		{
			background-color: #24267a;
			color:#fff;
			margin-top: 20px;
			padding: 13px;
			font-size: 12.5px;
			display: inline-block;
			border-radius: 5px;
			cursor: pointer;
			@media screen and (max-width: 991px)
			{
				display: block;
				text-align: center;
				margin-top: 0;
				margin-bottom: 25px;
			}
			.fa
			{
				font-size: 20px;
				vertical-align: middle;
				margin-right: 10px;
			}
			.badge
			{
				background-color: #ffd800;
				color: #202020;
				vertical-align: middle;
				margin-right: 10px;
			}
			span
			{
				vertical-align: middle;
			}
			.container-cart
			{
				visibility: hidden;
				position: absolute;
				top: 0;
				right: 0;
				background-color: #fff;
				width: 100%;
				min-height: 50px;
				opacity: 0;
				transition: 0.3s all ease;
				z-index: 1;
				border-radius: 5px;
				padding: 10px 25px;
				@media screen and (min-width: 991px)
				{
					right: 15px;
				}
				&.show
				{
					visibility: visible;
					top: 66px;
					opacity: 1;
				}
				table
				{
					width: 100%;
					tr
					{
						border-bottom: 1px solid #d6d6d6;
						&:last-child
						{
							border-bottom: 0;
						}
						td
						{
							padding-top: 15px;
							padding-bottom: 15px;
						}
					}
				}
				.sub-title
				{
					color: #2c2c2c;
					font-size: 13px;
					font-weight: 700;
					padding-right: 10px;
				}
				.sub-price
				{
					color: #262874;
					font-size: 13px;
					font-weight: 700;
					text-align: left;
				}
				.btn-checkout
				{
					background-color: #585de8;
					font-size: 12px;
					font-weight: 700;
					width: 100%;
					padding-top: 10px;
					padding-bottom: 10px;
					&:hover, &:active, &:focus
					{
						color: #fff;
					}
				}
				.img
				{
					text-align: center;
					width: 50px;
					padding-right: 10px;
					img
					{
						max-width: 50px;
						border: 1px solid #d3d3d3;
					}
				}
				.info
				{
					font-size: 12.5px;
					color: #323232;
					text-align: left;
					.name
					{
						font-weight: 600;
					}
					.quantity
					{
						font-weight: 700;
					}
					.price
					{
						font-weight: 700;
						font-size: 14px;
						color: #2e3192;
					}
				}
				.remove
				{
					.fa
					{
						color: #808080;
					}
				}
			}
		}
	}
}
/* GLOBAL ELEMENTS */
.button-shop
{
	width: 100%;
	background-color: #fff;
	color: #484848;
	font-size: 12.5px;
	font-weight: 600;
	border-bottom: solid 1px #d9d9d9;
	cursor: pointer;
	&:last-child
	{
		border-bottom: none;
	}
	padding: 12px 12px 12px 20px;
	position: relative;
	.hover
	{
		visibility: hidden;
		position: absolute;
		opacity: 0;
		left: 100%;
		right: -50%;
		top: -25px;
		z-index: 25;
		background-color: #fff;
		-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    	box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
		padding: 25px;
		width: 500px;
		@media screen and (max-width: 1170px)
		{
			width: 300px;
		}
		@media screen and (max-width: 991px)
		{
			display: none;
		}
		.hover-holder
		{
			position: relative;
			box-sizing: content-box;
			min-height: 282px;
			ul
			{
				padding: 0;
				margin: 0;
				// width: auto;
				li
				{
					display: block;
					a
					{
						line-height: 26px;
					    padding: 0px;
					    font-size: 13px;
					    color: #565656;
					    text-decoration: none;
					}
				}
			}
			.banner-holder
			{
				position: absolute;
				left: 100%;
				left: calc(100% + 25px);
				top: -25px;
			}
		}
	}
	&:hover .hover
	{
		visibility: visible;
		top: 0;
		opacity: 1;
		transition: 0.3s all ease;
	}
}

.left-bar-categories
{
	background-color: #fff;
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
	.left-bar-title
	{
		padding: 12px 12px 12px 20px;
		background-color: #ffd800;
		color: #333333;
		font-size: 16.5px;
		font-weight: 700;
		span
		{
			vertical-align: middle;
		}
		img
		{
			vertical-align: middle;
		}
	}
}
/* HOT DEALS */
.hot-deals-container
{
	background-color: #fff;
	width: 100%;
	padding: 15px;
	margin-top: 35px;
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
	.left-container-title
	{
		color: #1e1e1e;
		font-size: 16.75px;
		font-weight: 700;
		border-bottom: #cccccc solid 1px;
		padding-bottom: 15px;
		position: relative;
	}

	.hot-deals-item-container
	{
		padding: 20px;
		@media screen and (max-width: 991px)
		{
			text-align: center;
		}
		img 
		{
			width: 100%;
		}
	}

	.scroll-button
	{
		position: absolute;
		right: 0;
		a
		{
			padding: 2px;
		}
	}

	.rating
	{
		padding-top: 5px;
		img
		{
			display: inline-block;
		}
	}
}

.row-no-padding
{
	> div
	{
		padding-left: 0;
		padding-right: 0;
	}
}

.navbar-nav 
{
	margin-left: -15px;
}

.navbar-default
{
	background: none;
	background-color: #262874;
	border: none;
	border-radius: 0px;
	color: #fff;
	box-shadow: none !important;
	margin-bottom: 0px !important;
}
.navbar-default .navbar-nav>li>a
{
	color: #fff !important;
	text-shadow: none !important;
	font-size: 14.58px;
	font-weight: 600;
	@media screen and (max-width: 1199px)
	{
		font-size: 12.5px;
	}
}
.navbar-default .navbar-nav>.open, .navbar-default .navbar-nav>.active
{
	border: 0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a
{
	background-color: #fff !important;
	color: #262874 !important;
	border-radius: 4px 4px 0px 0px;
	background-image: none !important;
}
.nav-border
{
	border-right: solid 1px #515390;
	&:last-child
	{
		border-right: 0;
	}
	@media screen and (max-width: 991px)
	{
		border: 0;
	}
}

.button-a
{

	background-color: #585de8;
	border: none;
	color: #fff;
	padding: 10px 20px 10px 20px;
}

footer
{
	color:#9d9eb9;
	background-color: #262874;
	.ftr 
	{
		padding-bottom: 15px;


		table
		{
			tr
			{
				td
				{
   					padding-bottom: 10px;
					.fa-map-marker
					{
						border: 0;
					    background-color: #383a9a;
					    font-size: 20px;
					    padding: 8px 12px 8px 12px;
					    border-radius: 5px;
					    color: #adaed5;
					}

					.fa-mobile
					{
						border: 0;
					    background-color: #383a9a;
					    font-size: 25px;
					    padding: 5px 12px 5px 12px;
					    border-radius: 5px;
					    color: #adaed5;
					}

					.fa-envelope-o
					{
						border: 0;
					    background-color: #383a9a;
					    font-size: 17px;
					    padding: 9px;
					    border-radius: 5px;
					    color: #adaed5;
					}
				}

				.contact-title
				{
					font-size: 12px;
    				padding-left: 20px;
				}
			}
		}
	}
	
	.btm-title 
	{
		color: #d7d7e1;
		font-size: 16px;
		margin-top: 30px;
		margin-bottom: 20px;
		font-weight: 700;
	}

	.btm-sub-title 
	{
		font-size: 12.5px;
		margin-bottom: 10px;
		a 
		{
			color: #9d9eb9;
			text-decoration: none;
		}
	}


	.btm-link 
	{
		margin-left: -15px;
	}

	.site-icon 
	{
		background-color: #383a9a;
	    padding: 8px;
	    margin-right: 5px;
	    font-size: 20px;
	    width: 20px;
	    height: 20px;
	    box-sizing: content-box;
	    text-align: center;
	    color: #fff;
	    border: 0;
	    border-radius: 5px;
	}



	.footer-link 
	{
		text-decoration: none;
	}

	.enter-email 
	{
		position: relative;
		margin-top: 20px;
		.plane-icon 
		{
			color: #fff;
			font-size: 25px;
			position: absolute;
			right: 10px;
		}
		input 
		{
			padding: 10px;
			border: solid 1px;
			border-color: #767676;
			border-radius: 0;
			background-color: #313131;
		}
	}
}

#bottom-footer
{
	background-color: #1a1b56;
	padding: 10px;

	.bottom
	{
		position: relative;
		min-height: 50px;
		border:none;
		background-color: #1a1b56;
		

		.ftr-title
		{
			float: left;
		    left: 12px;
		    color: #fff;
		    font-size: 14px;
		    padding-top: 15px;
		}

		.image-logo
		{
			float: right;
    		right: 10px;
    		padding-top: 15px;

    		img
    		{
    			margin-left: 15px;
    		}
		}


	}
}

/* ADD TO CART BUTTON */
.add-to-cart-button-container
{
	padding-top: 20px;
}
.add-to-cart-button
{
	max-width: 80%;
	padding: 5px 20px 20px 20px;
	color: #fff;
}

.cart-icon1
{
	background-color: #ffd800;
	padding: 12px 12px 7px 12px;
	border-radius: 5px 0px 0px 5px;
    height: 41.26px;
    width: 28%;
}

.cart-icon2
{
	background-color: #ffd800;
	padding: 12px 12px 7px 14px;
	border-radius: 5px 0px 0px 5px;
    height: 41.26px;
    
}
.button-icon
{
	background-color: #2e3192;
	padding: 12px 12px 12px 12px;
	text-align: center;
	font-size: 12.5px;
	font-weight: 700;
	border: 0px;
	border-radius: 0px 2px 2px 0px;
}

.button-icon2
{
	background-color: #2e3192;
    padding: 12px;
    text-align: center;
    font-size: 12.5px;
    font-weight: 700;
    border: 0px;
    border-radius: 0px 5px 5px 0px;
    width: 70%;
}

.new-add-to-cart-button
{
	background-color: #2e3192;
	border-radius: 3px;
	overflow: hidden;
	padding: 0;
	border: 0;
	table
	{
		width: 100%;
		tbody
		{
			tr
			{
				td
				{
					vertical-align: middle;
					padding-left: 12.5px;
					padding-right: 12.5px;
				}
				.icon
				{
					background-color: #ffd800;
					padding: 10px 15px;
					.fa
					{
						color: #111111;
						font-size: 20px;
					}
				}
				.text
				{
					font-size: 12.5px;
					font-weight: 700;
					color: #fff;
				}
			}
		}
	}
}

.image-content-1 
{
	position: relative;
	overflow: hidden;
    .new-add-to-cart-button
	{
		position: absolute;
	   	bottom: 100%;
	    width: 90%;
	    left: 0;
	    right: 0;
	    margin: auto;
	    color: #fff;
	    visibility: hidden;
	    opacity: 0;
	    transition: all 0.2s;
    }
    img
    {
    	opacity: 1;
    	transition: all 0.2s;
    }
}


.image-content-1:hover
{
	.new-add-to-cart-button
	{
		position: absolute;
	    bottom: 10px;
	    width: 90%;
	    left: 0;
	    right: 0;
	    margin: auto;
	    color: #fff;
	    visibility: visible;
	    opacity: 1;
	}
	img
	{
		opacity: 0.40;
	}
}

.global-modal
{

}

.shopping-cart-modal
{
	.success
	{
		text-align: center;
		color: #1b1b1b;
		font-size: 12px;
		font-weight: 600;
		padding: 5px 0 7.5px;
	}
	.modal-content
	{
		border-radius: 5px;
	}
	.modal-title
	{
		color: #1f1f1f;
		font-weight: 700;
		font-size: 15px;
		img
		{
			margin-right: 10px;
		}
		span
		{
			> span
			{
				color: #2e3192;
			}
		}
	}
	.table
	{
		thead
		{
			.text-left
			{
				text-align: left;
			}
			th
			{
				color: #878787;
				font-weight: 700;
				font-size: 12px;
				border: 0;
				text-align: center;
			}
		}
		tbody
		{
			.text-left
			{
				text-align: left;
			}
			td
			{
				vertical-align: middle;
				text-align: center;
				border: 0;
				.name
				{
					color: #262626;
					font-size: 12px;
					font-weight: 600;
					display: inline-block;
					vertical-align: middle;
				}
				.img
				{
					display: inline-block;
					vertical-align: middle;
					margin-right: 15px;
					img
					{
						width: 70px;
					}
				}
				.input-group
				{
					width: 125px;
					margin: auto;
					.input-group-addon
					{
						background-color: #919191;
						color: #fff;
						border-radius: 0;
					}
					.form-control
					{
						box-shadow: none;
					}
				}
			}
			.upc
			{
				color: #262626;
				font-weight: 600;
				font-size: 12px;
			}
			.ttl
			{
				color: #ff6767;
				font-weight: 600;
				font-size: 12px;
			}
			.rmv
			{
				a
				{
					color: #262626;
					font-weight: 600;
					font-size: 11px;
				}
			}
		}
	}
	.subtotal-label
	{
		color: #262626;
		font-weight: 600;
		font-size: 13px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}
	.subtotal-value
	{
		color: #ff6767;
		font-size: 17px;
		font-weight: 700;
		display: inline-block;
		vertical-align: middle;
	}
}