.sidebar
{
	background-color: #f2f2f2;
	padding: 0;
	border-right: 1px solid #ddd;
	.sidebar-title
	{
		font-weight: bold;
		padding: 12px;
		background-color: #F7F7F8;
		border-bottom: 1px solid #ddd;
	}
	.sidebar-link-container
	{
		padding: 0;
		margin: 0;

		.sidebar-link
		{
			display: flex;
			margin: 0;
			border-bottom: 1px solid rgba(0,0,0,0.03);
			border-top: 1px solid rgba(255,255,255,0.5);
			.sidebar-icon
			{
				padding: 10px;
				text-align: center;
				width: 30px;
				padding-right: 0px;
				padding-left: 15px;
			}
			a
			{
				color: #777;
				padding: 10px;
				padding-left: 5px;
				margin: 0;
			    display: block;
			    font-weight: bold;
			}
		}
	}
}

.toolbar
{
	.nav-icon
	{
		font-size: 25px;
	}
}
.bg-red
{
	background-color: red;
}


.dashboard-content
{
	.dashboard-card
	{
		display: flex;
		width: 100%;
		color: #fff;
		padding: 10px;
		box-sizing: border-box;
		margin-bottom: 10px;

		&:nth-child(1) { background-color: #55C5EA };
		&:nth-child(2) { background-color: #5eb77f  };
		&:nth-child(3) { background-color: #EA5F42  };
		&:nth-child(3) { background-color: #E9933C  };

		.card-icon
		{
			font-size: 40px;
			text-align: right;
		    -webkit-flex: 2; /* Safari 6.1+ */
		    -ms-flex: 2; /* IE 10 */ 
		    flex: 2;

		}
		.card-details
		{	
			line-height: 130%;
			padding-left: 20px;
		    -webkit-flex: 10; /* Safari 6.1+ */
		    -ms-flex: 10; /* IE 10 */ 
		    flex: 10;

			.card-title
			{
				color: rgba(0,0,0,0.3);
				font-weight: bold;
			}
			.card-label
			{
				font-weight: bold;
				font-size: 18px;
			}
			.card-sub-label
			{
				color: rgba(255,255,255,0.7);
			}
		}
	}
}