@import "../../../assets/front/sass/mixin";
@import "../../custom/variables";

body
{
	background-color: #fff;
}

.alert
{
    background-color: #DA473F !important;
    color: white;
    border:none !important;
    width: 75%;
    margin: auto;
    text-align: center;
}

.signin-wrapper
{
	padding: 50px;
	font-family: $display-txt;
	padding-top: 100px;
	align-items: center;
	height: 135vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media screen and (max-width: 1024px) 
	{
	    height: 155vh;
	}
	@media screen and (max-width: 375px) 
	{
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.top-banner
	{
		padding: 80px 0;
		.signin-container
		{
			background-color: #fff;
			padding: 60px 0px;
			width: 40%;
			margin: auto;
			@media screen and (max-width: 768px) 
			{
			    width: 60%;
			}
			@media screen and (max-width: 425px) 
			{
			    padding: 30px 0px;
			    width: 100%;
			}
			@media screen and (max-width: 425px) 
			{
			    padding: 15px 0px;
			}
			@media screen and (max-width: 320px) 
			{
			    text-align: center;
			}
			.title-container
			{
				text-align: center;
				font-family: $display-txt;
				font-weight: 600;
				color: $c-white;
				background-color: $c-blue;
				padding: 30px 20px;
				font-size: 25px;
				width: 240px;
				position: absolute;
				top: 150px;
				left: 560px;
				@media screen and (max-width: 1024px) 
				{
				    left: 420px;
				}
				@media screen and (max-width: 768px) 
				{
				    width: 190px;
				    font-size: 20px;
				    padding: 25px 10px;
				    left: 333px;
				}
				@media screen and (max-width: 425px) 
				{
				    width: 160px;
				    font-size: 15px;
				    padding: 25px 10px;
				    left: 135px;
				}
				@media screen and (max-width: 375px) 
				{
				    left: 110px;
				}
				@media screen and (max-width: 320px) 
				{
				    left: 93px;
				    font-size: 13px;
				    padding: 20px 10px;
				    width: 140px;
				}
			}
			.icon-profile
			{
				text-align: center;
				margin: 30px 0px;
			}
			.input-group
			{
				margin: 15px auto;
				width: 75%;
				span
				{
					border: 1px solid #dddddd;
					border-right: none;
				}
				input
				{
					padding: 0px 15px;
					color: #545454;
					height: 50px;
					font-size: 15px;
					border: 1px solid #dddddd;
				}
				@media screen and (max-width: 375px) 
				{
				    width: 90%
				}
			}
			label
			{
				color: $c-blue;
				font-weight: 600;
				float: right;
				padding: 0px 0px 20px 0px;
				font-size: 10px;
				margin-right: 60px;
				cursor: pointer;
				@media screen and (max-width: 320px) 
				{
				    margin-right: 0px;
				    float: none;
				}
			}
			.btn-container
			{
				text-align: center;
				.btn-red
				{
					border-radius: 5px;
					font-size: 15px;
					width: 75%;
					margin-top: 10px;
					padding: 12px 16px;
				}
			}
		}
		.border
		{
			border-bottom: 2px solid $c-red;
			padding: 20px 0;
			width: 40%;
			margin: auto;
		}
		.register
		{
			font-size: 15px;
			font-family: $display-txt;
			background: transparent;
			text-align: center;
			margin-top: 20px !important;
			:nth-child(1)
			{
				color: #fff;
				margin-right: 5px;
			}
			:nth-child(2)
			{
				color: $c-blue;
				cursor: pointer;
			}
			@media screen and (max-width: 425px) 
			{
			    font-size: 13px;
			}
		}
	}
}