/*button start*/

.btn-custom-blue{
    background-color:#76b6ec;
    border-color:#76b6ec;
    color: #ffffff;
}
.btn-custom-blue:hover{
    background-color:#8fc4f0;
    border-color:#8fc4f0;
    color: #ffffff;
}
.btn-custom-blue:focus{
    background-color:#8fc4f0;
    border-color:#8fc4f0;
    color: #ffffff;
}
.btn-custom-blue:active{
    background-color:#8fc4f0;
    border-color:#8fc4f0;
    color: #ffffff;
}
.btn-custom-blue:disabled{
    background-color: #bcdcf6;
    border-color:#bcdcf6;
    color:#e0e0d1;
}
.btn-custom-white{
    background-color:#ffffff !important;
    border-color:#76b6ec !important;
    color: #2473b5;
}

.btn-custom-white-gray{
    color: #2473b5;
    border-color:#e3e3e3 !important;
    background-color:#ffffff !important;
}
.btn-custom-white:hover,.btn-custom-white-gray:hover{
    color:#1d5f95 !important;
    border-color:#1f89e0 !important;
    background-color:#ffffff !important;
}
.btn-custom-white:active, .btn-custom-white-gray:active{
    color:#1d5f95 !important;
    border-color:#1f89e0 !important;
    background-color:#ffffff !important;
}
.btn-custom-white:focus, .btn-custom-white-gray:focus{
    color:#1d5f95 !important;
    border-color:#1f89e0 !important;
    background-color:#ffffff !important;
}
.btn-custom-white:disabled, .btn-custom-white-gray:disabled {
    color:#a5d0f3 !important;
    border-color:#a5d0f3 !important;
    background-color:#e0e0d1 !important;
}
.btn-custom-red{
    background-color:#ff4d4d;
    border-color:#ff4d4d;
    color:#ffffff;
}
.btn-custom-red:hover{
    background-color:#ff8080;
    border-color:#ff8080;
}
.btm-custom-green{
    background-color:#009933;
    border-color:#009933;
    color:#ffffff;
}

.btn-custom-red-white{
    border-color:#d46969 !important;
    color:#d46969 !important;
    background-color:#ffffff;
}
.btn-custom-red-white:hover{
    border-color:#b30000 !important;
    color:#b30000 !important;
}
.btn-custom-red-white:focus{
    border-color:#cc0000 !important;
    color:#cc0000 !important;
}

.btn-custom-green-white{
    border-color:#33cc33 !important;
    color:#33cc33 !important;
    background-color:#ffffff;
}
.btn-custom-green-white:hover{
    border-color:#29a329 !important;
    color:#29a329 !important;
}
.btn-custom-green-white:focus{
    border-color:#29a329 !important;
    color:#29a329 !important;
}

.btn-custom-transparent{
    background-color:transparent !important;
    border-color:transparent !important;
    color:#666666 !important;
}
.btn-custom-transparent:hover, .btn-custom-transparent:focus, .btn-custom-transparent:active{
    background-color:transparent !important;
    border-color:transparent !important;
    color:#1173d4 !important;
}
.btn-custom-transparent:disabled{
    background-color:transparent !important;
    border-color:transparent !important;
    color:#bfbfbf !important;
}

.btm-custom-green:hover{
    background-color:#006622;
    border-color:#006622;
}
.btn-custom-primary{
    background-color:#1682ba !important;
    color:#ffffff !important;
    border-color:#1682ba !important;
}
.btn-custom-primary:hover{
    background-color:#106189 !important;
    color:#ffffff !important;
    border-color:#106189 !important;
}
.btn-custom-primary:focus{
    background-color:#106189 !important;
    color:#ffffff !important;
    border-color:#106189 !important;
}
.btn-custom-primary:disabled{
    background-color:#ffffff !important;
    color:#c2c2a3 !important;
    border-color:#c2c2a3 !important;
}

.btn-custom-danger
{
    background-color: #d81616 !important;
    border-color: #d81616 !important;
    color:#ffffff;
}
.btn-custom-danger:hover, .btn-custom-danger:active, .btn-custom-danger:focus
{
    background-color: #fd4a4a !important;
    border-color: #fd4a4a !important;
    color:#ffffff;
}

.btn-custom-danger:disabled
{
    background-color: #f3a1a1 !important;
    border-color: #f3a1a1 !important;
    color:#ffffff;
}

/*button end*/




/* margin section start */
.margin-l-0{
    margin-left: 0px !important;
}
.margin-nl-19
{
    margin-left: -19px;
}
.margin-right-10{
    margin-right:10px;
}
.margin-right-20
{
    margin-right: 20px;
}
.margin-5-5{
    margin-top:5px;
    margin-left:5px;
}

.margin-left-6{
    margin-left:6px !important;
}
.margin-left-10{
    margin-left:10px !important;
}
.margin-left-30{
    margin-left:30px !important;
}
.margin-right-5{
    margin-right:5px !important;
}

.margin-nt-35{
    margin-top:-35px !important;
}
.margin-nt-4
{
    margin-top: -4px;
}

.margin-bottom-0{
    margin-bottom:0px !important;
}

.margin-bottom-1{
    margin-bottom:1px !important;
}

.margin-top-0
{
    margin-top:0px !important;
}
.margin-top-3{
    margin-top:3px !important;
}

.margin-top-10px{
    margin-top:10px !important;
}

.margin-top-6px
{
    margin-top: 6px;
}

.pull-right-20{
    margin-left: 20px;
}
.pull-left-10px {
    margin-right: 10px;
}
.pull-left-20px {
    margin-right: 20px;
}
.margin-nl-20{
    margin-left:-20px !important;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-right-80
{
    margin-right:80px;
}
.margin-auto
{
    margin:auto;
}
.margin-lr-5
{
    margin-left: 5px;
    margin-right: 5px;
}

.margin-nt-18
{
    margin-top: -18px;
}
/* margin section end */



/* width section start */
.width-21{
    width:21% !important;
}
.width-30{
    width:30% !important;
}
.width-18{
    width:18% !important;
}
.width-100{
    width:100% !important;
}
.width-120px
{
    width: 120px !important;
}
.width-200px
{
    width: 200px !important;
}
.width-25
{
    width:25% !important;
}
.width-25-n
{
    width:25%;
}

.width-50
{
    width:50%;
}

/* width section end */




/*table section start*/

.table-bordered td{
    border:1px solid #e6e6e6 !important;
}
.table-bordered th{
    border:1px solid #e6e6e6 !important;
}
/*table section end*/



/*text color start */
.color-red{
    color:#cc0000 !important;
}
.color-gray{
    color:#cfcfcf !important;
}
.color-dark-gray{
    color:#777070 !important;
}
.colo-mid-dark-gray{
    color: #aaaaaa !important;
}

.color-green{
    color:green;
}
/*text color end */


/*back-ground start*/
.background-white{
    background-color:#ffffff !important;
}
/*back-ground end*/

/*padding start*/

.padding0{
    padding:0px !important;
}
.padding-10{
    padding:10px !important;
}
.padding-15{
    padding:15px !important;
}
.padding-0{
    padding: 0px !important;
}
.padding-5{
    padding:5px !important;
}
.padding-7{
    padding:7px !important;
}

.padding-lr-1{
    padding-left:1px !important;
    padding-right:1px !important;
}
.padding-l-1
{
    padding-left: 1px !important;
}
.padding-r-1
{
    padding-right: 1px !important;
}
.padding-lr-2{
    padding-left:2px !important;
    padding-right:2px !important;
}
.padding-r-10{
    padding-right: 10px !important;
}
.padding-top-10
{
    padding-top: 10px !important;
}
.padding-tb-1, .padding-tb-1 td
{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
.padding-tb-2, .padding-tb-2 td
{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.padding-3-10
{
    padding: 3px 10px !important;
}
.padding-b-37
{
    padding-bottom: 37px !important;
}
.padding-tb-10
{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.padding-tb-0
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
/*padding start*/

/* position start*/
.pos-absolute{
    position:absolute;
}
.pos-relative{
    position:relative !important;
}

.top-left-5{
    top:5px;
    right:5px;
}
/* position end*/



/* border start */
.border-radius-0{
    border-radius:0px !important;
}
.border-radius-0{
    border-radius: 0px !important;
}

.border-gray-dotted:hover{
    border:1px dotted silver;
    cursor:pointer;
}

.border-gray{
    border:1px solid silver;
    cursor:pointer;
}
.no-border{
    border:none !important;
}

.border-left-none{
    border-left: none !important;
}
.border-right-none{
    border-right: none !important;
}

.border-none, .border-none:focus, .border-none:active
{
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
}
/* border end */


/*indent start*/
.indent-13{
    text-indent: 13px;
}
.indent-15{
    text-indent: 15px;
}
.indent-18{
    text-indent: 18px;
}

/*indent end*/

/*image start*/
.img-50-50{
    width: 50px;
    height: 50px;
    object-fit:contain;
}
.img30x30{
    width:30px;
    height:30px;
    object-fit:contain;
}
.img20x20{
    width:20px;
    height:20px;
    object-fit:contain;
}
.img-35-35{
    width:35px;
    height:35px;
    object-fit:contain;
}
.img-200-200
{
    width: 200px;
    height: 200px;
    object-fit:contain;
    border: 1px solid #d2d5d6;
}
/*image end*/


/*dispaly start*/
.display-none{
    display:none;
    z-index: 1;
}
.display-inline-block{
    display:inline-block !important;
}
.display-block{
    display: block !important;
}
.display-table
{
    display: table;
}
.display-table-cell
{
    display: table-cell;
}
/*dispaly end*/




.top-34{
    top:34px !important;
}
.top-30{
    top:30px !important;
}



/* font size start */
.f-16{
    font-size:16px !important;
}
.f-18{
    font-size:18px !important;
}
.f-11
{
    font-size: 11px !important;
}
.f-10
{
    font-size: 10px !important;
}
.f-9
{
    font-size: 9px !important;
}
/* font size end */


/*other start*/
.well-white{
    background-color:#ffffff !important;
}

.location-fa{
    margin-top: 9px;
    margin-left: 8px;
}


.calendar-icon{
    top: 31px;
    margin-left: 6px;
}


.badge{
    background-color:transparent !important;
    color:inherit !important;
}
.custom-badge
{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;

    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

.custom-badge-default
{
    background-color: #777;
    color: #fff;
}

.custom-badge-primary
{
    background-color: #1682ba;
    color: #fff;
}

.custom-badge-success
{
    background-color: #009933;
    color: #fff;
}

.custom-badge-warning
{
    background-color: #ff4d4d;
    color: #fff;
}

.div-attachment{
    max-width:400px;
    min-width:300px;
    position:relative;
    margin-left:8px;
}
.max-450{
    max-height:450px;
    overflow:auto;
    overflow-x:none;
}
.error-modal{
    color: #e60000;
    padding:5px;
    background-color:#ffe6e6;
    border-radius:5px;
    border: 1px solid #e60000;
    position: relative;
    margin-bottom:10px;
    display:none;

}

.item-result {
    max-height: 350px;
    overflow: auto;
    overflow-x: hidden;
}

.custom-ul{
    padding: 1px !important;
    list-style:none;
    text-align:left;
}

.no-list-style
{
    list-style: none;
}

.list-flex{
    display: flex;
}

.customer-list{
    max-height: 350px;
    overflow: auto;
    overflow-x: hidden;
}
.customer-info{
    margin-left: -4px !important;
}
.customer-list::-webkit-scrollbar{
    width:2px;
    background-color:#cccccc;
    margin-right:-10px;
} 
.customer-list::-webkit-scrollbar-thumb{
    background-color:#1682ba;
    border-radius:10px;
}
.customer-list::-webkit-scrollbar-thumb:hover{
    background-color:#106189;
    border:1px solid #333333;
}
.customer-list::-webkit-scrollbar-thumb:active{
    background-color:#106189;
    border:1px solid #333333;
} 
/*other end*/


/*z index start*/
.z-index-1000{
    z-index:1000;
}
.z-index-1{
    z-index: 1 !important;
}
/*z index end*/

/*custom dropdown start*/
.custom-drop-down{
    z-index:1051;
    position:absolute;
    background-color:#ffffff;
    max-height:300px;
    overflow:auto;
    overflow-x:hidden;
    border:1px solid rgba(200,200,200,200);
    margin-bottom:15px;
    margin-top:1px;
    min-width:93%;
    display:none;
}

.cusom-drop-item{
    padding: 2px;
    text-align: left;
}
.cusom-drop-item:hover{
    background-color:#e8f6fc;
    color:#262626;
}

.lg-120{
    min-width:120% !important;
}

.dropdown-menu-custom{
    background-color: #fdfcfc !important;
    box-shadow: 0 0 3px #4ba1e7 !important;
}
.dropdown-menu>li>a{
   
}
.dropdown-menu>li>a:hover{
    color: #f2f2f2 !important;
}
/*custom dropdown end*/


/*custom progress start*/

.custom-progress-container
{
    width:100%;
    min-width:50px;
    max-width: 150px;
    height:5px;
    border:1px solid #1682ba;
    border-radius: 5px;
}
.custom-progress-container-100
{
    width:100%;
    height:5px;
    border:1px solid #1682ba;
    border-radius: 5px;
}
.custom-progress{
    height:100%;
    width:0%;
    background-color:#1682ba;
}

/*custom progress end*/


/*custom tab start*/
.nav-tabs-custom>li.active>a, .nav-tabs-custom>li.active>a:hover, .nav-tabs-custom>li.active>a:focus{
    color: #666;
    border: 0;
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #ddd  !important;
    border-bottom: transparent !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    -webkit-box-shadow: none !important; 
    box-shadow: none !important; 

}
.nav-tabs-custom {
    border-bottom: 1px solid #ddd !important;
}
.tab-content-custom{
    border: 1px solid #ddd;
    border-top: transparent;
    padding: 10px;
}
/*custom tab end*/

/*cursor start*/
.cursor-pointer{
    cursor: pointer;
}
/*cursor end*/

/*custom form-control start*/
.custom-form-control
{
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid silver;
    min-width: 95%;
    max-width: 120%;
    max-height: 250px;
    overflow: auto;
}
.text-drop-down{
    max-width: 100%;
}
.readonly[readonly]
{
    background-color: #ffffff !important;
}

/*custom form-control end*/

/* hierarchy list group */

.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}


/* TAB PANE WHITE BACKGROUND */
.tab-pane-div
{
    background-color: #ffffff;
    /*border-top-color: #ffffff;*/
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /*border: 1px solid #ddd;*/
    padding:10px;
    padding-top:50px;
    border-top:none;
    margin-bottom:50px;
}


.lbl-a-href
{
    color: #226e99;
    
}
.lbl-a-href:hover
{
    cursor:pointer;
    color: #147fbd;
}

/* search container */
.search-container
{
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 10px #bfbebe;
    width: 100%;
    border-radius: 3px;
    z-index: 100;
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
    margin-top:4px;
}


/* MESSAGE BOX CONTAINER */
.message-box
{
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    width: 100%;
    max-height: 200px;
    overflow:auto;
    overflow-x: hidden;
}

.over-flow
{
    overflow:auto;
}

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #63B76C; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }


/* custom panel drop down */
.custom-panel-header
{
    width: 100%;
    padding: 5px !important;
    color:#fff;
    background-color: #106189 !important;

}
.custom-panel-header a
{
    color:#fff !important;
    background-color: #106189;
}
.custom-panel-body
{
    padding: 5px;
    border: 1px solid #b5c1c7;
    position: relative;
    margin-top: -13px;
    margin-left: 12px;
    margin-bottom: 30px;
}

/* triangle */
.up-triangle {
    width: 0;
    height: 0;
    border-bottom: 140px solid #103252;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}
 
.down-triangle {
    width: 0;
    height: 0;
    border-top: 140px solid #103252;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}
 
.left-triangle {
    width: 0;
    height: 0;
    border-right: 140px solid #103252;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}
 
.right-triangle {
    width: 0;
    height: 0;
    border-left: 140px solid #103252;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}
.triangle-top-right {
    width: 0;
    height: 0;
    border-top: 13px solid #106189;
    border-left: 13px solid transparent;
}
 
.triangle-top-left {
    width: 0;
    height: 0;
    border-top: 140px solid #103252;
    border-right: 140px solid transparent;
}
    
.triangle-bottom-right {
    width: 0;
    height: 0;
    border-bottom: 140px solid #103252;
    border-left: 140px solid transparent;
}
 
.triangle-bottom-left {
    width: 0;
    height: 0;
    border-bottom: 140px solid #103252;
    border-right: 140px solid transparent;
}

.info-box{
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.info-box-number
{
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.info-box-icon
{
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}
.bg-primary
{
    background-color: #76b6ec !important;
}
.info-box-text
{
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-content
{
    padding: 5px 10px;
    margin-left: 90px;
}

.payslip-div
{
    border:1px silver solid;
    width: 100%;
    height: 100%;
}

.payslip-gray-dotted{
    border:1px dotted silver;
}

.paper-portrait
{
    height:600px;
}
.paper-landscape
{
    height:350px;
}
.payslip-container
{
    padding:5px;
}

/* height start */
.height-17-m
{
    height: 17em;
}
.height-50
{
    height: 50%;
}
.height-100
{
    height: 100%;
}
.height-30-em
{
    max-height: 30em;
}
/* height end */



@media only screen and (max-width: 800px) {
/* Force table to not be like tables anymore */
.no-more-tables table,
.no-more-tables thead,
.no-more-tables tbody,
.no-more-tables th,
.no-more-tables td,
.no-more-tables tr {
display: block;
}
 
/* Hide table headers (but not display: none;, for accessibility) */
.no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
 
.no-more-tables tr { border: 1px solid #ccc; }
  
.no-more-tables td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
}
 
.no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
}
 
/*
Label the data
*/
.no-more-tables td:before { content: attr(data-title); }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.column-fit, .column-fit td, .column-fit th
{
    white-space: nowrap;
}


.message-container 
{
    background-color: #e3e3e3;
    border: 1px solid #ccc9c9;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.border-1-gray
{
    border:1px solid #989797;
}