.store
{
	background-color: #F5F5F5;
	.container
	{
		background-color: #fff;
		padding: 0px 20px 50px;
		.store-header
		{
			margin-bottom: 15px;
			background-color: #E8E8E8;
			margin-left: -20px;
			margin-right: -20px;
			padding: 30px 30px;
			font-family: "Raleway", sans-serif;
			color: #1D3F8E;
			font-size: 38px;
			text-align: left;
			font-weight: 700;
		    -moz-box-shadow:inset 0px 0px 8px #D8D8D8;
		    -webkit-box-shadow:inset 0px 0px 8px #D8D8D8;
		    box-shadow:inset 0px 0px 8px #D8D8D8;
		}
		.holder
		{
			display: table;
			padding-top: 35px;
			padding-bottom: 35px;
			border-bottom: 3px solid #F0F0F0;
			.img
			{
				width: 120px;
				display: table-cell;
				vertical-align: top;
				padding-right: 25px;
				img
				{
					width: 100%;
				}
			}
			.text
			{
				display: table-cell;
				vertical-align: top;
				.name
				{
					color: #1D3F8E;
					font-size: 21px;
					margin-bottom: 10px;
				}
				.description
				{
					font-size: 14px;
					line-height: 15px;
					color: #939598;
					margin-bottom: 5px;
					font-weight: 300;
				}
				.price
				{
					font-size: 14px;
					line-height: 15px;
					color: #939598;
					font-weight: 600;
				}
			}
		}
		.holder:after
		{
			content: '';
		    border-left: 2px solid #F0F0F0;
		    position: absolute;
		    height: 80%;
		    right: 0;
		    top: 10%;
		}
		.holder:nth-child(3n):after
		{
			border: 0;
		}
	}
}