.cover-holder
{
	.panel-headings
	{
		padding: 0 !important;
		position: relative;
		.banner-img
		{
			width: 100%;
			border-bottom-right-radius: 15px;
		}
		.shadow
		{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			img
			{
				width: 100%;
				border-bottom-right-radius: 15px;
			}
		}
		.cover-container
		{
			position: absolute;
			z-index: 5;
			bottom: -20px;
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 25px;
			.cover-img
			{
				display: inline-block;
				vertical-align: top;
				margin-right: 25px;
				-moz-box-shadow: 0px 0px 40px rgba(0,0,0,0.2);
				-webkit-box-shadow: 0px 0px 40px rgba(0,0,0,0.2);
				box-shadow: 0px 0px 40px rgba(0,0,0,0.2);
			}
			.cover-text
			{
				display: inline-block;
				vertical-align: top;
				color: #fff;
				.name
				{
					font-size: 24px;
					font-weight: 700;
					letter-spacing: 1px;
				}
				.date
				{
					font-size: 14px;
				}
				.email
				{
					font-size: 14px;
					font-weight: 700;
				}
			}
		}
	}
}

.section-title
{
	color: #515151;
	font-size: 14px;
	font-weight: 600;
	> img
	{
		margin-right: 10px;
	}
	> span
	{

	}
}

.news-container
{
	.holder
	{
		border-bottom: 1px solid #dcdcdc;
		padding: 15px 0;
		&:first-child
		{
			padding-top: 0;
		}
		&:last-child
		{
			padding-bottom: 0;
		}
		.img
		{
			padding-right: 15px;
			img
			{
				width: 100%;
			}
		}
		.title
		{
			color: #171717;
			font-weight: 600;
			font-size: 14px;
			margin: 15px 0;
		}
		.desc
		{
			color: #939393;
			font-size: 13px;
		}
		.date
		{
			color: #939393;
			font-size: 11px;
			text-align: right;
			margin-top: 15px;
		}
		&:last-child
		{
			border-bottom: 0;
		}
		table
		{
			width: 100%;
			tbody
			{
				tr
				{
					td
					{
						vertical-align: top;
						&.td-img
						{
							width: 130px;
							img
							{
								width: 130px;
								height: 130px;
								object-fit: cover;
							}
						}
						&.td-text
						{
							.title
							{
								margin: 0;
							}
							.desc
							{
								margin-top: 10px;
							}
							.date
							{
								margin: 0;
								margin-top: 5px;
							}
						}
					}
				}
			}
		}
	}
}