@import "../../../assets/front/sass/mixin";

$display-text: 'Ubuntu', sans-serif;
$content-text: 'Open Sans', sans-serif;

body
{
	background-color: transparent;
}

/* SLIDER */
.slider-wrapper 
{
	position: relative;
	width: 100%;
	height: 100%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 250px 0 250px 0;
	font-family: $display-text;

	.caption-container	
	{
		.text-1
		{
			color: #e1890b;
			font-size: 25px;
			font-weight: 400;
		}

		.text-2
		{
			color: #fff;
			font-size: 40px;
			font-weight: 400;
			padding-top: 10px;
		}
	}

	.button-container
	{
		padding: 20px 0 20px 0;

		.btn-explore
		{
			@include transition(0.3s);
			background-color: inherit;
			color: #e1890b;
			border: 1px solid #e1890b;
			padding: 10px 50px;

			&:hover
			{
				color: #fff;
				border: 1px solid #e1890b;
				background-color: #e1890b;
			}
		}
	}

	.card
	{
		background-color: rgba(255,137,11, 0.6);
		padding: 20px;
		width: 50%;
		float: right;

		.card-content
		{
			.title	
			{
				color: #000;
				font-weight: 500;
				font-size: 25px;
			}

			.icon-text-container
			{
				display: inline-block;
				padding: 10px 0 10px 0;

				img
				{
					vertical-align: inherit;
				}

				span
				{
					display: inline-block;
					padding-left: 5px;

					.text-1
					{
						font-size: 15px;
						font-weight: 400;
						color: #000;
					}

					.text-2
					{
						color: #fff;
						font-family: $content-text;
						font-size: 20px;
						font-weight: 700;
					}

				}
			}

			.details
			{
				color: #fff;
			}

			.button-container
			{
				padding: 10px 0 10px 0;

				.btn-buy-tokens
				{
					@include transition(0.4s);
					background-color: inherit;
					color: #fff;
					border: 1px solid #fff;
					padding: 8px 20px;
				}
			}
		}
	}

}

// ABOUT US
.wrapper-1
{
	//transform: skewY(4deg);
	padding: 50px 0 50px 0;
	background-color: #fff;

	.unskew
	{
		//transform: skewY(-4deg);

		.wrapper-title
		{
			font-family: $display-text;
			font-size: 30px;
			color: #131313;
			font-weight: 700;
			color: #0c0c0c;

			span
			{
				u
				{
					text-decoration-color: #e1890b;
				}
			}

		}

		.wrapper-details
		{
			font-size: 18px;
			color: #7e7e7e;
			padding-top: 10px;
		}

		.wr1-img-container
		{
			vertical-align: middle;
			text-align: center;
		}
	}
}

// HOW IT WORKS
.wrapper-2
{
	transform: skewY(4deg);
	padding: 70px 0 80px 0;
	background-color: #f5f5f5;
	text-align: center;

	.unskew
	{
		transform: skewY(-4deg);

		.wrapper-title
		{
			font-family: $content-text;
			font-size: 30px;
			font-weight: 700;
			padding: 0 0 30px 0;
			color: #0c0c0c;

			span
			{
				u
				{
					text-decoration-color: #e1890b;
				}
			}
		}

		.img-text-holder
		{
			.img-holder
			{
				padding-bottom: 15px;
			}

			.text-holder
			{
				font-family: $content-text;
				font-weight: 400;
				color: #7e7e7e;
				font-size: 20px;
			}
		}
	}
}

//MISSION VISION
.wrapper-3
{
	padding: 50px 0;
	text-align: center;

	.mission-vision-container
	{

		section
		{
			.title
			{
				font-family: $content-text;
				font-size: 30px;
				font-weight: 700;
				padding: 0 0 40px 0;
				color: #0c0c0c;

				u
				{
					text-decoration-color: #e1890b;
				}
			}

			.details
			{
				color: #7e7e7e;
				font-size: 18px;
				padding-bottom: 40px;
			}
		}
	}

	.border
	{
		border-bottom: 2px solid #e6e6e6;
		padding-top: 50px;
	}
}

//NEWS
.wrapper-4
{
	padding-bottom: 50px;

	.wrapper-title
	{
		font-family: $content-text;
		font-size: 30px;
		font-weight: 700;
		padding: 0 0 30px 0;
		color: #0c0c0c;

		u
		{
			text-decoration-color: #e1890b;
		}
	}

	.news-holder
	{
		.img-holder
		{
			
		}

		.title
		{
			font-size: 25px;
			color: #0c0c0c;
			font-weight: 700;
			padding: 10px 0;
		}

		.details
		{
			font-size: 18px;
			color: #7e7e7e;
		}
	}
}