@import "../../../assets/front/sass/mixin";

$display-text: 'Ubuntu', sans-serif;
$content-text: 'Open Sans', sans-serif;

body
{
	background-color: transparent;
}

/* SLIDER */
.slider-wrapper 
{
	position: relative;
	width: 100%;
	height: 100%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 250px 0 250px 0;
	font-family: $display-text;

	.caption-container	
	{
		.text-1
		{
			color: #e1890b;
			font-size: 25px;
			font-weight: 400;
		}

		.text-2
		{
			color: #fff;
			font-size: 40px;
			font-weight: 400;
			padding-top: 10px;
		}
	}

	.button-container
	{
		padding: 20px 0 20px 0;

		.btn-explore
		{
			@include transition(0.3s);
			background-color: inherit;
			color: #e1890b;
			border: 1px solid #e1890b;
			padding: 10px 50px;

			&:hover
			{
				color: #fff;
				border: 1px solid #e1890b;
				background-color: #e1890b;
			}
		}
	}

	.card
	{
		background-color: rgba(255,137,11, 0.6);
		padding: 20px;
		width: 50%;
		float: right;

		.card-content
		{
			.title	
			{
				color: #000;
				font-weight: 500;
				font-size: 25px;
			}

			.icon-text-container
			{
				display: inline-block;
				padding: 10px 0 10px 0;

				img
				{
					vertical-align: inherit;
				}

				span
				{
					display: inline-block;
					padding-left: 5px;

					.text-1
					{
						font-size: 15px;
						font-weight: 400;
						color: #000;
					}

					.text-2
					{
						color: #fff;
						font-family: $content-text;
						font-size: 20px;
						font-weight: 700;
					}

				}
			}

			.details
			{
				color: #fff;
			}

			.button-container
			{
				padding: 10px 0 10px 0;

				.btn-buy-tokens
				{
					@include transition(0.4s);
					background-color: inherit;
					color: #fff;
					border: 1px solid #fff;
					padding: 8px 20px;
				}
			}
		}
	}

}

