@import "../../../assets/front/sass/mixin";

$display-text: 'Ubuntu', sans-serif;
$content-text: 'Open Sans', sans-serif;

body
{
	background-color: transparent;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: -17px;
  bottom: 0;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax__layer--back {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  background-size: cover;
  background-repeat: no-repeat;
}

.absolute-position {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000;
}

/* SLIDER */
.slider-wrapper 
{
	position: relative;
	//width: 100%;
	height: 100vh;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 250px 0 250px 0;
	font-family: $display-text;

	.caption-container	
	{
		.text-1
		{
			color: #fff;
			font-size: 40px;
			font-weight: 400;
			padding-top: 10px;
		}

		.text-2
		{
			color: #fff;
			font-size: 15px;
			font-weight: 400;
			padding: 10px 0;
		}
	}

	.button-container
	{
		padding: 20px 0 20px 0;

		.btn-explore
		{
			@include transition(0.3s);
			background-color: #016f56;
			color: #fff;
			border: none;
			padding: 10px 25px;
			border-bottom: 4px solid #025c37;

			&:hover
			{
				color: #016f56;
				background-color: #fff;
				border-bottom: 4px solid #025c37;
			}
		}
	}

	.card
	{
		background-color: #fff;
		//padding: 20px;
		width: 50%;
		float: right;

		.card-content
		{
			.title	
			{
				padding: 20px;

				span
				{
					color: #000;
					font-weight: 500;
					font-size: 25px;

					u
					{
						text-decoration-color: #016f56;
					}
				}
			}

			.card-holder
			{
				background-color: #f3f3f3;
				padding: 20px;

				.icon-text-container
				{
					display: inline-block;
					padding: 10px 0 10px 0;

					img
					{
						vertical-align: inherit;
					}

					span
					{
						display: inline-block;
						padding-left: 5px;

						.text-1
						{
							font-size: 15px;
							font-weight: 400;
							color: #5f9f0d;
						}

						.text-2
						{
							color: #1c1c1c;
							font-family: $content-text;
							font-size: 20px;
							font-weight: 700;
						}

					}
				}

				.border
				{
					border-bottom: 1px solid #cfcfcf;
					margin: 5px 0 10px 0;
				}

				.details
				{
					color: #585858;
					font-size: 13px;
					font-weight: 400;
				}

				.button-container
				{
					padding: 10px 0 10px 0;

					.btn-buy-tokens
					{
						@include transition(0.4s);
						background-color: #5f9f0d;
						color: #fff;
						border: none;
						border-bottom: 4px solid #53870f;
						padding: 8px 20px;
					}
				}
			}
		}
	}

}

// ABOUT US
.wrapper-1
{
	padding: 50px 0;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;

	.wrapper-title
	{
		font-family: $display-text;
		font-size: 30px;
		color: #1c1c1c;

		span
		{
			color: #e1890b;
		}

	}

	.img-holder
	{
		//width: 50%;
		margin: auto;
		padding: 50px 0;

		img
		{
			//width: 100%;
		}
	}

	.wrapper-texts
	{
		font-family: $content-text;
		font-size: 15px;
		color: #585858;
		padding: 0 200px;
		line-height: 2;
	}
}

// MISSION VISION
.wrapper-2
{
	transform: skewY(4deg);
	background-color: #082c22;
	text-align: center;

	.unskew
	{
		transform: skewY(-4deg);
		background-repeat: no-repeat;
		background-size: cover;
	    padding: 110px 0 150px 0;

		.img-holder
		{
			margin: auto;
		}

		.title
		{
			font-family: $display-text;
			color: #df8709;
			font-size: 24px;
			font-weight: 400;
			padding: 20px 0;
		}

		.texts
		{	
			font-family: $content-text;
			font-size: 15px;
			font-weight: 400;
			color: #fff;
			padding: 0 65px;
			line-height: 2;
		}
	}
}

// HOW IT WORKS
.wrapper-3
{
	padding: 100px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;

	.wrapper-title
	{
		font-family: $display-text;
		font-size: 30px;
		color: #1c1c1c;
		text-align: center;
		padding-bottom: 80px;

		span
		{
			color: #e1890b;
		}

	}

	.left
	{
		.text-header
		{
			font-family: $display-text;
			color: #e1890b;
			font-size: 24px;
			font-weight: 400;
		}

		.text-content
		{
			line-height: 2;
			font-family: $content-text;
			font-size: 15px;
			font-weight: 400;
			color: #585858;
			padding-top: 10px;
		}
	}

	.right
	{
		text-align: center;

		.img-holder
		{
			img
			{

			}
		}
	}
}

// PRODUCTS
.wrapper-4	
{
	transform: skewY(4deg);
	background-color: #e1890b;
	padding: 50px 0 110px 0;

	.unskew
	{
		transform: skewY(-4deg);

		.wrapper-title
		{
			font-family: $display-text;
			font-size: 30px;
			color: #1c1c1c;
			padding-bottom: 30px;

			span
			{
				color: #fff;
				font-weight: 500;
			}
		}

		.product-holder
		{
			background-color: #fff;
			height: 355px;
			margin-top: 20px;

			.top
			{
				img
				{
					width: 100%;
				}
			}

			.bottom
			{
				.texts
				{
					padding: 20px 15px;
					color: #7e7e7e;
					font-weight: 15px;
					font-weight: 400;
					line-height: 2;
				}

				.btn-container
				{
				    padding: 0px 15px 20px 15px;
					display: inline-block;

					.btn-more-info
					{
						@include transition(0.3s);
						padding: 15px 33px 13px 33px;
						background-color: #016f56;
						color: #fff;
						border: 2px solid #016f56;
						border-bottom: 4px solid #025c37;

						&:hover
						{
							padding: 15px 33px;
							background-color: inherit;
							color: #016f56;
							border: 2px solid #016f56;
							border-bottom: 2px solid #025c37;
						}
					}

					.btn-buy-tokens
					{
						@include transition(0.3s);
						padding: 15px 33px;
						background-color: inherit;
						color: #016f56;
						border: 2px solid #016f56;
						margin-left: 16px;

						&:hover
						{
							padding: 15px 33px 13px 33px;
							background-color: #016f56;
							color: #fff;
							border: 2px solid #016f56;
							border-bottom: 4px solid #025c37;
						}
					}
				}
			}

			.img-holder
			{
				text-align: center;
				padding: 125px 0 10px 0;

				img
				{

				}
			}

			.text
			{
				color: #585858;
				font-family: $display-text;
				font-size: 18px;
				font-weight: 400;
				text-align: center;
			}
		}
	}
}

// NEWS AND ANNOUNCEMENTS
.wrapper-5
{
	//background-color: #f2f2f2;
	padding: 50px 0 100px 0;

	.wrapper-title
	{
		font-family: $display-text;
		font-size: 30px;
		color: #1c1c1c;
		padding-bottom: 50px;

		span
		{
			color: #e1890b;
		}

	}

	.news-holder
	{
		background-color: #f2f2f2;

		.img-holder
		{
			img
			{

			}
		}

		.caption-holder
		{
			padding: 20px 0;
			font-family: $display-text;
			margin-left: -10px;

			.caption
			{
				color: #1c1c1c;
				font-weight: 400;
				font-size: 18px;
			}

			.date
			{
				padding-top: 20px;
				color: #016f56;
				font-size: 15px;

			}
		}

	}
}