/* ANIMATION */

@keyframes blink 
{
	0% {opacity: 0}
	5% {opacity: 0.5}
	10% {opacity: 0.6}
	15% {opacity: 0.7}
	20% {opacity: 0.8}
	25% {opacity: 0.9}
	30% {opacity: 1}
}

@keyframes glowing
{
	0%{box-shadow: 0px 0px 25px 5px rgba(#2fb5f8, .4);}
	10%{box-shadow: 0px 0px 24px 5px rgba(#2fb5f8, .4);}
	20%{box-shadow: 0px 0px 23px 5px rgba(#2fb5f8, .4);}
	30%{box-shadow: 0px 0px 22px 5px rgba(#2fb5f8, .4);}
	40%{box-shadow: 0px 0px 21px 5px rgba(#2fb5f8, .4);}
	50%{box-shadow: 0px 0px 20px 5px rgba(#2fb5f8, .4);}
	60%{box-shadow: 0px 0px 21px 5px rgba(#2fb5f8, .4);}
	70%{box-shadow: 0px 0px 22px 5px rgba(#2fb5f8, .4);}
	80%{box-shadow: 0px 0px 23px 5px rgba(#2fb5f8, .4);}
	90%{box-shadow: 0px 0px 24px 5px rgba(#2fb5f8, .4);}
	100%{box-shadow: 0px 0px 25px 5px rgba(#2fb5f8, .4);}
}