// // ATOMIC CSS

// // Current Wallet
// .cw
// {
// 	background-color: #2161C8 !important;
// }

// .cw-text
// {
// 	color: #2161C8 !important;
// }// End Current Wallet


// .tp
// {
// 	background-color: #8E5EA2 !important;
// }

// .tp-text
// {
// 	color: #8E5EA2 !important;
// }

// .tr
// {
// 	background-color: #ffa024 !important;
// }

// .tr-text
// {
// 	color: #ffa024 !important;
// }

// .rpv
// {
// 	background-color: #ecdb18 !important;
// }

// .rpv-text
// {
// 	color: #ecdb18 !important;
// }

// .pv
// {
// 	background-color: #49b96b !important;
// }

// .pv-text
// {
// 	color: #49b96b !important;
// }

// .gs
// {
// 	background-color: #f05151 !important;
// }

// .gs-text
// {
// 	color: #f05151 !important;
// }

// .wsc
// {
// 	background-color: #f69679 !important;
// }

// .wsc-text
// {
// 	color: #f69679 !important;
// }

// .pr
// {
// 	background-color: #a3620a !important;
// }

// .pr-text
// {
// 	color: #a3620a !important;
// }

// .pc
// {
// 	background-color: #6666cc !important;
// }

// .pc-text
// {
// 	color: #6666cc !important;
// }