body
{
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.wrapper
{
	margin: 10px 0;
	padding: 20px;
	border: 2px solid #333;
	
	/* HEADER */
	.header
	{
		text-align: center;
		padding-top: 25px;

		.h-container
		{
			.logo-container
			{
				max-width: 250px;
				margin: auto;
				img 
				{
					width: 100%;
				}
			}
			h1 
			{
				margin: 0;
				font-weight: 800;
				font-size: 24px;
			}
			.right
			{
				float: right;
			}
		}
	}

	/* RECIEPT CONTENT */
	.content
	{
		padding-top: 20px;
		.per-container
		{
			padding: 10px;
			border: 2px solid #333;

			.per-label
			{
				font-weight: 600;
			}

			&:nth-child(2), &:nth-child(3)
			{
				border-top: 0;
			}
		}

		.remarks
		{
			margin-top: 20px;
			border: 2px solid #333;
			padding: 10px 10px 75px 10px;
			font-weight: 700;
		}

		.sign 
		{
			margin-top: 20px;
			padding-top: 85px;
			border-bottom: 4px solid #333;
		}

		table, th, td 
		{
			border: 2px solid #333;
		}
		table 
		{
			margin-top: 20px;
			width: 100%;

			th 
			{
				width: 100%;
				text-align: center;
				padding: 3px 0;

			}
			.head-green
			{
				background-color: #c0e4a5;
			}
			.head-blue
			{
				background-color: #bcd0eb;	
			}
			td 
			{
				padding: 10px;
			}
		}
	}

	/* FOOTER */
	.footer 
	{
		margin-top: 20px;
		p 
		{
			font-size: 13px;

			&:nth-child(2)
			{
				font-weight: 600;
			}
		}
	}
}