.modal-header
{
	background-color: #75A04B !important;
	color: #fff;

	.fa
	{
		color: #fff;
	}

	.close
	{
		color: #fff;
	}
}

.modal-content
{
	border: none !important;
	border-radius: 0 !important;
}

.member
{
	//background-image: url("/themes/brown/img/bg.jpg");
	background-color: #EEE;
	background-size: cover;
	.members
	{
		background-color: #fff;
		border-radius: 2.5px;
		margin: 25px 0;
		position: relative;
		min-height: 620px;
		.header
		{
			border-bottom: 1px solid #e9e9e9;
			text-align: right;
			margin-left: 80px;
			.notification
			{
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;
				.badge
				{
					padding: 5px 10px;
					background-color: #ed5639;
				}
			}
			.profile-dropdown
			{
				padding: 7.5px 20px;
				display: inline-block;
				vertical-align: middle;
				.img
				{
					width: 36px;
					height: 36px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 7.5px;
					img
					{
						width: 36px;
						height: 36px;
						object-fit: cover;
						border-radius: 100%;
					}
				}
				.name
				{
					display: inline-block;
					vertical-align: middle;
					color: #7e8285;
					font-size: 13px;
					.slot
					{
						font-size: 13px;
						color: #344049;
						font-weight: 600;
					}
					.fa
					{
						color: #344049;
					}
				}
			}
		}
		.sidebar
		{
			background-color: #C4A75F;
			width: 300px;
			position: absolute;
			left: 0;
			top: 0;
			/* border-right: 5px solid #301e10; */
			height: 100%;
			z-index: 10;
			transition: 0.3s all ease;
			// overflow: hidden;
			@media screen and (max-width: 768px)
			{
				display: none;
			}

			.shadow
			{
				position: absolute;
				left: 288px;
				height: 100%;
				width: 12px;
				z-index: 11;
			}

			.profile-holder
			{
				width: 300px;
				overflow: hidden;
				transition: 0.3s all ease;
			}

			.profile
			{
				text-align: center;
				padding: 25px 0;
				height: 100px;
				width: 283px;
				text-align: left;
				margin-left: 12.5px;

				.img
				{
					width: 50px;
					height: 50px;
					display: inline-block;
					vertical-align: middle;
					img
					{
						object-fit: cover;
						border-radius: 100%;
						width: 50px;
						height: 50px;
					}
				}

				.text
				{
					display: inline-block;
					vertical-align: middle;
					text-align: left;
					margin-left: 15px;
					width: 200px;

					.name
					{
						color: #fff;
						font-size: 14px;
						font-weight: 500;
					}

					.sub
					{
						font-size: 13px;
						color: #dac5a6;
					}
				}
			}
			.side-nav
			{
				transition: 0.3s all ease;

				ul
				{
					margin: 0;
					padding: 0;

					li
					{

						display: block;
						position: relative;
						background-color: #C4A75F;

						a
						{
							display: block;
							width: 300px;
							transition: 0.3s all ease;
							overflow: hidden;
							text-decoration: none;

							.nav-holder
							{

								padding: 15px 15px;
								color: #dac5a6;
								font-size: 13px;
								font-weight: 400;
								letter-spacing: 0.5px;
								//border-bottom: 1px solid rgba(255,255,255,0.2);
								padding-left: 25px;
								width: 300px;
								transition: 0.3s all ease;
								height: 50px;

								.icon 
								{
									display: inline-block;
									vertical-align: top;
									width: 20px;
									margin-right: 15px;
									text-align: center;
									font-size: 18px;
									color: #dac5a6;

									/* img
									{
										max-width: 20px;
									} */
								}
							}

							&:hover
							{
								.nav-holder
								{
									background-color: rgba(255,255,255,0.2);
									color: #fff;
									text-decoration: none;
									//border-color: rgba(255,255,255,0.2);
									
									.icon 
									{
										color: #fff;
									}

									img
									{
										-webkit-filter: brightness(2);
										filter: brightness(2);
										opacity: 1;
									}

								}
							}
						}

						&.active
						{
							> a
							{
								> .nav-holder
								{
									background-color: rgba(255,255,255,0.2);
									color: #fff;
									text-decoration: none;
									//border-color: rgba(255,255,255,0.2);
									.icon {
										color: #fff;
									}
									img
									{
										-webkit-filter: brightness(2);
										filter: brightness(2);
										opacity: 1;
									}
								}
							}
						}
						> ul
						{
							display: none;
							position: absolute;
							left: 100%;
							top: 0;
							z-index: 12;
							margin-left: -12px;
							&:hover
							{
								display: block;
							}
							> li
							{
								> a
								{
									.nav-holder
									{
										background-color: #C4A75F;
									}
								}
							}
						}
						> a
						{
							&:hover + ul
							{
								display: block;
							}
						}
					}
				}
			}
			&.small
			{
				width: 80px;
				background-color: #C4A75F;
				.shadow
				{
					display: none;
				}
				.profile-holder
				{
					width: 80px;
				}
				.profile
				{
					.text
					{
						opacity: 0;
						transition: 0.3s all ease;
					}
					.img
					{
						width: 50px;
						height: 50px;
						img
						{
							width: 50px;
							height: 50px;
						}
					}
				}
				.side-nav
				{
					ul
					{
						li
						{
							a
							{
								text-align: left !important;
								width: 80px;
								.nav-holder
								{
									span
									{
										// display: none;
										opacity: 0;
										transition: 0.3s all ease;
									}
									border-color: transparent;
									text-align: left;
									.icon 
									{
										img
										{
											-webkit-filter: brightness(2);
											filter: brightness(2);
											opacity: 0.5;
										}
									}
								}
							}
							&.active
							{
								a
								{
									.nav-holder
									{
										background-color: rgba(255,255,255,0.2);
										.icon
										{
											img
											{
												-webkit-filter: brightness(2);
												filter: brightness(2);
												opacity: 1;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.members-content
		{
			margin-left: 80px;
			padding: 15px;
			@media screen and (max-width: 768px)
			{
				margin-left: 0;
			}
			.main-member-header
			{
				.left
				{
					@media screen and (min-width: 991px)
					{
						float: left;
					}
					.icon
					{
						display: inline-block;
						vertical-align: middle;
						margin-right: 25px;
						img
						{

						}
					}
					.text
					{
						display: inline-block;
						vertical-align: middle;
						text-align: left;
						.name
						{
							color: #344049;
							font-size: 20px;
						}
						.sub
						{
							color: #85939e;
							font-size: 13px;
						}
					}
				}
				.right
				{
					@media screen and (min-width: 991px)
					{
						float: right;
					}
					.search
					{
						position: relative;
						margin: 6px 0;
						.form-control
						{
							color: #85939e;
							font-size: 13px;
							border-radius: 0;
							box-shadow: none;
							width: 300px;
						}
						img
						{
							position: absolute;
							top: 7px;
							right: 7px;
						}
					}
				}
			}
		}
	}
}