body{
	font-family: 'Open Sans', sans-serif;
	background-color: #ededed;
}

.login-wrapper {
	background-color: #2161c8;
	min-height: 700px;
	padding-bottom: 20px;

	.login-holder {
		width: 100%;
		text-align: center;

		.logo-container {
			margin-left: 35%;
			margin-top: 100px;
			width: 30%;
			text-align: center;
			
			h1 {
				margin-top: 5px;
				margin-left: 5px;
				font-size: 20px;
				color: white !important;
			}

			img {
				width: 100%;
			}
		}

		.login-field-container {
			margin-top: 10px;
			display: inline-block;
			width: 35%;
			background-color: white;
			padding: 10px 0px 25px 0px;
			border-radius: 5px;
			text-align: center;

			h1 {
				font-size: 20px;
				margin-top: 10px;
			}

			h2 {
				font-size: 13px;
				font-weight: 600;
			}

			h3 {
				font-size: 13px;
				font-weight: 600;
				color: #2161c8;
			}

			.text-field {
				margin-top: 10px;
				text-align: center;
				width: 75%;
				padding: 10px 0px 10px 0px;
				border: 1px solid #c1c1c1;
				font-size: 13px;
				font-weight: 600;
			}

			.login-button {
				margin-top: 10px;
				width: 75%;
				margin-left: 12.5%;
				background-color: #2161c8;
				padding: 15px 0px 15px 0px;
				text-align: center;
				color: white;
				font-size: 13px;
				font-weight: 600;
				border-radius: 5px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}