body 
{
    font-family: 'Montserrat', sans-serif;
    color: #747474;
    .lightspeed-box
	{
		z-index: 9999 !important;
	}
}
.main-container
{
    background-color: $c-blue !important;
    min-height: 100px;
    margin: 0px !important;
}
.legalities-container
{
	padding: 30px 0px 50px;
	background-color: #fff;
	.title-container 
	{
	    font-family: $display-txt;
	    position: relative;
	    padding: 10px 10px 10px 0px;
	    font-size: 25px;
	    font-weight: 400;
	    color: #1c1c1c;
	    border-bottom: 1px solid #d1d1d1;
	    margin-bottom: 35px;
	    .line-bot 
	    {
	        position: absolute;
	        width: 11%;
	        background-color: $c-red;
	        height: 2px;
	        bottom: -1px;
	        left: 0px;
	    }
	}
	.img-holder
	{
		padding: 20px;
		img
		{
			width: 100%;
		}
	}
}