

.top-content {
background-color: white;
	.top-title {
		font-size: 24px;
		margin-top: 100px;
		position:relative;


		.welcome {
			font-weight: 700;
		}

		.shopshoshop {
			position: absolute;
			left: 165px;
		    top: 0;
		    color: #2e3192;
		    font-weight: 700;
		}
	
	}

	.paragraph {
		margin-top: 40px;
		margin-left: 15px;

	}

	.paragraph1 {
		margin-top: 200px;
	}

	.paragraph2 {
		margin-top: 40px;
	}

	.top-content-image {
		img {
			margin-top: 70px;
    		width: 100%;
    		margin-bottom: 40px;
		}
	}


}



.bottom-content {
	text-align: center;
	margin-top: 40px;
	background-color:white;

	.title {
		position:relative;
		font-size: 24px;
		font-weight: 700;
		.our {
			margin-right: 85px;
		}
		.mission {
			color: #2e3192;
    		position: absolute;
		    left: 60px;
		    right: 0;
		    top: 0;
		}
		.vision {
			color: #2e3192;
    		position: absolute;
		    left: 40px;
		    right: 0;
		    top: 0;
		}
	}
	.bottom-image {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.bottom-par {
		width: 70%;
	    left: 0;
	    right: 0;
	    margin: auto;
	    margin-top: 40px;
	}

	.bottom-par-two {
		margin-bottom: 120px;
	}
}