.content
{
	background-color: #f7f7f7;
	padding-top: 15px;
	padding-bottom: 35px;
	margin-top: 30px;
}
.item-container
{
	padding-top: 20px;
}
.add-slider
{
	background-color: transparent;
}
.home_adds1
{
	width: 100%;
}
.add-top
{
	.slider-holder
	{
		position: relative;
		height: 0;
		padding-bottom: 56.25%;
		img
		{
			width: 100%;
			height: 100%;
			position: absolute;
			object-fit: cover;
		}
	}
}
.adds-bottom
{
	.top-text
	{
		color: #fff;
		font-size: 16.5px;
		font-weight: 600;
		text-align: center;
	}
	.bottom-text
	{
		color: #fff;
		font-size: 12.5px;
		font-weight: 400;
		text-align: center;
	}
	width: 100%;
	background-color: #2e3192;
	padding: 15px 15px 15px 15px;
}

.left-bar-categories
{
	.left-bar-title
	{
		i
		{
			font-size: 20px;
		    padding-left: 10px;
		    padding-right: 10px;
		}
	}
}

.item-title
{
	color: #484848;
	font-size: 12.5px;
	font-weight: 600;
	
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.item-price
{
	padding-top: 5px;
	color: 484848;
	font-size: 16px;
	font-weight: 700;
}
.item-details
{
	padding-top: 20px;
}

.add-to-cart-button-container
{
	padding-top: 20px;
}
.add-to-cart-button
{
	// max-width: 80%;
	// padding: 5px 20px 20px 15px;
	color: #fff;
}

/* SPECIAL OFFER */
.special-offers-container
{
	background-color: #fff;
	width: 100%;
	padding: 20px;
	margin-top: 35px;

	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);

    .left-container-title
	{
		color: #1e1e1e;
		font-size: 16.75px;
		font-weight: 700;
		border-bottom: #cccccc solid 1px;
		padding-bottom: 15px;
		position: relative;
	}
	.scroll-button
	{
		position: absolute;
		right: 0;

		a
		{
			padding: 2px;
		}
	}
	.item-price
	{
		padding-top: 5px;
		color: #484848;
		font-size: 14px;
		font-weight: 700;
	}
	.rating
	{
		padding-top: 1px;
	}
	.per-item
	{
		padding-bottom: 10px;
	}
}

.item-details-container
{
	padding-left: 10px;
}

.item-img
{
	width: 100%;
	border: #e5e5e5 solid 1px;
}

.item-old-price
{
	padding-top: 1px;
	color: #7d7d7d;
	font-size: 11px;
	font-weight: 400;
	text-decoration: line-through;
}
/* NEWSLETTER */
.newsletter-container
{
	background-color: #fff;
	width: 100%;
	padding: 20px;
	margin-top: 35px;

	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);

    .left-container-title
    {
    	color: #1e1e1e;
		font-size: 16.75px;
		font-weight: 700;
		border-bottom: #cccccc solid 1px;
		padding-bottom: 15px;
    }
    .item-container
    {
    	font-weight: 600;
    }
    .text-area
    {
    	width: 200px;
    	border-radius: 0 0 0 0;
    	border: #ccc solid 1px;
    	padding: 5px 5px 5px 5px;
    }
    .button-a
    {
    	font-size: 12.5px;
    	background-color: #2e3192;
    	width: 50%;
	    border: 0;
	    border-radius: 2px;
    }
}
/* FEATURED TODAY */
.featured-container
{
	background-color: #fff;
	width: 100%;
	padding: 15px;
	margin-top: 35px;

	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);

    .left-container-title
    {
    	color: #1e1e1e;
		font-size: 16.75px;
		font-weight: 700;
		border-bottom: #cccccc solid 1px;
		padding-bottom: 15px;
		position: relative;
		padding-left: 20px;

		.scroll-button
		{
			position: absolute;
			right: 20px;
			a
			{
				padding: 2px;
			}
		}
    }
    .featured-item-container
    {
    	padding: 10px;
    }
    .per-item-container
    {
    	padding: 10px;
    }
    .item-price
    {
    	padding-top: 14px;
    }

    .new-arrivals
    {
    	position: relative;
    	span
    	{
    		position: absolute;
    		right: 0;
    		a
    		{
    			padding:2px;
    		}
    	}
    }
}

.item-image-large
{
	border: #e5e5e5 solid 1px;
	width: 100%;
}

/* PERFECT DESTINATIONS */
.perfect-destinations-container
{
	background-color: #fff;
	width: 100%;
	padding: 15px 15px 15px 15px;
	margin-top: 35px;

	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);

    .left-container-title
    {
    	color: #1e1e1e;
		font-size: 16.75px;
		font-weight: 700;
		border-bottom: #cccccc solid 1px;
		padding-bottom: 10px;
		padding-left: 10px;
    }
    .item-container
    {
    	padding: 20px 50px 20px 50px;
    }

}
.item-destinations
{
	border-radius: 3px;
	width: 100%;
}


.best-seller-container
{
	background-color: #fff;
	width: 100%;
	padding: 15px 15px 15px 15px;
	margin-top: 35px;

	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);

    .left-container-title
    {
    	color: #1e1e1e;
		font-size: 16.75px;
		font-weight: 700;
		border-bottom: #cccccc solid 1px;
		padding-bottom: 15px;
		padding-left: 20px;
    }
    .best-seller-item-container
    {
    	padding: 10px;
    }
    .per-item-container
    {
    	padding: 10px;
    }
    .item-price
    {
    	padding-top: 14px;
    }
}

.home-big-image {
	margin-top: 30px;

	img {
		width: 100%;
	}
}

.brand-container
{
	#brand-title
	{
		font-size: 14px;
		font-weight: 700;
		padding: 20px 0;
	}

	#brand-logo
	{
		
		.brand-image
		{
			
			margin: auto;
			display: block;
			max-width: 100%;
			padding-left: 60px;
		}
	}
}
