@import "../../../assets/front/sass/mixin";

$display-text: 'Open Sans', sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

.blur-me
{
    @include transition(0.3s);
}

.pushmenu 
{
    /*this is the nav*/
     // background-color: #0051FF;
     background-color: rgba(0,81,255,0.8);
     text-align: left;
     width: 300px;
     height: 100%;
     top: 0;
     z-index: 1000;
     position: fixed;
     overflow-y: auto;

     @media screen and (max-width: 320px)
    {
        width: 250px;
    }

    .space1
    {
        padding: 15px 0px 10px 0px;

        &:first-child
        {
           padding: 0;
        }
    }

    .space2
    {
        padding: 5px 0px 10px 0px;
    }

    span
    {
        font-family: $display-text;
        font-size: 16px;
        font-weight: $semi-bold;
        color: #fff;
        padding-left: 22px;
    }

    .divider-bottom
    {
        //text-align: center;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        padding: 10px 0;
        margin: 0 20px;
        //border-radius: 2px;
        
        span
        {
            padding-left: 0;
            font-weight: $regular;
        }
    }

    .profile-img-container
    {
        padding: 20px;
        text-align: center;
        //background-color: rgba(255,255,255,0.2);

        .profile-img 
        {
            overflow: hidden;
            text-align: center;
            margin: auto;
            width: 30%;

            img 
            {
                border-radius: 100%;
                border: 1px solid rgba(255,255,255,0.5);
                width: 100%;
            }
        }
        
        .text-holder
        {
             padding-left: 10px;
             margin-top: 9px;
             @media screen and (max-width: 349px)
             {
                margin-top: 2px;
             }

            .text-overflow
            {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .name-text
            {
                color: #fff;
                font-weight: $regular;
                font-size: 16px;
            }

            .subtext
            {
                color: rgba(255,255,255,0.5);
                font-weight: $light;
                font-size: 15px;
            }
        }
    }
}

 /* .pushmenu h3 
 {
   color: #f1f1f1;
   font-size: 1.3em;
   font-weight: 400;
   padding: 15px 25px;
   margin: 0;
   background: #333;
   height: 16px;
   } */

   .digima-mob-logo
   {
        background-color: #fff;
        padding-left: 5px;
   }

   .links
   {
     list-style-type: none;
     /* margin: 0 0 0 10%; */
     width: 93%;
     font-family: $display-text;
     text-transform: uppercase;
     padding-left: 20px;
     padding-top: 10px;

     li
     {
        //margin-top: 30px;
        border-bottom: 1px solid rgba(255,255,255, 0.2);
        padding: 10px 0px;
        padding-left: 0;

        .fa
        {
           color: #f1f1f1;
           //padding-right: 5px;
           width: 25px;
           text-align: center;
        }

        .icon
        {
            color: #f1f1f1;
            padding-right: 11px;
        }

        a
        {
            position: relative;
            display: block !important; /* drops the nav vertically*/
            color: #f1f1f1;
            font-size: 14px;
            text-decoration: none;
            //line-height: 80%;
            //padding: 5px;
        }

        @media screen and (max-width: 414px)
        {
            a
            {
                font-size: 14px;
            }
        }
    }

    ul
    {
        display: none;
        color: #fff;

        a
        {
            text-decoration: none;
            color: #f1f1f1;
            font-size: 14px;
        }

        @media screen and (max-width: 320px)
        {
            a
            {
                font-size: 13px;
            }
        }
    }

    .user-logout
    {
        border-bottom: none;
        color: #fff;
    }

}

/* .links li a:after
{
   content: '';
   display: block;
   position: absolute;
   //left: 20px;
   bottom: -10px;
   width: 0;
   height: 3px;
   background-color: #1D5BC6;
   -webkit-transition: width 0.3s ease;
   -moz-transition: width 0.3s ease;
   transition: width 0.3s ease;
} */

/* .links li a:hover:after { width: 100%; } */

.links li:active { background-color: rgba(255,255,255,0.2); }

.pushmenu-left
{ 
    left: -300px; 
}

.pushmenu-left.pushmenu-open { left: 0;}

.pushmenu-push
{
 overflow-x: hidden;
 position: relative;
 left: 0;
}

#overlay
{
    @include transition(0.3s);
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 100;
    cursor: pointer;
}

// .pushmenu-push-toright 
// {
//     /* left: 300px; */ 

//     /* @media screen and (max-width: 320px)
//     {
//         left: 246px;
//     } */
// }

/*Transition*/

.pushmenu, .pushmenu-push
{
  @include transition(0.3s)
}

#nav_list
{
    display: none;

    @media screen and (max-width: 991px)
    {
            //background: url(icon_nav.png) no-repeat left top;
            cursor: pointer;
            //height: 27px;
            //width: 33px;
            //text-indent: -99999em;

            display: block;
            width: 70px;
            padding: 7.5px 12px 7.5px 12px;
            margin-right: auto;
            margin-top: 5px;
            float: right;

            .fa
            {
                display: block;
                background-color: inherit;
                color: #0051FF;
                border: 2px solid #0051FF;
                padding: 8px;
                font-size: 25px;
                font-weight: 300;
            }

        }
    }


    nav-list.active { background-position: -331px top; }

    /* .buttonset 
    {
     background: #00A287;
     height: 16px;
     padding: 10px 20px 20px;
    } */

    /*  section.content 
     {
         padding: 10px 20px;
     } */


 /* MEDIA SCREEN */

@media screen and (max-width: 800px)
{
    // .image-logo-holder
    // {
    //     margin: auto;
    // }
}

@media screen and (max-width: 414px)
{

}

@media screen and (max-width: 425px)
{

}

@media screen and (max-width: 375px)
{

}

@media screen and (max-width: 320px)
{
    .image-logo-holder
    {
        img
        {
            width: 75%;
            float: left;
        }
    }

    #nav_list 
    {
        cursor: pointer;
        display: block;
        width: 65px;
        padding: 7.5px 12px 7.5px 12px;
        margin-right: auto;
        margin-top: -50px;
        float: right;

        .fa
        {
            font-size: 20px;
        }
    }
}