$display-txt: 'Montserrat', sans-serif;
$cnt-text: 'Open Sans', sans-serif;
$c-gold-light: #c4ad53;
$c-gold-dark: #bb8725;
$c-red: #c42c2a;
$c-blue: #21c2f8;
$c-green: #84b508;
$c-black: #151515;
$c-white: #fff;
$bgc-b: #151515; 
$bgc-w: #fff;
$cnt-b: #151515;
$cnt-w: #f4f4f4;





