$font-color: #000;
$background-color: #fff;

@media screen and (min-width: 480px)
{
    nav.main-menu li>a
    {
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .no-touch nav.main-menu li:hover>a, nav.main-menu li.active>a, .no-touch nav.main-menu li > ul > li:hover
    {
    	background-color: #245d96 !important;
    }
    nav.main-menu
    {
        background-color: #2C71B8;
    }
    nav.main-menu li ul
    {
    	background-color: #2C71B8;
    }
    nav.main-menu li li>a
    {
    	color: #fff;
    }
}