body
{
	font-family: "Open Sans", sans-serif;
}
.scheme_original .page_wrap
{
	background-color: #fff;
}
.sc_services_descr.sc_item_descr
{
	&:before
	{
		background-color: green;
	    bottom: 0;
	    content: " ";
	    display: block;
	    height: 1px;
	    left: 50%;
	    margin: 0 0 0 1px;
	    position: absolute;
	    width: 24px;
	    background-color: #2c71b8;
    }
    &:after
    {
    	background-color: red;
	    bottom: 0;
	    content: " ";
	    display: block;
	    height: 1px;
	    margin: 0 1px 0 0;
	    position: absolute;
	    right: 50%;
	    width: 24px;
	    background-color: #2c71b8;
    }
}
.sc_form_item 
{
	input, textarea
	{
		font-family: inherit;
	}
}
.top_panel_middle .logo
{
	margin: 0;
	.logo_main
	{
		margin: 10px 0;
		height: 70px;
	}
}
.tparrows.custom
{
	background-color: #bfbfbf;
	border-color: #bfbfbf;
}
.top_panel_fixed .top_panel_wrap .logo
{
	margin: 0;
	.logo_fixed
	{
		margin: 9px 0;
		max-height: 50px;
	}
}
.tparrows.custom:before
{
	color: #121212 !important;
}
.login-holder-custom
{
	.debayd
	{
		margin: 14px 10px;
		font-size: 20px;
		display: inline-block;
		vertical-align: middle;
		width: 1px;
		background-color: #7eb3ea;
		height: 25px;
	}
}
body:not(.top_panel_fixed) .top_panel_position_over .top_panel_top
{
	background-color: #2c71b8;
}
.top_panel_position_over .top_panel_top, .top_panel_position_over .menu_user_cart, .top_panel_position_over .menu_pushy_wrap, .top_panel_position_over .top_panel_top_ophone, .top_panel_position_over .top_panel_top_open_hours
{
	border-color: transparent !important;
}
.top_panel_style_3:not(.boxed_style) .top_panel_middle .content_wrap
{
	background-color: rgba(255,255,255,0.8);
}
.scheme_original .top_panel_over:not(.top_panel_fixed) .menu_main_nav>li>a
{
	color: #121212;
	// padding-top: 3.5em;
	// padding-bottom: 3.5em;
	padding: 41px 1.5em; 
	transition: 0s all ease;
	letter-spacing: 0px;
	font-size: 14.58px;
}
.scheme_original .top_panel_over:not(.top_panel_fixed) .menu_main_nav>li.current-menu-parent>a
{
	color: #2c71b8;
	-webkit-box-shadow: inset 0px 5px 0px 0px #2c71b8;
    -moz-box-shadow: inset 0px 5px 0px 0px #2c71b8;
    box-shadow: inset 0px 5px 0px 0px #2c71b8;
}
.top_panel_middle .menu_main_wrap
{
	margin: 0;
	display: block;
}
.top_panel_middle .menu_main_nav_area
{
	display: block;
}
.menu_main_nav>li>a
{
	font-size: 14.58px;
	padding-top: 21px;
	padding-bottom: 21px;
	font-weight: 600;
}
.menu_main_nav>li+li>a:before
{
	font-style: normal;
	content: "";
}
.scheme_original .menu_user_nav>li>a
{
	color: #86b9ed !important;
	padding: 15px 0;
	&:hover
	{
		font-weight: 700;
		color: #fff !important;
	}
}
.ui-widget
{
	font-family: inherit;
}
.accordion-container
{
	.ui-accordion-header
	{
		background: none;
		border: 0;
		font-size: 20.83px;
		color: #2a2a2a;
		font-weight: 600;
	}
	.ui-accordion-content
	{
		border: 0;
	}
}

.scheme_dark .footer_wrap_inner
{
	background-color: #2c71b8;
}
.scheme_dark .widget_area_inner aside
{
	background-color: #2c71b8;
}
.scheme_original .widget_area .widget_title
{
	color: #fff;
	font-size: 18.75px;
	font-weight: 700;
	text-transform: uppercase;
}
.scheme_dark .widget_area_inner ul li a
{
	color: rgba(255,255,255,0.5);
	&:hover
	{
		color: #fff;
	}
}
.footer_wrap_inner
{
	padding: 50px 0;
}
.scheme_dark .select2-container .select2-choice, .scheme_dark .sc_emailer, .scheme_dark input[type="tel"], .scheme_dark input[type="text"], .scheme_dark input[type="number"], .scheme_dark input[type="email"], .scheme_dark input[type="search"], .scheme_dark input[type="password"], .scheme_dark textarea
{
	background-color: rgba(255,255,255,0.5);
	color: rgba(37,37,37,1);
	&::-webkit-input-placeholder 
	{ /* Chrome/Opera/Safari */
	  color: rgba(37,37,37,0.5);
	}
	&::-moz-placeholder 
	{ /* Firefox 19+ */
	  color: rgba(37,37,37,0.5);
	}
	&:-ms-input-placeholder 
	{ /* IE 10+ */
	  color: rgba(37,37,37,0.5);
	}
	&:-moz-placeholder 
	{ /* Firefox 18- */
	  color: rgba(37,37,37,0.5);
	}
	&:focus, &:active
	{
		background-color: #fff;
	}
}
.login_socials_list, .registration_socials_list
{
	text-align: left;
}
.login_socials_list .sc_socials.sc_socials_shape_round.sc_socials_size_tiny a, .registration_socials_list .sc_socials.sc_socials_shape_round.sc_socials_size_tiny a
{
	border: 0;
	background-color: #fff;
	color: #2c71b8;
	&:hover
	{
		color: #fff;
		background-color: #2c71b8;
	}
}
.header_mobile .menu_main_cart
{
	display: none;
}
.scheme_original .top_panel_over .header_mobile .menu_button, .scheme_original .top_panel_over .header_mobile .menu_main_cart .top_panel_cart_button .contact_icon
{
	color: #000;
}