.tp-caption.trx-big, .trx-big, .tp-caption.trx-norm, .trx-norm
{
	font-family: "Open Sans", sans-serif !important;
}
.sc_services_title
{
	font-size: 25px;
	font-weight: 700;
}
.sc_services_descr
{
	color: #555555;
	font-size: 14.58px;
	font-family: "Open Sans", sans-serif !important;
	font-style: normal;
	font-weight: 400;
}
.sc_services_item_title
{
	color: #2a2a2a;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: -0.5px;
}
.wewew
{
	margin-top: 75px;
}	
.omgsrsly
{
	font-size: 50px !important;
}
.slide-text-container
{
	color: #121212;
	font-family: inherit;
	// line-height: 55px;
	@media screen and (min-width: 991px)
	{
		@media screen and (min-height: 500px)
		{
			font-size: 45px !important;
			font-weight: bold;
			span
			{
				color: #2c71b8;
				font-size: 45px !important;
			}
		}
	}
	&.smaller
	{
		@media screen and (min-height: 500px)
		{
			.clearfix
			{
				font-size: 25px !important;
				font-weight: 700;
				span
				{
					font-size: 25px !important;
				}
			}
		}
	}
}
.slide-desc-container
{
	font-size: 30px;
	font-weight: 600;
	text-align: left;
	line-height: 50px;
	color: #121212;
	margin-top: 25px;
	span
	{
		color: #2c71b8;
		font-size: 30px;
	}
	.more-info
	{
		font-size: 14px;
		color: #fff;
		font-weight: 400;
		a
		{
			font-size: 14px;
			color: #fff;
			&:hover
			{
				color: #2c71b8;
			}
		}
	}
}
.bowtun
{
	color: #fff !important;
	background-color: #2c71b8;
	font-weight: bold;
	font-size: 25px;
	padding: 15px 40px !important;
	margin-top: 15px;
	border-radius: 2.5px;
}
.number-count
{
	font-weight: 700;
	color: #2a2a2a;
	font-size: 20.83px;
	border: 2px solid #a9a9a9;
	border-radius: 100%;
	display: inline-block;
	padding: 10px;
	font-size: 20px;
	width: 20px;
	height: 20px;
	margin-bottom: 15px;
}
.form-horm
{
	input[type="text"], textarea
	{
		background-color: transparent;
		border: 1px solid #626163;
		border-radius: 25px;
		font-family: inherit;
		&::-webkit-input-placeholder 
		{
		   color: #121212;
		}

		&:-moz-placeholder 
		{ /* Firefox 18- */
		   color: #121212;  
		}

		&::-moz-placeholder 
		{  /* Firefox 19+ */
		   color: #121212;  
		}

		&:-ms-input-placeholder 
		{  
		   color: #121212;  
		}
	}
}
.inquiries-container
{
	background-color: #F6F4F9 !important;
	background-image: url('/assets/new_front/img/consult-bg.jpg');
	background-size: contain; 
	background-position: center left; 
	background-repeat: no-repeat;
}
.comments_wrap .section_title:after, .sc_item_descr:after
{
	display: none;
}
.comments_wrap .section_title:after, .sc_item_descr:before
{
	display: none;
}
.mini-faq
{
	padding: 75px 0;
	background-color: #f8f8f8;
	.title
	{
		color: #121212;
		font-size: 25px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 50px;
	}
}
.about-us
{
	padding: 100px 0;
	background-color: #fff;
	.about-title
	{
		color: #2a2a2a;
		font-weight: 600;
		font-size: 40px;
		line-height: 40px;
		span
		{
			color: #2c71b8;
		}
	}
	.about-desc
	{
		color: #2a2a2a;
		font-size: 14.58px;
		margin-top: 25px;
		white-space: pre-wrap;
	}
}