.header
{
	
	color: #333333;
	font-weight: 700;
	font-size: 24px;
	margin-top: 50px;
	letter-spacing: -1px;
	margin-bottom: 50px;
	text-align: center;
	img
	{
		vertical-align: middle;
		margin-right: 10px;
	}
	span
	{
		vertical-align: middle;
	}
}

.truck
{
	text-align: center;
	img
	{
		max-width: 100%;
	}
}
.sub
{
	text-align: center;
	font-size: 14px;
	color: #333333;
	margin-bottom: 25px;
}
.wizard
{
	text-align: center;
	.holder
	{
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		.circle
		{
			background-color: #e9e9e9;
			color: #222222;
			font-size: 17.19px;
			font-weight: 700;
			text-align: center;
			width: 20px;
			height: 20px;
			box-sizing: content-box;
			line-height: 20px;
			padding: 12.5px;
			border-radius: 100%;
			text-align: center;
			margin: auto;
		}
		.name
		{
			color: #262626;
			font-size: 12.5px;
			font-weight: 700;
			margin-top: 7.5px;
		}
		&.active
		{
			.circle
			{
				background-color: #9c0909;
				color: #fff;
			}
			.name
			{
				color: #ff2e34;
			}
		}
	}
	.line
	{
		display: inline-block;
		vertical-align: middle;
		height: 1px;
		width: 125px;
		background-color: #dbdbdb;
		margin-bottom: 20px;
	}
}

.hold-container
{
	margin-bottom: 25px;
	.hold-header
	{
		background-color: #fff;
		color: #262626;
		font-size: 20px;
		font-weight: 700;
		border-radius: 2.5px;
		padding: 15px 25px;

		span
		{
			color: #ff2e34;
		}
	}
	.hold-content
	{
		padding: 20px 40px 0px 40px;
		background-color: #fff;
		.pay
		{
			.pay-holder
			{
				#upload-proof
				{
					button
					{
						padding: 10px;
					    font-size: 12.5px;
					    width: 33%;
					    border: solid 1px #bababa;
					    border-radius: 5px;
					    color: #3c3c3c;
					    background-color: #e1e1e1;
					    font-weight: 600;
					}

					#upload-title
					{
						padding-right: 100px;
						font-size: 12.5px;
    					font-weight: 600;
					}

					#upload-button
					{
						padding-left: 25px;
					}
				}
				.name
				{
					color: #262626;
					font-size: 12px;
					font-weight: 600;
				}
				table
				{
					width: 100%;
					td
					{
						vertical-align: middle;
						padding: 15px 0;
					}
					tr
					{
						&:first-child
						{
							td
							{
								padding-top: 0px;
							}
						}
					}
				}
				.ray
				{
					padding-right: 10px;
				}
				.form-control
				{
					box-shadow: none;
					border-radius: 0;
					display: inline-block;
					&.ccn
					{
						width: 50%;
					}
					&.date
					{
						width: 70px;
					}
				}
				.card-holder
				{
					padding-top:0;
				}
			}
		}


		.cart-summary
		{
			margin: -25px;
			table
			{
				thead
				{
					tr
					{
						th
						{
							background-color: #232323;
							font-size: 12px;
							color: #fff;
							font-weight: 600;
							padding: 15px 25px;
						}
					}
				}
				tbody	
				{
					tr
					{
						td
						{
							border: 0;
							padding: 12.5px 25px;
							color: #333333;
							font-size: 12px;
							font-weight: 600;
						}
						.total
						{
							color: #ff6767;
							font-size: 14px;
							font-weight: 700;
						}
					}
				}
				tbody
				{
					border: 0;
				}
			}
		}
		.info
		{
			label
			{
				font-size: 13px;
			    font-weight: 600;
			    color: #232323;
			    font-style: italic;
			    margin-top: 10px;
			}
			.form-control
			{
				    box-shadow: none;
				    border: 0;
				    border-bottom: solid 1px #b5b5b5;
				    padding: 0 !important;
				    font-style: italic;
				    font-size: 13px;
				    color: #232323;
				    font-weight: 600;
				    border-radius: 0;
				    margin-top: 20px;
			}

			::-webkit-input-placeholder {
			   color: #232323;
			}

			:-moz-placeholder { /* Firefox 18- */
			   color: #232323;  
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   color: #232323;  
			}

			:-ms-input-placeholder {  
			   color: #232323;  
			}


			.with-border
			{
				border: solid 1px #b5b5b5;
				border-radius: 0;
				margin-top: 0;
			}
		}
	}
}

#placeorder-button
{
	border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #ff2e34;
    font-size: 12.5px;
    font-weight: 600;
    padding: 10px 30px;
    margin-bottom: 30px;
}

#placeorder-button:hover
{
	opacity: 0.9;
}