.right-content
{
	.banner-holder
	{
		position: relative;
		margin-top: 30px;

		img
		{
			max-width: 100%;
		}

		button
		{
			position: absolute;
		    bottom: 30px;
		    left: 90px;
		    font-size: 13px;
		    font-weight: 600;
		    padding: 10px;
		    width: 18%;
		    border: solid 2px #6c6c6c;
		    background: #fff;
		    border-radius: 2px;
		}
	}

	.prod-content
	{
		background-color: #fff;
		margin-top: 30px;
		margin-bottom: 30px;

		.product-holder
		{
			border: 1px solid #e0e0e0;
			padding: 10px;
			position: relative;
			overflow: hidden;

			.per-item-container
			{
				opacity: 1;
				
				.image-holder
				{
					text-align: center;
				}

				.item-details
				{
					.item-title
					{
						color: #505050;
	    				font-size: 15px;
	    				text-decoration: none;
	    				font-weight: 600;
					}

					.item-price
					{
						font-size: 15px;
						font-weight: 700;
						padding-top: 5px;
						color: #1e1e1e;
					}
				}

				.icons
				{
					position: absolute;
					top: 7px;
	    			right: 0px;

	    			a.tooltips 
	    			{
						position: relative;
						display: inline;
					}
					a.tooltips span 
					{
						position: absolute;
						width:140px;
						color: #474747;
						background: #FAFAFA;
						border: 2px solid #8F8F8F;
						height: 30px;
						line-height: 30px;
						text-align: center;
						visibility: hidden;
						border-radius: 0px;
					}
					a.tooltips span:before 
					{
					    content: '';
						position: absolute;
						top: 50%;
						right: 100%;
						margin-top: -12px;
						width: 0; height: 0;
						border-right: 12px solid #8F8F8F;
						border-top: 12px solid transparent;
						border-bottom: 12px solid transparent;
					}
					a.tooltips span:after 
					{
						content: '';
						position: absolute;
						top: 50%;
						right: 100%;
						margin-top: -8px;
						width: 0; height: 0;
						border-right: 8px solid #FAFAFA;
						border-top: 8px solid transparent;
						border-bottom: 8px solid transparent;
					}
					a:hover.tooltips span 
					{
						visibility: visible;
						opacity: 0.8;
						left: 100%;
						top: 50%;
						margin-top: -15px;
						margin-left: 15px;
						z-index: 999;
					}

					a:hover
					{
						.fa
						{
							background-color: #3b3b3b;
						}
					}


					.fa
					{
						border: 0;
						border-radius: 3px;
						background-color: #1e1e1e;
						color: #fff;
						margin-bottom: 5px;
					}

					.fa-shopping-cart
					{
					  	position: absolute;
						margin: auto;
						color: #fff;
						padding: 10px;
						border:0;
						border-radius: 5px;
						top: 5px;
		    			right: -35px;
						opacity: 0;
						visibility: hidden;
						transition: all 0.2s;
					}

					.fa-heart
					{
					    position: absolute;
						margin: auto;
						color: #fff;
						padding: 9.5px;
						border:0;
						border-radius: 5px;
						top: 45px;
		    			right: -35px;
						opacity: 0;
						visibility: hidden;
						transition: all 0.4s;
					}

					.fa-search
					{
					    position: absolute;
						margin: auto;
						color: #fff;
						padding: 10px;
						border:0;
						border-radius: 5px;
						top: 85px;
		    			right: -35px;
						opacity: 0;
						visibility: hidden;
						transition: all 0.6s;
					}

					.fa-camera
					{
					    position: absolute;
						margin: auto;
						color: #fff;
						padding: 9px;
						border:0;
						border-radius: 5px;
						top: 125px;
		    			right: -35px;
						opacity: 0;
						visibility: hidden;
						transition: all 0.8s;
					}
				}
			}
		}

		.product-holder:hover
		{
			-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    		-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    		box-shadow: 0px 0px 14px rgba(0,0,0,0.5);
    		cursor: pointer;
    		
    		a
    		{
    			text-decoration: none;
    		}

    		.item-details
    		{
    			opacity: 0.5;
    		}

    		.image-holder
    		{
    			opacity: 0.5;
    		}

    		.icons
			{
			    .fa-shopping-cart
			    {
			    	position: absolute;
				    margin: auto;
				    color: #fff;
				    top: 5px;
	    			right: 5px;
				    visibility: visible;
				    opacity: 1;
			    }
			    .fa-heart
			    {
			    	position: absolute;
				    margin: auto;
				    color: #fff;
				    top: 45px;
	    			right: 5px;
				    visibility: visible;
				    opacity: 1;
			    }
			    .fa-search
			    {
			    	position: absolute;
				    margin: auto;
				    color: #fff;
				    top: 85px;
	    			right: 5px;
				    visibility: visible;
				    opacity: 1;
			    }
			    .fa-camera
			    {
			    	position: absolute;
				    margin: auto;
				    color: #fff;
				    top: 125px;
	    			right: 5px;
				    visibility: visible;
				    opacity: 1;
			    }
			}
			
		}

		.top-title
		{
			position: relative;
			padding: 30px;
			border-bottom: solid 1px #f7f7f7; 
			font-size: 12.5px;

			.pagination-top
			{
				position: absolute;
				top: 0;
				right: 0;

				ul
				{
					li
					{
						a
						{
							border: 0;
						}

						a:hover
						{
							background-color: #fff;
						}

						a:focus
						{
							background-color: #fff;
							color: #ff2e34;
						}

						.pagination-link-number
						{
							margin-top: 5px;
    						color: #797979;
    						font-weight: 600;
						}

						.pagination-link-number:hover
						{
							color: #ff2e34;
						}
					}
				}
			}
		}

		.image-holder
			{
				img
				{
					max-width: 100%;
				}
			}
	}
}

.left-content
{
	.categories
	{
		background-color: #fff;
	}
}

.categories
{
	margin-bottom: 30px;
	margin-top: 30px;

	
		.categories-title
		{
			
			position: relative;
			background-color: #e7e7e7;

			.title
			{
				padding: 20px;
				color: #000;
		    	font-size: 15px;
		    	font-weight: 700;
			}

			i
			{
				border: 0;
				background-color: #9c0909;
				padding: 15px;
				padding-right: 20px;
    			padding-left: 20px;
				color: #fff;
				font-size: 25px;
			}
		}

		.categories-content
		{
			font-size: 13px;
    		font-weight: 700;
    		padding-top: 40px;
    		padding-bottom: 50px;


    		.list
    		{
    			padding: 5px;
			    padding-left: 60px;
			    padding-top: 7px;
			    padding-bottom: 7px;
			    position: relative;
			    margin-top: 10px;

			    a
			    {
			    	color: #232323;
			    	text-decoration: none;
			    }


    			span
    			{
    				position: absolute;
    				right: 30px;
    			}
    		}

    		.list:hover
    		{
    			border-left: solid 4px #c60f0f;

    			a
    			{
    				color: #ff2e34;
    			}
    		}
		}	

}


.filter-by-price
{
	margin-bottom: 30px;
	
		.filter-title
		{
		    position: relative;
			background-color: #e7e7e7;

			.title
			{
				padding: 20px;
				color: #000;
		    	font-size: 15px;
		    	font-weight: 700;
			}

			img 
			{
				border: 0;
				background-color: #9c0909;
				padding: 20px 20px 18px 27px;
				color: #fff;
				font-size: 25px;
			}
		}

		.filter-content
		{
			padding: 20px;
			background-color: #fff;

			.bottom
			{
				button
				{
					border: 0;
				    padding: 10px;
				    width: 40%;
				    background-color: #ff2e34;
				    color: #fff;
				    font-weight: 700;
				    border-radius: 5px;
				}

				button:hover
				{
					opacity: 0.9;
				}

				#price-word
				{
					color: #ababab;
					font-size: 14px;
					padding-left: 40px;

				}

				#amount
				{
					color: #232323;
					font-size: 14px;
					font-weight: 600;
				}
			}
		}	
}

.most-viewed
{
	margin-bottom: 30px;

	.featured-content-container
	{
		background-color: #c60f0f;
	    color: #fff;
		.container-title
		{
		    color: #1e1e1e;
			font-size: 16.75px;
			font-weight: 700;
			border-bottom: #f7f7f7 solid 8px;
			position: relative;

			.title
			{
				padding: 20px;
				color: #fff;
		    	font-size: 15px;
			}

			i
			{
				border: 0;
				background-color: #9c0909;
				padding: 15px;
				padding-right: 20px;
    			padding-left: 20px;
				color: #fff;
				font-size: 25px;
			}
		}	
	}

	.most-viewed-content
	{
		background-color: #fff;
		padding: 15px;

		.product-holder
		{
			.product-image
			{
				padding: 0;
			    text-align: center;
			    position: relative;
			    padding-bottom: 25%;
			    overflow: hidden;

			    .first-image
			    {
			    	position: absolute;
					right: 0;
					opacity: 1;
					transition: 0.3s all ease;
			    }

			    .second-image
			    {
			    	position: absolute;
					left: 100%;
					opacity: 0;
					transition: 0.3s all ease;
			    }
			}

			.product-content
			{
				padding-top: 15px;
				
				.item-name
				{
		    		color: #505050;
					font-weight: 600;
					text-decoration: none;
				}

				.item-price
				{
					color: #1e1e1e;
		    		font-weight: 700;
		    		font-size: 15px !important;
		    		padding-top: 5px;
				}
			}
		}

		.product-holder:hover
		{
			cursor: pointer;
			
			.product-image
			{
			    .first-image
			    {
			    	position: absolute;
					right: 100%;
					opacity: 0;
			    }

			    .second-image
			    {
			    	position: absolute;
					left: 0;
					opacity: 1;
			    }
			}

			.product-content
			{
				.item-name
				{
					text-decoration: underline;
				}
			}
		}
	}
}

