body
{
	font-family: 'Poppins', sans-serif;
}
.header-nav
{
	font-family: 'Source Sans Pro', sans-serif;
	.header-nav-top
	{
		border-bottom: 1px solid #d2d4d5;
		background-color: #eaeff3;
		@media screen and (max-width: 720px)
		{
			text-align: center;
			.pull-left, .pull-right
			{
				float: none !important;
			}
		}
		.slick-prev
		{
			left: 15px;
			z-index: 2;
		}
		.slick-next
		{
			right: 15px;
			z-index: 2;
		}
		.slick-prev, .slick-next
		{
			width: 9px;
			height: 14px;
		}
		.nav-holder
		{
			display: inline-block;
			border-right: 1px solid #d2d4d5;
			&:last-child
			{
				border-right: 0;
			}
			a
			{
				color: #40535e;
				font-size: 15px;
				font-weight: 700;
				padding: 10px 15px;
				display: block;
			}
			&.active
			{
				a
				{
					color: #fd8a0e;
				}
			}
		}
		.product-container
		{
			position: absolute;
			top: 42px;
			left: 0;
			right: 0;
			background-color: #fff;
			z-index: 10;
			padding: 15px 25px;
			font-family: "Poppins", sans-serif;
			transition: 0.3s all ease;
			// transform-origin: top;
			// transform: scale(1,0);
			opacity: 0;
			pointer-events: none;
			&.show
			{
				// transform: scale(1,1);
				opacity: 1;
				pointer-events: auto;
			}
			.title
			{
				color: #1e1f1f;
				font-size: 20px;
			}
			.list-product
			{
				text-align: center;
				.img-responsive
				{
					margin: auto;
				}
				.holder
				{
					cursor: pointer;
					.name
					{
						color: #1e1f1f;
						font-size: 12px;
					}
					&:hover
					{
						.name
						{
							color: #0083df;
						}
					}
				}
			}
		}
		.menu-container
		{
			background-color: #fd8a0e;
			position: relative;
			z-index: 5;
		}
		.menu-holder
		{
			display: inline-block;
			padding: 10px 25px;
			position: static;
			a
			{
				color: #fff;
				font-size: 15px;
				font-weight: 700;
				img
				{
					margin-right: 5px;
				}
			}
			.dropdown-menu
			{
				border-top: 3px solid #08429c;
				border-radius: 0;
				width: 350px;
				font-family: 'Poppins', sans-serif;
				padding: 15px 25px;
				top: 135px;
				&.orange
				{
					border-top: 3px solid #fd8d15;
				}
				h2
				{
					margin-top: 0;
					color: #40535e;
					font-weight: 600;
					font-size: 15px;
					line-height: 15px;
				}
				.title
				{
					color: #003c9c;
					font-size: 20px;
					font-weight: 700;
					margin-bottom: 10px;
				}
				.form-control
				{
					box-shadow: none;
					color: #848484;
					font-weight: 700;
					font-family: "Source Sans Pro", sans-serif;
					height: 37.5px;
					&:last-child
					{
						margin-bottom: 0;
					}
				}
				.btn
				{
					height: 37.5px;
					background-color: #6eb324;
					font-size: 15px;
					font-weight: 600;
					color: #fff;
					width: 100%;
					text-align: center;
					position: relative;
					.caret
					{
						position: absolute;
						right: 10px;
						top: 50%;
						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						transform: translateY(-50%);
					}
				}
			}
		}
		.color-overlay
		{
			position: absolute;
			right: 0;
			top: 0;
			height: 41px;
			background-color: #fd8a0e;
			width: 200px;
			z-index: 4;
			@media screen and (max-width: 720px)
			{
				background-color: transparent;
			}
		}
	}
	.header-nav-middle
	{
		.logo
		{
			margin: 11px 0;
			@media screen and (max-width: 991px)
			{
				.img-responsive
				{
					margin: auto;
				}
			}
		}
		.info
		{
			margin: 20px 0;
			.divider
			{
				width: 1px;
				height: 50px;
				background-color: #d2d4d5;
				display: inline-block;
				vertical-align: middle;
				margin: 0 15px;
			}
			.holder
			{
				display: inline-block;
				vertical-align: middle;
				.icon
				{
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
				}
				.text
				{
					display: inline-block;
					vertical-align: middle;
					.text-label
					{
						color: #848484;
						font-size: 12px;
						font-weight: 700;
					}
					.text-value
					{
						color: #40535e;
						font-size: 21px;
						font-weight: 700;
					}
				}
			}
		}
	}
}

.row-no-padding
{
	> div
	{
		padding-left: 0;
		padding-right: 0;
	}
}

/* SCROLL TO TOP */
.scroll-up
{
	padding: 15px 15px 18px 15px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    &:hover
    {
    	cursor: pointer;
    }
    @media screen and (max-width: 900px)
    {
    	right: 0px;
    	bottom: 58px;
    }
    @media screen and (max-width: 600px)
    {
    	right: 0px;
    	bottom: 58px;
    }
    @media screen and (max-width: 360px)
    {
    	right: 0px;
    	bottom: 58px;
    }
}

.button-a
{

	background-color: #585de8;
	border: none;
	color: #fff;
	padding: 10px 20px 10px 20px;
}
footer
{
	color: #828282;
	background-color: #171717;
	font-weight: 700;
	border-bottom: 2px solid #2e2e2e;
	h2
	{
		color: #fff;
		font-size: 13px;
		font-weight: 700;
		font-family: "Source Sans Pro", sans-serif;
	}
	ul
	{
		padding: 0;
		li
		{
			display: block;
			font-size: 13px;
			font-family: "Source Sans Pro", sans-serif;
			a
			{
				color: #828282;
				&:hover
				{
					color: #828282;
				}
			}
		}
	}
	.social-icon
	{
		text-align: center;
		@media screen and (max-width: 991px)
		{
			margin-bottom: 15px;
		}
		.holder
		{
			display: inline-block;
			cursor: pointer;
			text-align: center;
			background-color: #313131;
			width: 20px;
			height: 20px;
			line-height: 20px;
			font-size: 20px;
			box-sizing: content-box;
			padding: 7.5px;
			border-radius: 100%;
			.fa
			{
				color: #a1a1a1;
			}
		}
	}
}
.sub-footer
{
	color: #828282;
	background-color: #171717;
	padding: 25px 0;
	font-size: 13px;
	font-family: "Source Sans Pro", sans-serif;
	.nav
	{
		display: inline-block;
		vertical-align: top;
		border-right: 1px solid #606060;
		padding: 0 7.5px;
		&:last-child
		{
			border-right: 0;
		}
	}
	.copyright
	{
		margin-left: 7px;
		@media screen and (min-width: 992px)
		{
			text-align: right;
		}
	}
}
.header-nav-middle
{
	@media screen and (max-width: 991px)
	{
		text-align: center;
		.pull-left, .pull-right
		{
			float: none !important;
		}
	}
}

@media screen and (max-width: 800px)
{
	.header-nav .header-nav-middle .info 
	{
	    display: none;
	}

	.header-nav .header-nav-middle .logo 
	{
	    margin: 0;
	}
}