body {
  font-family: 'Poppins', sans-serif; }

.header-nav {
  font-family: 'Source Sans Pro', sans-serif; }
  .header-nav .header-nav-top {
    border-bottom: 1px solid #d2d4d5;
    background-color: #eaeff3; }
    @media screen and (max-width: 720px) {
      .header-nav .header-nav-top {
        text-align: center; }
        .header-nav .header-nav-top .pull-left, .header-nav .header-nav-top .pull-right {
          float: none !important; } }
    .header-nav .header-nav-top .slick-prev {
      left: 15px;
      z-index: 2; }
    .header-nav .header-nav-top .slick-next {
      right: 15px;
      z-index: 2; }
    .header-nav .header-nav-top .slick-prev, .header-nav .header-nav-top .slick-next {
      width: 9px;
      height: 14px; }
    .header-nav .header-nav-top .nav-holder {
      display: inline-block;
      border-right: 1px solid #d2d4d5; }
      .header-nav .header-nav-top .nav-holder:last-child {
        border-right: 0; }
      .header-nav .header-nav-top .nav-holder a {
        color: #40535e;
        font-size: 15px;
        font-weight: 700;
        padding: 10px 15px;
        display: block; }
      .header-nav .header-nav-top .nav-holder.active a {
        color: #fd8a0e; }
    .header-nav .header-nav-top .product-container {
      position: absolute;
      top: 42px;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 10;
      padding: 15px 25px;
      font-family: "Poppins", sans-serif;
      transition: 0.3s all ease;
      opacity: 0;
      pointer-events: none; }
      .header-nav .header-nav-top .product-container.show {
        opacity: 1;
        pointer-events: auto; }
      .header-nav .header-nav-top .product-container .title {
        color: #1e1f1f;
        font-size: 20px; }
      .header-nav .header-nav-top .product-container .list-product {
        text-align: center; }
        .header-nav .header-nav-top .product-container .list-product .img-responsive {
          margin: auto; }
        .header-nav .header-nav-top .product-container .list-product .holder {
          cursor: pointer; }
          .header-nav .header-nav-top .product-container .list-product .holder .name {
            color: #1e1f1f;
            font-size: 12px; }
          .header-nav .header-nav-top .product-container .list-product .holder:hover .name {
            color: #0083df; }
    .header-nav .header-nav-top .menu-container {
      background-color: #fd8a0e;
      position: relative;
      z-index: 5; }
    .header-nav .header-nav-top .menu-holder {
      display: inline-block;
      padding: 10px 25px;
      position: static; }
      .header-nav .header-nav-top .menu-holder a {
        color: #fff;
        font-size: 15px;
        font-weight: 700; }
        .header-nav .header-nav-top .menu-holder a img {
          margin-right: 5px; }
      .header-nav .header-nav-top .menu-holder .dropdown-menu {
        border-top: 3px solid #08429c;
        border-radius: 0;
        width: 350px;
        font-family: 'Poppins', sans-serif;
        padding: 15px 25px;
        top: 135px; }
        .header-nav .header-nav-top .menu-holder .dropdown-menu.orange {
          border-top: 3px solid #fd8d15; }
        .header-nav .header-nav-top .menu-holder .dropdown-menu h2 {
          margin-top: 0;
          color: #40535e;
          font-weight: 600;
          font-size: 15px;
          line-height: 15px; }
        .header-nav .header-nav-top .menu-holder .dropdown-menu .title {
          color: #003c9c;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 10px; }
        .header-nav .header-nav-top .menu-holder .dropdown-menu .form-control {
          box-shadow: none;
          color: #848484;
          font-weight: 700;
          font-family: "Source Sans Pro", sans-serif;
          height: 37.5px; }
          .header-nav .header-nav-top .menu-holder .dropdown-menu .form-control:last-child {
            margin-bottom: 0; }
        .header-nav .header-nav-top .menu-holder .dropdown-menu .btn {
          height: 37.5px;
          background-color: #6eb324;
          font-size: 15px;
          font-weight: 600;
          color: #fff;
          width: 100%;
          text-align: center;
          position: relative; }
          .header-nav .header-nav-top .menu-holder .dropdown-menu .btn .caret {
            position: absolute;
            right: 10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .header-nav .header-nav-top .color-overlay {
      position: absolute;
      right: 0;
      top: 0;
      height: 41px;
      background-color: #fd8a0e;
      width: 200px;
      z-index: 4; }
      @media screen and (max-width: 720px) {
        .header-nav .header-nav-top .color-overlay {
          background-color: transparent; } }
  .header-nav .header-nav-middle .logo {
    margin: 11px 0; }
    @media screen and (max-width: 991px) {
      .header-nav .header-nav-middle .logo .img-responsive {
        margin: auto; } }
  .header-nav .header-nav-middle .info {
    margin: 20px 0; }
    .header-nav .header-nav-middle .info .divider {
      width: 1px;
      height: 50px;
      background-color: #d2d4d5;
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px; }
    .header-nav .header-nav-middle .info .holder {
      display: inline-block;
      vertical-align: middle; }
      .header-nav .header-nav-middle .info .holder .icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px; }
      .header-nav .header-nav-middle .info .holder .text {
        display: inline-block;
        vertical-align: middle; }
        .header-nav .header-nav-middle .info .holder .text .text-label {
          color: #848484;
          font-size: 12px;
          font-weight: 700; }
        .header-nav .header-nav-middle .info .holder .text .text-value {
          color: #40535e;
          font-size: 21px;
          font-weight: 700; }

.row-no-padding > div {
  padding-left: 0;
  padding-right: 0; }

.button-a {
  background-color: #585de8;
  border: none;
  color: #fff;
  padding: 10px 20px 10px 20px; }

footer {
  color: #828282;
  background-color: #171717;
  font-weight: 700;
  border-bottom: 2px solid #2e2e2e; }
  footer h2 {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif; }
  footer ul {
    padding: 0; }
    footer ul li {
      display: block;
      font-size: 13px;
      font-family: "Source Sans Pro", sans-serif; }
      footer ul li a {
        color: #828282; }
        footer ul li a:hover {
          color: #828282; }
  footer .social-icon {
    text-align: center; }
    @media screen and (max-width: 991px) {
      footer .social-icon {
        margin-bottom: 15px; } }
    footer .social-icon .holder {
      display: inline-block;
      cursor: pointer;
      text-align: center;
      background-color: #313131;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 20px;
      box-sizing: content-box;
      padding: 7.5px;
      border-radius: 100%; }
      footer .social-icon .holder .fa {
        color: #a1a1a1; }

.sub-footer {
  color: #828282;
  background-color: #171717;
  padding: 25px 0;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif; }
  .sub-footer .nav {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #606060;
    padding: 0 7.5px; }
    .sub-footer .nav:last-child {
      border-right: 0; }
  @media screen and (min-width: 991px) {
    .sub-footer .copyright {
      text-align: right; } }

@media screen and (max-width: 991px) {
  .header-nav-middle {
    text-align: center; }
    .header-nav-middle .pull-left, .header-nav-middle .pull-right {
      float: none !important; } }

/*# sourceMappingURL=global.css.map */
