.intro
{
	background-size: cover;
	background-position: center;
	min-height: 513px;
	position: relative;

	.text
	{
		color: #fff;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		.title
		{
			background-color: rgba(214,24,150,0.85);
			display: inline-block;
			font-size: 34.93px;
			font-weight: 700;
			padding: 7.5px 15px;

			@media screen and (max-width: 320px)
			{
				font-size: 30px;
			}

		}
		.desc
		{
			background-color: rgba(1,71,230,0.85);
			display: inline-block;
			padding: 25px;
			.first-line
			{
				font-weight: 600;
				font-size: 53.57px;
				line-height: 50px;
				
				@media screen and (max-width: 425px)
				{
					font-size: 50px;
				}

				@media screen and (max-width: 320px)
				{
					font-size: 40px;
				}
			}
			.second-line
			{
				font-size: 26.78px;

				@media screen and (max-width: 320px)
				{
					font-size: 20px;
				}

			}
			.objective
			{
				margin-top: 15px;
				font-size: 15px;
				font-weight: 400;
				letter-spacing: 1px;
				max-width: 425px;
				margin-bottom: 25px;

				@media screen and (max-width: 425px)
				{
					max-width: 345px;
				}

				@media screen and (max-width: 414px)
				{
					max-width: 335px;
				}

				@media screen and (max-width: 395px)
				{
					max-width: 295px;
				}

				@media screen and (max-width: 320px)
				{
				    max-width: 240px;
				}
			}

			.btn-learn
			{
				background-color: #6eb324;
				border-radius: 25px;
				font-size: 16px;
				font-weight: 600;
				padding: 7.5px 25px;
			}
		}
	}
}

.company
{
	margin: 5px 0;
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
	{
		background-color: #003c9c;
		font-size: 14px;
		color: #fff;
		font-weight: 700;
	}
	.nav-tabs > li > a
	{
		border-radius: 0;
		border: 1px solid #cbcbcb;
		margin: 0;
		font-size: 14px;
		color: #1e1f1f;
		font-weight: 700;
		border-right: 0;
		padding: 7.5px 25px;
		outline: none;
	}
	.nav-tabs > li
	{
		&:last-child
		{
			> a
			{
				border-right: 1px solid #cbcbcb;
			}
		}
	}
	.nav.nav-tabs
	{
		border-color: #cbcbcb;
		font-family: 'Source Sans Pro', sans-serif;
	}
	.tab-content
	{
		padding: 25px 0;
		@media screen and (max-width: 991px)
		{
			.img-responsive
			{
				display: block;
				margin: auto;
			}
		}
		h1
		{
			color: #1e1f1f;
			font-size: 34px;
			letter-spacing: 1px;
			margin-bottom: 25px;
		}
		p
		{
			color: #4d4c4c;
			font-size: 15px;
		}
		.read-more
		{
			margin-top: 25px;
			@media screen and (max-width: 991px)
			{
				text-align: center;
				margin-bottom: 25px;
			}
			a
			{
				color: #003c9c;
				font-size: 17px;
				font-weight: 700;
			}
		}
	}
}

.values
{
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fff;
	min-height: 513px;
	position: relative;
	> .container
	{
		@media screen and (min-width: 992px)
		{
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	.left-holder
	{
		position: relative;
		.holder
		{
			@media screen and (min-width: 992px)
			{
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				left: 0;
				right: 0;
				margin: auto;
				margin-left: 20px;
			}
			@media screen and (max-width: 991px)
			{
				text-align: -webkit-center;
			}
		}
	}
	.values-title
	{
		font-size: 50px;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		line-height: 60px;
		max-width: 365px;
	}
	.divider
	{
		height: 2px;
		width: 75px;
		background-color: #fff;
		margin: 25px 0;
		@media screen and (max-width: 991px)
		{
			margin: 10px 0;
		}
	}
	.values-sub
	{
		font-size: 17px;
		font-weight: 400;
		font-family: 'Source Sans Pro', sans-serif;
		@media screen and (max-width: 991px)
		{
			margin-bottom: 30px;
		}
	}
	.tower
	{
		font-size: 0;
		text-align: center;
		@media screen and (max-width: 991px)
		{
			margin-bottom: 20px;
		}
		.tower-row
		{
			.holder
			{
				display: inline-block;
				max-width: 150px;
				border: 1px solid #fff;
				vertical-align: top;
				padding: 10px 5px;
				.name
				{
					font-size: 15.99px;
					font-weight: 700;
				}
				.desc
				{
					font-size: 12.99px;
					font-weight: 400;
					font-family: 'Source Sans Pro', sans-serif;
				}
			}
		}
	}
}

.product
{
	padding: 25px 0;
	.image
	{
		text-align: center;
		img
		{
			max-width: 100%;
			@media screen and (max-width: 991px)
			{
				margin: auto;
			}
		}
	}
	.name
	{
		color: #1e1f1f;
		font-size: 34px;
		margin-bottom: 15px;
	}
	.desc
	{
		color: #4d4c4c;
		font-size: 15px;
		font-family: 'Source Sans Pro', sans-serif;
	}
}

.networking
{
	background-color: #f5f5f5;
	padding: 25px 0;
	.title
	{
		color: #1e1f1f;
		font-size: 33.97px;
		margin-bottom: 25px;
	}
	.holder
	{
		max-width: 250px;
		margin: auto;
		text-align: center;
		@media screen and (max-width: 991px)
		{
			margin-bottom: 30px;
		}
		.image
		{
			position: relative;
			padding-bottom: 100%;
			height: 0;
			img
			{
				position: absolute;
				height: 100%;
				width: 100%;
				object-fit: cover;
				border-radius: 100%;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
		}
		.desc
		{
			margin-top: 15px;
			color: #4d4c4c;
			font-size: 15px;
			font-family: 'Source Sans Pro', sans-serif;
		}
	}
	.quote
	{
		margin-top: 25px;
		font-family: "Source Sans Pro", sans-serif;
		.text
		{
			color: #4d4c4c;
			font-size: 15px;
		}
		.name
		{
			font-size: 15px;
			span
			{
				color: #0083df;
				font-weight: 700;
			}
		}
		.desc
		{
			color: #4d4c4c;
			font-size: 13px;
			font-style: italic;
		}
	}
}

.saying
{
	padding: 25px 0;
	.title
	{
		color: #1e1f1f;
		font-size: 33.97px;
		margin-bottom: 25px;
	}
	.holder
	{
		margin: auto;
		text-align: center;
		@media screen and (max-width: 991px)
		{
			margin-bottom: 60px;
		}
		.image
		{
			
		}
		.desc
		{
			margin-top: 25px;
			color: #4d4c4c;
			font-size: 15px;
			font-family: 'Source Sans Pro', sans-serif;
		}
	}
	.quote
	{
		margin-top: 25px;
		font-family: "Source Sans Pro", sans-serif;
		.text
		{
			color: #4d4c4c;
			font-size: 15px;
		}
		.name
		{
			font-size: 15px;
			span
			{
				color: #0083df;
				font-weight: 700;
			}
		}
		.desc
		{
			color: #4d4c4c;
			font-size: 13px;
			font-style: italic;
		}
	}
}

.professional
{
	padding: 25px 0;
	@media screen and (max-width: 991px)
	{
		padding-top: 0px;
	}
	.slick-prev
	{
		z-index: 2;
	}
	.slick-next
	{
		z-index: 2;
	}
	.slick-prev, .slick-next
	{
		width: 9px;
		height: 14px;

		@media screen and (max-width: 500px)
		{
			display: none;
		}
	}
	.title
	{
		color: #1e1f1f;
		font-size: 33.97px;
		margin-bottom: 25px;
	}
	.holder
	{
		margin: auto 5px;
		text-align: left;
		background-color: #f5f5f5;
		padding: 15px;
		.icon
		{
			img
			{
				max-width: 100%;
			}
		}
		.text
		{
			padding: 15px;
			color: #636363;
			font-size: 15px;
		}
		.author
		{
			margin-top: 25px;
			table
			{
				width: 100%;
				.author-img
				{
					width: 90px;
				}
				.author-text
				{
					padding-left: 15px;
					.name
					{
						color: #0083df;
						font-size: 15px;
						font-weight: 600;
					}
					.did
					{
						color: #7e7e7e;
						font-size: 12px;
						font-family: "Source Sans Pro", sans-serif;
					}
				}
			}
		}
	}
}

.address
{
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fff;
	padding: 40px 0 25px;
	.name
	{
		font-size: 34px;
		max-width: 250px;
		line-height: 35px;
	}
	.line
	{
		height: 3px;
		background-color: #fff;
		width: 50px;
		margin-top: 15px;
	}
	.logo
	{
		text-align: center;
		@media screen and (max-width: 991px)
		{
			margin-top: 20px;
		}
		img
		{
			max-width: 100%;
		}
	}
	.from
	{
		color: #adadad;
		font-size: 20px;
		font-family: "Source Sans Pro", sans-serif;
		text-align: center;
		margin: 15px auto;
		font-weight: 600;
		max-width: 350px;
	}
	.contact
	{
		color: #fff;
		font-size: 20px;
		font-family: "Source Sans Pro", sans-serif;
		text-align: center;
	}
	.holder
	{
		position: relative;
		.absolute
		{
			@media screen and (min-width: 992px)
			{
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
	}
}

.join
{
	background-color: #171717;
	padding: 25px 0 0;
	.holder
	{
		border: 1px solid #454545;
		padding: 40px;
		.text
		{	
			font-family: "Source Sans Pro", sans-serif;
			color: #b4b4b4;
			font-size: 15px;
		}
		.btn
		{
			border-radius: 25px;
			background-color: #373737;
			font-weight: 600;
			font-size: 18px;
			color: #fff;
			padding: 10px 25px;
			@media screen and (max-width: 992px)
			{
				margin-top: 20px;
				margin-bottom: -15px;
			}
		}
	}
}