
@font-face {
  font-family: 'BerlingEF-Bold';
  src: url('BerlingEF-Bold.eot?#iefix') format('embedded-opentype'),  url('BerlingEF-Bold.woff') format('woff'), url('BerlingEF-Bold.ttf')  format('truetype'), url('BerlingEF-Bold.svg#BerlingEF-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
