/* fluid 5 columns */
.grid-sizer,
.grid-item 
{ 
   width: 24%;
   margin-bottom: 15px;
   @media screen and (max-width: 991px)
   {
   	width: 49%;
   }
   @media screen and (max-width: 680px)
   {
   	width: 100%;
   }
}
.gutter-sizer { width: 2%; }
/* 2 columns wide */
.grid-item--width2 
{ 
	width: 49%; margin-bottom: 10px;
	@media screen and (max-width: 991px)
	{
		width: 100%;
	}
}
.events
{
	background-color: #f2f2f2;
	padding: 25px 0;
	.events-title
	{
		font-size: 25px;
		font-weight: 700;
		margin-bottom: 15px;
	}

}
.slick-next
{
	right: 0;
	z-index: 15;
}
.slick-prev
{
	left: 0;
	z-index: 15;
}
.event-holder
{
	cursor: pointer;
	background-color: #fff;
	.img
	{
		background-color: #000;
	}
	.text
	{
		padding: 15px;
		background-color: #fcfcfc;
		.cat
		{
			border-bottom: 1px solid #000;
			margin-bottom: 7.5px;
			padding-bottom: 1.5px;
			display: inline-block;
		}
		.title
		{
			font-size: 18px;
			margin-bottom: 10px;
			padding-right: 25px;
		}
		.desc
		{
			font-size: 14px;
			color: #a1a1a1;
		}
	}
	&:hover
	{
		.img
		{
			img
			{
				opacity: 0.8;
			}
		}
		.text
		{
			.title
			{
				text-decoration: underline;
			}
		}
	}
}
.event-slider
{
	.slider-holder
	{
		position: relative;
		background-color: #000;
		cursor: pointer;
		.shadow
		{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			-webkit-box-shadow: inset 0px -150px 150px -150px rgba(0,0,0,0.75);
			-moz-box-shadow: inset 0px -150px 150px -150px rgba(0,0,0,0.75);
			box-shadow: inset 0px -150px 150px -150px rgba(0,0,0,0.75);
			z-index: 5;
		}
		.title
		{
			position: absolute;
			z-index: 6;
			color: #fff;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 15px;
			font-size: 25px;
		}
		&:hover
		{
			img
			{
				opacity: 0.8;
			}
			.title
			{
				text-decoration: underline;
			}
		}
	}
}