.main-container
{
	padding: 25px 0 60px 0;
	.title-container
	{
		font-size: 30px;

		.title-blue
		{
			color: #0466af;
			font-size: 30px;

		}
		.title-orange
		{
			color: #f4ac00;
			font-size: 30px;
			
		}
		span
		{
			display: inline-block;
			vertical-align: middle;
			font-family: 'Cantarell', sans-serif;
			font-style: italic;
			padding: 0px 2px;
			img
			{
				display: block;
			}
		}
	}
	.details-container
	{
		padding: 0px 0px 15px 0px;
		p
		{
			font-family: 'Open+Sans', sans-serif;
			color: #585858;
			text-align: justify;
			font-size: 15px;
			margin-top: 15px;
		}
	}
	.p4ward_partner_container
	{
		p
		{
			font-family: 'Open+Sans', sans-serif;
			color: #585858;
			text-align: justify;
			font-size: 15px;
			margin-top: 15px;
		}
		.image-holder
		{
			max-width: 135px;
			img
			{
				width: 100%;
			}
		}
	}
}