body{
	font-family: 'Open Sans', sans-serif;
	background-color: #ededed;
	color: #747474;
}
.top-1-container {
	padding: 40px 0px 40px 0px;
	background-color: #ededed;

	.title-container {
		font-size: 18px;
		font-weight: 600;
		color: #1c1c1c;
	}
}
.top-2-container {
	padding: 40px 0px 40px 0px;
	background-color: white;

	.content-container {
		
		.title-container {
			font-size: 18px;
			font-weight: 600;
			color: #1c1c1c;
		}

		.location-content-container {
			padding: 20px 0px 20px 0px;

			.title-2-container {
				color: #1c1c1c;
				font-weight: 700;
			}
			.detail-container {
				margin-top: 5px;
				margin-bottom: 20px;
				font-size: 13px;
			}
		}
		
		.fill-up-container {
			width: 100%;
			
			.textfield-container {
				width: 100%;
				padding: 10px 0px 10px 0px;
				color: #979797;

				.form-control {
					height: 40px;
				    width: 100%;
				    border-radius: 20px;
				    color: #979797;
				    font-size: 12px;
				}
				
				button {
					background-color: #48b920;
					width: 30%;
					text-align: center;
					border-radius: 20px;
					color: white;
					border: none;
					padding: 10px 0px 10px 0px;
				}
			}
		}
	}
}
.bot-container {
	padding: 40px 0px 40px 0px;
	background-color: white;

	.title-container {
		font-size: 18px;
		font-weight: 600;
		color: #1c1c1c;
	}
	.content-container {
		padding: 20px 0px 40px 0px;

		.map-container {
			width: 100%;
			padding-right: 25px;

			.map {
				width: 100%;
				border-radius: 20px;
			}
		}

		.title-container {
			font-size: 13px;
			font-weight: 700;
		}
	}
}
