@import 'style';
@import 'mixins';

.btn-home-reg
{
	color: #1344d8 !important;
}

.btn-lokal
{
	@include grad-btn(#2fb5f8, #785bfa);
	font-family: $ff;
	font-weight: $reg;
	font-size: 18px;
	padding: 15px 25px;
	border: 0;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}

.btn-glow
{
	box-shadow: 0px 0px 25px 5px rgba(#2fb5f8, .4);

	&:hover
	{
		@include transition(0.2s);
		box-shadow: 0px 0px 30px 5px rgba(#2fb5f8, .4);
	}
}

.btn-lokal-sm
{
	@extend .btn-lokal;
	padding: 7px 25px;
}

.btn-home-login
{
	background-color: #1344d8;
	border-radius: 6px;
	font-family: $ff;
	font-weight: $reg;
	font-size: 14px;
	padding: 5px 10px;
	color: #fff;
}

.btn-0
{
	font-family: $ff;
	font-weight: $reg;
	font-size: 16px;
	padding: 7px 15px;
	background-color: transparent;
	border: 2px solid #2fb6f8;
	color: #2fb6f8;
	cursor: pointer;
}

.btn-0-hoverable
{
	@include transition(0.2s);
	@extend .btn-0;
	
	&:hover
	{
		border: 2px solid #fff;
		color: #fff;
	}
}

.btn-login
{
	color: #77eff8 !important;

	&:hover
	{
		@include transition(0.2s);
		opacity: 1 !important;
	}
}

.btn-reg
{
	color: #775bf9 !important;

	&:hover
	{
		@include transition(0.2s);
		opacity: 1 !important;
	}
}