@import 'style';
@import 'mixins';

.text-header
{
	font-family: $ff;
	color: #5c7cfe;
	font-weight: $sem;
	font-size: 45px;
	padding: 20px 0;
}

.small-header
{
	font-family: $ff;
	color: #fff;
	font-weight: $sem;
	font-size: 18px;
	padding: 20px 0;
}

.text-header-w
{
	font-family: $ff;
	color: #fff;
	font-weight: $sem;
	font-size: 45px;
	padding: 20px 0;
}

.content-text
{
	font-family: $ff;
	color: rgba(#fff, 0.8);
	font-weight: $light;
	font-size: 16px;
}

.small-text
{
	font-family: $ff;
	color: rgba(#fff, 0.8);
	font-weight: $light;
	font-size: 14px;
}

.btn-lokal
{
	@include grad-btn(#2fb5f8, #785bfa);
	font-family: $ff;
	font-weight: $reg;
	font-size: 18px;
	padding: 15px 25px;
	border: 0;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}

.btn-home-login
{
	background-color: #1344d8;
	border-radius: 6px;
	font-family: $ff;
	font-weight: $reg;
	font-size: 14px;
	padding: 5px 10px;
	color: #fff;
}

.btn-home-reg
{
	color: #1344d8 !important;
}

.total
{
	color: #ff4848;
}

.td-color
{
	background-color: rgba(#0a0129, 0.5);
}

.custom-textfield
{
	font-family: $ff;
	font-size: 18px;
	font-weight: $light;
	border: none;
	background-color: #180e3b;
	color: #fff;
}

.f-answer
{
	border-bottom: 1px solid #1e61a4;
}

.f-text
{
	font-family: $ff;
	font-size: 12px;
	font-weight: $light;
	color: #5d5868;
}

.f-text-link
{
	@extend .f-text;
	
	&:hover
	{
		color: rgba(#fff, 0.8);
	}
}

//TABLE
