@import "../../../assets/front/sass/mixin";
@import "../custom/variables";

body {
    background-color: transparent;
    color: #747474;
}

.wrapper-1
{
    padding: 70px 0px;
    background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    text-align: left;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    .title-container
    {
        color: #fff;
        width: 65%;
        .upper-subtitle
        {
            font-size: 25px;
            font-weight: 400; 
        }
        .main-title
        {
            font-size: 40px;
            font-weight: 800;
            padding: 10px 0px;
        }
        .bottom-subtitle
        {
            font-size: 25px;
            font-weight: 400;
            padding-bottom: 10px;
        }
        .border-holder
        {
            background-color: #fff;
            width: 5%;
            height: 1px;

        }
        .bottom-paragraph
        {
            padding-top: 10px;
            font-size: 20px;
            font-weight: 400;
        }
    }
}

.parallax::after 
{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: 100%;
  z-index: -1;
}

.wrapper-2
{
    padding: 100px 0px;
    .about-container-1
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        padding-bottom: 50px;
        .about-company
        {
            color: #1d1e30;
            .about-title
            {
                font-size: 25px;
                font-weight: 800;
                padding-bottom: 50px;
            }
            .about-paragraph
            {
                text-align: justify;
                font-size: 17px;
                font-weight: 400;
                line-height: 170%;
            }
        }
        .about-image
        {
            width: 60%;
            margin: 0px auto;
            img
            {
                width: 100%;
            }
        }
    }
    .about-container-2
    {
        color: #1d1e30;
        padding-bottom: 50px;
        .about-title
        {
            text-align: center;
            font-size: 25px;
            font-weight: 800;
            padding-bottom: 50px;
        }
        .about-paragraph
        {
            text-align: justify;
            font-size: 17px;
            font-weight: 400;
            line-height: 170%;
        }
    }
    .about-container-3
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
        padding-bottom: 50px;
        .about-company
        {
            color: #1d1e30;
            .about-title
            {
                text-align: center;
                font-size: 25px;
                font-weight: 800;
                padding-bottom: 50px;
            }
            .about-paragraph
            {
                text-align: justify;
                font-size: 17px;
                font-weight: 400;
                line-height: 170%;
            }
        }
    }
    .about-container-4
    {
        color: #1d1e30;
        .about-title
        {
            text-align: center;
            font-size: 25px;
            font-weight: 800;
            padding-bottom: 50px;
        }
        .about-values-container
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 4rem;
            :nth-child(1), :nth-child(4)
            {
                justify-self: end !important;
            }
            :nth-child(3), :nth-child(6)
            {
                justify-self: start !important;
            }
            .about-values-holder
            {
                justify-self: center;
                padding: 60px 0px;
                border: solid 1px #ebebeb;
                background-color: #f0f0f0;
                width: 70%;
                text-align: center;
                .values-icon
                {
                    margin: 0px auto;   
                    width: 30%;
                    img
                    {
                        width: 100%;
                    }
                }
                .values-name
                {
                    font-size: 17px;
                    font-weight: 800;
                    margin: 25px auto 0px;
                }
            }
        }
    }
}

.wrapper-3
{
    padding: 100px 0px;
    background-color: #ebf7ff;
    .product-container
    {
        .product-title
        {
            color: #1d1e30;
            font-size: 25px;
            font-weight: 800;
            text-align: center;
            padding-bottom: 50px;
        }
        .product-tabs
        {
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            a
            {
                font-size: 16px;
                font-weight: 800;
                background-color: #017aff;
                padding: 20px 15px;
                width: 100%;
                text-align: center;
                text-decoration: none;
                color: #fff;
                border-left: solid 1px #fff;
                border-right: solid 1px #fff;
                // line-height: 10px;
            }
            .active , a:hover
            {
                background-color: #fff;
                color: #333;
            }
        }
        .tab-content
        {
            background-color: #fff;
            padding: 50px 0px;
            .tab-pane
            {
                padding: 0px 40px;
                .product-desc-container
                {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 2rem;
                    color: #1d1e30;
                    .product-desc-container-1
                    {
                        text-align: justify;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 170%;
                        .product-header
                        {
                            color: #1d1e30;
                            font-size: 16px;
                            font-weight: 800;
                            padding-bottom: 25px;
                        }
                    }
                    .product-desc-container-2
                    {
                        font-size: 15px;
                        font-weight: 400;
                        border-collapse: collapse;
                        width: 100%;
                        tr
                        {
                            td
                            {
                                border: 1px solid #dfdfdf;
                                padding: 8px 20px;
                            }
                            th
                            {
                                padding: 15px 20px;
                                text-align: left;
                                background-color: #14c77a;
                                color: #fff;
                            }
                        }
                    }
                }
                .button-container
                {
                    font-size: 13px;
                    font-weight: 800;
                    color: #fff;
                    display: grid;
                    grid-gap: 2rem;
                    grid-template-columns: repeat(2, 1fr);
                    margin: 40px 0px 0px;
                    .btn-feature
                    {
                        justify-self: end;
                        width: 200px;
                        padding: 15px 0px;
                        background-color: #017aff;
                        border: none;
                        border-radius: 4px;
                        border-bottom: solid 5px #0066d7;
                    }
                    .btn-inquire
                    {
                        justify-self: start;
                        width: 200px;
                        padding: 15px 0px;
                        background-color: #14c77a;
                        border: none;
                        border-radius: 4px;
                        border-bottom: solid 5px #10ad6a;
                    }
                }
            }
        }
    }
}

.wrapper-4
{
    padding: 100px 0px;
    .service-container
    {
        .service-title
        {
            color: #1d1e30;
            font-size: 25px;
            font-weight: 800;
            text-align: center;
            padding-bottom: 50px;
        }
        .service-holder
        {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;
            .service-content
            {
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 200px;
                display: flex;
                align-items: flex-end;
                text-align: left;
                padding: 10px;
                .title-holder
                {
                    border-left: solid 2px #fff;
                    padding-left: 10px;
                    .title-1
                    {
                        color: #fff;
                        font-size: 12px;
                        font-weight: 400;
                    }
                    .title-2
                    {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 800;
                    }
                }
            }
        }
    }
}

.wrapper-5
{
    padding: 100px 0px;
    background-color: #ebf7ff;
    .expertise-container
    {
        .expertise-title
        {
            color: #1d1e30;
            font-size: 25px;
            font-weight: 800;
            text-align: center;
        }
        .expertise-holder
        {
            margin-top: 50px;
            width: 100%;
            background-color: #fff;
            padding: 50px 0px;
            .expertise-header
            {
                color: #017aff;
                font-size: 20px;
                font-weight: 800;
                text-align: center;
                margin-bottom: 30px; 
            }
            .expertise-list-container
            {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 4rem;
                .expertise-list
                {
                    justify-self: center;
                    color: #1d1e30;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
            .button-container
            {
                text-align: center;
                .btn-more
                {
                    width: 200px;
                    padding: 15px 0px;
                    background-color: #017aff;
                    border: none;
                    border-radius: 4px;
                    border-bottom: solid 5px #0066d7;
                    font-size: 13px;
                    font-weight: 800;
                    color: #fff;
                    margin-top: 30px;
                }
            }
        }
    }
}