@import "../../../assets/front/sass/mixin";
@import "../custom/variables";

body {
    background-color: transparent;
    color: #747474;
}

.wrapper-1
{
    // background-size: cover;
    // background-position: center;
    background-repeat: no-repeat;
    height: 100vh !important;
    display: flex;
    align-items: flex-end;
    .home-container
    {
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        padding: 25px 0px;
        .home-content
        {
            display: grid;
            grid-template-columns: 60% 15% 25%;
            // grid-gap: 1rem;
            justify-content: center;
            align-items: center;
            .home-content-1
            {
                color: #fff;
                .title-1
                {
                    font-family: 'Poppins';
                    font-weight: 800;
                    font-size: 25px;  
                }
                .title-2
                {
                    font-weight: 300;
                    font-size: 15px;
                }
            }
            .home-content-2
            {
                color: #fff;
                .title-1
                {
                    font-weight: 300;
                    font-size: 15px;  
                }
                .title-2
                {
                    font-weight: 400;
                    font-size: 22px;
                    i
                    {
                        font-size: 30px;
                    }
                }
            }
            .home-content-3
            {
                .image-holder
                {
                    width: 100%;
                    img
                    {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.wrapper-2
{
    padding: 100px 0px;
    background-color: #017aff;
    .about-container-company
    {
        .title-holder
        {
            text-align: center;
            color: #fff;
            margin-bottom: 60px;
            .header-title
            {
                font-family: 'Poppins';
                font-weight: 800;
                font-size: 25px;
                margin-bottom: 20px;
            }
            .subheader-title
            {
                font-weight: 300;
                font-size: 16px;
                line-height: 1.5;
            }
        }
        .about-company
        {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 6rem;
            .about-company-1
            {
                .company-overview, .company-vision, .company-mission
                {
                    color: #fff;
                    margin-bottom: 30px;
                    .about-title
                    {
                        font-family: 'Poppins';
                        font-weight: 600;
                        font-size: 19px;
                        margin-bottom: 20px;
                    }
                    .about-content
                    {
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 25px;
                        text-align: justify;
                    }
                }
            }
            .about-company-2
            {
                .image-holder
                {
                    margin-bottom: 30px;
                    width: 94%;
                    img
                    {
                        width: 100%;
                    }
                }
                .company-work
                {
                    color: #fff;
                    .about-title
                    {
                        font-family: 'Poppins';
                        font-weight: 600;
                        font-size: 19px;
                        margin-bottom: 20px;
                    }
                    .about-content
                    {
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 25px;
                        text-align: justify;
                    }
                }
            }
        }
    }
}

.wrapper-3
{
    padding: 100px 0px;
    .about-container-values
    {
        color: #1d1e30;
        .about-title
        {
            font-family: 'Poppins';
            text-align: center;
            font-size: 25px;
            font-weight: 800;
            padding-bottom: 50px;
        }
        .about-values-container
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 4rem;
            :nth-child(1), :nth-child(4)
            {
                justify-self: end !important;
            }
            :nth-child(3), :nth-child(6)
            {
                justify-self: start !important;
            }
            .about-values-holder
            {
                justify-self: center;
                padding: 60px 0px;
                border: solid 1px #ebebeb;
                background-color: #f6f6f6;
                width: 70%;
                text-align: center;
                .values-icon
                {
                    margin: 0px auto;   
                    width: 30%;
                    img
                    {
                        width: 100%;
                    }
                }
                .values-name
                {
                    font-family: 'Poppins';
                    font-size: 17px;
                    font-weight: 600;
                    margin: 25px auto 0px;
                }
            }
        }
    }
}

.wrapper-4
{
    padding: 100px 0px;
    background-color: #ebf7ff;
    .product-container
    {
        .product-title
        {
            font-family: 'Poppins';
            color: #1d1e30;
            font-size: 25px;
            font-weight: 800;
            text-align: center;
            padding-bottom: 50px;
        }
        .product-tabs
        {
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            a
            {
                font-family: 'Poppins';
                font-size: 17px;
                font-weight: 600;
                background-color: #017aff;
                padding: 20px 15px;
                width: 100%;
                text-align: center;
                text-decoration: none;
                color: #fff;
                border-left: solid 1px #fff;
                border-right: solid 1px #fff;
                // line-height: 10px;
            }
            .active , a:hover
            {
                background-color: #fff;
                color: #333;
            }
        }
        .tab-content
        {
            background-color: #fff;
            padding: 50px 0px;
            .tab-pane
            {
                padding: 0px 40px;
                .product-desc-container
                {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 2rem;
                    color: #1d1e30;
                    .product-desc-container-1
                    {
                        text-align: justify;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 170%;
                        .product-header
                        {
                            font-family: 'Poppins';
                            color: #1d1e30;
                            font-size: 17px;
                            font-weight: 600;
                            padding-bottom: 25px;
                        }
                    }
                    .product-desc-container-2
                    {
                        font-size: 15px;
                        font-weight: 400;
                        border-collapse: collapse;
                        width: 100%;
                        tr
                        {
                            td
                            {
                                border: 1px solid #dfdfdf;
                                padding: 8px 20px;
                            }
                            th
                            {
                                font-family: 'Poppins';
                                font-weight: 600;
                                padding: 15px 20px;
                                text-align: left;
                                background-color: #14c77a;
                                color: #fff;
                            }
                        }
                    }
                }
                .button-container
                {
                    font-weight: 600;
                    font-family: 'Poppins';
                    color: #fff;
                    display: grid;
                    grid-gap: 2rem;
                    grid-template-columns: repeat(2, 1fr);
                    margin: 40px 0px 0px;
                    .btn-feature
                    {
                        justify-self: end;
                        width: 200px;
                        padding: 15px 0px;
                        background-color: #017aff;
                        border: none;
                        border-radius: 4px;
                        border-bottom: solid 5px #0066d7;
                        font-size: 16px;
                        color: #fff;
                        text-align: center;
                        text-decoration: none;
                    }
                    .btn-inquire
                    {
                        justify-self: start;
                        width: 200px;
                        padding: 15px 0px;
                        background-color: #14c77a;
                        border: none;
                        border-radius: 4px;
                        border-bottom: solid 5px #10ad6a;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.wrapper-5
{
    padding: 100px 0px;
    .service-container
    {
        .service-title
        {
            font-family: 'Poppins';
            color: #1d1e30;
            font-size: 25px;
            font-weight: 800;
            text-align: center;
            padding-bottom: 50px;
        }
        .service-holder
        {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;
            .service-content
            {
                width: 100%;
                position: relative;
                overflow: hidden;
                max-height: 200px !important;
                background-size: cover;
                img
                {
                    width: 100%;
                    -moz-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                }
                &:hover {
                    img 
                    {
                        -moz-transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
                .title-holder
                {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    border-left: solid 2px #fff;
                    padding-left: 10px;
                    .title-1
                    {
                        color: #fff;
                        font-size: 12px;
                        font-weight: 400;
                    }
                    .title-2
                    {
                        font-family: 'Poppins';
                        color: #fff;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.wrapper-6
{
    padding: 100px 0px;
    background-color: #ebf7ff;
    .expertise-container
    {
        .expertise-title
        {
            font-family: 'Poppins';
            color: #1d1e30;
            font-size: 25px;
            font-weight: 800;
            text-align: center;
        }
        .expertise-holder
        {
            margin-top: 50px;
            width: 100%;
            background-color: #fff;
            padding: 50px 0px;
            .expertise-header
            {
                font-family: 'Poppins';
                color: #017aff;
                font-size: 20px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 30px; 
            }
            .expertise-show
            {
                .expertise-list-container
                {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 4rem;
                    margin-left: 120px;
                    .expertise-list
                    {
                        color: #1d1e30;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 30px;
                    }
                }
            }
            .expertise-hide
            {
                display: none;
                .expertise-list-container
                {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 4rem;
                    margin-left: 120px;
                    .expertise-list
                    {
                        color: #1d1e30;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 30px;
                    }
                }
            }
            
            .button-container
            {
                text-align: center;
                .btn-more
                {
                    width: 200px;
                    padding: 15px 0px;
                    background-color: #017aff;
                    border: none;
                    border-radius: 4px;
                    border-bottom: solid 5px #0066d7;
                    font-size: 16px;
                    font-weight: 600;
                    font-family: 'Poppins';
                    color: #fff;
                    margin-top: 30px;
                }
                .btn-less
                {
                    display: none;
                    width: 200px;
                    padding: 15px 0px;
                    background-color: #017aff;
                    border: none;
                    border-radius: 4px;
                    border-bottom: solid 5px #0066d7;
                    font-size: 16px;
                    font-weight: 600;
                    font-family: 'Poppins';
                    color: #fff;
                    margin-top: 30px;
                }
            }
        }
    }
}

.wrapper-7
{
    padding: 100px 0px;
    .partner-container
    {
        .partner-title
        {
            font-family: 'Poppins';
            color: #1d1e30;
            text-align: center;
            font-size: 25px;
            font-weight: 800;
            padding-bottom: 50px;
        }
        .swiper-container
        {
            width: 100%;
            height: 100%;
            .swiper-wrapper
            {
                .swiper-slide
                {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    img
                    {
                        width: 75%;
                    }
                }
            }
        }
    }
}

.wrapper-8
{
    padding: 100px 0px 40px;
    background-color: #001429;
    .contact-container
    {
        .contact-title
        {
            font-family: 'Poppins';
            color: #fff;
            font-size: 25px;
            font-weight: 800;
            text-align: center;
            padding-bottom: 50px;
        }
        .map-container
        {
            width: 100%;
            .map-dms
            {
                width: 100%;
            }
        }
        .contact-content
        {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 6rem;
            .contact-content-1
            {
                margin-top: 50px;
                .content-title
                {
                    font-family: 'Poppins';
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 50px;
                }
                .content-body
                {
                    input
                    {
                        font-weight: 800;
                        padding: 0px 10px;
                        color: #3f3f3f;
                        height: 50px;
                        font-size: 15px;
                        width: 100%;
                        border-radius: 2px;
                    }
                    textarea
                    {
                        font-weight: 800;
                        padding: 10px 10px;
                        color: #3f3f3f;
                        height: 50px;
                        font-size: 15px;
                        width: 100%;
                        max-height: 150px;
                        max-width: 100%;
                        min-height: 150px;
                        min-width: 100%;
                        border-radius: 2px;
                    }
                    ::placeholder
                    {
                        font-weight: 600;
                        color: #939393;
                    }
                    .btn-holder
                    {
                        text-align: right;
                        .btn-send
                        {
                            font-size: 13px;
                            font-weight: 800;
                            color: #fff;
                            justify-self: start;
                            width: 200px;
                            padding: 15px 0px;
                            background-color: #14c77a;
                            border: none;
                            border-radius: 4px;
                            border-bottom: solid 5px #10ad6a;
                        }
                    }
                }
            }
            .contact-content-2
            {
                margin-top: 50px;
                .content-title
                {
                    font-family: 'Poppins';
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 50px;
                }
                .contact-info-holder
                {
                    display: grid;
                    grid-template-columns: 10% 90%;
                    grid-gap: 4rem;
                    align-items: center;
                    margin-bottom: 25px;
                    .icon-holder
                    {
                        width: 100%;
                        img
                        {
                            width: 100%;
                        }
                    }
                    .info-holder
                    {
                        color: #fff;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

.modal
{
    .modal-dialog
    {
        .modal-content
        {
            .modal-header
            {
                background-color: #017aff;
                .title-header
                {
                    font-family: 'Poppins';
                    color: #fff;
                    font-size: 25px;
                    font-weight: 600;
                }
            }
            .modal-body
            {
                .title-header
                {
                    font-family: 'Poppins';
                    color: #333;
                    font-size: 22px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                input
                {
                    font-weight: 800;
                    padding: 0px 10px;
                    color: #3f3f3f;
                    height: 50px;
                    font-size: 15px;
                    width: 100%;
                    border-radius: 2px;
                    border-color: #cce4ff;
                }
                textarea
                {
                    font-weight: 800;
                    padding: 10px 10px;
                    color: #3f3f3f;
                    height: 50px;
                    font-size: 15px;
                    width: 100%;
                    max-height: 150px;
                    max-width: 100%;
                    min-height: 150px;
                    min-width: 100%;
                    border-radius: 2px;
                    border-color: #cce4ff;
                }
                ::placeholder
                {
                    font-weight: 300;
                    color: #939393;
                }
            }
            .modal-footer
            {
                .btn-holder
                {
                    text-align: center;
                    .btn-send
                    {
                        font-size: 13px;
                        font-weight: 800;
                        color: #fff;
                        justify-self: start;
                        width: 250px;
                        padding: 15px 0px;
                        background-color: #14c77a;
                        border: none;
                        border-radius: 4px;
                        border-bottom: solid 5px #10ad6a;
                    }
                }
            }
        }
    }
}